{% extends "manager.html.twig" %}
{% block title %}Gestion catégorie d'enfant{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion catégorie d'enfant</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des catégorie d'enfant</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Interval</th>
                                    <th width="20%">Active?</th>
                                    <th width="20%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for entity in entities%}
                                    <tr>
                                        <td>{{entity.name}}</td>
                                        <td>{{entity.min}} - {{entity.max}} (ans)</td>
                                        <td>{%if entity.act==true%}<span class="label label-success ptip_ne">Activé</span>
                                        {%else%}<span class="label label-danger ptip_ne">Désactivé</span>{%endif%}</td>
                                        <td>
                                            <a href="{{ path('update_child_manager', {'id': entity.id}) }}" ><i class="splashy-pencil"></i></a>
                                            <a href="javascript:confirmdeletbox('{{ path('delete_child_manager', {'id': entity.id}) }}')" ><i class="splashy-gem_remove"></i></a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
     <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_child_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle catégorie d\'enfant </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
   
{% endblock %}