{% extends "manager.html.twig" %}
{% block title %}Gestion des Marge Hôtel{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('show_users')}}">Utilisateur</a></li>

            <li><span>Gestion des Marge Hôtel</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                        <form id="validate_field_types" method="POST" action="{{ path('update_margeuser_manager', {'id': id,'userid':userid}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_margeuser_manager',{'userid':userid})}}"  {{ form_enctype(form) }}>
                                {% endif %}
                                <div class="formSep">
                                    {{ form_row(form.dated, { 'attr': {'class': 'span3 mask_date'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.datef, { 'attr': {'class': 'span3 mask_date'}}) }}
                                </div>

                                <div class="formSep">
                                    {{ form_row(form.marge, { 'attr': {'class': 'span2 '}}) }}
                                </div>

                                <div class="formSep">
                                    {{ form_row(form.perst, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>

                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {

            $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}