{% extends "manager.html.twig" %}
{% block title %}Gestion des Marge Hôtel{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('show_users')}}">Utilisateur</a></li>

            <li><span>Gestion des Marge Hôtel</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Gestion des Marge Hôtel</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                            <tr>
                                <th>Date de</th>
                                <th>Date à</th>
                                <th width="20%">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for entity in entities%}
                                <tr>
                                    <td>{{ entity.dated|date('d/m/Y') }}</td>
                                    <td>{{entity.datef|date('d/m/Y')}}</td>
                                    <td>
                                        <a href="{{ path('update_margeuser_manager', {'id': entity.id,'userid':userid}) }}" ><i class="splashy-pencil"></i></a>
                                        <a href="javascript:confirmdeletbox('{{ path('delete_margeuser_manager', {'id': entity.id,'userid':userid}) }}')" ><i class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_margeuser_manager',{'userid':userid})}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle période </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}