{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation Bien être{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_siminaire_list_reservation_congre_homepage') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation congrès </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                  
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.agent.name }}
                                        </label></div>

                                    

                                    
                                     <div class="formSep"><label> <strong> Date debut 
                                                :</strong> {{ entry.dated|date('d/m/Y') }}:{{entry.heurd}}</label></div>
                                       
                                    <div class="formSep"><label> <strong> Num Vol Aller 
                                                :</strong> {{entry.vold}}</label></div>            
                                      <div class="formSep"><label> <strong> Date fin
                                                :</strong> {{ entry.dater|date('d/m/Y') }}:{{entry.heura}}</label></div>
                          <div class="formSep"><label> <strong> Num Vol Retour 
                                                :</strong> {{entry.vola}}</label></div>    
                                    

                                    <div class="formSep"><label> <strong> Type
                                                :</strong> {{entry.type}}</label></div>    

                                  <div class="formSep"><label> <strong> Hotel 1
                                                :</strong> {{entry.hotel1}}</label></div>    
                                                
                                  <div class="formSep"><label> <strong> Hotel 2
                                                :</strong> {{entry.hotel2}}</label></div>                  

                                    <div class="formSep"><label> <strong> Transfert
                                                :</strong>{% if entry.transfert == 1 %} Aéroport -> Hôtel / Hôtel -> Aéroport {% else %} Non {% endif %}
                                        </label></div>

                                    
                                   

                                    

                                 

                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y ') }}</label></div>

                                </div>
                                                
                                
                                  <div class="formSep"><label> <strong> Nombre de chambres single souhaitées
                                                :</strong>{{ entry.nbchsingle }}
                                        </label></div>
                                        
                                    <div class="formSep"><label> <strong> Nombre de nuit chambres double souhaitées
                                                :</strong>{{ entry.nbnuitchsingle }}
                                        </label></div>   
                                                
                                                
                               
                                        
                                 <div class="formSep"><label> <strong> Nombre de chambres double souhaitées
                                                :</strong>{{ entry.nbchdouble }}
                                        </label></div>
                                        
                                    <div class="formSep"><label> <strong> Nombre de nuit chambres double souhaitées
                                                :</strong>{{ entry.nbnuitchdouble }}
                                        </label></div>
                                        
                                        
                                  <div class="formSep"><label> <strong> Nombre de chambres triple souhaitées
                                                :</strong>{{ entry.nbchtriple }}
                                        </label></div>
                                        
                                   <div class="formSep"><label> <strong> Nombre de nuit chambres triple souhaitées
                                                :</strong>{{ entry.nbnuitchtriple }}
                                        </label></div>
                                        
                                        
                                      
                                             
                                        
                                   
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.civ }} {{ entry.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.email }}">{{ entry.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.tel }}
                                        </label></div>
                                     <div class="formSep"><label><strong>Fax</strong> :{{ entry.fax }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.pays }}
                                        </label></div>
                                     <div class="formSep"><label><strong>Ville</strong> :{{ entry.ville }}
                                        </label></div> 
                                        
                                        <div class="formSep"><label><strong>Organisme</strong> :{{ entry.organisme }}
                                        </label></div> 

                                </div>
                                        
                                        
                                        
 <div class="span11">
                                    <p class="heading_a">Listes des accompagnants</p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                      
                                            <th>Nom </th>
                                            <th>Prénom</th>
                                          

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cat in entry.reservationcon %}
                                        <tr>
                                  <td>{{ cat.namead }}</td>
                                  <td>{{ cat.prenomad }}</td>
                                 
                                  <td></td>

                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}