{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-sm-12">
          <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}" ><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
            <li><a href="" class="active">Détails de l'hôtel</a></li>
          </ul>
		</div>	
        <div class="col-sm-12">	
		 <form method="post" action="{{ path('btob_marque_recap_homepage') }}">		  
            <div class="titre-recherche">
                <div style="float:left;">
                    {{ hotel.name }}
                </div>
                <div class="col-sm-7" style="width:50%; float:left;">
                    {% for i in 1..hotel.star %}
                      <div class="col-sm-1" style="width: 15px !important; padding:0; float:left;">
                            <span class="etoileindex"></span>
                      </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-12" align="right" style="background: #fff; padding:30px;">
                <a href="{{ path('front_list_selection_homepage', {'hotelname': hotel.nameslug,'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-success inv_new">Réserver</a>
            </div>
			<div class="col-sm-12" style="background: #fff; padding:30px;">
			  <div class="highslide-gallery">
			   {% for item in hotel.hotelimg %}
			    <a href="../../../../../..{{ asset(item.file) }}" class="highslide col-sm-2" style="padding-left:0px;" onclick="return hs.expand(this)">
	             <img src="../../../../../..{{ asset(item.file) }}" style="width:90%; height:100px !important;" />
                </a>
			   {% endfor %}
			  </div>
			  <div style="clear:both; height:20px;"></div>
                                    <!--div id="large_grid" class="wmk_grid">
                                        <ul>
                                            {% for item in hotel.hotelimg %}
    <li id="5100767f8e415" class="" data-folder="folder_1">
                                            <span class="img_holder">
                                               <a href="../../../../../..{{ asset(item.file) }}" rel="group6" class="img_action_zoom group6"> 
											    <img src="../../../../../..{{ asset(item.file) }}" rel="group6"  alt=""/>
											   </a>
                                            </span>

        <p class="img_actions">
            <a class="img_action_zoom" href="{{ asset(item.file) }}"><i
                        class="icon-search"></i></a>
        </p>
    </li>
{% endfor %}
                                        </ul>
                                    </div-->
			 <div class="" ><br>
     <div class="col-sm-12 titre-date-sejour">
	  <i class="fa fa-pencil-square-o"></i> Déscription:
	 </div>
	 <br>
               {{ hotel.longdesc|raw }}
			 </div>
			 
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle acc-in" data-toggle="collapse"
                                                   data-parent="#accordion2" href="#collapseOne2">
                                                    <div class="col-sm-12" style="margin-bottom: 8px;  border-top: 3px solid #f28800;">
                                                     <img src="{{ asset('front/images/double-fleche.png') }}" /> Plus d'informations
                                                    </div>
                                                </a>
                                            </div>
                                            <div id="collapseOne2" class="accordion-body in collapse">
                                                <div class="accordion-inner">
                                                    <div class="col-sm-3">
                                                        <p class="heading_a">Type de chambre</p>
                                                        <ul>
                                                            {% for item in hotel.hotelroom %}
    <li>{{ item.room.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="heading_a">Arrangement(s):</p>
                                                        <ul>
                                                            {% for hotarr in hotelarrangements %}
                                                              <li>{{ hotarr.arrangement.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="heading_a">Thèmes :</p>
                                                        <ul>
                                                            {% for item in hotel.hotelthemes %}
    <li>{{ item.themes.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="heading_a">Localisation :</p>
                                                        <ul>
                                                            {% for item in hotel.hotellocalisation %}
    <li>{{ item.localisation.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									
                <div style="clear: both;"></div>
			</div>
			<div class="col-sm-12" align="right" style="background: #fff; padding:8px;">
                <a href="{{ path('front_list_selection_homepage', {'hotelname': hotel.nameslug,'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-success inv_new">Réserver</a>
                <br><br>
            </div>
		 </form>
        </div>		
    </div>

{% endblock %}
{% block javascripts %}

    <!-- colorbox -->
    <script src="{{ asset('back/js/lib/colorbox/jquery.colorbox.min.js') }}"></script>
    <!-- responsive image grid -->
    <script src="{{ asset('back/js/lib/wookmark/jquery.imagesloaded.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/wookmark/jquery.wookmark.min.js') }}"></script>

    <script src="{{ asset('back/js/pages/beoro_gallery.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
<script>
    $(document).ready(function () {
    $("#stepone").removeAttr('class');
    $("#stepone").attr('class','selected');
    $("#steptwo").removeAttr('class');
    $("#steptwo").attr('class','selected');
    });</script>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
	<style>
	 .col-sm-12 p{margin:8px 0px 10px !important;}
	</style>
{% endblock %}