{% extends "base.html.twig" %}
{% block title %}:: Réservation hôtels à l'étranger ::{% endblock %}
{% block body %}
    <div class="container">
	 <div class="col-sm-12 navig">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a class="active">Hôtels dans le monde</a></li>
        </ul>
	 </div>
    </div>
    <!-- main content -->
	<div class="container theme-showcase" role="main">
	  <br>
      <div class="col-sm-12">
	   <iframe src="http://wl.vimagin.com/app/wl/account/home.html?t=NGMyYjA4YjAtYjYwYy00MzJjLTkzNmYtMjcxMDgyMzVjMWMx" style="overflow-x:hidden; border:0 none;" height="800" width="100%"></iframe>
	  </div>
	</div>
  

{% endblock %}
{% block javascripts %}

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}