{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('front_list_clientform_homepage') }}">
            <div class="col-sm-12">
                <ul id="breadcrumbs">
                    <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                    <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
                    <li><a href="{{ path('front_list_detail_homepage', {'hotelname': entities.nameslug,'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" >Détails de l'hôtel</a></li>

                    <li><a href="{{ path('front_list_selection_homepage', {'hotelname': entities.nameslug,'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}">Selectionnez les chambres</a></li>
                    <li><a href="" class="active">Validation de la réservation</a></li>
                </ul>

                {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
                    <br/>

                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
			<div class="col-sm-12">
			 <div class="col-sm-12" style="padding:0px;">
                <div class="titre-recherche">
                    <div style="float:left;">
                        {{ entities.name }}
                    </div>
                    <div class="col-sm-7" style="width:50%; float:left;">
                        {% for i in 1..entities.star %}
                            <div class="col-sm-1" style="width: 15px !important; padding:0; float:left;">
                                <span class="etoileindex"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12" style="background: #fff; padding:8px;">
				<br>
                    <div class="col-sm-3">
                      <img src="../..{{ asset(img) }}" class="img-hotel-select" />
                    </div>
                    <div class="col-sm-9">
                      <strong class="titrehhh">{{ entities.ville.name }} , {{ entities.pays.name }}</strong><br>
                      <strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                      <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong>
                    </div>
                    <div class="col-sm-12">
					 <h3>Recapitulation</h3>
					 
                                    <table class="table table-bordered" style="margin-bottom:5px;">
                                        <thead>
                                        <tr>
                                            <th>Num</th>
                                            <th colspan="5">Chambres </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total=0 %}
                                        {% set num=1 %}

                                        {% for item in ArrFinal %}

                                            {% for items in item %}

                                                <tr>
                                                    <td>{{ num }}</td>
                                                    <td>{{ items['roomname'] }}</td>
                                                    <td>Adulte(s) : {{ items['adulte'] }}</td>
                                                    <td>Enfant(s) : {{ items['enfant'] }}</td>
                                                    <td>Avec  : {{ items['arrangement']|raw }}


                                                    </td>


                                                    <td>

                                                    {% if user.prst==1 %}
													 <div class=" tooltip2 bleu-tooltip"> 
                                                      {{ items['price']|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
                                                      {% set total = total + items['price'] %}
													
                                                    {% else %}
													 <div class=" tooltip2 bleu-tooltip"> 
                                                      {{ items['price']|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
                                                    {% endif %}
												 </td>
                                                </tr>
                                                {% set num=num+1 %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5" style="text-align: right"><strong>Total :</strong> </td>
                                            <td>
											  
													 <div class=" tooltip2 bleu-tooltip"> 
                                                      {{ total|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{total*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{total*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
											</td>      
                                        </tr>
                                        </tfoot>
                                    </table>
					</div>
					
                                {% if exist==1 %}
                                    {% if "now"|date('Ymd')  <= dated|date_modify('-'~valres~' day')|date('Ymd')  %}
                                        <div class="col-sm-12">

                                        </div>
                                    {% else %}
                                            <div class="col-sm-12">
                                                <div class="alert">{{ msgsurdemande|raw }}</div>
                                            </div>
                                            <div class="col-sm-8"></div>
                                            <div class="col-sm-4" align="right">
                                                <a href="{{ path('front_list_homepage') }}" class="btn btn-warning">Choisir une autre période</a>
                                                <a href="#surdemande" class="btn btn-beoro-1">Sur demande</a>

                                            </div>
                                    {% endif %}

                                {% else %}
                                        <div class="col-sm-12">
                                            <div class="alert">{{ msgsurdemande|raw }}</div>
                                        </div>
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-4" align="right">
                                            <a href="{{ path('front_list_homepage') }}" class="btn btn-warning">Choisir une autre période</a>
                                            <a href="#surdemande" class="btn btn-beoro-1">Sur demande</a>

                                        </div>
                                {% endif %}
				</div>
			 </div>
			</div>
			<br>
			<div class="col-sm-12">
			 <div class="col-sm-12" style="padding:0px;">
			  <div class="titre-recherche2">
			   Informations sur le client <a id="surdemande"></a>
			  </div>
			  <div class="col-sm-12" style="background: #fff; padding:8px;">
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6 col-sm-6" style="padding:0px" >
                                    <div class="formSep div2">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6" style="padding:0px">
                                    <div class="formSep div2">
                                        {{ form_row(form.email, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="formSep div2"> 
                                        {{ form_row(form.pays, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
			  </div>


                        <div class="titre-recherche2">
                           Liste des personnes / Rooming list
                        </div>
                                <div class="col-sm-12" style="background:#fff; padding:8px;">
                    <div class="w-box w-box-orange">
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                    {% set i=1 %}{% set f=1 %}
                                    {% set v=0 %}
                                    {% for item in ArrFinal %}
                                        {% for items in item %}
                                            <table class="table table-bordered" style="width: 99.6%;">
                                                <thead>
                                                <tr>
                                                    <th width="20%">Chambres {{ i }}</th>
                                                    <th width="40%">Noms des occupants</th>
                                                    <th width="40%">&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items['adulte']>0 %}
                                                    {% for adu in 1..items['adulte'] %}
                                                        <tr>
                                                            <td>Adulte (*) ({{ adu }}) </td>
                                                            <td><input required="required" type="text"
                                                                       name="childnamead[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><input  type="text"
                                                                       name="nbageadult[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                                    {% endfor %}
                                                {% endif %}
                                                {% if items['enfant']>0 %}
                                                    {% for enf in 1..items['enfant'] %}
                                                        <tr>
                                                            <td>Enfant (*) ({{ enf+1 }})</td>
                                                            <td><input required="required" type="text"
                                                                       name="childnameenf[{{ ax[v] }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><select style="width: 50px" name="nbageenfant[{{ ax[v] }}][]">
                                                                   
                                                                        <option value="{{ ax[v] }}" >{{ ax[v] }}</option>
                                                                    
                                                                </select></td>
                                                        </tr>
                                                         {% set v=v+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                            {% set i = i+1 %}
                                        {% endfor %}{% set f = f+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
				
					<div class="w-box w-box-orange">
                        <div class="titre-recherche2">
                           Mode de paiement
                        </div>
                       <div class="col-sm-12" style="background: #fff; padding:8px;">
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="span12" style="margin-top:10px;" align="center"><br>
                                   <div id="slider2_container" style="position: relative;box-sizing: inherit !important; top: 0px; left: 0px; width: 904px; height:350px; background: #fff; overflow: hidden; ">
                                       <div u="slides"  style="cursor: default; position: absolute; left: 0px; top: 98px; width: 899px; height: 180px; border: 2px solid #087df2; -webkit-filter: blur(0px); background-color: #f5f5f5; overflow: hidden;">



                                           {% if(mode.actagence==1) %}

                                           <div>
								      <div style="margin: 10px; overflow: hidden; color: #000;">
									   <br>
								       <strong>Adresse:</strong> Angle Bd. Mohamed 5 et Av. Hassen 1er étage N° 7 Bloc B - Imm. SIBAM2 4000 Marrakech Maroc<br><br>
								       <strong>Tél:</strong> +212 5 24 43 03 31/29<br>
									   <strong>Fax:</strong> +212 5 24 43 02 84<br><br>
									   <a href="https://www.google.com/maps?ll=31.629168,-8.00343&z=16&t=m&hl=fr-FR&gl=US&mapclient=embed&cid=11786665205816927272" target="_new">
									   <img src="{{asset('front/images/Google_maps_logo.png')}}" />
									   </a><br>
									   
								      </div>
								      <div u="thumb">
								       <label id="paiement2" style="font-size:13px;  height: 100px;" >
								        <div>
										<input type="radio" name="paiement" id="paiement2" onclick="myFunction2()"  value="1" style="width:10px"  checked='checked'  />
								         Paiement à l'agence<br>
										 <div class="titre-logo1" style="margin-left: 23px; line-height: 20px; margin-top: 5px;">
					    First Class
                       </div>
					   <div class="titre-logo2" style="margin-left: 12px; line-height: 20px;">
					    <span style="color: #3361a8;">Travel</span> International
					   </div>
										 </div>
								       </label>
								      </div>
								     </div>


                                           {% endif %}

                                           {% if(mode.actline==1) %}
										   {% if exist==1 %}
                                    {% if "now"|date('Ymd')  <= dated|date_modify('-'~valres~' day')|date('Ymd')  %}
                                       <div>								   
								      <div style="margin: 10px; overflow: hidden; color: #000;">	
								       <img src="{{ asset('front/images/cb_tnb.png') }}" /> Paiement sécurisé par Carte Bancaire<br><br>
								       <img src="{{ asset('front/images/info_cb.gif') }}" style="width:550px !important;" width="550" /> 
								      </div>
								      <div u="thumb">
								       <label id="paiement3" style="font-size:13px;  height: 100px;">
								        <input type="radio" name="paiement" id="paiement3" onclick="myFunction3()"  value="2" style="width:10px"    /> 
								        Paiement en ligne
								       </label>
								      </div>
								     </div>
                                    {% else %}
                                           
                                    {% endif %}

                                {% else %}
                                        
                                {% endif %}
										   
										   
										   
										   
										   
										   
										   
                                              
									 {% endif %}

                                           {% if(mode.actrib==1) %}
									 <div>
								      <div style="margin: 10px; overflow: hidden; color: #000;">
									  <br>
                                       <p><b>RIB :</b>  <!-- {{ mode.num }} --> 145 450 21211 1417080 0006</p>
									   <p>BANQUE POPULAIRE AGENCE EL MENARA </p>
                                       <p><b>Code Swift :</b> BCPOMAMC </p>
									   La réservation est valable uniquement si le transfert est effectué.
								      </div>
								      <div u="thumb">
								       <label id="paiement1" style="font-size:13px;  height: 100px;">
								        <input type="radio" name="paiement" id="paiement1" onclick="myFunction1()"  value="3" style="width:10px" />
								        Virement bancaire<br>
										 <img src="{{asset('front/images/BAnque2.png')}}" />
								       </label>
								      </div>
								     </div>
                                           {% endif %}
								    </div>

								    <div u="thumbnavigator" class="jssort12" style="left:0px; top: 0px;">
								     <div u="slides" style="cursor: default; top: 0px; left: 0px; border-left: 1px solid #087df2;">
								      <div u="prototype" class="p">
								       <div class=w><div u="thumbnailtemplate" class="c"></div></div>
								      </div>
								     </div>
								    </div>
								   </div>
								   
								   <input type="hidden" id="paiement" value="1" name="paiement" />
 
                                    <div style="display:none;">
										<div class="col-sm-4" >
											<div class="formSep ">
												<label class="checkbox">
													<input type="radio" name="paiement" value="1" checked />&nbsp;Paiement à l'agence
												</label>
											</div>
										</div>
										{% if exist==1 %}
										<div class="col-sm-4" >
											<div class="formSep ">
												<label class="checkbox">
													<input type="radio" name="paiement" value="2"/>&nbsp;Paiement en ligne
												</label>
											</div>
										</div>
										{% endif %}
										<div class="col-sm-4" >
											<div class="formSep ">
												<label class="checkbox">
													<input type="radio" name="paiement" value="3"/>&nbsp;Par virement bancaire
												</label>
											</div>
										</div>
									</div>
								</div>
                                <div class="span11" style="display:none;">
                                    <div class="alert alert-info">
												<a class="close" data-dismiss="alert"></a>
												<p>RIB :  0000 0000 0000 0000 0000 </p>
												<p>La réservation est valable uniquement si le transfert est effectué.</p>
									</div>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>
                       </div>
                    </div>	
					
					
					
					
			   <div class="w-box w-box-orange">
                        <div class="titre-recherche2">
                           Recommandations
                        </div>
                       <div class="col-sm-12" style="background: #fff; padding:8px;">
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="col-sm-12">
                                    <br>
                                    {% for item in entities.hoteloptions %}
                                        <div class="col-sm-4">
                                            <div class="formSep ">
                                                <label class="checkbox"><input type="checkbox" name="options[]"
                                                                               value="{{ item.options.id }}"/>&nbsp;{{ item.options.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2" style="padding-right:0px;" align="right"><input type="submit" value="Réserver" class="btn btn-success"/>
                                    </div>
                                </div>
                            </div>
                        </div>
					  </div>

                    </div>	
					
			 </div>
			</div>
		</form>
	</div>
    <!-- main content -->
    
{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>

	
	 <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
	<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 294.25px;
                    HEIGHT: 90px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 301.75px;
                    height: 100px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 100px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:100px;
                }
				#slider2_container div{
				 transform: scale(1) !important;
				}
        </style>
{% endblock %}