{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('front_list_recap_homepage') }}">
            <input type="hidden" name="hotelid" value="{{ hotelid }}"/>
            <input type="hidden" name="dated" value="{{ dated|date('Y-m-d') }}"/>
            <input type="hidden" name="datef" value="{{ datef|date('Y-m-d') }}"/>
	    <div class="col-sm-12">
          <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
            <li><a href="{{ path('front_list_detail_homepage', {'hotelname': hotelname,'hotelid': hotelid,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" >Détails de l'hôtel</a></li>

            <li><a href="" class="active">Selectionnez les chambres</a></li>
          </ul>
	    </div>
	    <div class="col-sm-12" style="padding:0px;">
	     <div class="col-sm-12">
           {% set entry = price %}
           {% set v=0 %}
           {% set hotel=entry['hotel'] %}
        <div class="titre-recherche">
            <div style="float:left;">
                {{ hotel.name }}
            </div>
            <div class="col-sm-7" style="width:50%; float:left;">
                {% for i in 1..hotel.star %}
                    <div class="col-sm-1" style="width: 15px !important; padding:0; float:left;">
                        <span class="etoileindex"></span>
                    </div>
                {% endfor %}
            </div>
        </div>
       <div class="col-sm-12" style="background: #fff; padding:8px;">
	   <br>
	    <div class="col-sm-3">
	     <img src="../../../../../..{{ asset(entry['image']) }}" class="img-hotel-select"/>
	    </div>
	 <div class="col-sm-4">
	  <strong>{{ hotel.ville.name }}, {{ hotel.pays.name }}</strong><br>
	  <strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
	  <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong><br>
	 </div>
	 <div class="col-sm-5">
	  <strong>Séléctionner une autre période</strong><br>
	  <table align="center" border="0" style="border-collapse: inherit; border-spacing: 3px !important;">
        <tr>
            <td><strong>De:</strong></td>
            <td>
                <input type="text" style="width:30% !important; height:22px; font-size:12px;" class="input-rech" name='dated' value="{{ dated|date('Y-m-d') }}" id="datepicker_debut">
            </td>
		</tr>
		<tr>
            <td><strong>&agrave;:</strong></td>
             <td><input type="text" style="width:30% !important; height:22px; font-size:12px;" value="{{ datef|date('Y-m-d') }}" name='datef' id="datepicker_fin"></td>
        </tr>
       </table>
	 </div>
        
        

     <div class="col-sm-12">
	    <div class="col-sm-10">
		</div>
		<div class="col-sm-2" style="padding-right:0px;" align="right">
		<button id="activatebt" class="btn btn-small btn-success inv_new">Tarif & Dispo</button>
		</div>
        <br><br>
		                                    {% set foo=[''] %}


                                    {% set idtable=1 %}

                                    {% set k=1 %}
                                    {% for itemxy in entry["allprice"] %}

                                    <table class="table  table-bordered table-condensed " id="tabroom{{ idtable }}">


                                        {% set k=1 %}
                                    {% for item in itemxy %}
                                        {% if k==1 %}
                                        <thead>
                                        <tr bgcolor="#f6f6f6" id="room">
                                            <th class="span3" bgcolor="#e2f1ff" style="background:#e2f1ff;">{{ item['roomname'] }}</th>




                                            {% set foo = foo|merge([item['roomname']]) %}





                                            <th class="span2" bgcolor="#e2f1ff" style="background:#e2f1ff;">{% for x in 1..item['nbpersonne'] %}
                                                    <img src="{{ asset('front/images/icone_bn_1.jpg') }}"/>
                                                {% endfor %}</th>
                                            <th colspan="3" class="span7" bgcolor="#e2f1ff" style="background:#e2f1ff;">
                                                <select name="selector" id="selector" style="width: 60px !important; float:left"
                                                        onchange="Addrowtotable('tabroom{{ idtable }}',this.value,{{ item['nbpersonne'] }}, {{item.ad}}, {{item.enf}})">
                                                    {% for x in 0..20 %}
                                                        <option{% if itemxy|length==x %} selected="selected"{% endif %}
                                                        value="{{ x }}">{{ x }}</option>{% endfor %}
                                                </select>&nbsp;&nbsp;&nbsp;
                                                &Agrave; partir de
{% if(entry.pricearr[0]['persm']) %}
                                                    {% if(item['roomname']=="Chambre single") %}


                                                        {% if(entry['sperssupsingle']) %}

                                                            {% if(entry['spersss']) %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+((entry['price']*entry['ssupsingle']/100))+(((entry['price']*entry['ssupsingle']/100))*entry['smargess']/100) %}

                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*entry['ssupsingle']/100)+ entry['smargess'] %}

                                                            {% endif %}
                                                        {% else %}

                                                            {% if(entry['spersss']) %}

                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+entry['smargess'] %}
                                                            {% endif %}

                                                        {% endif %}


                                                    {% else %}
                                                        {% if entry.pricearr[0]['persm']==1 %}

                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                {% else %}
                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                {% endif %}

                                                            {% else %}
                                                                {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                            {% endif %}

                                                        {% else %}
                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                {% else %}

                                                                    {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                {% endif %}

                                                            {% else %}

                                                                {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if(item['roomname']=="Chambre single") %}


                                                        {% if(entry['sperssupsingle']) %}
                                                            {% if(entry['spersss']) %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+(((entry['price'])*entry['ssupsingle']/100)*entry['smargess']/100) %}

                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                            {% endif %}
                                                        {% else %}

                                                            {% if(entry['spersss']) %}

                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+entry['smargess'] %}
                                                            {% endif %}

                                                        {% endif %}


                                                    {% else %}
                                                        {% if entry.pricearr[0]['persm']==1 %}

                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                {% else %}
                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                {% endif %}

                                                            {% else %}
                                                                {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                            {% endif %}

                                                        {% else %}
                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                {% else %}

                                                                    {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                {% endif %}

                                                            {% else %}

                                                                {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
												<span class=" tooltip2 bleu-tooltip">
                                                 {{ prix|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prix*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prix*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>
                                                {% if itemxy[0]['typepersonne']==true %}par personne{% else %}par chambre{% endif %}
                                                en {{ entry['name'] }}</th>


                                        </tr>
                                        </thead>
                                        <tbody id="tb{{ item['nbpersonne'] }}">{% endif %}

                                        <tr>

                                            <td colspan="2" rowspan="2">Chambre {{ k }} :

                                            </td>


                                            <td class="span3 td1-res">Adultes :

                                                <select
                                                        class="selectmenuforchanging"
                                                        name="adulte[{{ item['id'] }}][{{ k }}][]"
                                                        id="adulte[{{ item['id'] }}][{{ k }}][]"
                                                        onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})"
                                                        style="width: 50px">

                                                    {% for xy in 0..item['nbad'] %}

                                                        <option {% if xy==item['ad'] %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>

                                                    {% endfor %}


                                                </select>


                                            </td>
                                            <td class="span3 td1-res">Enfants : <select
                                                        class="selectmenuforchanging2"
                                                        name="enfant[{{ item['id'] }}][{{ k }}][]"
                                                        id="enfant[{{ item['id'] }}][{{ k }}][]"
                                                        onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})"
                                                        style="width: 50px">
                                                    {% for xy in 0..item['nbenf'] %}
                                                        <option{% if item['enf']==xy %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>
                                                    {% endfor %}
                                                </select>


                                                {% if item['enf']>0 %}
                                                    <div class="span12 listagetodelete">
                                                        {% for it in 1..item['enf'] %}
                                                            <label class="labeltochange"> Age Enfant {{ it }} </label>
                                                                <select
                                                                        class="selectmenuforchanging3"
                                                                        style=" width: 50px;"
                                                                        name="children[{{ item['id'] }}][{{ k }}][]"
                                                                        id="children[{{ item['id'] }}][{{ k }}][]">
                                                                    <option {% if child[v]==0 %} selected="selected"{% endif %}  value="0">0</option>
                                                                    <option {% if child[v]==1 %} selected="selected"{% endif %} value="1">1</option>
                                                                    <option {% if child[v]==2 %} selected="selected"{% endif %}  value="2">2</option>
                                                                    <option {% if child[v]==3 %} selected="selected"{% endif %} value="3">3</option>
                                                                    <option {% if child[v]==4 %} selected="selected"{% endif %} value="4">4</option>
                                                                    <option {% if child[v]==5 %} selected="selected"{% endif %} value="5">5</option>
                                                                    <option {% if child[v]==6 %} selected="selected"{% endif %} value="6">6</option>
                                                                    <option {% if child[v]==7 %} selected="selected"{% endif %} value="7">7</option>
                                                                    <option {% if child[v]==8 %} selected="selected"{% endif %} value="8">8</option>
                                                                    <option {% if child[v]==9 %} selected="selected"{% endif %} value="9">9</option>
                                                                    <option {% if child[v]==10 %} selected="selected"{% endif %} value="10">10</option>
                                                                    <option {% if child[v]==11 %} selected="selected"{% endif %} value="11">11</option>
                                                                    <option {% if child[v]==12 %} selected="selected"{% endif %} value="12">12</option>

                                                                </select><label class="labeltochangeend"> an(s)
                                                            </label>
                                                                    {%set v=v+1%}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="span6">avec :

                                                <select
                                                        class="selectmenuforchanging4"
                                                        name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                        id="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                        style="width: 300px;">
                                                    {% set w=0 %}
                                                    {% for xarritem in entry.pricearr %}
                                                        <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>
                                                             {{ xarritem["name"] }}{% if w!=0 %} (+
                 {%if(xarritem["pers"])%}

                     {%if(xarritem["persm"])%}
                           {% set prixarr = (entry["price"]*xarritem["price"]/100)+((entry["price"]*xarritem["price"]/100)*xarritem["marge"]/100)  %}
                     {%else%}
                       {% set prixarr = (entry["price"]*xarritem["price"]/100)+xarritem["marge"]  %}

                     {%endif%}


                 {%else%}
                      {%if(xarritem["persm"])%}

                         {% set prixarr = xarritem["price"]+(xarritem["price"]*xarritem["marge"]/100) %} 
                     {%else%}
                         {% set prixarr = xarritem["price"]+xarritem["marge"] %}                          {%endif%}

                  {%endif%}
                                                                {{ prixarr|changedevisefront }} = {%if(convert)%} {{prixarr*convert.currency}} {{convert.symb}} = {%endif%} {%if(convertd)%} {{prixarr*convertd.currency}} {{convertd.symb}}{%endif%}
                                                                ){% endif %}
                                                        </option>

                                                        {% set w=w+1 %}   {% endfor %}
                                                </select></td>

                                        </tr>
                                        <tr>

                                                                              <td colspan="3">
                                                {% if item['supplement'] is defined %}
                                                    {% if item['supplement']|length>0 %}
                                                        <div class="span6"><h5>Suppl&eacute;ment :</h5>
                                                            <label class="radiosupp">
                                                                
                                                        {% for itemsup in item["supplement"] %}
                                                            {% if itemsup[0] is defined %}
                                                                {% if  (itemsup[0].act==1) and (itemsup[0].supplement.category == "Seul") %}
                                                                    
                                                                  
                                                                    <input      
                                                                                class="radiosuppforchanging"
                                                                                value="{{ itemsup[1][1] }}"
                                                                                type="radio"
                                                                                name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                        (
                                                                         {% if itemsup[1][0]>0 %}

                                                {% set prixsupp = itemsup[1][0]  %}

                                            {% else %}
                                                {% set prixsupp=itemsup[1][0] %}
                                            {% endif %}
												<span class=" tooltip2 bleu-tooltip">
                                                 {{ prixsupp|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prixsupp*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prixsupp*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>
                                                                        )<br>
                                                                {% endif %}
                                                            {% endif %}
                                                              




                                                        {% endfor %}
                                                        </label>
                                                        </div>
                                                        <div class="span6" ><h5>Autres  Suppl&eacute;ment(s) :</h5>
                                                        {% for itemsup in item["supplement"] %}
                                                           
                                                            {% if itemsup[0] is defined %}
                                                                {% if  (itemsup[0].act==1) and (itemsup[0].supplement.category == "Pleusieur") %}
                                                                    <label class="radiosupp"> <input
                                                                                class="radiosuppforchanging"
                                                                                value="{{ itemsup[1][1] }}"
                                                                                type="checkbox"
                                                                                name="supp[{{ item['id'] }}][{{ k }}][]"  />&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                        (
                                                                         {% if itemsup[1][0]>0 %}

                                                {% set prixsupp = itemsup[1][0]  %}

                                            {% else %}
                                                {% set prixsupp=itemsup[1][0] %}
                                            {% endif %}
												<span class=" tooltip2 bleu-tooltip">
                                                 {{ prixsupp|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prixsupp*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prixsupp*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>
                                                                        )<br></label>
                                                                {% endif %}
                                                            {% endif %}





                                                        {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if item['events']|length>0 %}
                                                    <div class="span6">
                                                        <h5>&Eacute;venements :</h5>
                                                        {% for itemev in item['events'] %}
                                                            <label class="radioevent">
                                                                <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                        class="radioeventforchanging"
                                                                        type="checkbox"
                                                                        name="event[{{ item['id'] }}][{{ k }}][]"
                                                                        value="{{ itemev.id }}"/>
                                                                &nbsp;&nbsp;{{ itemev.name }}
                                                                (Adulte
                                                                         {% if itemev.pricead>0 %}

                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = entry['price']*itemev.pricead/100+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                            {%endif%}   
                                        {%else%}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = itemev.pricead+itemev.marge %}
                                            {%endif%}   
                                        {%endif%}

                                    {% else %}
                                        {% if itemev.pers=="1" %}

                                            {% if itemev.persm=="1" %}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                            {%endif%}   
                                        {%else%}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = itemev.pricead+itemev.marge %}
                                            {%endif%}   
                                        {%endif%}
                                    {% endif %}

												<span class=" tooltip2 bleu-tooltip">
                                                 {{ prixev|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prixev*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prixev*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>

																/
                                                                Enfant
                                                      {% if itemev.pricech >0 %}
                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = (entry['price']*itemev.pricech/100)+((entry['price']*itemev.pricech/100)*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = (entry['price']*itemev.pricech/100 )+ itemev.marge %}

                                            {%endif%} 
                                        {%else%} 

                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = itemev.pricech+itemev.marge   %}

                                            {%endif%} 


                                        {%endif%}    

                                    {% else %}
                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = entry['price']*itemev.pricech/100+((entry['price']*itemev.pricech/100)*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = (entry['price']*itemev.pricech/100)+itemev.marge   %}

                                            {%endif%} 
                                        {%else%} 
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = itemev.pricech+itemev.marge   %}

                                            {%endif%} 
                                        {%endif%}  
                                    {% endif %}
												<span class=" tooltip2 bleu-tooltip">
                                                 {{ prixev|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prixev*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prixev*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>
												)
                                                            </label>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% set k= k+1 %}

                                        {% endfor %}



                                        </tbody>

                                        </table>{% set idtable= idtable +1 %}

                                    {% endfor %}
									 <section class="ac-container">
                                        <div>
                                            <input id="ac-1" name="accordion-1" class="accchek" type="checkbox" />
                                            <label for="ac-1" class="accolabel">
											 <span class="plus-ch"><img src="{{ asset('front/images/white-plus-hi.png') }}" width="10" /></span>  
											 Ajouter des autres chambres
											</label>
                                            <article class="ac-medium">
                                                <div class="span12" style="margin-left: 0;">
                                                    {% set idtable=1 %}


                                                    {% set showit=false %}



                                                    {% if entry['allotherprice'] is defined %}
                                                        {% for itemxy in entry["allotherprice"] %}
                                                            {% set tagvalide=true %}
                                                            {% set tagduplicated=true %}

                                                            {% set k=1 %}

                                                        <table  width="100%" class="table  table-bordered table-condensed "
                                                               id="roomother{{ idtable }}">

                                                            <thead>


                                                            {% for item in itemxy %}

                                                            {% if foo|length==3 %}
                                                                {% for i in 1..2 %}
                                                                    {% if (item['roomname'] == foo[1]) or (item['roomname'] == foo[2]) %}
                                                                        {% set tagvalide =false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if foo|length==4 %}
                                                                {% for i in 1..3 %}
                                                                    {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) %}
                                                                        {% set tagvalide=false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if foo|length==5 %}
                                                                {% for i in 1..4 %}
                                                                    {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) or (item['roomname']==foo[4]) %}
                                                                        {% set tagvalide=false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}



                                                            {% if tagvalide==true and tagduplicated==true %}

                                                            {% if k==1 %}

                                                            <tr bgcolor="#f6f6f6" class="{{ item['roomname'] }}"
                                                                id="room">
                                                                <th bgcolor="#e2f1ff" style="background:#e2f1ff;" class="span3" width="10%">{{ item['roomname'] }} </th>


                                                                <th bgcolor="#e2f1ff" style="background:#e2f1ff;" class="span2" width="5%">

                                                                    {% for x in 1..item['nbpersonne'] %}
                                                                        <img src="{{ asset('front/images/icone_bn_1.jpg') }}"/>
                                                                    {% endfor %}</th>
                                                                <th bgcolor="#e2f1ff" style="background:#e2f1ff;" width="85%" colspan="3" class="span7">

                                                                    <select name="selectors"
                                                                            id="{{ item['roomname']|replace({' ': '_'}) }}"
                                                                            style="width: 60px !important; float:left;"
                                                                            onchange="Addrowtotabledeux('roomother{{ idtable }}',this.value,{{ item['nbpersonne'] }})">
                                                                        {% for x in 0..20 %}
                                                                            <option {% if x==0 %} selected="selected"{% endif %}
                                                                            value="{{ x }}">{{ x }}</option>{% endfor %}
                                                                    </select>&nbsp;&nbsp;&nbsp;
                                                                    &Agrave; partir de

                                                                    {% if(entry.pricearr[0]['persm']) %}
                                                                        {% if(item['roomname']=="Chambre single") %}


                                                                            {% if(entry['sperssupsingle']) %}
                                                                                {% if(entry['spersss']) %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+((entry['price']*entry['ssupsingle']/100))+(((entry['price']*entry['ssupsingle']/100))*entry['smargess']/100) %}

                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                                                {% endif %}
                                                                            {% else %}

                                                                                {% if(entry['spersss']) %}

                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+entry['smargess'] %}
                                                                                {% endif %}

                                                                            {% endif %}


                                                                        {% else %}
                                                                            {% if entry.pricearr[0]['persm']==1 %}

                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                                    {% else %}
                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                                    {% endif %}

                                                                                {% else %}
                                                                                    {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                                                {% endif %}

                                                                            {% else %}
                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                                    {% else %}

                                                                                        {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if(item['roomname']=="Chambre single") %}


                                                                            {% if(entry['sperssupsingle']) %}
                                                                                {% if(entry['spersss']) %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+(((entry['price'])*entry['ssupsingle']/100)*entry['smargess']/100) %}

                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                                                {% endif %}
                                                                            {% else %}

                                                                                {% if(entry['spersss']) %}

                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+entry['smargess'] %}
                                                                                {% endif %}

                                                                            {% endif %}


                                                                        {% else %}
                                                                            {% if entry.pricearr[0]['persm']==1 %}

                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                                    {% else %}
                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                                    {% endif %}

                                                                                {% else %}
                                                                                    {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                                                {% endif %}

                                                                            {% else %}
                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                                    {% else %}

                                                                                        {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
												<span class=" tooltip1 bleu-tooltip">
                                                 {{ prix|changedevisefront }}
												 <span class="span-select">		   
						                            {%if(convert)%}
						                             <img src="{{ asset('front/images/EU.gif') }}" /> {{prix*convert.currency}} &nbsp {{convert.symb}}<br>
                                                    {%endif%}
                                                    {%if(convertd)%}
						                             <img src="{{ asset('front/images/US.gif') }}" /> {{prix*convertd.currency}}&nbsp {{convertd.symb}}
                                                    {%endif%}
												 </span>
												</span>
												par
                                                                    personne ou par
                                                                    chambre en <strong>{{ entry['name'] }}</strong>
                                                                </th>


                                                            </tr>
                                                            </thead>
                                                            <tbody id="tb{{ item['nbpersonne'] }}">
                                                            {% endif %}

                                                            <tr class="dontshow">
                                                                <td colspan="2" rowspan="2">Chambre {{ k }} :
                                                                </td>
                                                                <td id="{{ item['roomname'] }}" class="span3 td1-res">
                                                                    Adultes :


                                                                    {% if item['roomname']=="Chambre single" %}
                                                                        {% set limitselect=1 %}

                                                                    {% elseif item['roomname']=="Chambre double" %}
                                                                        {% set limitselect=2 %}
                                                                    {% elseif item['roomname']=="Chambre triple" %}
                                                                        {% set limitselect=3 %}
                                                                    {% else %}
                                                                        {% set limitselect=4 %}
                                                                    {% endif %}


                                                                    <select
                                                                            class="selectmenuforchanging0"
                                                                            name="adulte[{{ item['id'] }}][{{ k }}][]"
                                                                            id="adulte[{{ item['id'] }}][{{ k }}][]"
                                                                            onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})"

                                                                            style="width: 50px">


                                                                        {% for xy in 0..item['nbad'] %}
                                                                            <option
                                                                                    {% if xy==item['nbad'] %} selected="selected"{% endif %}
                                                                                    value="{{ xy }}">{{ xy }}
                                                                            </option>
                                                                        {% endfor %}

                                                                    </select>


                                                                </td>
                                                                <td class="span3 td1-res">Enfants : <select


                                                                            class="selectmenuforchanging02"
                                                                            name="enfant[{{ item['id'] }}][{{ k }}][]"

                                                                            onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})"
                                                                            id="enfant{{ item['id'] }}{{ k }}"
                                                                            style="width: 50px">
                                                                        {% for xy in 0..item['nbenf'] %}
                                                                            <option
                                                                                   
                                                                                    value="{{ xy }}">{{ xy }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </td>
                                                                <td class="span6">avec :
                                                                    <select

                                                                            class="selectmenuforchanging04"
                                                                            name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                                            id="arrangement[{{ item['id'] }}][{{ k }}][]"

                                                                            style="width: 300px;">
                                                                        {% set w=0 %}
                                                                        {% for xarritem in entry.pricearr %}
                                                                            <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>{{ xarritem["name"] }}{% if w!=0 %} (+
                                                                                                                             {%if(xarritem["pers"])%}
                         
                         {%if(xarritem["persm"])%}
                               {% set prixarr = (entry["price"]*xarritem["price"]/100)+((entry["price"]*xarritem["price"]/100)*xarritem["marge"]/100)  %}
                         {%else%}
                           {% set prixarr = (entry["price"]*xarritem["price"]/100)+xarritem["marge"]  %}

                         {%endif%}
                      
                     
                     {%else%}
                          {%if(xarritem["persm"])%}
                             
                             {% set prixarr = xarritem["price"]+(xarritem["price"]*xarritem["marge"]/100) %} 
                         {%else%}
                             {% set prixarr = xarritem["price"]+xarritem["marge"] %}                          {%endif%}
                          
                      {%endif%}
                         

                                    
                                                                                    {{ prixarr|changedevisefront }} = 
										                                        {%if(convert)%}
                                                                           {{prixarr*convert.currency}} {{convert.symb}} = 
                                                                {%endif%}
                                                                
                                                                
                                                                {%if(convertd)%}
                                                                           {{prixarr*convertd.currency}} {{convertd.symb}}
                                                                {%endif%}
                                                                                    ){% endif %}</option>
                                                                            {% set w=w+1 %}   {% endfor %}
                                                                    </select></td>

                                                            </tr>
                                                            <tr class="dontshow">
                                                                <td colspan="3">
                                                                    {% if item['supplement'] is defined %}
                                                                        {% if item['supplement']|length>0 %}
                                                                            <div class="span6"><h5>Suppl&eacute;ment
                                                                            :</h5>
                                                                            {% for itemsup in item["supplement"] %}

                                                                                {% if itemsup[0] is defined %}
                                                                                    {% if  (itemsup[0].act==1) and (itemsup[0].supplement.category == "Seul") %}

                                                                                        <label class="radiosupp">
                                                                                            <input class="supp{{ item['id'] }}{{ k }} radiosuppforchanging0"
                                                                                                   value="{{ itemsup[1][1] }}"
                                                                                                   type="radio"
                                                                                                   name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                                            ( + ~

                                                                                             {% if itemsup[1][0]>0 %}

                                                {% set prixsupp = itemsup[1][0]  %}

                                            {% else %}
                                                {% set prixsupp=itemsup[1][0] %}
                                            {% endif %}
																							<span class=" tooltip2 bleu-tooltip"> 
                                                                                             {{ prixsupp|changedevisefront }}
																							 
																							 <span class="span-select">
						                                            {%if(convert)%}
																	<img src="{{ asset('front/images/EU.gif') }}" />
																	{{prixsupp*convert.currency}}
																	<div style="float:right;">&nbsp {{convert.symb}}</div>
																	 {%endif%}<br>
																	 {%if(convertd)%}
																	 <img src="{{ asset('front/images/US.gif') }}" />
																	 {{prixsupp*convertd.currency}}
																	 <div style="float:right;">&nbsp {{convertd.symb}}</div>
																	 {%endif%}
																	 
																   </span>
																							</span>
                                                                                            )<br></label>

                                                                                    {% endif %}

                                                                                {% endif %}



                                                                            {% endfor %}

                                                                            </div>
                                                                         <div class="span6"><h5>Autres Suppl&eacute;ment(s)
                                                                            :</h5>
                                                                            {% for itemsup in item["supplement"] %}

                                                                                {% if itemsup[0] is defined %}
                                                                                    {% if  (itemsup[0].act==1) and (itemsup[0].supplement.category == "Pleusieur") %}

                                                                                        <label class="radiosupp">
                                                                                            <input class="supp{{ item['id'] }}{{ k }} radiosuppforchanging0"
                                                                                                   value="{{ itemsup[1][1] }}"
                                                                                                   type="checkbox"
                                                                                                   name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                                            ( + ~

                                                                                             {% if itemsup[1][0]>0 %}

                                                {% set prixsupp = itemsup[1][0]  %}

                                            {% else %}
                                                {% set prixsupp=itemsup[1][0] %}
                                            {% endif %}
                                                                                            
																							<span class=" tooltip2 bleu-tooltip"> 
                                                                                             {{ prixsupp|changedevisefront }}
																							 
																							 <span class="span-select">
						                                            {%if(convert)%}
																	<img src="{{ asset('front/images/EU.gif') }}" />
																	{{prixsupp*convert.currency}}
																	<div style="float:right;">&nbsp {{convert.symb}}</div>
																	 {%endif%}<br>
																	 {%if(convertd)%}
																	 <img src="{{ asset('front/images/US.gif') }}" />
																	 {{prixsupp*convertd.currency}}
																	 <div style="float:right;">&nbsp {{convertd.symb}}</div>
																	 {%endif%}
																	 
																   </span>
																							</span>
                                                                                            )<br></label>

                                                                                    {% endif %}

                                                                                {% endif %}



                                                                            {% endfor %}

                                                                            </div>
                                                                        
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    {% if item['events']|length>0 %}
                                                                        <div class="span6">
                                                                            <h5>&Eacute;venements :</h5>
                                                                            {% for itemev in item['events'] %}
                                                                                <label class="radioevent">
                                                                                    <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                                            type="checkbox"
                                                                                            class="event{{ item['id'] }}{{ k }} radioeventforchanging0"
                                                                                            name="event[{{ item['id'] }}][{{ item['nbpersonne'] }}][]"
                                                                                            value="{{ itemev.id }}"/>
                                                                                    &nbsp;&nbsp;{{ itemev.name }}
                                                                                    (Adulte
                                                                           {% if itemev.pricead>0 %}

                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = entry['price']*itemev.pricead/100+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                            {%endif%}   
                                        {%else%}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = itemev.pricead+itemev.marge %}
                                            {%endif%}   
                                        {%endif%}

                                    {% else %}
                                        {% if itemev.pers=="1" %}

                                            {% if itemev.persm=="1" %}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                            {%endif%}   
                                        {%else%}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                            {%else%}
                                                {% set prixev = itemev.pricead+itemev.marge %}
                                            {%endif%}   
                                        {%endif%}
                                    {% endif %}

                                                                                    {{ prixev|changedevisefront }}
                                                                                    /
                                                                                    Enfant
                                                                       {% if itemev.pricech >0 %}
                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = (entry['price']*itemev.pricech/100)+((entry['price']*itemev.pricech/100)*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = (entry['price']*itemev.pricech/100 )+ itemev.marge %}

                                            {%endif%} 
                                        {%else%} 

                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = itemev.pricech+itemev.marge   %}

                                            {%endif%} 


                                        {%endif%}    

                                    {% else %}
                                        {% if itemev.pers=="1" %}
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = entry['price']*itemev.pricech/100+((entry['price']*itemev.pricech/100)*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = (entry['price']*itemev.pricech/100)+itemev.marge   %}

                                            {%endif%} 
                                        {%else%} 
                                            {% if itemev.persm=="1" %}
                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100)   %}
                                            {%else%} 
                                                {% set prixev = itemev.pricech+itemev.marge   %}

                                            {%endif%} 
                                        {%endif%}  
                                    {% endif %}
																							<span class=" tooltip2 bleu-tooltip"> 
                                                                                             {{ prixev|changedevisefront }}
																							 
																							 <span class="span-select">
						                                            {%if(convert)%}
																	<img src="{{ asset('front/images/EU.gif') }}" />
																	{{prixev*convert.currency}}
																	<div style="float:right;">&nbsp {{convert.symb}}</div>
																	 {%endif%}<br>
																	 {%if(convertd)%}
																	 <img src="{{ asset('front/images/US.gif') }}" />
																	 {{prixev*convertd.currency}}
																	 <div style="float:right;">&nbsp {{convertd.symb}}</div>
																	 {%endif%}
																	 
																   </span>
																							</span>
                                                                                    )
                                                                                    MAD )
                                                                                </label>
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                </td>

                                                            </tr>
                                                            {% set k= k+1 %}



                                                            {% set tagduplicated=false %}

                                                            {% endif %}
                                                            {% endfor %}
                                                            </tbody>

                                                            </table>{% set idtable= idtable +1 %}











                                                        {% endfor %}
                                                    {% endif %}
                                                </div>

                                            </article>
                                        </div>
                                    </section>


	 </div>
	  </div>
	     </div>
	    </div>
	</div>
	
	
    <!-- main content -->

{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class', 'selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class', 'selected');
           
        });
    </script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({dateFormat: 'yy-mm-dd', beforeShowDay: NotBeforeToday});


        function NotBeforeToday(date) {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'yy-mm-dd'
                    });
            function plage(input) {
                return {
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });
    </script>



    <script>
        $('#selector').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_single').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_triple').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_double').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_quadruple').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $(document).ready(function() {
            
            var notSelectedRoom = ['Chambre single','Chambre double','Chambre triple','Chambre quadruple'];


            for(fo in foo){
                $('#room').attr('class', fo).hide();
            };
        });


var radio_button=false;
$('.radiosuppforchanging').on("click", function(event){
    var this_input=$(this);
        if(this_input.attr('checked1')=='11')
    {
        
        this_input.attr('checked1','11')
        
    
     
    }
    else
    {
        this_input.attr('checked1','22')
       
    }
    $('.radio-button').prop('checked', false);
    if(this_input.attr('checked1')=='11')
    {
        this_input.prop('checked', false);
        this_input.attr('checked1','22')
    }
    else{
        this_input.prop('checked', true);
        this_input.attr('checked1','11')
    }
    
});

    </script>

    

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
	<style>	 
	.plus-ch{
	color: #f4931f;
    font-family: MuliB;
    background: #e3e3e3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: block;
    width: 18px;
    height: 18px;
    /* text-align: center; */
    padding: 0px 5px;
    float: left;
    margin-top: 8px;
	margin-right:5px;
	}
	.plus-ch img{
	 padding:0px;
	 margin:5px 0px 0px;
	 vertical-align: top;
	}
	</style>
{% endblock %}