{% extends "base.html.twig" %}
{% block body %}
	
<div class="container">
			{% for flashMessage in app.session.flashbag.get('notifomrafront') %}
				<br/>

            <div class="col-sm-12">
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">×</a>
					{{ flashMessage }}
				</div>
			</div> 
			{% endfor %}
            <div class="col-sm-12">
                <ul id="breadcrumbs">
                    <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                    <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
                    <li><a href="{{ path('front_list_detail_homepage', {'hotelname': entities.nameslug,'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" >Détails de l'hôtel</a></li>

                    <li><a href="{{ path('front_list_selection_homepage', {'hotelname': entities.nameslug,'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}">Selectionnez les chambres</a></li>
                    <li><a href="" class="active">Validation de la réservation</a></li>
                </ul>

                {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
                    <br/>

                  <div class="col-sm-12">
                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ flashMessage }}
                    </div>
				  </div>
                {% endfor %}
            </div>
            <div class="col-sm-12">
			  <div class="col-sm-12" style="padding:8px;">
                <div class="titre-recherche">
                    <div style="float:left;">
                        {{ entities.name }}
                    </div>
                    <div class="col-sm-7" style="width:50%; float:left;">
                        {% for i in 1..entities.star %}
                            <div class="col-sm-1" style="width: 15px !important; padding:0; float:left;">
                                <span class="etoileindex"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12" style="background: #fff; padding:8px;">
                    <div class="col-sm-3">
                        <img src="..{{ asset(img) }}"/>
                    </div>
                    <div class="col-sm-9">
                      <strong class="titrehhh">{{ entities.ville.name }} , {{ entities.pays.name }}</strong><br>
                      <strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                      <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong>
                    </div>
                    <div class="col-sm-12">
                    <h3>Recapitulation</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr bgcolor="#e2f1ff">
                            <th>Num</th>
                            <th colspan="5">Chambres</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total=0 %}
                        {% set num=1 %}

                        {% for item in ArrFinal %}

                            {% for items in item %}

                                <tr>
                                    <td>{{ num }}</td>
                                    <td>{{ items['roomname'] }}</td>
                                    <td>Adulte(s) : {{ items['adulte'] }}</td>
                                    <td>Enfant(s) : {{ items['enfant'] }}</td>
                                    <td>Avec  : {{ items['arrangement']|raw }}
                                    </td>
                                    <td>
									
                                        {% if user.prst==1 %}
										<div class=" tooltip2 bleu-tooltip"> 
                                                      {{ items['price']|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
										 </td>
                                    {% set total = total + items['price'] %}
                                    {% else %}
									<div class=" tooltip2 bleu-tooltip"> 
                                                      {{ items['price']|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{items['price']*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
                                                    {% set total = total + items['price'] %}
                                                     {% endif %}
                                </tr>
                                {% set num=num+1 %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: right"><strong>Total :</strong> </td>
                            <td>
							<div class=" tooltip2 bleu-tooltip"> 
                                                      {{ total|number_format(2, '.', ',') }} MAD 
													  <span class="span-inscription">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{total*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{total*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
												     </div>
							</td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                    
                </div>
			  </div>
            </div>
			<br>
			<div class="col-sm-12">
			<div class="col-sm-12" style="padding:8px;">
					<div class="titre-recherche2">
						Informations sur le client <a id="surdemande"></a>
					</div>
			 
					<div class="col-sm-12" style="background: #fff; padding:8px;">
						<div class="w-box-content cnt_a">

			 
			 
									<div class="row-fluid">
										<div class="span6" style="width:48%; float:left;">
											<div class="formSep">
												<strong>CIN :</strong> {{client.cin}}
											</div>
											<div class="formSep">
												<strong>CIV :</strong> {{client.civ}}
											</div>
											<div class="formSep">
												<strong>NOM :</strong> {{client.pname}}
											</div>
											<div class="formSep">
												<strong>PRENOM :</strong> {{client.name}}
											</div>
										</div>
										<div class="span6" style="width:49%; float:left;">
											<div class="formSep">
												<strong>EMAIL :</strong> {{client.email}}
											</div>
											<div class="formSep">
												<strong>TELEPHONE :</strong> {{client.tel}}
											</div>
											<div class="formSep">
												<strong>VILLE :</strong> {{client.pays.name}}
											</div>
											<div class="formSep">
												<strong>ADRESSE :</strong> {{client.adresse}}
											</div>

										</div>

									</div>
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
                        </div>
			 
					</div>
					<!--div class="w-box w-box-orange">
                        <div class="titre-recherche2">
                            Liste des personnes / Rooming list 
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12">
                                    {% set i=1 %}{% set f=1 %}
                                    {% for item in ArrFinal %}
                                        {% for items in item %}
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Chambres {{ i }}</th>
                                                    <th>Noms des occupants</th>
                                                    <th>&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items['adulte']>0 %}
                                                    {% for adu in 1..items['adulte'] %}
                                                        <tr>
                                                            <td>Adulte (*) ({{ adu }}) </td>
                                                            <td><input required="required" type="text"
                                                                       name="childnamead[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><input type="text"
                                                                       name="nbageadult[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if items['enfant']>0 %}
                                                    {% for enf in 1..items['enfant'] %}
                                                        <tr>
                                                            <td>Enfant (*) ({{ enf+1 }})</td>
                                                            <td><input pattern="[a-zA-Z]+" required="required" type="text"
                                                                       name="childnameenf[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><select style="width: 50px" name="nbageenfant[{{ i }}][]">
                                                                    {% for i in 2..12 %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                            {% set i = i+1 %}
                                        {% endfor %}{% set f = f+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div-->
                <div class="w-box w-box-orange">
                    <div class="titre-recherche2">
                        Mode de paiement
                    </div>

                    <div class="col-sm-12" style="background: #fff; padding:8px;">
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                
                                <div class="col-sm-12">
                                    <div class="alert alert-info" style="padding:10px;">
											<a class="close" data-dismiss="alert"></a>
											<p>Vous avez comme mode de paiement : </p>
											<p>
											{% if paiement == 1 %}
												LE PAIEMENT A L'AGENCE 
											{% elseif paiement == 2 %}
												LE PAIEMENT EN LIGNE
											{% elseif paiement == 3 %}
												LE VIREMENT BANCAIRE
											{% endif %}
											</p>
										</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
					<div class="w-box w-box-orange">
                        <div class="titre-recherche2">
                            Recommandations 
                        </div>
						
			            <div class="col-sm-12" style="background: #fff; padding:8px;">
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="span12">

                                    {% for item in entities.hoteloptions %}
                                        <div class="col-sm-4" >
                                            <div class="formSep ">
                                                <label class="checkbox">
												<input type="checkbox" name="options[]" value="{{ item.options.id }}"/>&nbsp;{{ item.options.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
								<div class="col-sm-10">
								</div>
								
								<br><br>
                            </div>
                        </div>
                      </div>
                    </div>
					
					
					
					
					
					
					
					
					
					{% if paiement == 2%}

							{% set idReservation ='320' %}
							{% set montant_payer = total|number_format(3, '.', ',')  %}
							{% set terminal ="1214946012" %}
							{% set lien_test ="http://196.203.11.74/paiement/" %}
							


							<!--input name="xxxx"  value="{{ paiement }}" />
							
							<input name="zzzz"  value="{{ my_session_id }}" /-->

                                                        
							<form name="form" id="formpayid" method="post">
								<a href="{{ liens }}" target="_blank" class="btn btn-small btn-success inv_new pull_right">Passer au paiement en ligne</a>
							</form>



						{% endif %}		
					
					
					
					
					
					
					
					
					
					
					
					
					
					
			  </div>
			</div>
        
    </div>
    <!-- main content -->
<br>
{% endblock %}
{% block javascripts %}

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}