{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
           <li><a href="{{ path('btob_activite_homepage',{'idact': entry.type.id}) }}">{{ entry.type.type }}</a></li>

            <li><span> {{ entry.title }}</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>{{ entry.title }} </h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_activite_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span8">
                        {% if entry.imgact|length>0 %}
                            <ul class="bxslider">
                                {% for item in entry.imgact %}
                                    <li><img src="{{ asset(item.image) }}"/></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="span4">
                        <img src="{{ asset('images/3.gif') }}">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_activite_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span12">
                  {{ entry.libelle }}<br/>
                  {{ entry.region }}<br/>
                        {{ entry.description|raw }}
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_activite_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">

{% endblock %}