{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des Activité {% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_activite_liste_reservation_homepage', {'id': entities.id}) }}">{{ entities.type }} </a></li>

            <li><span>Gestion des Réservation des {{ entities.type }} </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des promotions</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de réservation</th>
                                <th>Activité</th>
                                <th>Date de départ</th>
                                <th>Client</th>
                                <th>Agence</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for activite in entities.activite %}
                                    {% for entity in activite.reservation %}
                                <tr>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                       </td>


                                    <td>{{ entity.activite.title }}</td>
                                    <td>{{ entity.dated|date('d/m/Y') }} </td>

                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{{ entity.agent.name }} </td>
                                    <td>
                                        <a href="{{ path('btob_detail_activite_reservation', {'id': entity.id}) }}"><i
                                                    class="icsw16-info-about"></i></a>
                                        <a href="javascript:confirmdeletbox('{{ path('btob_activite_delete_reservation_homepage', {'id': entity.id})  }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %} {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}