<!DOCTYPE html>
<html >
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}First | Page 404{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

<link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,400italic,300' rel='stylesheet' type='text/css'>
		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.0b1.js') }}"></script>
		    <!-- jQuery, load page-->
        <link href="{{ asset('front/css/introLoader.css') }}" rel="stylesheet">
		<script src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ asset('front/js/spin.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.introLoader.js') }}"></script>
		<script>
		    var vv = jQuery.noConflict();		
			vv(document).on('ready', function() {
				vv("#element").introLoader();
			});
			
		</script>
    <script src="{{ asset('front/owl-carousel/owl.carousel.js') }}"></script>

    <script>
	var s = jQuery.noConflict();

    s(document).ready(function() {

      s("#owl-demo5").owlCarousel({
        items : 5,
        lazyLoad : true,
        navigation : true
      });

    });
    </script>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}" />
	    <link href="{{ asset('front/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('front/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/theme.css') }}" />
		<link rel="stylesheet" href="{{ asset('front/css/jquery-ui.css') }}">
        <link href="{{ asset('back/css/typeahead.css') }}" rel="stylesheet" />
        <link href="{{ asset('back/js/lib/select2/select2.css') }}" rel="stylesheet" />
		<link href="{{ asset('front/css/2.css') }}" rel="stylesheet" />
		
		
		<link href="{{ asset('front/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
		<link href="{{ asset('front/owl-carousel/owl.theme.css') }}" rel="stylesheet">
		<link href="{{ asset('front/assets/js/google-code-prettify/prettify.css') }}" rel="stylesheet">


        <link rel='stylesheet' id='shoestrap_css-css'  href='{{ asset("front/anim/ss-style.css?ver=1425461427") }}' type='text/css' media='all' />
        <link rel='stylesheet' id='my_child_theme_stylesheet-css'  href='{{ asset("front/anim/styles.css") }}' type='text/css' media='all' />

		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('front/js/ListeEtoile.js') }}"></script>
        <script type='text/javascript' src='{{ asset("front/anim/scripts.js") }}'></script>
        <link rel='stylesheet' id='animate-css'  href='{{ asset("front/css/set2.css") }}' type='text/css' media='all' />

        
		<!-- animate -->
		<!--link href="{{ asset('front/css/foundstrap.css') }}" rel="stylesheet"-->
		<link href="{{ asset('front/css/animate.min.css') }}" rel="stylesheet">
		
		

        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/ie-emulation-modes-warning.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ asset('front/js/docs.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.js') }}" type="text/javascript"></script>

        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-migrate-1.1.1.min.js') }}"></script>
        <script src='{{ asset("front/js/modernizr.js") }}'></script>
        <script src="{{ asset('front/js/main.js') }}"></script>
  
		<script type="text/javascript" src="{{ asset('front/highslide/highslide-with-gallery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('front/highslide/highslide.css') }}" />

		<script type="text/javascript">
	hs.graphicsDir = '{{ asset("front/highslide/graphics/") }}';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.wrapperClassName = 'dark borderless floating-caption';
	hs.fadeInOut = true;
	hs.dimmingOpacity = .75;

	// Add the controlbar
	if (hs.addSlideshow) hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .6,
			position: 'bottom center',
			hideOnMouseOut: true
		}
	});
</script>


        <!-- header -->
        <link href="{{ asset('front/css/skitter.styles.css') }}" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.skitter.js') }}"></script>
		
		
		
		<!-- slider -->
		 <link rel="stylesheet" href="{{ asset('front/css/jquery.bxslider.css') }}" type="text/css" />
		 <script src="{{ asset('front/js/jquery.bxslider.js') }}"></script>
         <script>
		   var slid1 = jQuery.noConflict();
           slid1(document).ready(function(){
             slid1('.slider4').bxSlider({
               slideWidth: 345,
               minSlides: 1,
               maxSlides: 3,
               moveSlides: 1,
               slideMargin: 30
             });
           });
		   
		   var slid3 = jQuery.noConflict();
           slid3(document).ready(function(){
             slid3('.slider3').bxSlider({
               slideWidth: 345,
               minSlides: 1,
               maxSlides: 3,
               moveSlides: 1,
               slideMargin: 30
             });
           });
		   
		   var slid2 = jQuery.noConflict();
           slid2(document).ready(function(){
             slid2('.slider2').bxSlider({
               slideWidth: 517,
               minSlides: 1,
               maxSlides: 2,
               moveSlides: 1,
               slideMargin: 30
             });
           });
         </script>
		

<script>
  $(function() {
      $(document).ready(function() {
      // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() },
      $("#form1").validationEngine()
  });
    $( ".datepicker" ).datepicker( {dateFormat: "dd/mm/yy"});
  });
  </script>
  
</head>
<body role="document" onLoad="loadville(3)">
<!-- {% if app.request.attributes.get('_route') != 'front_list_homepage' %}
    <div id="element" style="width:100%; background:#eeeeee url( {{ asset('front/images/Loading_MenaTours.png') }} ) no-repeat; background-size:100%; " class="introLoader"></div>
{% endif %}
HEADER  -->
<!-- Fixed navbar -->

    <header id="banner-header" class="banner navbar navbar-default topnavbar navbar-fixed-top style6" role="banner">
          <div class="nav-haut">
		   <div  id="devis">
		    <div class="container theme-showcase" role="main">
			<div class="fluid">
			 <div class="col-sm-6">			  
			 </div>
			 <div class="col-sm-6">
		      <div class="lien-haut">
			   <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
			    Qui-sommes-nous?
			   </a>
			  </div>
			  <div class="lien-haut">
	           <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'prix-hotels-marrakech','id':8}) }}">
			    Conditions générales d'achat
			   </a>
	          </div> 
		      <div class="lien-haut"><!--onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: '510', height: '340' } )"-->
			   <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'site-agence-voyages-marrakech','id':9}) }}"  >
			    Plan de site
			   </a>
			  </div>
		      <div class="lien-haut"><!--onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: '510', height: '340' } )"-->
			   <a href="{{ path('front_contacts_homepage') }}"  >
			    Nous Contacter
			   </a>
			  </div>
			 </div>
			 </div>
		    </div>
		   </div>
		  </div>
		  <div class="container theme-showcase" role="main">
            <div class="fluid">
			  <div class="col-sm-2 div-tablette" style="padding-left:0px;">
                <div class="navbar-header">                   
					<a class="navbar-brand logo" href="{{ path('front_btob_homepage') }}">
					  <img id="site-logo" src="{{ asset('front/images/logo.png') }}" class="logo-ori">
					  <div class="logo-slick">
					   <div class="titre-logo1">
					    First Class
                       </div>
					   <div class="titre-logo2">
					    <span style="color: #3361a8;">Travel</span> International
					   </div>
					  </div>
					</a>                
				</div>
			  </div>
			  <div class="col-sm-10 div-tablette" align="right">
			    <div class="col-sm-8 hiddennn"></div>
                <div class="col-sm-4 hiddennn" align="right">
				 <div class="phonee">
				  <i class="fa fa-phone"></i> +212 5 24 43 03 31 / 29 
				 </div>
				</div>
			    <div class="col-sm-12 hiddennn" style="height:10px;"></div>
				<div class="col-sm-4 hidd-tel hidd-tablette hiddennn">				
				 <form class="recherche" style="display:none;">
				  <div class="col-sm-2"></div>
				  <div class="col-sm-9" style="padding-right:0;">
				    <input type="text" placeholder="Rechercher" name="mail" />
				  <input type="submit" value="OK" /></div>
				 </form>
				 <div style="clear:both;"></div>
				</div>
			    <div class="col-sm-5 hiddennn">
				 <form action="{{ path('front_newsletter_homepage') }}" method="GET" name="formnews" id="formnews" class="newsletter hidd-tel hidd-tablette">
				  <div class="col-sm-4 titre-newsletter" style="padding-right:0;">
				   <img style="height: 23px;" src="{{ asset('front/images/newsletter_img.png') }}" />
				  </div>
				  <div class="col-sm-8" style="padding-right:0;">
				   <input type="text" placeholder="Votre e-mail ici" name="email_news" />
				   <input type="submit" value="S'inscrire" onclick="alert('Merci de votre inscription...');"/>
				  </div>
				 </form>
				 <div style="clear:both;"></div>
				</div>
			    <div class="col-sm-3 rs">
				 <a href="https://www.facebook.com/First-Class-Travel-International-168460120178156/?ref=hl" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/fb-h.png') }}" />
				 </a>
				 <a href="https://plus.google.com/u/0/116905572238101417744/posts" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/go-h.png') }}" />
				 </a>
				 <a href="skype:firstclasstravelinternational" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/sk-h.png') }}" />
				 </a>
				 <a href="https://www.youtube.com/channel/UCDYdM3-AK-siCsAgwmF0Zxg?view_as=subscriber" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/yo-h.png') }}" />
				 </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
				</div>
				
                    
				<nav class="nav-main navbar-collapse collapse" role="navigation" >
                    <ul id="menu-primary" class="navbar-nav nav pull-right">
                      <li class="homeee">
					   <a  href="{{ path('front_btob_homepage') }}" ><i class="fa fa-home"></i></a>
					  </li>
	                  <li>
					   <a href="{{ path('front_list_homepage') }}">Hôtels <div class="hidd-tel"></div> au Maroc</a>
				      </li>
					  <li>
					   <a href="{{ path('front_hotel_frame') }}">Hôtels <div class="hidd-tel"></div> dans le monde</a>
					  </li>
                      <li class="{% if app.request.attributes.get('_route') == 'front_vole_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_transfert_homepage') }}" >Transfert <div class="hidd-tel"></div> Privés</a>
					  </li>
                      <li class="{% if app.request.attributes.get('_route') == 'front_btob_circuit_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_cuircuit' or app.request.attributes.get('_route') == 'front_resa_reservation_cuircuit' %}active{% endif %}">
					   <a  href="{{ path('front_btob_circuit_homepage') }}" >Circuits <div class="hidd-tel"></div> & Excursions</a>
					  </li>
                      <li class="{% if app.request.attributes.get('_route') == 'front_sejour_homepage' or app.request.attributes.get('_route') == 'front_sejour_detail_homepage' or  app.request.attributes.get('_route') == 'front_sejour_reservation_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_sejour_homepage') }}" >Voyages <div class="hidd-tel"></div> organisés</a>
					  </li>
                      <li class="{% if app.request.attributes.get('_route') == 'front_croisiere_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_croisiere_homepage' or  app.request.attributes.get('_route') == 'front_resa_croisiere_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_evenement_homepage') }}" >événements <div class="hidd-tel"></div> & soirées</a>
					  </li>
                      <li class="congres {% if app.request.attributes.get('_route') == 'front_resa_reservation_siminaire' %}active{% endif %}">
					   <a  href="{{ path('front_resa_reservation_siminaire') }}" >Congrés <div class="hidd-tel"></div> & séminaires</a>
					  </li>
                    </ul>                
				</nav>
			  </div>
                                
            </div>
	
    </div>
 </header>


{% block body %}
    <div class="full-width">
        <img src="{{ asset('front/images/404_FirstClass.jpg') }}" width="100%" />
    </div>
{% endblock %}

<footer id="page-footer" class="footer text-center content-info" role="contentinfo">
	<div class="container">
	 <div class="col-sm-12">
	   <div class="col-sm-3 resp hidd-tel">
	   <div id="titre-bleu">
	    Newsletter
	   </div>
	   <div class="text-footer">
	    Recevez nos meilleurs offres et promotions:
	   </div>
	   <div>
	    <form action="{{ path('front_newsletter_homepage') }}" method="GET" name="formnews" id="formnews">
          <input type="text" name="email_news" id="email_news" placeholder="Votre adresse mail" class="input_news"/>
          <input type="submit" class='loopp' style="padding-top: 2px !important;" value="OK" onclick="alert('Merci de votre inscription...');" />
         </form>
	     <div id="text-footer" style="line-height:22px; clear:both;">
		   <b>E-mail:</b><br>
           bnora-fct@menara.ma<br>
           shamid-fct@menara.ma <br>
           hmahi-fct@menara.ma<br>
		 </div>
	   </div>
	   </div>
	  <div class="col-sm-9 carte">
	  <div class="col-sm-3 resp hidd-tel hidd-tablette">
	   <div id="titre-bleu" style="padding-top: 12px;"></div>
	   <div id="text-footer">
	    <div id="lien-ft">
	     <a href="{{ path('front_list_homepage') }}">
	      <i class="fa fa-caret-right"></i> Hôtels au Maroc
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_hotel_frame') }}">
	      <i class="fa fa-caret-right"></i> Hôtels dans le Monde
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_transfert_homepage') }}">
	      <i class="fa fa-caret-right"></i> Transfert Privés
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_btob_circuit_homepage') }}">
	      <i class="fa fa-caret-right"></i> Circuits & Excursions
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_sejour_homepage') }}">
	      <i class="fa fa-caret-right"></i> Voyages organisés
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_evenement_homepage') }}">
	      <i class="fa fa-caret-right"></i> Evénements & Soirées
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_resa_reservation_siminaire') }}">
	      <i class="fa fa-caret-right"></i> Congrés & Séminaires
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_contacts_homepage') }}">
	      <i class="fa fa-caret-right"></i> Contact
	     </a>
	    </div>
	   </div>
	  </div>
	   
	  <div class="col-sm-4 hidd-tel hidd-tablette"> 
	   <div id="titre-bleu" align="center">
	    Paiement sécurisé
	   </div>
	   <div align="center">
	    <img src="{{ asset('front/images/cartes-bancaire.png') }}" />
	   </div>
	  </div>
	   
	  <div class="col-sm-5">
	   <div id="titre-bleu">
	    Contact
	   </div>
	   <div id="text-footer" style="line-height:26px;">
         Angle Bd. Mohamed 5 et Av. Hassen 1<sup>er</sup> étage<br>
		 N° 7 Bloc B - Imm. SIBAM2 4000<br> Marrakech Maroc<br>
         Tél: +212 5 24 43 03 31/29<br>
         GSM: +212 6 61 24 38 80<br>
         Fax: +212 5 24 43 02 84<br>
		 <div class="rs-f hidd-tel">
		  <a href="skype:firstclasstravelinternational" target="_new" class="sk-f tooltip3"><span style="width: 156px; margin-left:-79px !important;">Skype: FirstClassTravel</span></a>
		  <a href="https://plus.google.com/u/0/116905572238101417744/posts" target="_new" class="go-f tooltip3"><span style="width: 95px; margin-left:-49px !important;">Google Plus</span></a>
		  <a href="https://www.facebook.com/First-Class-Travel-International-168460120178156/?ref=hl" target="_new" class="fb-f tooltip3"><span style="width: 176px; margin-left:-87px !important;">Facebook/FirstClassTravel</span></a>
		  <a href="https://www.youtube.com/channel/UCDYdM3-AK-siCsAgwmF0Zxg?view_as=subscriber" target="_new" class="yo-f tooltip3"><span style="width: 73px; margin-left:-37px !important;">Youtube</span></a>
		 </div>
	   </div>
	  </div>
	  </div>
	   <br>
	  </div>
	</div>
	
</footer>
<div class="footer2">
 <div class="container">
  <div class="col-sm-12">
   <div class="col-sm-2">
    © 2015 | First Class Travel
   </div>
   <div class="col-sm-7 hidd-tel" style="padding:0px;" align="right">
    <ul class="menu-footer">
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
	   Accueil
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
	   Qui sommes nous?
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'prix-hotels-marrakech','id':8}) }}">
	   Conditions générales d'achat
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'site-agence-voyages-marrakech','id':9}) }}">
	   Plan de site
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_contacts_homepage') }}">
	   Nous contacter
	  </a>
	 </li>
	</ul>
   </div>
   <div class="col-sm-3" align="right">
    Powered By <img src="{{asset('front/images/WebCarre.png')}}" style="height:20px; width:auto;" /> <a href="http://www.webcarre.ma/" target="_new" style="color:#fff;">webcarre.ma</a>
   </div>
  </div>
 </div>
</div>
<div class="footer3">
 <div class="container">
	      <div class="col-sm-12 omra" align="center">
		    <div id="owl-demo5" class="owl-carousel">
			   <div class="item"><img src="{{ asset('front/images/ref1.png') }}" class="lazyOwl" style="width:100px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref.png') }}" class="lazyOwl" style="width:190px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref4.png') }}" class="lazyOwl" style="width:97px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref5.png') }}" class="lazyOwl" style="width:91px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref2.png') }}" class="lazyOwl" style="width:64px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref3.png') }}" class="lazyOwl" style="width:59px;" align="center" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref6.png') }}" class="lazyOwl" style="width:60px;" align="center" /></div>
            </div>		     
		  </div>
 </div>
</div>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
   <script src="{{ asset('front/js/jquery.waypoints.min.js') }}"></script>
   <script src="{{ asset('front/js/jquery.smartmenus.min.js') }}"></script>

   <!-- javascript core -->
   <script src="{{ asset('front/js/theme-script.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
   <script>
    //var hauttt = jQuery.noConflict();	
	(function() {

   			$('<i id="back-to-top"></i>').appendTo($('body'));

			$(window).scroll(function() {

				if($(this).scrollTop() != 0) {
					$('#back-to-top').fadeIn();	
				} else {
					$('#back-to-top').fadeOut();
				}

			});
			
			$('#back-to-top').click(function() {
				$('body,html').animate({scrollTop:0},600);
			});	

	})();
   </script>
<style>

.owl-wrapper .owl-item{
width:160px !important;
}
.owl-wrapper .owl-item:first-child{
width:285px !important;
}
</style>


{% block javascripts %}{% endblock %}

</body>
</html>

