{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('vol') }}">Liste des réservation</a></li>

            <li><span>Détails de la réservation</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                   <div class="formSep"><label> <strong> Agence :</strong> {{ entity.agent.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Type
                                                :</strong> {{ entity.type }}</label></div>
                                    <div class="formSep"><label> <strong> Départ
                                                :</strong> {{ entity.depart }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Arrivée :</strong>{{ entity.arrive }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Arrivée :</strong>{{ entity.arrive }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date de départ :</strong>{% if entity.dated %}{{ entity.dated|date('d/m/Y') }}{% endif %}
                                        </label></div>
                                  <div class="formSep"><label> <strong> Date de retour :</strong>{% if entity.dater %}{{ entity.dater|date('d/m/Y') }}{% endif %}
                                        </label></div>
                                 <div class="formSep"><label> <strong> Jeunes
                                             (19 - 23.99 Ans) :</strong>{{ entity.jeunes }}
                                        </label></div>

                                 <div class="formSep"><label> <strong> Etudiants
                                             (19 - 30.99 Ans) :</strong>{{ entity.etudiant }}
                                        </label></div>
 <div class="formSep"><label> <strong> Adultes :</strong>{{ entity.adulte }}
                                        </label></div>
 <div class="formSep"><label> <strong> Enfants
             (2 - 11.99 Ans) :</strong>{{ entity.enfant }}
                                        </label></div>
<div class="formSep"><label> <strong> Bébé
            (0 - 1.99 Ans):</strong>{{ entity.bebe }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entity.dcr|date('d/m/Y h:i') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entity.client.civ }} {{ entity.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entity.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entity.client.email }}">{{ entity.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entity.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entity.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entity.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entity.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entity.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entity.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "");
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcomment_homepage') }}",
                        data: "id={{ entity.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}