{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_marque_homepage') }}">Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="wizard-basic" class="swMain">
                    <ul>
                        <li>
                            <a href="#sw-basic-step-1" id="stepone">
                                <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Selectionnez l'hôtel</small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-2" id="steptwo">
                                <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-3" id="stepthree">
                                <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Chambres<small>Selectionnez les chambres
                                                            </small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-4" id="stepfour">
                                <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Coordonnées<small>Remplir les coordonnées
                                                            </small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-5" id="stepfive">
                                <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 5 : Validation<small>Validation de la
                                                                réservation
                                                            </small>
                                                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box hideable w-box-green">
                    <div class="w-box-header">
                        <h4>Moteur de recheche</h4>
                    </div>
                    <form action="{{ path('btob_marque_homepage') }}" method="POST" name="formsearch" id="formsearch">
                        <div class="w-box-content cnt_b">
                            <table border="0" width="100%" cellpadding='3'>
                                <tr>
                                    <td>De</td>
                                    <td><input type="text" name='dated' value="{{ dated }}"
                                               data-date-format="dd/mm/yyyy" class='span8 datepicker'/></td>
                                    <td>&agrave;</td>
                                    <td><input type="text" value="{{ datef }}" name='datef'
                                               data-date-format="dd/mm/yyyy" class='span8 datepicker'/></td>
                                    <td>Nom d'hôtel</td>
                                    <td><input name="nom" type="text" id="my-input" value="{{ nom }}"
                                               placeholder="Nom de l'hôtel" class='span9'/></td>
                                </tr>
                                <tr>
                                    <td>Pays :</td>
                                    <td><select name="pays" id="s2_single" class=" span8"
                                                onchange="loadville(this.value)">
                                            <option value=""></option>
                                            {% for item in pays %}
                                                <option value="{{ item.id }}"{% if item.id==paysid %} selected='selected'{% endif %}>{{ item.name }}</option>
                                            {% endfor %}
                                        </select></td>
                                    <td>Ville :</td>
                                    <td><select class="span8" name="ville" id="ville"></select></td>
                                    <td>Nombres d'étoiles :</td>
                                    <td><input type="number" value="{{ star }}" name="star" id="some_id" class="rating"
                                               data-clearable=""/></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2">
                                        <div class="sepH_c">
                                            <p class="sepH_a">Prix: <strong class="ui_slider2_val"></strong></p>

                                            <div class="ui_slider2"></div>
                                            <input type="hidden" value="{{ price_min }}" name="price_min"
                                                   id="ui_slider_min_val">
                                            <input type="hidden" value="{{ price_max }}" name="price_max"
                                                   id="ui_slider_max_val">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" width="100%" cellpadding='3' id="chammbbrr">
                                <tbody>
                                {% set x=0 %}
                                {% for row in frmad %}
                                    <tr id="row{{ x }}">
                                        <td width="15%"></td>
                                        <td>Adulte :</td>
                                        <td><input style="width:40px;"
                                                   class="ui-spinner-input def_spinner" type="text"
                                                   min="0" max="4" name="ad[]" value="{{ row }}"/></td>
                                        <td>Enfant :</td>
                                        <td><input style="width:40px;"
                                                   class="ui-spinner-input def_spinner" type="text"
                                                   min="0" max="4" name="enf[]" value="{{ frmenf[x] }}"/></td>
                                        <td>Arrangement :</td>
                                        <td><select name="arr[]">{% for item in arr %}
                                                    <option value="{{ item.id }}"{% if frmarr[x]==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>{% endfor %}
                                            </select></td>
                                        <td><a href="javascript:unlinkrow({{ x }})"><i class="splashy-error_x"></i></a>
                                        </td>
                                    </tr>
                                    {% set x=x+1 %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="javascript:addRowRoom()">+ Ajouter une chambre</a></td>
                                </tr>
                                </tfoot>
                            </table>

                            <!--table border="0" width="100%" cellpadding='3'>
                                <tr>
                                    <td width="33%"></td>
                                    <td width="33%"></td>
                                    <td> Trier par :
                                        <select name="trie" id="trie">
                                            <option value="1"{% if trie==1 %} selected='selected'{% endif %}>Nom
                                                d'hôtel
                                            </option>
                                            <option value="2"{% if trie==2 %} selected='selected'{% endif %}>Prix
                                                croissant
                                            </option>
                                            <option value="3"{% if trie==3 %} selected='selected'{% endif %}>Prix
                                                décroissant
                                            </option>

                                        </select></td>
                                </tr>
                            </table-->
                            <table border="0" width="100%" cellpadding='3'>
                                <tr>
                                    <td width="20%" colspan="2">

                                    </td>
                                    <td></td>
                                    <td width="5%"><input type="button" onclick="submitnewform()"
                                                          class='btn btn-success' value='Valider'/>
                                        <input type='hidden' name='page' id="page" value='{{ page }}'/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="row-fluid">
            <div class="span12">
                {% for entry in price %}
                    {% set hotel=entry['hotel'] %}

                    <form action="{{ path('btob_marque_recap_homepage') }}" name="myform{{ hotel.name }}" method="post">
                        <input type="hidden" name="hotelid" value="{{ hotel.id }}"/>
                        <input type="hidden" name="dated" value="{{ d1|date('Y-m-d') }}"/>
                        <input type="hidden" name="datef" value="{{ d2|date('Y-m-d') }}"/>


                        <div class="w-box w-box-green">
                            <div class="w-box-header">
                                <h4>{{ hotel.name }}</h4>
                            </div>
                            <div class="w-box-content cnt_b">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="span2"><img src="{{ asset(entry['image']) }}"/>
                                            <a href="{{ path('btob_marque_detail_homepage', {'hotelid': hotel.id,'dated':dated|tobdd,'datef':datef|tobdd}) }}"><i
                                                        class="splashy-arrow_large_right"></i>&nbsp;Détail de
                                                l'hôtel</a>
                                        </div>
                                        <div class="span8">

                                            <div class="span12">{% for i in 1..hotel.star %} <i
                                                        class="splashy-star_full"></i>{% endfor %}
                                            </div>
                                            <div class="span12">
                                                <strong>{{ hotel.ville.name }}, {{ hotel.pays.name }}</strong><br>
                                                {{ hotel.shortdesc|raw }}
                                            </div>
                                            <div class="span12">
                                                {% for item in hotel.hotelamg %}
                                                    <img class="ptip_nw" title="{{ item.amg.name }}"
                                                         src="{{ asset(item.amg.file) }}"/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="span12">&Agrave; partir de <span
                                                        class="label label-info ptip_ne">
                                                {% if margepers==1 %}
                                                    {% set partir=entry['price'] + (entry['price']*margeval/100) %}
                                                {% else %}
                                                    {% set partir=entry['price'] + margeval %}
                                                {% endif %}
                                                    {{ (partir|Marqueblanche)|changedevise }}</span>
                                            </div>
                                            <div class="span12">en <strong>{{ entry['name'] }}</strong></div>
                                            <div class="sepH_b">&nbsp;</div>

                                            <div class="sepH_b"><a class="btn btn-small btn-primary inv_new"
                                                                   href="{{ path('btob_marque_selection_homepage', {'hotelid': hotel.id,'dated':dated|tobdd,'datef':datef|tobdd}) }}">Choisir
                                                    les chambres</a></div>

                                            <div class="sepH_b">
                                                <input type="submit" class="btn btn-small btn-success inv_new"
                                                       value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Réserver&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                                            </div>

                                            <!--<div class="sepH_b"> <a class="btn btn-small btn-inverse inv_new" href="#">Réservez</a></div>-->
                                        </div>
                                    </div>
                                    <div class="span12"></div>

                                    <div class="span12" style="margin-left: 0;">
                                        <table class="table table-striped table-bordered table-condensed table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Type de chambre</th>
                                                <th>Arrangement</th>
                                                <th>Nb</th>
                                                <th>Ad.</th>
                                                <th>Enf.</th>
                                                <th>Disponibilité</th>
                                                <th>Prix pour {{ nbjour+1 }} nuit(s)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set ad=0 %}{% set enf=0 %}{% set price=0 %}
                                            {% set k=1 %}
                                            {% set roomname='' %}
                                            {% for item in entry["allprice"] %}
                                                {% if roomname!=item['roomname'] %}
                                                    {% set k=1 %}
                                                    {% set roomname=item['roomname'] %}
                                                {% endif %}
                                                <tr>
                                                    <td style="text-align: center">
                                                        {% for x in 1..item['nbpersonne'] %}
                                                            <i class="splashy-contact_blue"></i>
                                                        {% endfor %}</td>
                                                    <td>{{ item['roomname'] }}</td>
                                                    <td>{{ item['arrangement'] }}<input type="hidden"
                                                                                        name="arrangement[{{ item['idform'] }}][{{ k }}][]"
                                                                                        value="{{ item['arrangementid'] }}"/>
                                                    </td>
                                                    <td>{{ item['ad']+item['enf'] }}</td>
                                                    <td>{{ item['ad'] }}{% set ad = ad + item['ad'] %}<input
                                                                type="hidden"
                                                                name="adulte[{{ item['idform'] }}][{{ k }}][]"
                                                                value="{{ item['ad'] }}"/></td>
                                                    <td>{{ item['enf'] }}{% set enf =enf + item['enf'] %}<input
                                                                type="hidden"
                                                                name="enfant[{{ item['idform'] }}][{{ k }}][]"
                                                                value="{{ item['enf'] }}"/>
                                                        {% for cntchild in 0..item['enf'] if cntchild!=0 %}
                                                            <input type="hidden"
                                                                   name="children[{{ item['idform'] }}][{{ k }}][]"
                                                                   value="12"/>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{% if entry['stopsales']==0 %}Disponible{% else %}Sur demande{% endif %}</td>
                                                    <td>
                                                        <span class="label label-success ptip_ne">{{ (item['price']|Marqueblanche)|changedevise }} {% set price=price +item['price'] %}</span>
                                                    </td>
                                                </tr>
                                                {% set k=k+1 %}
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: right"><strong>TOTAL :</strong></td>
                                                <td>{{ ad+enf }}</td>
                                                <td>{{ ad }}</td>
                                                <td>{{ enf }}</td>
                                                <td></td>
                                                <td>
                                                    <span class="label label-warning ptip_ne">{{(price|Marqueblanche)|changedevise }} </span>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                {% endfor %}
                {% if totpage>1 %}
                    <div class="pagination pagination-centered">
                        <ul>
                            {% for item in 1..totpage %}
                                <li{% if page==item %} class="active"{% endif %}><a
                                            href="javascript:changepage({{ item }})">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        var strchambre = "";
        function submitnewform() {
            $("#page").val(1);
            $("#formsearch").submit();
        }
        function changepage(page) {
            $("#page").val(page);
            $("#formsearch").submit();
        }
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                async: false,
                success: function (msg) {

                    $('#ville').append(msg);
                    //$("#s2_single2").prop('disabled', false);
                    /*$("#s2_single2").select2({
                     placeholder: "Choisissez",
                     allowClear: true
                     });*/
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }
        function addRowRoom() {
            $("#chammbbrr tbody").append(strchambre);
            $('.def_spinner').spinner();
        }
        $(document).ready(function () {

            strchambre = $("#chammbbrr tbody").html();


            //* range slider
            $(".ui_slider2").slider({
                range: true,
                min: 0,
                max: 3000,
                values: [{{price_min}}, {{price_max}}],
                slide: function (event, ui) {
                    $(".ui_slider2_val").text(ui.values[0] + " TND - " + ui.values[1] + " TND");
                    $("#ui_slider_min_val").val(ui.values[0]);
                    $("#ui_slider_max_val").val(ui.values[1]);
                }
            });
            $(".ui_slider2_val").text($(".ui_slider2").slider("values", 0) + " TND - " + $(".ui_slider2").slider("values", 1) + " TND");
            $("#ui_slider_min_val").val($(".ui_slider2").slider("values", 0));
            $("#ui_slider_max_val").val($(".ui_slider2").slider("values", 1));

        });
        $(document).ready(function () {
            //loadville(3);
            var strass = {{star}};
            $(".rating-input i").remove();
            //htm = 'Nombres d\'étoiles : ';
            htm = '';
            for (i = 1; i <= strass; i++) {
                htm += '<i class="splashy-star_full" data-value="' + i + '"></i>';
            }
            for (i = 1; i <= (5 - strass); i++) {
                j = parseInt(strass) + i;
                htm += '<i class="splashy-star_empty" data-value="' + j + '"></i>';
            }

            $(".rating-input").prepend(htm);
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            {%if paysid > 0 %}
            loadville({{paysid}});
            {%endif%}
            {%if ville > 0 %}
            $("#ville").val({{ville}});
            {%endif%}
        });
        var cities = [{%for item in filterhotel%}"{{item.name|e}}", {%endfor%}];
        $(document).ready(function () {
            $("#s2_single, #s2_single").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#ville").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            // input type number
            $('.def_spinner').spinner();
            $('#my-input').betterAutocomplete('init', cities, {}, {});
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');

        });
        function unlinkrow(i) {
            $("#row" + i).remove();
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}