{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_list_recap_homepage') }}">
            <div class="row-fluid">
                <div class="span12">
                    {% set entry=price[0] %}
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>{{ entry.hotel.name }}</h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="{{ asset(img) }}"/>

                                    </div>
                                    <div class="span10">

                                        <div class="span12">{% for i in 1..entry.hotel.star %} <i
                                                    class="splashy-star_full"></i>{% endfor %}
                                        </div>
                                        <div class="span12">
                                            <strong>{{ entry.hotel.ville.name }}
                                                , {{ entry.hotel.pays.name }}</strong><br>
                                            {{ entry.hotel.shortdesc|raw }}

                                        </div>
                                        <div class="span12">
                                            {% for item in entry.hotel.hotelamg %}
                                                <img class="ptip_nw" title="{{ item.amg.name }}"
                                                     src="{{ asset(item.amg.file) }}"/>
                                            {% endfor %}
                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>
                                    <!--<div class="span2">
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b">

                                        </div>
                                    </div>-->
                                </div>
                                <div class="span12"></div>

                                <div class="span12" style="margin-left: 0;">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                        <th colspan="5">Chambres</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total=0 %}
                                        {% for item in entities %}
                                            {% for items in item %}
                                        <tr>
                                            <td>{{ items['roomname'] }}</td>
                                            <td>Adulte(s) : {{ items['adulte'] }}</td>
                                            <td>Enfant(s) : {{ items['enfant'] }}</td>
                                            <td>Avec : {{ items['arrangement'] }}</td>
                                            <td>{{ items['price']|changedevise }} </td>
                                            {% set total = total + items['price'] %}
                                        </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4" style="text-align: right"><strong>Total :</strong> </td>
                                            <td>{{ total|changedevise }} </td>
                                        </tr>
                                        </tfoot>
                                    </table>


                                </div>
                                <div class="span12"></div>
                                {% if surdemande==0 %}
                                <div class="span12">
                                    <div class="span10"></div>
                                    <div class="span2">
                                        <a href="{{ path('btob_list_clientform_homepage') }}" class="btn btn-success">Réservez</a>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="span12" style="margin-left: 0;">
                                        <div class="span12">
                                            <div class="alert alert-error">{{ msgsurdemande|raw }}</div>
                                        </div>
                                        <div class="span7"></div>
                                        <div class="span4">
                                            <a href="{{ path('btob_list_homepage') }}" class="btn btn-warning">Choisisser une autre période</a>
                                            <a href="{{ path('btob_list_clientform_homepage') }}" class="btn btn-beoro-1">Sur demande</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="span12"></div>
                        </div>
                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts '@BtobHotelBundle/Resources/public/js/tools.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}