{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_marque_homepage') }}">Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">

        <form method="post" action="{{ path('btob_marque_recap_homepage') }}">
            <input type="hidden" name="hotelid" value="{{ price['hotel'].id }}"/>
            <input type="hidden" name="dated" value="{{ dated|date('Y-m-d') }}"/>
            <input type="hidden" name="datef" value="{{ datef|date('Y-m-d') }}"/>

            <div class="row-fluid">
                <div class="span12">
                    <div id="wizard-basic" class="swMain">
                        <ul>
                            <li>
                                <a href="#sw-basic-step-1" id="stepone">
                                    <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Selectionnez l'hôtel</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-2" id="steptwo">
                                    <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-3" id="stepthree">
                                    <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Chambres<small>Selectionnez les chambres
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-4" id="stepfour">
                                    <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Coordonnées<small>Remplir les coordonnées
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-5" id="stepfive">
                                    <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 5 : Validation<small>Validation de la
                                                                réservation
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    {% set entry = price %}
                    {% set hotel=entry['hotel'] %}
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>{{ hotel.name }}</h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="{{ asset(entry['image']) }}"/>

                                    </div>
                                    <div class="span8">

                                        <div class="span12">{% for i in 1..hotel.star %} <i
                                                    class="splashy-star_full"></i>{% endfor %}
                                        </div>
                                        <div class="span12">
                                            <strong>{{ hotel.ville.name }}, {{ hotel.pays.name }}</strong><br>
                                            {{ hotel.shortdesc|raw }}

                                        </div>
                                        <div class="span12">
                                            {% for item in hotel.hotelamg %}
                                                <img class="ptip_nw" title="{{ item.amg.name }}"
                                                     src="{{ asset(item.amg.file) }}"/>
                                            {% endfor %}
                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>
                                    <div class="span2">
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b">
                                            <button id="activatebt" style="display:none" class="btn btn-small btn-primary inv_new">Tarif & Dispo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span12"></div>

                                <div class="span12" style="margin-left: 0;">
                                    {% set idtable=1 %}
                                    {% for itemxy in entry["allprice"] %}

                                    <table class="table  table-bordered table-condensed " id="tabroom{{ idtable }}">

                                        <tbody>
                                        {% set k=1 %}
                                        {% for item in itemxy %}
                                            {% if k==1 %}
                                                <tr bgcolor="#f6f6f6" id="room">
                                                <th class="span3">{{ item['roomname'] }} </th>
                                                <th class="span2">{% for x in 1..item['nbpersonne'] %}
                                                        <i class="splashy-contact_blue"></i>
                                                    {% endfor %}</th>
                                                <th colspan="3" class="span7">
                                                    <select style="width: 50px"
                                                            onchange="Addrowtotable('tabroom{{ idtable }}',this.value)">
                                                        {% for x in 1..20 %}
                                                            <option{% if itemxy|length==x %} selected="selected"{% endif %}
                                                            value="{{ x }}">{{ x }}</option>{% endfor %}
                                                    </select>&nbsp;&nbsp;&nbsp;
                                                    &Agrave; partir de
                                                    {% if margepers==1 %}
                                                        {% set prix = entry['price'] + (entry['price'] * margeval / 100) %}
                                                    {% else %}
                                                        {% set prix = entry['price'] +  margeval %}
                                                    {% endif %}
                                                    {{ prix|changedevise }}
                                                    {% if itemxy[0]['typepersonne']==true %}par personne{% else %}par chambre{% endif %}
                                                    en {{ entry['name'] }}</th>


                                                </tr>{% endif %}
                                            <tr>
                                                <td colspan="2" rowspan="2">Chambre {{ k }} :
                                                </td>
                                                <td class="span3">Adultes : <select
                                                            name="adulte[{{ item['id'] }}][{{ k }}][]"
                                                            onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})"
                                                            style="width: 50px">
                                                        {% for xy in 0..item['nbad'] %}
                                                            <option{% if item['ad']==xy %} selected="selected"{% endif %}
                                                                    value="{{ xy }}">{{ xy }}</option>
                                                        {% endfor %}
                                                    </select></td>
                                                <td class="span3">Enfants : <select
                                                            name="enfant[{{ item['id'] }}][{{ k }}][]"
                                                            onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})"
                                                            style="width: 50px">
                                                        {% for xy in 0..item['nbenf'] %}
                                                            <option{% if item['enf']==xy %} selected="selected"{% endif %}
                                                                    value="{{ xy }}">{{ xy }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% if item['enf']>0 %}
                                                        <div class="span12">
                                                            {% for it in 1..item['enf'] %}
                                                                <label> Age Enfant {{ it }}
                                                                    <select style=" width: 50px;"
                                                                            name="children[{{ item['id'] }}][{{ k }}][]">
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                    </select> an(s)
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td class="span6">avec : <select
                                                            name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                            style="width: 300px;">
                                                        {% set w=0 %}
                                                        {% for xarritem in entry.pricearr %}
                                                            <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>
                                                                {{ xarritem["name"] }}{% if w!=0 %} (+
                                                                    {% if margepers==1 %}
                                                                        {% set prixarr = xarritem["price"] + (xarritem["price"]  * margeval / 100) %}
                                                                    {% else %}
                                                                        {% set prixarr = xarritem["price"] +  margeval %}
                                                                    {% endif %}
                                                                    {{ prixarr|changedevise }}
                                                                    ){% endif %}
                                                            </option>
                                                            {% set w=w+1 %}   {% endfor %}
                                                    </select></td>

                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    {% if item['supplement'] is defined %}
                                                        {% if item['supplement']|length>0 %}
                                                            <div class="span6"><h5>Supplément(s) :</h5>
                                                            {% for itemsup in item["supplement"] %}
                                                                {% if itemsup[0] is defined %}
                                                                    {% if  itemsup[0].act==1 %}
                                                                        <label class="radio"> <input
                                                                                    value="{{ itemsup[1][1] }}"
                                                                                    type="radio"
                                                                                    name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                            ( + ~
                                                                            {% if itemsup[1][0]>0 %}
                                                                                {% if margepers==1 %}
                                                                                    {% set prixsupp = itemsup[1][0] + (itemsup[1][0] * margeval / 100) %}
                                                                                {% else %}
                                                                                    {% set prixsupp = itemsup[1][0] +  margeval %}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% set prixsupp=itemsup[1][0] %}
                                                                            {% endif %}
                                                                            {{ prixsupp|changedevise }}
                                                                            )<br></label>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </div>{% endif %}
                                                    {% endif %}
                                                    {% if item['events']|length>0 %}
                                                        <div class="span6">
                                                            <h5>&Eacute;venements :</h5>
                                                            {% for itemev in item['events'] %}
                                                                <label class="radio">
                                                                    <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                            type="checkbox"
                                                                            name="event[{{ item['id'] }}][{{ k }}][]"
                                                                            value="{{ itemev.id }}"/>
                                                                    &nbsp;&nbsp;{{ itemev.name }}
                                                                    (Adulte
                                                                    {% if itemev.pricead>0 %}
                                                                        {% if margepers==1 %}
                                                                            {% set prixev = itemev.pricead + (itemev.pricead * margeval / 100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricead +  margeval %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% set prixev=itemev.pricead %}
                                                                    {% endif %}

                                                                    {{ prixev|changedevise }}  /
                                                                    Enfant
                                                                    {% if itemev.pricech >0 %}
                                                                        {% if margepers==1 %}
                                                                            {% set prixev = itemev.pricech  + (itemev.pricech * margeval / 100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricech  +  margeval %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% set prixev=itemev.pricech  %}
                                                                    {% endif %}
                                                                    {{ prixev|changedevise }}  )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                            {% set k= k+1 %}
                                        {% endfor %}
                                        </tbody>

                                        </table>{% set idtable= idtable +1 %}
                                    {% endfor %}

                                </div>
                                <div class="span12"></div>
                                <div class="span12" style="margin-left: 0;">
                                    <div class="accordion" id="accordion1">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse"
                                                   data-parent="#accordion1" href="#collapseOne1">
                                                    AFFICHER LES AUTRES CHAMBRES
                                                </a>
                                            </div>
                                            <div id="collapseOne1" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <div class="span12" style="margin-left: 0;">
                                                        {% set idtable=1 %}
                                                        {% for itemxy in entry["allotherprice"] %}

                                                        <table class="table  table-bordered table-condensed "
                                                               id="roomother{{ idtable }}">

                                                            <tbody>
                                                            {% set k=1 %}
                                                            {% for item in itemxy %}
                                                                {% if k==1 %}
                                                                    <tr bgcolor="#f6f6f6" id="room">
                                                                    <th class="span3">{{ item['roomname'] }} </th>
                                                                    <th class="span2">{% for x in 1..item['nbpersonne'] %}
                                                                            <i class="splashy-contact_blue"></i>
                                                                        {% endfor %}</th>
                                                                    <th colspan="3" class="span7">
                                                                        <select style="width: 50px"
                                                                                onchange="Addrowtotable2('roomother{{ idtable }}',this.value)">
                                                                            {% for x in 0..20 %}
                                                                                <option
                                                                                value="{{ x }}">{{ x }}</option>{% endfor %}
                                                                        </select>&nbsp;&nbsp;&nbsp;
                                                                        &Agrave; partir de

                                                                        {% if margepers==1 %}
                                                                            {% set prix = entry['price'] + (entry['price'] * margeval / 100) %}
                                                                        {% else %}
                                                                            {% set prix = entry['price'] +  margeval %}
                                                                        {% endif %}
                                                                        {{ prix|changedevise }} par
                                                                        personne ou par
                                                                        chambre en <strong>{{ entry['name'] }}</strong>
                                                                    </th>


                                                                    </tr>{% endif %}
                                                                <tr class="dontshow">
                                                                    <td colspan="2" rowspan="2">Chambre {{ k }} :
                                                                    </td>
                                                                    <td class="span3">Adultes : <select
                                                                                onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,1)"
                                                                                name="adulte[{{ item['id'] }}][1][]"
                                                                                style="width: 50px">
                                                                            {% for xyz in 0..item['nbad'] %}
                                                                                <option{% if item['nbad']==xyz %} selected="selected"{% endif %}
                                                                                        value="{{ xyz }}">{{ xyz }}</option>
                                                                            {% endfor %}
                                                                        </select></td>
                                                                    <td class="span3">Enfants : <select
                                                                                onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},1)"
                                                                                name="enfant[{{ item['id'] }}][1][]"
                                                                                style="width: 50px">
                                                                            {% for xy in 0..item['nbenf'] %}
                                                                                <option
                                                                                        value="{{ xy }}">{{ xy }}</option>
                                                                            {% endfor %}
                                                                        </select>

                                                                    </td>
                                                                    <td class="span6">avec : <select
                                                                                name="arrangement[{{ item['id'] }}][1][]"
                                                                                style="width: 300px;">
                                                                            {% set w=0 %}
                                                                            {% for xarritem in entry.pricearr %}
                                                                                <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>{{ xarritem["name"] }}{% if w!=0 %} (+
                                                                                        {% if margepers==1 %}
                                                                                            {% set prixarr = xarritem["price"] + (xarritem["price"]  * margeval / 100) %}
                                                                                        {% else %}
                                                                                            {% set prixarr = xarritem["price"] +  margeval %}
                                                                                        {% endif %}
                                                                                        {{ prixarr|changedevise }}
                                                                                        ){% endif %}</option>
                                                                                {% set w=w+1 %}   {% endfor %}
                                                                        </select></td>

                                                                </tr>
                                                                <tr class="dontshow">
                                                                    <td colspan="3">
                                                                        {% if item['supplement'] is defined %}
                                                                            {% if item['supplement']|length>0 %}
                                                                                <div class="span6"><h5>Supplément(s)
                                                                                :</h5>
                                                                                {% for itemsup in item["supplement"] %}
                                                                                    {% if  itemsup[0].act==1 %}
                                                                                        <label class="radio"> <input
                                                                                                    value="{{ itemsup[0].id }}"
                                                                                                    type="radio"
                                                                                                    name="supp[{{ item['id'] }}]{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}

                                                                                            ( + ~
                                                                                            {% if itemsup[1]>0 %}
                                                                                                {% if margepers==1 %}
                                                                                                    {% set prixsupp = itemsup[1] + (itemsup[1] * margeval / 100) %}
                                                                                                {% else %}
                                                                                                    {% set prixsupp = itemsup[1] +  margeval %}
                                                                                                {% endif %}
                                                                                            {% else %}
                                                                                                {% set prixsupp=itemsup[1] %}
                                                                                            {% endif %}
                                                                                            {{ prixsupp|changedevise }}

                                                                                            )<br></label>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                </div>{% endif %}
                                                                        {% endif %}
                                                                        {% if item['events']|length>0 %}
                                                                            <div class="span6">
                                                                                <h5>&Eacute;venements :</h5>
                                                                                {% for itemev in item['events'] %}
                                                                                    <label class="radio">
                                                                                        <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                                                type="checkbox"
                                                                                                name="event[{{ item['id'] }}][{{ k }}][]"
                                                                                                value="{{ itemev.id }}"/>
                                                                                        &nbsp;&nbsp;{{ itemev.name }}
                                                                                        (Adulte
                                                                                        {% if itemev.pricead>0 %}
                                                                                            {% if margepers==1 %}
                                                                                                {% set prixev = itemev.pricead + (itemev.pricead * margeval / 100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricead +  margeval %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% set prixev=itemev.pricead %}
                                                                                        {% endif %}

                                                                                        {{ prixev|changedevise }}  /
                                                                                        Enfant
                                                                                        {% if itemev.pricech >0 %}
                                                                                            {% if margepers==1 %}
                                                                                                {% set prixev = itemev.pricech  + (itemev.pricech * margeval / 100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricech  +  margeval %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% set prixev=itemev.pricech  %}
                                                                                        {% endif %}
                                                                                        {{ prixev|changedevise }}  )
                                                                                        TND )
                                                                                    </label>
                                                                                {% endfor %}
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>

                                                                </tr>
                                                                {% set k= k+1 %}
                                                            {% endfor %}
                                                            </tbody>

                                                            </table>{% set idtable= idtable +1 %}
                                                        {% endfor %}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class', 'selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class', 'selected');
        });
    </script>

{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}