{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_list_clientform_homepage') }}">
            <div class="row-fluid">
                <div class="span12">
                    <div id="wizard-basic" class="swMain">
                        <ul>
                            <li>
                                <a href="#sw-basic-step-1" id="stepone">
                                    <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Selectionnez l'hôtel</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-2" id="steptwo">
                                    <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                                </a>
                            </li><li>
                                <a href="#sw-basic-step-3" id="stepthree">
                                    <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Chambres<small>Selectionnez les chambres</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-4" id="stepfour">
                                    <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Coordonnées<small>Remplir les coordonnées </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-5" id="stepfive">
                                    <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 5 : Validation<small>Validation de la réservation </small>
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Validation de la réservation</h4>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                             <div class="span12">
                                 <div class="alert alert-success">
                                     <a data-dismiss="alert" class="close">×</a>
                                     <strong>Réservation Valider!</strong><br>

                                 </div>
                             </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

{% endblock %}