{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation Bien être{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_omra_reservation') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation Bien être</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Agence :</strong>
                                        </label></div>

                                    <div class="formSep"><label> <strong> Bien être
                                                :</strong> {{ entry.bienetre.titre }}
                                        </label></div>

                                    <div class="formSep"><label> <strong>date d'arrivée
                                                :</strong>{{ entry.datear|date('d/m/Y') }}  {{ entry.heur }}
                                        </label></div>

                                    <div class="formSep"><label> <strong>Prix :</strong>  {% if  entry.bienetre.prixpr != null %}
                                                <span style=" text-decoration: line-through;">{{ entry.bienetre.prixint|changedevise }}</span> / {{ entry.bienetre.prixpr|changedevise }} /Personne
                                            {% else %}
                                                {{ entry.bienetre.prixint|changedevise }} /Personne
                                            {% endif %}
                                        </label></div>
                                    <div class="formSep"><label> <strong>Nombre de personne :</strong> {{ entry.nbrpr }}
                                        </label></div>

                                    <div class="formSep"><label> <strong>Nombre de {{ entry.bienetre.type }}
                                                :</strong> {{ entry.nbrbien }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y ') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}