{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bienetre</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dcr</th>
                <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Act</th>
                <td>{{ entity.act }}</td>
            </tr>
            <tr>
                <th>Pindex</th>
                <td>{{ entity.pindex }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Prixint</th>
                <td>{{ entity.prixint }}</td>
            </tr>
            <tr>
                <th>Prixpr</th>
                <td>{{ entity.prixpr }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bienetre') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bienetre_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
