{% extends "base.html.twig" %}
{% block title %} Location voitures{% endblock %}
{% block menu %}
    <div id="menu">
        <div class="container">
            <ul id="menu-deroulant">
                <li class="bg_hotel"><a href="">Hôtels</a>
                    <ul class="menu-inter">
                        <li><a href="{{ path('front_list_homepage') }}">Hôtels en Tunisie</a></li>
                        <li><a href="">Hôtels dans le monde</a></li>
                    </ul>
                </li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Vols</a></li>
                <li class="bg_voy"><a href="{{ path('front_sejour_homepage') }}">Voyages organisés</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuits & excursions</a></li>
                <li class="bg_croisiere"><a href="{{ path('front_croisiere_homepage') }}">Croisières</a></li>
                <li class="active_hotel bg_croisiere"><a href="{{ path('front_voiture') }}">Voitures</a></li>
                <li class="bg_croisiere"><a href="{{ path('front_btob_siminaire_homepage') }}">Séminaires</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
                <li><a class="bg_promo" href="{{ path('front_promo_homepage') }}" >Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}

        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a> Location voitures</a></li>
            <li><a class="active"> Détail voitures</a></li>
        </ul>

    <!-- main content -->

        <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>Voiture  : {{ entry.libelle }}</h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1 marginleft"><a href="{{ path('front_voiture_reservation_homepage',{'id':entry.id}) }}" class="btn btn-success">Réserver</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span8 offset2">
                        {% if entry.imgv|length>0 %}
                            <ul class="bxslider_sej">
                                {% for item in entry.imgv %}
                                    <li><img src="../../../{{ asset(item.image) }}" width="563"/></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <!--div class="span4">
                        <img src="{{ asset('images/3.gif') }}">
                    </div-->
                </div>
                
                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1 marginleft"><a href="{{ path('front_voiture_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réserver</a></div>

                </div>
                <div class="row-fluid">

                    <div class="span12">Libelle Proms: {{ entry.libelleproms }}</div>
                </div>
                <div class="row-fluid">

                    <div class="span12"> Prix : {{ entry.prix }}</div>
                </div>

                <div class="row-fluid">
                    <div class="span12"> Equipement : {{ entry.equipements }}</div>
                </div>

                <div class="row-fluid">
                    <div class="span12"> Class : {{ entry.class }}</div>
                </div>

                <div class="row-fluid">
                    <div class="span12"> Option : {{ entry.optionvoiture }}</div>
                </div>


                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1 marginleft"><a href="{{ path('front_voiture_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réserver</a></div>

                </div>
            </div>
        </div>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider_sej').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}