{% extends "base.html.twig" %}
{% block title %} Location voitures{% endblock %}


{% block menu %}
    <div id="menu">
        <div class="container">
            <ul id="menu-deroulant">
                <li class="bg_hotel"><a href="">Hôtels</a>
                    <ul class="menu-inter">
                        <li><a href="{{ path('front_list_homepage') }}">Hôtels en Tunisie</a></li>
                        <li><a href="">Hôtels dans le monde</a></li>
                    </ul>
                </li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Vols</a></li>
                <li class="bg_voy"><a href="{{ path('front_sejour_homepage') }}">Voyages organisés</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuits & excursions</a></li>
                <li class="bg_croisiere"><a href="{{ path('front_croisiere_homepage') }}">Croisières</a></li>
                <li class="active_hotel bg_croisiere"><a href="{{ path('front_voiture') }}">Voitures</a></li>
                <li class="bg_croisiere"><a href="{{ path('front_btob_siminaire_homepage') }}">Séminaires</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
                <li><a class="bg_promo" href="{{ path('front_promo_homepage') }}" >Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}




{% block body %}

    <ul id="breadcrumbs">
        <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
        <li><a href="">Location voitures</a></li>
        <li><a class="active"> Liste voitures</a></li>
    </ul>

    <!-- main content -->

    {% set i=0 %}
    {% for entry in entities %}
        <div id="product">
            <a href="{{ path('front_voiture_detail_homepage',{'id':entry.id}) }}">
                <div id="prix-product">
                        A partir de<br>  {{ entry.prix }} DT
                </div>
                {% if entry.imgv|length>0 %}
                    <img src="../{{ entry.imgv[0].image }}" class="grow" />
                {% else %}
                    <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                {% endif %}
                <div id="titre-product">
                    <table height="50">
                        <tr>
                            <td height="67" valign="middle">
                                {{ entry.titre }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="text-product">
                    <div style="height: 22px;"></div>
                    {{ entry.optionvoiture }}
                </div>
                <div id="effect-pruduct2"></div>
                <div id="transform-product">
                    <div id="effect-pruduct"></div>
                    <div id="reserver">
                        Réserver
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}


{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}