{% extends "base.html.twig" %}
{% block title %}Evénements & soirées{% endblock %}

{% block body %}
    <div class="container">
	 <div class="col-sm-12 navig">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_golf_homepage') }}">Evénements & soirées</a></li>
            <li><a class="active"> Liste Evénements & soirées</a></li>
        </ul>
    
	

      </div>
        {% set i=0 %}

        {% for entry in entities %}
            <div class="col-sm-4">
		     <div id="product" class="anim-prod">
                <a href="{{ path('front_golf_detail_homepage',{'id':entry.id}) }}">
                    <div id="prix-product">
                        {% if  entry.apartir == 1 %}
                            A partir de<br>  {{ entry.prix }} MAD
							
							{%if(convert)%}
                      {{entry.prix*convert.currency}} {{convert.symb}}
                    {%endif%}
                        {% else %}
                            {{ entry.prix }} MAD
							{%if(convert)%}
                      {{entry.prix*convert.currency}} {{convert.symb}}
                    {%endif%}
                        {% endif %}
                    </div>
                    {% if entry.imgegolf|length>0 %}
                        <img src="../{{ entry.imgegolf[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50">
                            <tr>
                                <td height="67" valign="middle">
                                    <b>{{ entry.titre }}</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.dureegolf }} jours/ {{ entry.dureegolf-1 }} Nuits
                    </div>
                    <div id="transform-product">
                      <div id="reserver">
                        Réserver
                      </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}