{% extends "base.html.twig" %}
{% block title %}Evénements & soirées{% endblock %}

{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_golf_homepage') }}">Evénements & soirées</a></li>
            <li><a class="active"> Réservation événements & soirées</a></li>
        </ul>
       {% for flashMessage in app.session.flashbag.get('notisejour') %}
       <br/>
        <div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
        </div>
      {% endfor %}
	  </div>
	</div>
	<div class="container">
	 <div class="col-sm-12">
	  <form method="post" action="{{ path('front_golf_reservation_homepage',{'id':entry.id}) }}">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px;">
		  <div class="row-fluid">
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6  col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>

                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}

                            </div>

		 </div>
		 <div class="titre-recherche">
          Votre événement
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px;">
		  <div class="row-fluid">
                        <div class="span12">
						 <div class="col-sm-6">
                          <div class="span4">
                                <div class="formSep">
                                    <label class="required" >Date de départ * :</label>
                                    <input required="required" type="text" name='dated'
                                           id="datepicker_debut">
                                </div>
                            </div>
                         </div>
						 <div class="col-sm-6">
                                <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'adulte(s) * : </label>
                                        <select name="nbrad" required="required">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>

                                        </select>
                                    </div>
                                </div>
						 </div>
						 <div class="col-sm-6">
                                <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'enfant(s) (- De 12 Ans) * : </label>
                                        <select name="nbrenf" required="required">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>


                                        </select>
                                    </div>
                                </div>
						 </div>
						 <div class="col-sm-6">
                                <div class="span12">
                                    <div class="formSep">
                                        <label class="label-r2">Vos Remarques / Recommandations : </label>

                                        <textarea  name="remarque" style="width: 100% !important;"></textarea>

                                </div></div>
                         </div>




						 <div class="col-sm-12" align="right">
                         <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-success"/>
                                </div>
                            </div>
						 </div>
                        </div>
                    </div>
		 </div>
	  </form>
	 </div>
	</div>
    <div class="container" xmlns="http://www.w3.org/1999/html">
    </div>

<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">

{% endblock %}