{% extends "manager.html.twig" %}
{% block title %}Gestion des configuration Seo Page{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>

            <li><span>Gestion des configuration Seo Page</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Pages</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Page</th>
                                    <th>Seo Titre</th>
                                    <th>Seo Descreption</th>
                                    <th>Seo Keyword</th>
                                    <th width="20%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for entity in entities%}
                                    <tr>
                                        <td>{{entity.page}}</td>
                                        <td>{{entity.seotitle}}</td>
                                        <td>{{entity.seodescreption}}</td>
                                        <td>{{entity.seokeyword}}</td>
                                         <td>
                                            <a href="{{ path('update_configseo_manager', {'id': entity.id}) }}" ><i class="splashy-pencil"></i></a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
   
{% endblock %}