{% extends "manager.html.twig" %}
{% block title %}Gestion Responsable Hotel{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
            <li><a href="">{{hotel.name}}</a></li>

            <li><span>Gestion Responsable Hotel</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">

                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Poste</th>
                                    <th>Tél</th>
                                    <th>mail</th>

                                </tr>
                            </thead>
                            <tbody>
                                {%for entity in entities%}
                                    <tr>
                                        <td>{{entity.name}}</td>
                                        <td>{{entity.poste}}</td>
                                        <td>{{entity.tel}}</td>
                                        <td>{{entity.mail}}</td>

                                        <td>
                                            <a href="{{ path('update_responsable_manager', {'id': entity.id,'hotelid': hotelid}) }}" ><i class="splashy-pencil"></i></a>
                                            <a href="javascript:confirmdeletbox('{{ path('delete_responsable_manager', {'id': entity.id,'hotelid': hotelid}) }}')" ><i class="splashy-gem_remove"></i></a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
     <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_responsable_manager',{'hotelid': hotelid})}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un Responsable </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
   
{% endblock %}