/**** General ****/
/**** Loader ****/

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/preload.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999999;
}

.preload * {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  visibility: visible;
}

h1, h2, h3 {
  text-transform: uppercase;
}

/******** NAVBAR ********/
#banner-header .container {
  position: relative;
}

.navbar {
}
.navbar li a {
}
.navbar span.caret {
  display: none;
}
.navbar .navbar-toggle {
  border: none;
  color: #ffd644;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #505050 !important;
}
.navbar-default .navbar-nav > li > ul > li > a:hover {
}

.navbar-default .navbar-nav > .active > a {
}

ul#menu-primary {
  margin-top: 17px !important; 
  margin-bottom: 0px;
}
ul#menu-primary li > a {
padding: 0px 23px 0px 23px; 
font-family:'RalewaySB';
text-transform :uppercase;
font-size:12px;
border-right:1px solid #b1b3b6;
height:35px;
color:#2487e3 !important;
text-align:center;
}
ul#menu-primary li > a:hover {padding: 0px 23px 0px 23px; font-family:'RalewaySB';text-transform :uppercase;font-size:12px;border-right:1px solid #b1b3b6;height:35px;text-align:center;color:#f38f1b !important;}ul#menu-primary li > a.active {padding: 0px 23px 0px 23px; font-family:'RalewaySB';text-transform :uppercase;font-size:12px;border-right:1px solid #b1b3b6;height:35px;text-align:center;color:#f38f1b !important;}
.congres a{
padding: 0px 0px 0px 23px !important; 
border-right:none !important;
}
.homeee a {
padding: 0px 23px 0px 0px !important; 
}
.homeee a i{
font-size:30px;
margin-top:3px;
}
ul#menu-primary li > a > ul > li > a  {
background:#fff !important;
}
.border-hotel{
border-top:3px solid #f9a931;
margin-right:13px;
padding-right:15px !important;
padding-bottom:3px;
}
.border-hotel:hover{
background:#fff;
}
.active{
background:#fff;
}
.border-circuit{
border-top:3px solid #96bc29;
margin-right:15px;
padding-right:21px !important;
padding-bottom:3px;
}
.border-circuit:hover{
background:#fff;
}
.border-outgoing{
border-top:3px solid #0f3381;
margin-right:15px;
padding-right:21px !important;
padding-bottom:3px;
}
.border-outgoing:hover{
background:#fff;
}
.border-croisiere{
border-top:3px solid #f5750d;
margin-right:15px;
padding-right:20px !important;
padding-bottom:3px;
}
.border-croisiere:hover{
background:#fff;
}
.border-billeterie{
border-top:3px solid #d3d503;
margin-right:15px;
padding-right:21px !important;
padding-bottom:3px;
}
.border-billeterie:hover{
background:#fff;
}
.border-omra{
border-top:3px solid #0dd7f5;
margin-right:15px;
padding-right:20px !important;
padding-bottom:3px;
}
.border-omra:hover{
background:#fff;
}
.dropdown-menu {
border-bottom:2px solid #f9a931 !important;
border-left:2px solid #f9a931 !important;
border-right:2px solid #f9a931 !important;
}
ul.dropdown-menu li > a {
height:35px !important;
color:#8d8d8d !important;
font-size:12px !important;
font-family:'helveReg' !important;
border-bottom:1px solid #929292;
padding:0px !important;
margin-left:8px;
margin-right:8px;
background:transparent !important;
text-transform : capitalize !important;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0;
}

.navbar.style6 {
}
.navbar.style6 .active > a, .navbar.style6 .active > a:hover, .navbar.style6 .active > a:focus {
}

ul.dropdown-menu {
  box-shadow: none;
  border: none;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
ul.nav li.dropdown:hover > ul.dropdown-menu a {
  padding: 15px !important;
}
ul.nav li.dropdown:hover > ul.dropdown-menu a:hover, ul.nav li.dropdown:hover > ul.dropdown-menu a:focus {
}

.navbar li > a:hover {
  color: #505050 !important;
}

.navbar.style6 > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #505050 !important;
}

#devis {
}

/**** STICKY ****/
.sticky {
  background: rgba(255, 255, 255, 0.91);
  border-bottom: 2px solid #f38f1b !important;
  min-height: 60px;
  z-index: 2000;
  opacity: .95;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.logo-ori{
display:block;
}
.logo-slick{
display:none !important;
}
@media (max-width: 1100px) {
ul#menu-primary li > a {
padding: 0px 10px 0px 10px !important; 
}
.phonee{
    font-size: 14px;
}
.newsletter input[type="text"]{
width:61% !important;
font-size:11px !important;
}
.newsletter input[type="submit"]{
font-size:10px !important;
}
}
@media (max-width: 786px) {

.logo-ori{
display:none !important;
}
.logo-slick{
display:block !important;
padding-top: 7px !important;
}
body {
    padding-top: 163px;
}
.navbar-brand{
padding: 0px 35px;
}
.navbar a.navbar-brand.logo{
padding-bottom:0px;padding-top:0px;
}
.rech{
margin-top: -10px !important;
-webkit-border-radius: 5px !important;
-moz-border-radius: 5px !important;
border-radius: 5px !important;
}
.styled-select select{
font-size:9px !important;
}
input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], textarea, select, input[type="date"], input[type="email"]{
padding: 5px 4px !important;
}
.input-form {
font-size: 9px !important;
}
.ui_slider2_val{
font-size: 9px !important;
letter-spacing: 0px
}
.navbar-collapse{
padding:0px !important;
}
.padd-table{
padding:0 0 0 0 !important;
}
}
.padd-table{
padding:0 29px 0 0;
}
.padd-table2{
padding:0 0 0 0;
}
#formulaire .navbar{
min-height: 25px;
margin-bottom: 0px;
-webkit-box-shadow:none;
box-shadow: none;
}
#formulaire .navbar .navbar-toggle{
color:#fff;
font-family:'openB';
font-size:14px;
background:#2487e3;
width:100%;
}
#formulaire .navbar .navbar-toggle:hover{
background:#f38f1b;
} 
.sticky .logo-ori{
display:none !important;
}
.sticky .logo-slick{
display:block !important;
height: 60px;
width:auto !important;
}
.sticky button.navbar-toggle{
/*margin-top: -50px;*/
}
.sticky .navbar-header a {
  float: left;
  height: 60px;
  margin: 4px 0 0;
  -webkit-transition: all 0.9s ease-in;
  -moz-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
  opacity: 1;
  position: relative;
}
.sticky ul#menu-primary {
  margin: 0 !important;
  margin-top:5px !important;
}
.sticky ul#menu-primary a {
  color: #fff;
  border: none !important;
}
.sticky ul#menu-primary a:hover {
  color: #087df2 !important;
}
.sticky a.navbar-brand.logo {
  height: 60px !important;
  padding: 0;
  margin: 0;
}
.sticky #devis {
  display: none;
}

.navbar.sticky.style6 {
  margin: 0;
  padding: 0;
}
.sticky .hiddennn{
display:none;
}
.wrap.main-section .content .bg {
  padding-top: 0;
}

/***** Main ******/
main.main {
  padding: 0 0 30px 0;
}

#wrap-main-section {
  margin-top: 105px;
}
#wrap-main-section header {
  padding: 5px 15px;
  margin: 0;
  background-color: #b8cfe2;
  background-image: -webkit-gradient(radial, 50% 75%, 0, 50% 75%, 90, color-stop(0%, #3f75c8), color-stop(90%, #29508c));
  background-image: -webkit-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: -moz-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: -o-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  text-align: center;
  margin-top: 0;
}
#wrap-main-section header h1 {
  font-size: 48px;
  line-height: 90px;
  color: #FFF;
}

/***** SERVICES ******/
#services {
  padding: 80px 0 100px;
  padding: 8rem 0 5rem;
  text-align: center;
}
#services h3 {
  font-size: 18px;
}
#services .service-item {
  text-align: center;
  margin: 0 auto;
  padding: 2em 1em;
}
#services .service-item p {
  padding: 0 30px;
}
#services .service-item a {
  width: 180px;
  height: 180px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 12px auto;
  position: relative;
  text-align: center;
  background-color: #3361a8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) inset, -2px -2px 10px white inset;
  overflow: hidden;
}
#services .service-item a img {
  position: absolute;
  left: 0;
  top: 0;
  @incliude transition(opacity 0.2s ease-in-out);
}
#services .service-item a:hover {
  background-color: #ffdd00;
}
#services .service-item a:hover img.hover {
  opacity: 1;
}
#services .service-item a:hover img.static {
  opacity: 0;
}
#services .service-item a img.hover {
  opacity: 0;
}
#services .service-item a img.static {
  opacity: 1;
}

#wrap-main-section #content .main .services-list {
  display: block;
  padding: 50px 0;
}
#wrap-main-section #content .main .services-list header {
  background: none !important;
  padding: 0 !important;
  text-align: left !important;
}
#wrap-main-section #content .main .services-list header span {
  text-align: left;
  display: block;
  color: #3361a8;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  padding-top: 10px;
}
#wrap-main-section #content .main .services-list p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  padding-top: 20px;
  text-align: justify;
}
#wrap-main-section #content .main .services-list .more {
  margin-top: 60px;
}
#wrap-main-section #content .main .services-list .description {
  padding: 20px 0;
}
#wrap-main-section #content .main .services-list .description h3 {
  margin-top: 0;
}
#wrap-main-section #content .main .services-list.grey {
  background: #FAFAFA;
}

.read-more {
  border-radius: 50px;
}

.separator {
  background-image: url(../images/separator.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 2px;
}

/************* Forms ******************/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact input[type="date"], #contact textarea {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 8px;
  float: left;
  margin: 5px 20px 5px 0;
  padding: 10px;
  border-color: #3361a8;
  height: 40px;
}
#contact input[type="text"].placeholder, #contact input[type="email"].placeholder, #contact input[type="tel"].placeholder, #contact input[type="url"].placeholder, #contact input[type="date"].placeholder, #contact textarea.placeholder {
  color: #888;
}
#contact input[type="text"]:-moz-placeholder, #contact input[type="email"]:-moz-placeholder, #contact input[type="tel"]:-moz-placeholder, #contact input[type="url"]:-moz-placeholder, #contact input[type="date"]:-moz-placeholder, #contact textarea:-moz-placeholder {
  color: #888;
}
#contact input[type="text"]::-moz-placeholder, #contact input[type="email"]::-moz-placeholder, #contact input[type="tel"]::-moz-placeholder, #contact input[type="url"]::-moz-placeholder, #contact input[type="date"]::-moz-placeholder, #contact textarea::-moz-placeholder {
  color: #888;
}
#contact input[type="text"]:-ms-input-placeholder, #contact input[type="email"]:-ms-input-placeholder, #contact input[type="tel"]:-ms-input-placeholder, #contact input[type="url"]:-ms-input-placeholder, #contact input[type="date"]:-ms-input-placeholder, #contact textarea:-ms-input-placeholder {
  color: #888;
}
#contact input[type="text"]::-webkit-input-placeholder, #contact input[type="email"]::-webkit-input-placeholder, #contact input[type="tel"]::-webkit-input-placeholder, #contact input[type="url"]::-webkit-input-placeholder, #contact input[type="date"]::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
  color: #888;
}
#contact input[type="submit"] {
  padding: 10px 30px;
}
#contact input[type="radio"] {
  margin: 0;
}
#contact textarea {
  height: 250px;
}
#contact label {
  color: #3361a8;
  padding: 5px;
  margin: 5px 0 0 0;
}
#contact label.error {
  color: #e55252;
}
#contact .fa {
  font-size: 32px;
}
#contact .radio, #contact .checkbox {
  display: inline-block;
}
#contact .has-error input, #contact .has-error textarea {
  border-color: #e55252;
}
#contact .form-control:focus {
  box-shadow: none;
}
#contact .form-group {
  margin: 0;
}

#social_bar a {
  margin-right: 10px;
}
#social_bar a span {
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #3361a8;
  @iclude transition(all 0.3s);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) inset, -2px -2px 10px white inset;
  overflow: hidden;
}
#social_bar a span:before {
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
}
#social_bar a:hover span {
  background-color: #ffd644;
  color: #3361a8;
}

.content-title {
  background: #3361a8;
}
.content-title h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #b8cfe2;
  padding: 15px 0;
  margin: 0 0 30px 0;
}

.mapp-layout {
  margin: 0;
}

.mapp-iw {
  font-family: Raleway, sans-serif;
  color: #000;
  width: 370px;
  min-height: 120px;
  padding: 12px;
  font-size: 14px !important;
}
.mapp-iw .mapp-title {
  font-size: 20px;
  color: #3361a8;
  line-height: 32px;
}
.mapp-iw h4 {
  color: #3361a8;
}
.mapp-iw ul.infos {
  padding: 0;
  list-style: none outside none;
}
.mapp-iw ul.infos li {
  line-height: 24px;
}
.mapp-iw a {
  color: #000;
}

.office-address {
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 1000;
  width: 356px;
  background-color: #fff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}
.office-address .image {
  height: 245px;
  overflow: hidden;
}
.office-address .content {
  padding: 20px 25px;
}
.office-address .content h3 {
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 32px;
  color: #3361a8;
  text-transform: capitalize;
}
.office-address .content span {
  display: block;
  font-size: 15px;
  padding: 3px 0;
  color: #000;
}

#clients {
  padding: 20px 0;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFE5E5E5');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(20%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 20%, #e5e5e5 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 20%, #e5e5e5 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 20%, #e5e5e5 100%);
  background-image: radial-gradient(center, ellipse cover, #ffffff 20%, #e5e5e5 100%);
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#clients h3 {
  color: #000000 !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
#clients .lshowcase-boxInner-normal {
  margin: 21px !important;
}

h2.entry-title {
  margin: 10px auto;
  padding: 13px 0 !important;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  color: #3361a8 !important;
}

h2.ls-l {
  color: #5d80a0;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 36px;
  text-shadow: 0px 0px 10px #fff;
}

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.order-nav, .services-nav {
  border-top: 1px solid #eceded;
  border-bottom: 1px solid #eceded;
  margin-bottom: 30px;
}
.order-nav .nav, .services-nav .nav {
  border-top: 1px solid #eceded;
  border-bottom: 1px solid #eceded;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}
.order-nav .nav li, .services-nav .nav li {
  padding: 0px 60px;
  border: none;
  line-height: 50px;
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  float: left;
}
.order-nav .nav li a, .services-nav .nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0;
  font-weight: 700;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.order-nav .nav li a:hover, .services-nav .nav li a:hover {
  background: none;
  color: #3361a8;
}
.order-nav .nav li.active, .services-nav .nav li.active {
  border-bottom: 2px solid #3361a8;
  background: #FAFAFA;
}
.order-nav .nav li.active a, .services-nav .nav li.active a {
  color: #3361a8;
}
.order-nav .nav li:hover, .services-nav .nav li:hover {
  background: #FAFAFA;
  color: #fff !important;
}

#technologies {
  background: #eceded;
  padding: 10px 0;
}

.lshowcase-boxInner-normal {
  width: auto !important;
  margin: 0 30px !important;
  padding: 0 !important;
}

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5);
}

.order form h2, .order form h3 {
  font-size: 16px;
  font-weight: 300;
}
.order form input[type="text"], .order form input[type="email"], .order form input[type="tel"], .order form input[type="url"], .order form textarea {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 8px;
  float: left;
  margin: 0 20px 23px 0;
  padding: 0 10px;
  border-color: #3361a8;
  height: 40px;
}
.order form input[type="text"].placeholder, .order form input[type="email"].placeholder, .order form input[type="tel"].placeholder, .order form input[type="url"].placeholder, .order form textarea.placeholder {
  color: #555;
}
.order form input[type="text"]:-moz-placeholder, .order form input[type="email"]:-moz-placeholder, .order form input[type="tel"]:-moz-placeholder, .order form input[type="url"]:-moz-placeholder, .order form textarea:-moz-placeholder {
  color: #555;
}
.order form input[type="text"]::-moz-placeholder, .order form input[type="email"]::-moz-placeholder, .order form input[type="tel"]::-moz-placeholder, .order form input[type="url"]::-moz-placeholder, .order form textarea::-moz-placeholder {
  color: #555;
}
.order form input[type="text"]:-ms-input-placeholder, .order form input[type="email"]:-ms-input-placeholder, .order form input[type="tel"]:-ms-input-placeholder, .order form input[type="url"]:-ms-input-placeholder, .order form textarea:-ms-input-placeholder {
  color: #555;
}
.order form input[type="text"]::-webkit-input-placeholder, .order form input[type="email"]::-webkit-input-placeholder, .order form input[type="tel"]::-webkit-input-placeholder, .order form input[type="url"]::-webkit-input-placeholder, .order form textarea::-webkit-input-placeholder {
  color: #555;
}
.order form input[type="radio"] {
  margin: 0;
}
.order form textarea {
  height: 250px;
}
.order form label {
  padding: 5px;
  font-weight: 300;
}
.order form label i {
  color: #3361a8;
}
.order form .radio, .order form .checkbox {
  display: inline-block;
}
.order form .currency {
  padding: 8px;
}
.order form .css-checkbox input[type=checkbox], .order form .css-checkbox input[type=radio] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.order form .css-checkbox input[type=checkbox] + span.wpcf7-list-item-label, .order form .css-checkbox input[type=radio] + span.wpcf7-list-item-label {
  padding-left: 45px;
  height: 18px;
  margin-right: 25px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.order form .css-checkbox input[type=checkbox]:checked + span.wpcf7-list-item-label, .order form .css-checkbox input[type=radio]:checked + span.wpcf7-list-item-label {
  background-position: 0 -18px;
}
.order form span.wpcf7-list-item-label {
  background-image: url(../images/checkbox_hover.svg);
}
.order .col-md-12 {
  padding: 10px;
}

span.wpcf7-form-control.wpcf7-radio.css-checkbox {
  border-left: 1px dotted #ccc;
  float: right;
  margin-left: 40px;
  padding-left: 20px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

#copyright-bar {
  background: #3b3b3b;
  color: #ccc;
  line-height: 30px;
  padding-top:8px;
}

#navbar_social_bar {
  float: left;
  display: inline-block;
}
#navbar_social_bar a span {
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #3361a8;
  @iclude transition(all 0.3s);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) inset, -2px -2px 10px white inset;
  overflow: hidden;
}
#navbar_social_bar a span:before {
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
}
#navbar_social_bar a:hover span {
  background-color: #ffd644;
  color: #3361a8;
}

.testimonials {
  padding: 80px 0;
}
.testimonials .container {
  width: 800px;
}
.testimonials .container blockquote {
  text-align: center;
  border: none;
  font-size: 24px;
  line-height: 32px;
}
.testimonials .container .credit {
  font-weight: 700;
  font-size: 18px;
  color: #3361a8;
}

section.responsive {
  background: none repeat scroll 0 0 #F3F3F3;
  z-index: 1000;
}
section.responsive .container {
  position: relative;
  padding: 20px 0;
}
section.responsive .iphone {
  left: -70px;
  position: absolute;
  top: -230px;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s ease-in-out 0.5s;
  transition: all 0.5s ease-in-out 0.5s;
}
section.responsive .iphonescroll {
  top: 0;
}
section.responsive h2 {
  color: #414042;
  margin: 20px 0 25px;
  font-weight: 700;
  font-size: 20px;
}
section.responsive li {
  background: url("../images/list-icon.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #414042;
  padding: 0 0 0 30px;
  list-style-type: none;
  line-height: 30px;
}
section.responsive p {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

#page-footer {
  background: #2487e3;
  padding: 0 !important;
  padding-top:10px !important;
  color: #fff;
  text-align:left !important;
  font-family: 'helveReg' !important;
}
#page-footer h3 {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #214070;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: 'unisans';
}
#page-footer img {
  padding: 0 0px 0;
}
#page-footer ul#menu-primary{
margin-top: 5px !important;
}
#page-footer ul {
  overflow: auto;
  background: none;
  border: none;
}
#page-footer ul li {
  text-align: left;
  margin: 0;
  border: none;
  padding-left:18px;
}
#page-footer ul li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #e6295e;
  font-size: 12.5px;
  line-height: 25px;
  font-family:'helveReg';
  text-transform : capitalize;
  padding: 0;
}
#page-footer ul li a:hover, #page-footer ul li a:active, #page-footer ul li a:focus {
  background: none;
}
#page-footer hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #698cac;
  border-bottom: 1px dashed #ffffff;
  opacity: 0.5;
  clear: both;
}
#page-footer .footer-logo {
  color: #000;
  position: relative;
  display: block;
  padding: 40px 0px;
  line-height: 25px;
}
#page-footer span {
  margin: 0 40px;
}
#page-footer .title {
  text-transform: uppercase;
  font-size: 29px;
  background-image: none;
  width: 40%;
  font-weight: 400;
  margin-top: 8px;
  float: left;
}
#page-footer .wysija-input {
  float: left;
  width: 50%;
  height: 40px;
  padding: 0px;
  margin: 0px;
  border: none;
  padding: 0 15px;
  margin-right: 10px;
}
#page-footer .widget_wysija_cont .wysija-submit {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #FFF;
  padding: 7px 20px 6px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#page-footer .widget_wysija_cont .wysija-submit:hover, #page-footer .widget_wysija_cont .wysija-submit:focus, #page-footer .widget_wysija_cont .wysija-submit:active {
  color: #fff;
  background-color: #274a81;
  border-color: #1f3b65;
}
#page-footer p.wysija-paragraph {
  margin: 0;
}
#page-footer hr {
  background: url("../images/separator_footer.png") no-repeat;
  background-position: center center;
  border: none;
  height: 1px;
  margin: 20px 0 40px;
}
#page-footer #flag {
  padding: 0 15px !important;
  position: relative;
  background: #fff;
  text-align: center;
}

/****** Portfolio *******/
article.esg-filters.esg-singlefilters {
  display: block;
  width: 100%;
  position: relative;
  border-top: 1px solid #eceded;
  border-bottom: 1px solid #eceded;
  margin-bottom: 30px;
}

.toppix-portfolio .esg-filterbutton.selected {
  color: #3361a8 !important;
  border-bottom: 2px solid #3361a8;
  background: #FAFAFA !important;
}

.eg-henryharrison-container {
  background-color: rgba(51, 97, 168, 0.9) !important;
}

.esg-overflowtrick {
  width: 1205px;
  margin: 0 auto;
}

/****** Buttons *******/
.alpha {
  padding-left: 0 !important;
}

.omega {
  padding-right: 0 !important;
}

.btn {
 
}

.btn-grey {
  background-color: #090b0e;
  color: #fff;
}
.btn-grey:hover {
  background-color: #ffd644;
  color: #000;
}

.btn-blue {
  background-color: #3361a8;
  color: #ffd644;
  border: none !important;
}
.btn-blue:hover {
  background-color: #000 !important;
  color: #fff !important;
}

input[type="reset"] {
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
}

.screen-reader-response {
  padding: 10px 30px;
  opacity: 1 !important;
  margin: 0 0 20px;
  color: #fff;
}

ul#mqtranslate-chooser {
  padding: 0;
  position: relative;
  list-style: none;
  float: right;
  margin: 0;
  display: inline-block;
}
ul#mqtranslate-chooser li {
  padding: 4px 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #3361a8;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}
ul#mqtranslate-chooser li a {
  font-size: 12px;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  border: 0;
}
ul#mqtranslate-chooser li:hover {
  background: #000;
}

body.error404 {
  padding: 15% 0;
  height: 100vh;
  text-align: center;
  color: #fff;
  background: #3361a8;
  font-size: 22px;
  background-image: -webkit-gradient(radial, 50% 75%, 0, 50% 75%, 90, color-stop(0%, #3f75c8), color-stop(90%, #29508c));
  background-image: -webkit-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: -moz-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: -o-radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
  background-image: radial-gradient(50% 75%, circle cover, #3f75c8, #29508c 90%);
}
body.error404 #wrap-main-section {
  margin: 0;
}
body.error404 #wrap-main-section h2 {
  font-weight: 700;
  color: #fff;
}
body.error404 #wrap-main-section p {
  margin: 30px 0;
}
body.error404 #wrap-main-section a {
  color: #fff;
  font-size: 90%;
}
body.error404 .wrap.main-section .content .bg {
  background: none;
}
.height{
height:18px;
}
@media (min-width: 768px) {
  .navbar a.navbar-brand.logo img {
    padding: 0px;
  }
  
}
@media (max-width: 991px) {
 
.sticky ul#menu-primary a {
}
#titre-form{  
  font-size: 9px !important;
  padding-top: 2px !important;
}
.height{
height:17px !important;
}
#reservation {
  padding: 1px;
}
input[type="submit"]{
  padding: 0px 5px;
}
input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], textarea, select, input[type="date"], input[type="email"]{
  height: 22px;
  padding: 5px 10px;
  font-size: 9px;
}
}
input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], textarea, select, input[type="date"], input[type="email"]{
  width:95% !important;
}
@media (min-width: 1281px) {
  #page-footer{
  width:100%;
  bottom:0;
  }
}
@media (min-width: 900px) {
  .lien-c{
  width:100% !important;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 768px) {
#rech-index{
width:50% !important;
float:left;
}
}
@media (max-width: 1199px) {
.titre-index{
width:80% !important;
}
#ville-sejour {
  font-family: 'helveReg';
  font-size: 10px;
}
#titre-sejour {
  font-size: 11px;
}

#prix {
  font-size: 11px;
}
}
@media (max-width: 995px) {
.titre-index{
width:80% !important;
}
#ville-sejour {
  font-family: 'helveReg';
  font-size: 8px;
}
#titre-sejour {
  font-size: 10px;
}
#prix {
  font-size: 10px;
}
input.btn.btn-small.btn-success.inv_new{
font-size:10px !important;
}
.btn-small{
font-size:10px !important;
}
}
@media (max-width: 766px) {
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
padding-left:15px;
padding-right:15px !important;
}
}
@media (max-width: 1199px) {
ul#menu-primary li > a{
}
.sticky ul#menu-primary a{
}
#titre-form{
  padding-top: 5px;
}
.height {
  height: 24px;
}
.btn-small{
font-size:9px !important;
height:25px;
}
}
@media (max-width: 480px) {
  .order-nav .container, .services-nav .container {
    width: 100%;
    padding: 0;
  }
  .order-nav .nav, .services-nav .nav {
    width: 100%;
  }
  .order-nav .nav li, .services-nav .nav li {
    float: none;
  }

  .navbar li:first-child {
    margin: 0;
  }

  .navbar.style6 .active > a, .navbar.style6 .active > a:hover, .navbar.style6 .active > a:focus {
    border: none;
  }

  ul#menu-primary {
    margin: 0;
  }
  ul#menu-primary li > a {
    text-align: center;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #3361a8;
  }

  #technologies {
    display: none;
  }

  button.navbar-toggle {
    margin: 2px;
    padding: 3px;
  }
}
@media (max-width: 610px) {
  .table-bordered{
  font-size:11px !important;
  }
  .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding: 2px;
  }
}
@media (max-width: 400px) {
#titre-form{  
  font-size: 8px !important;
  padding-top: 2px !important;
}
.height{
height:12px !important;
}
.td1-res{
width:20%;
}
.ac-container .accolabel{
  font-size: 12px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
padding:5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 7px !important;
    padding-right: 7px !important;
}
}
@media (max-width: 470px) {
  .table-bordered{
  font-size:9px !important;
  }
  .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding: 2px;
  }
}
@media (max-width: 370px) {
  .table-bordered{
  font-size:7px !important;
  }
  .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding: 0px;
  }
}
@media (max-width: 1000px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }

  button.navbar-toggle {
    margin: 2px;
    padding: 3px;
  }

  ul#menu-primary {
    margin-top: 5px !important;
    width: 100%;
  }
  ul#menu-primary li > a {
    text-align: center;
	margin-bottom: 5px;
	font-size:9px;
  }
  ul#menu-primary li > a{
      padding: 0px 7px 0px 7px;
  }
  .homeee a {
    padding: 0px 7px 0px 15px !important;
  }
  .congres a {
    padding: 0px 0px 0px 7px !important;
  }
  .phonee{
      font-size: 11px;
	  padding: 3px 0px 4px;
	  margin-top: 5px;
  }
  .phonee a{
font-size:11px;
}
  .hidd-tablette{
  display:none;
  }
  .lien-haut a{
    font-size: 8.1px;
    padding: 5px 2px;
  }
  .titre-logo1 {
    font-size: 17.4px !important;
  }
  .titre-logo2 {
    font-size: 9px !important;
  }
  .rs{
    width: 100%;
    text-align: right;
    margin-bottom: -4px;
    margin-top: 2px;
  }
  #formulaire .col-sm-2,  #formulaire .col-sm-1{
  padding:0px;
  }
  .btn_submit_reser{
    font-size: 10px !important;
	padding-top: 0px !important;
  }
  .lien-ajout {
    font-size: 9px !important;
	margin-top:15px;
  }
  #tite-index{
    font-size: 25px !important;
  }
  .sticky .rs{margin:0px;}
ul.dropdown-menu li > a{font-size:12px !important;}
  .navbar.style6 .active > a, .navbar.style6 .active > a:hover, .navbar.style6 .active > a:focus {
    border: none;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #3361a8;
  }

  .navbar li:first-child {
    margin: 0;
  }

  #technologies {
    display: none;
  }
}
.accueil-appareil {
  display: inline-bloc;
  float: right;
  width: 850px;
}
.accueil-appareil p {
  line-height: 25px;
  font-family: Raleway, sans-serif;
  text-align: justify;
  color: #333;
  font-size: 14px;
  padding: 10px 150px 10px 300px;
  padding-top: 5px;
}
.accueil-appareil ul {
  overflow: auto;
  float: left;
}
.accueil-appareil ul li {
  list-style: none;
  text-align: left;
  margin: 0;
  line-height: 35px;
}

#blog input[type="text"], #blog input[type="email"], #blog .form-control {
  border: 1px solid #3361a8;
}
#blog a {
  text-decoration: none;
  color: #3361a8;
  font-size: 16px;
  padding-left: 10px;
}
#blog img {
  padding: 0 0 25px 0;
}
#blog p {
  padding: 10px;
  line-height: 25px;
  text-align: justify;
}
#blog ul {
  margin-top: 20px;
}
#blog ul li {
  font-weight: normal !important;
  background-color: #f4f2f2;
  list-style: none;
}
#blog .cat {
  background-color: #e2e2e2;
  line-height: 42px;
}
#blog .cat img {
  padding: 0 10px 0 10px;
}
#blog .cat a {
  color: #3361a8;
  font-size: 14px;
}
#blog .cat span {
  float: right;
  padding-right: 15px;
}
#blog h4 {
  color: #3361a8;
}

.bloc-search {
  padding-top: 20px;
  float: right;
  font-weight: bold;
}
.bloc-search a {
  color: #585858;
  font-weight: normal;
  padding-left: 10px;
  list-style: none;
  text-decoration: none;
  line-height: 50px;
}

.alert-info {
  background-color: #b8cfe2;
  border-color: #3361a8;
  color: #3361a8;
  margin-top: 10px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #b8cfe2;
  border-color: #3361a8;
}

.btn-success {
  color: #fff !important;
  background-color: #f38f1b !important;
  border: 1px solid #f38f1b !important;
  font-weight: normal !important;
  margin-right:0px;
}

.share-buttons .social-icon.s32 {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.tparrows.preview1:hover:after {
  background: rgba(51, 97, 168, 0.15);
  color: #ffd644;
}

.tp-bullets.preview1 .bullet:hover, .tp-bullets.preview1 .bullet.selected {
  border: 8px solid #3361a8 !important;
}

#menu-categorie li {
  list-style: none;
}

div.column_1, div.column_2, div.column_3 {
  padding-right: 15px;
  width: 20%;
}

.caption_column {
  text-align: right;
  color: gray !important;
  width: 25% !important;
  padding-right: 10px !important;
}

div.column_1 li {
  border-left: 3px solid #29508c !important;
  border-right: 3px solid #29508c !important;
}

div.column_2 li {
  border-left: 3px solid #F8B14F !important;
  border-right: 3px solid #F8B14F !important;
}

div.column_3 li {
  border-left: 3px solid #3768B3 !important;
  border-right: 3px solid #3768B3 !important;
}

.header_row_2 {
  display: none;
}

div.p_table_1_13 div.column_1 li.header_row_1 {
  background: #29508c !important;
  border-bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

div.p_table_1_13 div.column_2 li.header_row_1 {
  background: #F8B14F !important;
  border-bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

div.p_table_1_13 div.column_3 li.header_row_1 {
  background: #3768B3 !important;
  border-bottom: 0;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

div.p_table_1_13 div.column_1 li.header_row_1, div.p_table_1_13 div.column_2 li.header_row_1, div.p_table_1_13 div.column_3 li.header_row_1:hover {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

#Table_t1_s1 {
  text-align: center;
  padding-top: 20px;
}

div.p_table_1 li.row_style_3 {
  background: #EBF0F7 !important;
}

div.p_table_1_13 div.column_1 li.footer_row {
  background: #29508C !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  font-family: 'Yanone Kaffeesatz', arial, sans-serif !important;
  font-size: 30px !important;
  color: #fff !important;
}

div.p_table_1_13 div.column_2 li.footer_row {
  background: #F8B14F !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  font-family: 'Yanone Kaffeesatz', arial, sans-serif !important;
  font-size: 30px !important;
  color: #fff !important;
}

div.p_table_1_13 div.column_3 li.footer_row {
  background: #3768B3 !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  font-family: 'Yanone Kaffeesatz', arial, sans-serif !important;
  font-size: 30px !important;
  color: #fff !important;
}

div.p_table_1 div.column_3 li.row_style_4 {
  background: #FFF0DA !important;
}

div.p_table_1 a {
  color: #FFFFFF !important;
}

div.p_table_1 div.caption_column li {
  border-top: 1px solid !important;
  background: #fff !important;
  padding: 8.5px !important;
}

div.p_table_1 div.caption_column li.header_row_1, div.p_table_1 div.caption_column li.footer_row {
  border-top: 0 !important;
}

div.p_table_1 div.column_2 li.row_style_4 {
  background: #FFF3E2 !important;
}

div.p_table_1 div.column_2 li.row_style_2 {
  background: #FFF !important;
}

div.p_table_1 h3 {
  font-size: 16px !important;
  font-weight: bold !important;
  color: gray !important;
}

div.p_table_1 div.column_1 button {
  background: #29508C !important;
  border: 0;
}

div.p_table_1 div.column_2 button {
  background: #F8B14F !important;
  border: 0;
}

div.p_table_1 div.column_3 button {
  background: #3768B3 !important;
  border: 0;
}
.dateff{
background-image:url(../images/cal.png) !important;
background-repeat:no-repeat !important;
background-position:right !important;
}
.dateffb{
background-image:url(../images/cal2.png) !important;
background-repeat:no-repeat !important;
background-position:right !important;
}

.styled-select select{
 -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
background: #f3f4f4 url(../images/felechselect.png) right no-repeat !important;
border:transparent;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
height: 26px !important;
color:#4d4d4f !important;
font-family:Muli !important;
font-size:11px;
}
input[type="text"]{
width:95% !important;
}
#select-enf select{
width:60px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
}
#lien-plus-index a{
color:#fff;
background:#f5871c;
padding:5px 13px;
font-family:'helveReg';
font-size:13px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
  position: absolute;
  bottom: -53px;
}
.rech{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f26409+0,fac042+13,fad351+19,fac042+24,f79120+42,f3690a+100 */
background: #fff; /* Old browsers */
padding-top:8px;
padding-bottom:8px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius:15px;
margin-top: -50px;
}
.haut-hi{
background:#e0dfdf url(../images/haut-hi.png) no-repeat center;
height:33px;
}
.bas-hi{
background:#e0dfdf url(../images/bas-hi.png) no-repeat center;
height:33px;
}
.center-hi{
background:#e0dfdf;
}
#tite-index{
font-family:'open';
font-size:40px;
color:#4d4d4f;
text-align:center;
}
#tite-index2{
font-family:'open';
font-size:18px;
margin-top: -12px;
color:#4d4d4f;
text-align:center;
}
.height-titre{
height:40px;
}
.lien-tous{
color:#fff !important;
font-family:'open';
font-size:25px;
background:#f08e2e;
display:block;
width:100%;
padding:10px;
}
.margv{
margin-right: 7px;
}
.margh{
margin-right: -7px;
}
.lien-ajout{
font-family:Muli; 
font-size:11px; 
color:#4d4d4f;
}

@media (max-width: 1199px) and (min-width: 993px) {
.border-croisiere, .border-billeterie, .border-outgoing, .border-omra, .border-hotel, .border-circuit{
  margin-right: 6px !important;
  padding-right: 4px !important;
}
.lien-haut a{
font-size:12px;
}
.lien-ajout{
font-size:10px; 
}
}
@media (max-width: 992px) {
.border-croisiere, .border-billeterie, .border-outgoing, .border-omra, .border-hotel, .border-circuit{
  margin-right: 10px !important;
  padding-right: 13px !important;
}
.menisss{width:100% !important; text-align:left;}
.lien-ajout{
font-size:10px; 
}
ul.dropdown-menu li > a{font-size:12px !important;}
}
.paddetoile{padding-left:38%;}
.etoiii{
width: 80px; 
float:left;
margin-top: 15px;
}
.imgett{
width:13px !important; 
height:13px !important;
margin-right:2px;
}
.logo-slick{
font-family:openB;
padding-top:12px;
text-align: center;
}
.titre-logo1{
font-size:26.4px;
}
.titre-logo2{
font-size:13px;
color:#f38f1b;
}




.tooltip3
{
  position: relative;
  cursor: help;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltip3 span
{
  visibility: hidden;
  position: absolute; 
  bottom: 0px;
  right: 0;
  z-index: 999;
  width: 40%;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  font-size:12px;
}

.tooltip3:hover
{
  border: 0; /* IE6 fix */
}

.tooltip3:hover span
{
  visibility: visible;
}

.tooltip3 span:before,
.tooltip3 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip3 span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}



.tooltip4
{
  position: relative;
  cursor: help;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltip4 span
{
  visibility: hidden;
  position: absolute; 
  bottom: 0px;
  left: 50%;
  z-index: 999;
  width: 32%;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  font-size:12px;
}

.tooltip4:hover
{
  border: 0; /* IE6 fix */
}

.tooltip4:hover span
{
  visibility: visible;
}

.tooltip4 span:before,
.tooltip4 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip4 span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}




.tooltip1
{
  position: relative;
  cursor: help;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltip1 span
{
  visibility: hidden;
  position: absolute; 
  top: 18px;
  left: 50%;
  z-index: 999;
  width: 32%;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  font-size:12px;
}

.tooltip1:hover
{
  border: 0; /* IE6 fix */
}

.tooltip1:hover span
{
  visibility: visible;
}

.tooltip1 span:before,
.tooltip1 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 55px;
  left: 50%;
  margin-left: -8px;  
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 8px solid #ddd;  
}
.tooltip1 .span-select{
width:155%;
left: 100%;
right:none;
}
.tooltip1 span:before
{
  border-top-color: #ccc;
  bottom: 55px;
}




.tooltip2
{
  position: relative;
  cursor: help;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltip2 span
{
  visibility: hidden;
  position: absolute; 
  bottom: 22px;
  right: 50%;
  z-index: 999;
  width: 80%;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  font-size:12px;
}
.tooltip2 .span2222{
width:60%;
left: 50%;
right:none;
}
.tooltip2 .span-select{
width:150%;
left: 100%;
right:none;
}
.tooltip2 .span-select2{
width:200%;
left: 100%;
right:none;
}
.tooltip2 .span-select3{
width:240%;
right: -62%;
}
.tooltip2 .span-select4{
width:250%;
left: 170%;
}
.tooltip2 .span-inscription{
width:90%;
left: 100%;
right:none;
}
.tooltip2 .span-sejour{
width: 140px;
right: -70px;
}

.tooltip2:hover
{
  border: 0; /* IE6 fix */
}

.tooltip2:hover span
{
  visibility: visible;
}

.tooltip2 span:before,
.tooltip2 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip2 span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}



.blue-tooltip span 
{
  border-color: #2487e3 ;
  background-color: #0c5aa3;
}

.blue-tooltip span:after
{ 
  border-top-color: #0c5aa3;
}

.blue-tooltip span:before
{
  border-top-color: #2487e3 ;
}



.orange-tooltip span 
{
  border-color: #edaf67;
  background-color: #f38f1b;
}

.orange-tooltip span:after
{ 
  border-top-color: #f38f1b;
}

.orange-tooltip span:before
{
  border-top-color: #edaf67;
}


.titre-date-sejour{
font-family: 'openB';
font-size:17px;
padding-left:0px;
color:#416cad;
}
.table-date{
font-family: 'openB';
font-size:14px;
color:#333;
text-align:center;
margin-top:10px;
background: #e2f1ff;
border:1px solid #ccc;
}
.titre-date{
border-right:1px solid #ccc;
padding:6px;
width: 16.66666667%;
float: left;
}
.colorback1{
background:#fff;
padding:8px;
font-family: 'open';
text-align:center;
font-size:15px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}
.colorback2{
background:#f6f6f6;
padding:8px;
font-family: 'open';
text-align:center;
font-size:15px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}
.colorback3{
background:#f38f1b;
padding:8px;
font-family: 'open';
text-align:center;
font-size:15px;
margin-bottom:5px;
border: 1px solid #ccc;color:#fff;
}
.colorback4{
background:#2487e3;
padding:8px;
font-family: 'open';
text-align:center;
font-size:15px;
color:#fff;
border: 1px solid #ccc;
}
.note{
font-family: 'openB';
font-size:15px;
padding-left:0px;
color:#cc0000;
}
.titre-dateee{
font-family:'openB';
font-size:14px;
margin-top:5px;
}
 #back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    line-height: 1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	background-image:url(../images/fleche-haut2.png);
    background-position: 12px 16px;
    background-repeat: no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.div2 input, .div2 textarea, .div2 select{
width:99% !important; 
}
.img-hotel{
width:100% !important;
height:88px !important;
}
.img-hotel-select{
width:100% !important;
height:120px !important;
}
@media (min-width: 1281px) {
  #page-footer{
  width:100%;
  bottom:0;
  }
}
.contenue-date{
width:16.66666667%; 
float:left;
padding: 6px;
}
@media (max-width: 400px) {

input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], textarea, select, input[type="date"], input[type="email"]{
  width:99% !important;
}
.titre-date,.contenue-date{
font-size:11px !important;
padding: 0px;
}
}