{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}

{% block body %}
    <div class="container">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a>Contact</a></li>

            <li><a class="active">Formulaire de Contact</a></li>
        </ul>
       {% for flashMessage in app.session.flashbag.get('noticcontact') %}
        <br/>
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
             Votre message a bien été envoyé. Merci.
        </div>
     {% endfor %}
	 </div>
	</div>
	<div class="container">
	 <div class="col-sm-12">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.1709931346845!2d-8.005618884846724!3d31.629168281333754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa392a58e672ca428!2sFIRST+CLASS+TRAVEL!5e0!3m2!1sfr!2s!4v1449766089609" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>	  <div class="col-sm-4" style="padding-left:0px;">
	   <div class="col-sm-12" style="background: #fff; padding:8px 15px 8px 19px; min-height: 397px;">  
	    <div style="color:#2487e3; margin-bottom:15px;    margin-top: 5px;">
	     Informations sur First Class Travel <a id="surdemande"></a>  
	    </div>
	    <div class="col-sm-2">
		 <img src="{{ asset('front/images/adr-cont.png') }}" />
		</div>   
	    <div class="col-sm-10">
		 <strong style="color:#2487e3;">Adresse</strong><br>
         <p style="font-size:11px;"> Angle Bd. Mohamed V et Av. Hassen I Bloc B - Imm. SIBAM2 40020 - Marrakech </p>
		</div>
		<div class="col-sm-12" style="border-bottom:1px solid #ccc; margin-bottom:10px;"></div>
	   
	    <div class="col-sm-2">
		 <img src="{{ asset('front/images/tel-cont.png') }}" />
		</div>   
	    <div class="col-sm-10">
		 <strong style="color:#2487e3;">Télèphone/GSM</strong><br>
         <p style="font-size:11px;">
		  Tel: (+212) 05 24 43 03 31/29<br>
		  Fax: (+212) 05 24 43 02 84
		 </p>
		</div>
		<div class="col-sm-12" style="border-bottom:1px solid #ccc; margin-bottom:10px;"></div>
	   
	    <div class="col-sm-2">
		 <img src="{{ asset('front/images/mail-cont.png') }}" />
		</div>   
	    <div class="col-sm-10">
		 <strong style="color:#2487e3;">E-mail</strong><br>
         <p style="font-size:11px;">
		  infos.firstclass@gmail.com
		  <!--shamid-fct@menara.ma<br>
		  bnora-fct@menara.ma
		   hmahi-fct@menara.ma -->
		 </p>
		</div>
		<div class="col-sm-12" style="border-bottom:1px solid #ccc; margin-bottom:10px;"></div>
	   
	    <div class="col-sm-2">
		 <img src="{{ asset('front/images/horaire-cont.png') }}" />
		</div>   
	    <div class="col-sm-10">
		 <strong style="color:#2487e3;">Horaires</strong><br>
         <p style="font-size:11px;">
		  Été du 8h30 jusqu'à 16h00<br>
		  Hiver du 8h30 jusqu'à 18h30
		 </p>
		</div>
		<div class="col-sm-12" style="border-bottom:1px solid #ccc; margin-bottom:10px;"></div>		
		<div class="col-sm-12">
				 <a href="skype:firstclass.maroc" target="_new" class="sk-f tooltip3">
				  <span style="width: 105px; margin-left:-50px !important;">firstclass.maroc</span>
				 </a>
		         <a href="https://plus.google.com/u/0/114808616544091998386/posts" target="_new" class="go-f tooltip3">
				  <span style="width: 79px; margin-left:-38px !important;">GooglePlus</span>
				 </a>
		         <a href="https://www.facebook.com/First-class-travel-international-1223948980971278/?skip_nax_wizard=true" target="_new" class="fb-f tooltip3">
				  <span style="width: 104px; margin-left:-49px !important;">FirstClassTravel</span>
				 </a>
		         <a href="https://www.youtube.com/channel/UCITHbLpetOfhpDcM_xXz3CQ" target="_new" class="yo-f tooltip3">
				  <span style="width: 63px; margin-left:-29px !important;">Youtube</span>
				 </a>
		</div>
		
	   </div>
	  </div>
	  
	  <div class="col-sm-8" style="padding:0px;">
	   <div class="col-sm-12" style="background: #fff; padding:8px 15px 8px 19px; min-height: 412px;">
	    <div style="color:#2487e3; margin-bottom:5px;    margin-top: 5px;">
	     <!--Exprimez-vous ci-dessous, des experts First Class Travel vous répondront personnellement-->
         Exprimez-vous ci-dessous
		 <a id="surdemande"></a>  
	    </div>
		<form method="post" action="{{ path('front_contacts_homepage') }}">
		  <div class="row-fluid">
                                <div style="line-height: 33px;">
                                    <div class="col-sm-6" style="padding:0px;">
										<label for="nom" class="required">Nom & prénom  *</label>
										<input type="text" id="nom" pattern="[a-zA-Z ]+" name="nom" required="required" class="inputcont input-cont">
									</div>									
									<div class="col-sm-6" style="padding:0px;">
										<label for="tel" class="required">Tél  *</label>
										<input type="number" style="width:98.5% !important;" pattern="[0-9 ]+" min="10"  id="tel" name="tel" required class="inputcont  input-cont">
									</div>
									<div class="col-sm-6" style="padding:0px;">
										<label for="Email" class="required">E-mail *</label>
										<input type="email" name="email" required="required" class="inputcont  input-cont">
									</div>
									<div  class="col-sm-6" style="padding:0px;">									
										<label for="Sujet" class="required">Sujet *</label>
										<input type="text" style="width:98.5% !important;" id="Sujet" name="sujet" required="required" class="inputcont  input-cont">
									</div>
									<div style="clear:both;"></div>
									<div>
										<label for="Message" class="required">Message *</label>
										<textarea id="Message" required="required" style="height:99px;"  name="Message" type="text" class="inputcont2  input-cont" id="body"></textarea>
									</div>
                                </div>
								<br>
                               <div class="span12">
										<div class="span10"></div>
										<div class="span2">
										 <input type="submit" style="width:99%; border:none !important; -webkit-border-radius: 8px !important; -moz-border-radius: 8px !important; " value="ENVOYER VOTRE MESSAGE" class="btn btn-primary">
										</div>
                               </div>
                               <div class="span12" style="margin-top:15px;">
							    * Champs obligatoire
							   </div>
                            </div>
		 </form>
	   </div>
	  </div>
	
	</div>
 </div>
<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}