{% extends "manager.html.twig" %}
{% block title %}Détails de la Transfert{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('transfert') }}">Etat de Transfert</a></li>

            <li><span>Détails de la Transfert</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la Transfert </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Transfert</p>


                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entity.agent.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Client
                                                :</strong>  {{ entity.client.name ~' '~ entity.client.pname }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Ville de départ :</strong>{{ entity.villed }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date de départ
                                                :</strong> {{ entity.dated|date('d/m/Y') }}  {{ entity.heurd }}</label>
                                    </div>
                                    <div class="formSep"><label> <strong> Ville d'arrivée :</strong>{{ entity.villea }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Date d'arrivée
                                                :</strong> {{ entity.datea|date('d/m/Y') }}  {{ entity.heura }}</label>
                                    </div>

                                    <div class="formSep"><label> <strong>  Veuillez préciser le point de départ et d'arrivée:</strong>{{ entity.pointd }}
                                        </label></div>

                                    <div class="formSep"><label> <strong>  organisme :</strong>{{ entity.organisme }}
                                        </label></div>

                                </div>
                                 <div class="span12"></div>

                                <div class="span11">
                                    <p class="heading_a">Détail Transfert </p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Catégories</th>
                                            <th>Nombres</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cat in entity.categories %}

                                        <tr>
                                  <td>{{ cat.categories }}</td>
                                  <td>{{ cat.nbr }}</td>

                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        $("#addcomment").click(function (e) {
            e.preventDefault();

        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}