[class^="splashy-"],[class*=" splashy-"] {margin-top:0;position:relative;display: inline-block;width: 16px;height: 16px;line-height: 16px;vertical-align: text-top;background-image: url("splashy.png");background-repeat: no-repeat;*margin-right: .3em}
[class^="splashy-"]:last-child,[class*=" splashy-"]:last-child {*margin-left: 0 }
.splashy-add{ background-position: 0 0} 
.splashy-add_outline{ background-position: 0 -21px} 
.splashy-add_small{ background-position: 0 -42px} 
.splashy-application_windows{ background-position: 0 -63px} 
.splashy-application_windows_add{ background-position: 0 -84px} 
.splashy-application_windows_down{ background-position: 0 -105px} 
.splashy-application_windows_edit{ background-position: 0 -126px; width: 16px; height: 14px; } 
.splashy-application_windows_locked{ background-position: 0 -145px} 
.splashy-application_windows_new{ background-position: 0 -166px} 
.splashy-application_windows_okay{ background-position: 0 -187px} 
.splashy-application_windows_remove{ background-position: 0 -208px} 
.splashy-application_windows_share{ background-position: 0 -229px} 
.splashy-application_windows_up{ background-position: 0 -250px} 
.splashy-application_windows_warning{ background-position: 0 -271px} 
.splashy-applications_windows{ background-position: 0 -292px} 
.splashy-arrow_large_down{ background-position: 0 -313px} 
.splashy-arrow_large_down_outline{ background-position: 0 -334px} 
.splashy-arrow_large_left{ background-position: 0 -355px} 
.splashy-arrow_large_left_outline{ background-position: 0 -376px} 
.splashy-arrow_large_right{ background-position: 0 -397px} 
.splashy-arrow_large_right_outline{ background-position: 0 -418px} 
.splashy-arrow_large_up{ background-position: 0 -439px} 
.splashy-arrow_large_up_outline{ background-position: 0 -460px} 
.splashy-arrow_medium_down{ background-position: 0 -481px} 
.splashy-arrow_medium_left{ background-position: 0 -502px} 
.splashy-arrow_medium_lower_left{ background-position: 0 -523px} 
.splashy-arrow_medium_lower_right{ background-position: 0 -544px} 
.splashy-arrow_medium_right{ background-position: 0 -565px} 
.splashy-arrow_medium_up{ background-position: 0 -586px} 
.splashy-arrow_medium_upper_left{ background-position: 0 -607px} 
.splashy-arrow_medium_upper_right{ background-position: 0 -628px} 
.splashy-arrow_small_down{ background-position: 0 -649px} 
.splashy-arrow_small_left{ background-position: 0 -670px} 
.splashy-arrow_small_right{ background-position: 0 -691px} 
.splashy-arrow_small_up{ background-position: 0 -712px} 
.splashy-arrow_state_blue_collapsed{ background-position: 0 -733px} 
.splashy-arrow_state_blue_expanded{ background-position: 0 -754px} 
.splashy-arrow_state_blue_left{ background-position: 0 -775px} 
.splashy-arrow_state_blue_right{ background-position: 0 -796px} 
.splashy-arrow_state_grey_collapsed{ background-position: 0 -817px} 
.splashy-arrow_state_grey_expanded{ background-position: 0 -838px} 
.splashy-arrow_state_grey_left{ background-position: 0 -859px} 
.splashy-arrow_state_grey_right{ background-position: 0 -880px} 
.splashy-box{ background-position: 0 -901px} 
.splashy-box_add{ background-position: 0 -922px} 
.splashy-box_edit{ background-position: 0 -943px; width: 15px; height: 16px; } 
.splashy-box_locked{ background-position: 0 -964px} 
.splashy-box_new{ background-position: 0 -985px} 
.splashy-box_okay{ background-position: 0 -1006px} 
.splashy-box_remove{ background-position: 0 -1027px} 
.splashy-box_share{ background-position: 0 -1048px} 
.splashy-box_warning{ background-position: 0 -1069px} 
.splashy-breadcrumb_separator_arrow_1_dot{ background-position: 0 -1090px} 
.splashy-breadcrumb_separator_arrow_2_dots{ background-position: 0 -1111px} 
.splashy-breadcrumb_separator_arrow_full{ background-position: 0 -1132px} 
.splashy-breadcrumb_separator_dark{ background-position: 0 -1153px} 
.splashy-breadcrumb_separator_light{ background-position: 0 -1174px} 
.splashy-bullet_blue{ background-position: 0 -1195px} 
.splashy-bullet_blue_arrow{ background-position: 0 -1216px} 
.splashy-bullet_blue_collapse{ background-position: 0 -1237px} 
.splashy-bullet_blue_collapse_small{ background-position: 0 -1258px} 
.splashy-bullet_blue_expand{ background-position: 0 -1279px} 
.splashy-bullet_blue_expand_small{ background-position: 0 -1300px} 
.splashy-bullet_blue_small{ background-position: 0 -1321px} 
.splashy-calendar_day{ background-position: 0 -1342px} 
.splashy-calendar_day_add{ background-position: 0 -1363px} 
.splashy-calendar_day_down{ background-position: 0 -1384px} 
.splashy-calendar_day_edit{ background-position: 0 -1405px; width: 16px; height: 14px; } 
.splashy-calendar_day_event{ background-position: 0 -1424px} 
.splashy-calendar_day_new{ background-position: 0 -1445px} 
.splashy-calendar_day_remove{ background-position: 0 -1466px} 
.splashy-calendar_day_up{ background-position: 0 -1487px} 
.splashy-calendar_month{ background-position: 0 -1508px} 
.splashy-calendar_month_add{ background-position: 0 -1529px} 
.splashy-calendar_month_down{ background-position: 0 -1550px} 
.splashy-calendar_month_edit{ background-position: 0 -1571px; width: 16px; height: 14px; } 
.splashy-calendar_month_new{ background-position: 0 -1590px} 
.splashy-calendar_month_remove{ background-position: 0 -1611px} 
.splashy-calendar_month_up{ background-position: 0 -1632px} 
.splashy-calendar_week{ background-position: 0 -1653px} 
.splashy-calendar_week_add{ background-position: 0 -1674px} 
.splashy-calendar_week_edit{ background-position: 0 -1695px; width: 16px; height: 14px; } 
.splashy-calendar_week_remove{ background-position: 0 -1714px} 
.splashy-cellphone{ background-position: 0 -1735px} 
.splashy-check{ background-position: 0 -1756px} 
.splashy-close{ background-position: 0 -1777px} 
.splashy-comment{ background-position: 0 -1798px} 
.splashy-comment_alert{ background-position: 0 -1819px} 
.splashy-comment_new_1{ background-position: 0 -1840px} 
.splashy-comment_new_2{ background-position: 0 -1861px} 
.splashy-comment_question{ background-position: 0 -1882px} 
.splashy-comment_reply{ background-position: 0 -1903px} 
.splashy-comments{ background-position: 0 -1924px} 
.splashy-comments_reply{ background-position: 0 -1945px} 
.splashy-comments_small{ background-position: 0 -1966px} 
.splashy-contact_blue{ background-position: 0 -1987px} 
.splashy-contact_blue_add{ background-position: -21px 0} 
.splashy-contact_blue_edit{ background-position: -21px -21px; width: 14px; height: 16px; } 
.splashy-contact_blue_new{ background-position: -21px -42px} 
.splashy-contact_blue_remove{ background-position: -21px -63px} 
.splashy-contact_grey{ background-position: -21px -84px} 
.splashy-contact_grey_add{ background-position: -21px -105px} 
.splashy-contact_grey_edit{ background-position: -21px -126px; width: 14px; height: 16px; } 
.splashy-contact_grey_new{ background-position: -21px -147px} 
.splashy-contact_grey_remove{ background-position: -21px -168px} 
.splashy-diamonds_1{ background-position: -21px -189px} 
.splashy-diamonds_2{ background-position: -21px -210px} 
.splashy-diamonds_3{ background-position: -21px -231px} 
.splashy-diamonds_4{ background-position: -21px -252px} 
.splashy-document_a4{ background-position: -21px -273px} 
.splashy-document_a4_add{ background-position: -21px -294px} 
.splashy-document_a4_blank{ background-position: -21px -315px} 
.splashy-document_a4_download{ background-position: -21px -336px} 
.splashy-document_a4_edit{ background-position: -21px -357px; width: 13px; height: 16px; } 
.splashy-document_a4_locked{ background-position: -21px -378px} 
.splashy-document_a4_marked{ background-position: -21px -399px} 
.splashy-document_a4_new{ background-position: -21px -420px} 
.splashy-document_a4_okay{ background-position: -21px -441px} 
.splashy-document_a4_remove{ background-position: -21px -462px} 
.splashy-document_a4_share{ background-position: -21px -483px} 
.splashy-document_a4_upload{ background-position: -21px -504px} 
.splashy-document_a4_warning{ background-position: -21px -525px} 
.splashy-document_copy{ background-position: -21px -546px} 
.splashy-document_letter{ background-position: -21px -567px} 
.splashy-document_letter_add{ background-position: -21px -588px} 
.splashy-document_letter_blank{ background-position: -21px -609px} 
.splashy-document_letter_download{ background-position: -21px -630px} 
.splashy-document_letter_edit{ background-position: -21px -651px; width: 14px; height: 16px; } 
.splashy-document_letter_locked{ background-position: -21px -672px} 
.splashy-document_letter_marked{ background-position: -21px -693px} 
.splashy-document_letter_new{ background-position: -21px -714px} 
.splashy-document_letter_okay{ background-position: -21px -735px} 
.splashy-document_letter_remove{ background-position: -21px -756px} 
.splashy-document_letter_share{ background-position: -21px -777px} 
.splashy-document_letter_upload{ background-position: -21px -798px} 
.splashy-document_letter_warning{ background-position: -21px -819px} 
.splashy-document_small{ background-position: -21px -839px} 
.splashy-document_small_download{ background-position: -21px -861px} 
.splashy-document_small_upload{ background-position: -21px -882px} 
.splashy-documents{ background-position: -21px -903px} 
.splashy-documents_add{ background-position: -21px -924px} 
.splashy-documents_edit{ background-position: -21px -945px; width: 14px; height: 16px; } 
.splashy-documents_locked{ background-position: -21px -966px} 
.splashy-documents_new{ background-position: -21px -987px} 
.splashy-documents_okay{ background-position: -21px -1008px} 
.splashy-documents_remove{ background-position: -21px -1029px} 
.splashy-documents_share{ background-position: -21px -1050px} 
.splashy-documents_warning{ background-position: -21px -1071px} 
.splashy-download{ background-position: -21px -1092px} 
.splashy-error{ background-position: -21px -1113px} 
.splashy-error_do_not{ background-position: -21px -1134px} 
.splashy-error_do_not_small{ background-position: -21px -1155px} 
.splashy-error_small{ background-position: -21px -1176px} 
.splashy-error_x{ background-position: -21px -1197px} 
.splashy-fish{ background-position: -21px -1218px} 
.splashy-folder_classic{ background-position: -21px -1239px} 
.splashy-folder_classic_add{ background-position: -21px -1260px} 
.splashy-folder_classic_add_simple{ background-position: -21px -1281px} 
.splashy-folder_classic_down{ background-position: -21px -1302px} 
.splashy-folder_classic_edit{ background-position: -21px -1323px; width: 15px; height: 13px; } 
.splashy-folder_classic_locked{ background-position: -21px -1341px} 
.splashy-folder_classic_opened{ background-position: -21px -1362px} 
.splashy-folder_classic_opened_stuffed{ background-position: -21px -1383px} 
.splashy-folder_classic_remove{ background-position: -21px -1404px} 
.splashy-folder_classic_remove_simple{ background-position: -21px -1425px} 
.splashy-folder_classic_stuffed{ background-position: -21px -1446px} 
.splashy-folder_classic_stuffed_add{ background-position: -21px -1467px} 
.splashy-folder_classic_stuffed_add_simple{ background-position: -21px -1488px} 
.splashy-folder_classic_stuffed_edit{ background-position: -21px -1507px; width: 15px; height: 15px; } 
.splashy-folder_classic_stuffed_locked{ background-position: -21px -1527px} 
.splashy-folder_classic_stuffed_remove{ background-position: -21px -1548px} 
.splashy-folder_classic_stuffed_remove_simple{ background-position: -21px -1569px} 
.splashy-folder_classic_type_document{ background-position: -21px -1590px} 
.splashy-folder_classic_type_image{ background-position: -21px -1611px} 
.splashy-folder_classic_type_music{ background-position: -21px -1632px} 
.splashy-folder_classic_up{ background-position: -21px -1653px} 
.splashy-folder_locked{ background-position: -21px -1674px} 
.splashy-folder_modernist{ background-position: -21px -1695px} 
.splashy-folder_modernist_add{ background-position: -21px -1716px} 
.splashy-folder_modernist_add_simple{ background-position: -21px -1737px} 
.splashy-folder_modernist_down{ background-position: -21px -1758px} 
.splashy-folder_modernist_edit{ background-position: -21px -1777px; width: 15px; height: 15px; } 
.splashy-folder_modernist_locked{ background-position: -21px -1797px} 
.splashy-folder_modernist_opened{ background-position: -21px -1818px} 
.splashy-folder_modernist_opened_stuffed{ background-position: -21px -1839px} 
.splashy-folder_modernist_remove{ background-position: -21px -1860px} 
.splashy-folder_modernist_remove_simple{ background-position: -21px -1881px} 
.splashy-folder_modernist_stuffed{ background-position: -21px -1902px} 
.splashy-folder_modernist_stuffed_add{ background-position: -21px -1923px} 
.splashy-folder_modernist_stuffed_add_simple{ background-position: -21px -1944px} 
.splashy-folder_modernist_stuffed_edit{ background-position: -21px -1963px; width: 15px; height: 15px; } 
.splashy-folder_modernist_stuffed_locked{ background-position: -21px -1983px} 
.splashy-folder_modernist_stuffed_remove{ background-position: -42px 0} 
.splashy-folder_modernist_stuffed_remove_simple{ background-position: -42px -21px} 
.splashy-folder_modernist_type_document{ background-position: -42px -42px} 
.splashy-folder_modernist_type_image{ background-position: -42px -63px} 
.splashy-folder_modernist_type_movie{ background-position: -42px -84px} 
.splashy-folder_modernist_type_music{ background-position: -42px -105px} 
.splashy-folder_modernist_up{ background-position: -42px -126px} 
.splashy-folder_remove{ background-position: -42px -147px} 
.splashy-folder_stuffed{ background-position: -42px -168px} 
.splashy-folder_stuffed_add{ background-position: -42px -189px} 
.splashy-folder_stuffed_locked{ background-position: -42px -210px} 
.splashy-folder_stuffed_remove{ background-position: -42px -231px} 
.splashy-gem_cancel_1{ background-position: -42px -252px} 
.splashy-gem_cancel_2{ background-position: -42px -273px} 
.splashy-gem_okay{ background-position: -42px -294px} 
.splashy-gem_options{ background-position: -42px -315px} 
.splashy-gem_remove{ background-position: -42px -336px} 
.splashy-group_blue{ background-position: -42px -357px} 
.splashy-group_blue_add{ background-position: -42px -378px} 
.splashy-group_blue_edit{ background-position: -42px -399px} 
.splashy-group_blue_new{ background-position: -42px -420px} 
.splashy-group_blue_remove{ background-position: -42px -441px} 
.splashy-group_green{ background-position: -42px -462px} 
.splashy-group_green_add{ background-position: -42px -483px} 
.splashy-group_green_edit{ background-position: -42px -504px} 
.splashy-group_green_new{ background-position: -42px -525px} 
.splashy-group_green_remove{ background-position: -42px -546px} 
.splashy-group_grey{ background-position: -42px -567px} 
.splashy-group_grey_add{ background-position: -42px -588px} 
.splashy-group_grey_edit{ background-position: -42px -609px} 
.splashy-group_grey_new{ background-position: -42px -630px} 
.splashy-group_grey_remove{ background-position: -42px -651px} 
.splashy-hcard{ background-position: -42px -672px} 
.splashy-hcard_add{ background-position: -42px -693px} 
.splashy-hcard_download{ background-position: -42px -714px} 
.splashy-hcard_edit{ background-position: -42px -733px; width: 16px; height: 15px; } 
.splashy-hcard_new{ background-position: -42px -753px} 
.splashy-hcard_remove{ background-position: -42px -774px} 
.splashy-hcard_up{ background-position: -42px -795px} 
.splashy-hcards{ background-position: -42px -816px} 
.splashy-hcards_add{ background-position: -42px -837px} 
.splashy-hcards_down{ background-position: -42px -858px} 
.splashy-hcards_edit{ background-position: -42px -879px; width: 16px; height: 14px; } 
.splashy-hcards_remove{ background-position: -42px -898px} 
.splashy-hcards_up{ background-position: -42px -919px} 
.splashy-heart{ background-position: -42px -940px} 
.splashy-heart_add{ background-position: -42px -961px} 
.splashy-heart_edit{ background-position: -42px -979px; width: 15px; height: 15px; } 
.splashy-heart_outline{ background-position: -42px -999px} 
.splashy-heart_remove{ background-position: -42px -1020px} 
.splashy-heart_up{ background-position: -42px -1041px} 
.splashy-help{ background-position: -42px -1062px} 
.splashy-home_green{ background-position: -42px -1083px} 
.splashy-home_grey{ background-position: -42px -1104px} 
.splashy-image_cultured{ background-position: -42px -1125px} 
.splashy-image_modernist{ background-position: -42px -1146px} 
.splashy-information{ background-position: -42px -1167px} 
.splashy-lock_large_locked{ background-position: -42px -1188px} 
.splashy-lock_large_unlocked{ background-position: -42px -1209px} 
.splashy-lock_small_locked{ background-position: -42px -1230px} 
.splashy-lock_small_unlocked{ background-position: -42px -1251px} 
.splashy-mail_light{ background-position: -42px -1272px} 
.splashy-mail_light_down{ background-position: -42px -1293px} 
.splashy-mail_light_left{ background-position: -42px -1314px} 
.splashy-mail_light_new_1{ background-position: -42px -1335px} 
.splashy-mail_light_new_2{ background-position: -42px -1356px} 
.splashy-mail_light_right{ background-position: -42px -1377px} 
.splashy-mail_light_stuffed{ background-position: -42px -1398px} 
.splashy-mail_light_up{ background-position: -42px -1419px} 
.splashy-map{ background-position: -42px -1440px} 
.splashy-marker_rounded_add{ background-position: -42px -1461px} 
.splashy-marker_rounded_blue{ background-position: -42px -1482px} 
.splashy-marker_rounded_edit{ background-position: -42px -1503px; width: 13px; height: 16px; } 
.splashy-marker_rounded_green{ background-position: -42px -1524px} 
.splashy-marker_rounded_grey_1{ background-position: -42px -1545px} 
.splashy-marker_rounded_grey_2{ background-position: -42px -1566px} 
.splashy-marker_rounded_grey_3{ background-position: -42px -1587px} 
.splashy-marker_rounded_grey_4{ background-position: -42px -1608px} 
.splashy-marker_rounded_grey_5{ background-position: -42px -1629px} 
.splashy-marker_rounded_light_blue{ background-position: -42px -1650px} 
.splashy-marker_rounded_new{ background-position: -42px -1671px} 
.splashy-marker_rounded_red{ background-position: -42px -1692px} 
.splashy-marker_rounded_remove{ background-position: -42px -1713px} 
.splashy-marker_rounded_violet{ background-position: -42px -1734px} 
.splashy-marker_rounded_yellow{ background-position: -42px -1755px} 
.splashy-marker_rounded_yellow_green{ background-position: -42px -1776px} 
.splashy-marker_rounded_yellow_orange{ background-position: -42px -1797px} 
.splashy-media_controls_dark_first{ background-position: -42px -1818px} 
.splashy-media_controls_dark_forward{ background-position: -42px -1839px} 
.splashy-media_controls_dark_last{ background-position: -42px -1860px} 
.splashy-media_controls_dark_pause{ background-position: -42px -1881px} 
.splashy-media_controls_dark_play{ background-position: -42px -1902px} 
.splashy-media_controls_dark_rewind{ background-position: -42px -1923px} 
.splashy-media_controls_dark_stop{ background-position: -42px -1944px} 
.splashy-media_controls_first_small{ background-position: -42px -1965px} 
.splashy-media_controls_forward_small{ background-position: -42px -1986px} 
.splashy-media_controls_last_small{ background-position: -63px 0} 
.splashy-media_controls_pause_small{ background-position: -63px -21px} 
.splashy-media_controls_play_small{ background-position: -63px -42px} 
.splashy-media_controls_rewind_small{ background-position: -63px -63px} 
.splashy-media_controls_stop_small{ background-position: -63px -84px} 
.splashy-menu{ background-position: -63px -105px} 
.splashy-menu_dropdown{ background-position: -63px -126px} 
.splashy-movie_play{ background-position: -63px -147px} 
.splashy-music_cd_blue_note{ background-position: -63px -168px} 
.splashy-music_green{ background-position: -63px -189px} 
.splashy-music_grey{ background-position: -63px -210px} 
.splashy-new_small{ background-position: -63px -231px} 
.splashy-okay{ background-position: -63px -252px} 
.splashy-okay_small{ background-position: -63px -273px} 
.splashy-pagination_1_first{ background-position: -63px -294px} 
.splashy-pagination_1_last{ background-position: -63px -315px} 
.splashy-pagination_1_next{ background-position: -63px -336px} 
.splashy-pagination_1_previous{ background-position: -63px -357px} 
.splashy-pencil{ background-position: -63px -378px} 
.splashy-pencil_small{ background-position: -63px -399px} 
.splashy-printer{ background-position: -63px -420px} 
.splashy-quanitity_capsule_1{ background-position: -63px -441px} 
.splashy-quantity_capsule_2{ background-position: -63px -462px} 
.splashy-quantity_capsule_3{ background-position: -63px -483px} 
.splashy-quantity_capsule_4{ background-position: -63px -504px} 
.splashy-quantity_capsule_5{ background-position: -63px -525px} 
.splashy-refresh{ background-position: -63px -546px} 
.splashy-refresh_backwards{ background-position: -63px -567px} 
.splashy-refresh_forward{ background-position: -63px -588px} 
.splashy-remove{ background-position: -63px -609px} 
.splashy-remove_minus_sign{ background-position: -63px -630px} 
.splashy-remove_minus_sign_outline{ background-position: -63px -651px} 
.splashy-remove_minus_sign_small{ background-position: -63px -672px} 
.splashy-remove_outline{ background-position: -63px -693px} 
.splashy-shield{ background-position: -63px -714px} 
.splashy-shield_chevrons{ background-position: -63px -735px} 
.splashy-shield_star{ background-position: -63px -756px} 
.splashy-slider_no_pointy_thing{ background-position: -63px -777px} 
.splashy-smiley_amused{ background-position: -63px -798px} 
.splashy-smiley_happy{ background-position: -63px -819px} 
.splashy-smiley_surprised{ background-position: -63px -840px} 
.splashy-sprocket_dark{ background-position: -63px -861px} 
.splashy-sprocket_light{ background-position: -63px -882px} 
.splashy-star_boxed_empty{ background-position: -63px -903px} 
.splashy-star_boxed_full{ background-position: -63px -924px} 
.splashy-star_boxed_half{ background-position: -63px -945px} 
.splashy-star_empty{ background-position: -63px -966px} 
.splashy-star_full{ background-position: -63px -987px} 
.splashy-star_half{ background-position: -63px -1008px} 
.splashy-tag{ background-position: -63px -1029px} 
.splashy-tag_add{ background-position: -63px -1050px} 
.splashy-tag_edit{ background-position: -63px -1071px} 
.splashy-tag_remove{ background-position: -63px -1092px} 
.splashy-thumb_down{ background-position: -63px -1113px} 
.splashy-thumb_up{ background-position: -63px -1134px} 
.splashy-ticket{ background-position: -63px -1155px} 
.splashy-ticket_add{ background-position: -63px -1176px} 
.splashy-ticket_remove{ background-position: -63px -1197px} 
.splashy-upload{ background-position: -63px -1218px} 
.splashy-view_list{ background-position: -63px -1239px} 
.splashy-view_list_with_thumbnail{ background-position: -63px -1260px} 
.splashy-view_outline{ background-position: -63px -1281px} 
.splashy-view_outline_detail{ background-position: -63px -1302px} 
.splashy-view_table{ background-position: -63px -1323px} 
.splashy-view_thumbnail{ background-position: -63px -1344px} 
.splashy-volume{ background-position: -63px -1365px} 
.splashy-volume_loud{ background-position: -63px -1386px} 
.splashy-volume_off{ background-position: -63px -1407px} 
.splashy-volume_quiet{ background-position: -63px -1428px} 
.splashy-warning{ background-position: -63px -1449px} 
.splashy-warning_triangle{ background-position: -63px -1470px} 
.splashy-warning_triangle_small{ background-position: -63px -1491px} 
.splashy-zoom{ background-position: -63px -1512px} 
.splashy-zoom_in{ background-position: -63px -1533px} 
.splashy-zoom_out{ background-position: -63px -1554px} 