<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head>

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,400italic,300' rel='stylesheet' type='text/css'>
		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.0b1.js') }}"></script>
		   
		    <!-- jQuery, load page-->
        <link href="{{ asset('front/css/introLoader.css') }}" rel="stylesheet">
		<script src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ asset('front/js/spin.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.introLoader.js') }}"></script>
		<script>
		    var vv = jQuery.noConflict();		
			vv(document).on('ready', function() {
				vv("#element").introLoader({
    animation: {
        name: 'doubleLoader',
        options: {
            exitFx:'fadeOut',
            ease: "easeInOutCirc",
            style: 'fluoGreen',
            delayBefore: 500,
            exitTime: 300,
            progbarTime: 700,
            progbarDelayAfter: 400 
        }
    }
});
			});
			
		</script>
    <script src="{{ asset('front/owl-carousel/owl.carousel.js') }}"></script>

    <script>
	var s = jQuery.noConflict();

    s(document).ready(function() {

      s("#owl-demo5").owlCarousel({
        items : 5,
        lazyLoad : true,
        navigation : true
      });

    });
    </script>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}" />
	    <link href="{{ asset('front/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('front/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/theme.css') }}" />
		<link rel="stylesheet" href="{{ asset('front/css/jquery-ui.css') }}">
        <link href="{{ asset('back/css/typeahead.css') }}" rel="stylesheet" />
        <link href="{{ asset('back/js/lib/select2/select2.css') }}" rel="stylesheet" />
		<link href="{{ asset('front/css/2.css') }}" rel="stylesheet" />
		
		
		<link href="{{ asset('front/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
		<link href="{{ asset('front/owl-carousel/owl.theme.css') }}" rel="stylesheet">
		<link href="{{ asset('front/assets/js/google-code-prettify/prettify.css') }}" rel="stylesheet">


        <link rel='stylesheet' id='shoestrap_css-css'  href='{{ asset("front/anim/ss-style.css?ver=1425461427") }}' type='text/css' media='all' />
        <link rel='stylesheet' id='my_child_theme_stylesheet-css'  href='{{ asset("front/anim/styles.css") }}' type='text/css' media='all' />

		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('front/js/ListeEtoile.js') }}"></script>
        <script type='text/javascript' src='{{ asset("front/anim/scripts.js") }}'></script>
        <link rel='stylesheet' id='animate-css'  href='{{ asset("front/css/set2.css") }}' type='text/css' media='all' />

        
		<!-- animate -->
		<!--link href="{{ asset('front/css/foundstrap.css') }}" rel="stylesheet"-->
		<link href="{{ asset('front/css/animate.min.css') }}" rel="stylesheet">
		
		

        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/ie-emulation-modes-warning.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ asset('front/js/docs.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.js') }}" type="text/javascript"></script>

        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-migrate-1.1.1.min.js') }}"></script>
        <script src='{{ asset("front/js/modernizr.js") }}'></script>
        <script src="{{ asset('front/js/main.js') }}"></script>
  
		<script type="text/javascript" src="{{ asset('front/highslide/highslide-with-gallery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('front/highslide/highslide.css') }}" />

		<script type="text/javascript">
	hs.graphicsDir = '{{ asset("front/highslide/graphics/") }}';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.wrapperClassName = 'dark borderless floating-caption';
	hs.fadeInOut = true;
	hs.dimmingOpacity = .75;

	// Add the controlbar
	if (hs.addSlideshow) hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .6,
			position: 'bottom center',
			hideOnMouseOut: true
		}
	});
</script>


        <!-- header -->
        <link href="{{ asset('front/css/skitter.styles.css') }}" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.skitter.js') }}"></script>
		
		
		
		<!-- slider -->
		 <link rel="stylesheet" href="{{ asset('front/css/jquery.bxslider.css') }}" type="text/css" />
		 <script src="{{ asset('front/js/jquery.bxslider.js') }}"></script>
         <script>
		   var slid1 = jQuery.noConflict();
           slid1(document).ready(function(){
             slid1('.slider4').bxSlider({
               slideWidth: 345,
               minSlides: 1,
               maxSlides: 3,
               moveSlides: 1,
               slideMargin: 30
             });
           });
		   
		   var slid3 = jQuery.noConflict();
           slid3(document).ready(function(){
             slid3('.slider3').bxSlider({
               slideWidth: 345,
               minSlides: 1,
               maxSlides: 3,
               moveSlides: 1,
               slideMargin: 30
             });
           });
		   
		   var slid2 = jQuery.noConflict();
           slid2(document).ready(function(){
             slid2('.slider2').bxSlider({
               slideWidth: 517,
               minSlides: 1,
               maxSlides: 2,
               moveSlides: 1,
               slideMargin: 30
             });
           });
         </script>
		

<script>
  $(function() {
      $(document).ready(function() {
      // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() },
      $("#form1").validationEngine()
  });
    $( ".datepicker" ).datepicker( {dateFormat: "dd/mm/yy"});
  });
  </script>
  


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73769698-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
    <body role="document" onLoad="loadville(3)">
	{% if app.request.attributes.get('_route') != 'front_list_homepage' %}

	<!--div id="element" style="width:100%; background:#eeeeee url( {{ asset('front/images/.png') }} ) no-repeat; background-size:100%; " class="introLoader"></div-->

    {% endif %}
	<!-- HEADER  -->
    <!-- Fixed navbar -->
	
	    <header id="banner-header" class="banner navbar navbar-default topnavbar navbar-fixed-top style6" role="banner">
          <div class="nav-haut">
		   <div  id="devis">
		    <div class="container theme-showcase" role="main">
			<div class="fluid">
			 <div class="col-sm-6">			  
			 </div>
			 <div class="col-sm-6">
		      <div class="lien-haut">
			   <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
			    Qui-sommes-nous?
			   </a>
			  </div>
			  <div class="lien-haut">
	           <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'prix-hotels-marrakech','id':8}) }}">
			    Conditions générales d'achat
			   </a>
	          </div> 
		      <div class="lien-haut"><!--onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: '510', height: '340' } )"-->
			   <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'site-agence-voyages-marrakech','id':9}) }}"  >
			    Plan de site
			   </a>
			  </div>
		      <div class="lien-haut"><!--onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: '510', height: '340' } )"-->
			   <a href="{{ path('front_contacts_homepage') }}"  >
			    Nous Contacter
			   </a>
			  </div>
			 </div>
			 </div>
		    </div>
		   </div>
		  </div>
		  <div class="container theme-showcase" role="main">
            <div class="fluid">
			  <div class="col-sm-2 div-tablette" style="padding-left:0px;">
                <div class="navbar-header">                   
					<a class="navbar-brand logo" href="{{ path('front_btob_homepage') }}">
					  <img id="site-logo" src="{{ asset('front/images/logo.png') }}" class="logo-ori" alt="First Class Travel: Agence de voyages Marrakech">
					  <div class="logo-slick">
					   <div class="titre-logo1">
					    First Class
                       </div>
					   <div class="titre-logo2">
					    <span style="color: #3361a8;">Travel</span> International
					   </div>
					  </div>
					</a>                
				</div>
			  </div>
			  <div class="col-sm-10 div-tablette" align="center">
			    <div class="col-sm-4 hiddennn hidd-tel hidd-tablette">	
				 <br>
                 <img src="{{asset('front/images/Slogan.png')}}" style="display:none;" alt="Agence de voyages Marrakech" />	
				</div>
				<div class="col-sm-8 hiddennn" style="padding-right:0px;">
				<div class="col-sm-1 hiddennn hidd-tel hidd-tablette"></div>
				<div class="col-sm-5 hiddennn" align="right">
				 <!--div class="phonee lien-c"> 
				  <i class="fa fa-arrow-circle-right"></i>
				  <a href="{{ path('front_congres') }}" style="color:#fff;">Séminaire Makroradast</a>
				 </div-->
				</div>
                <div class="col-sm-6 hiddennn" align="right">
				 <div class="phonee">
				  <i class="fa fa-phone"></i> +212 5 24 43 03 31 / 29 
				 </div>
				</div>
			    <div class="col-sm-12 hiddennn hidd-tel hidd-tablette" style="height:10px;"></div>
			    <div class="col-sm-8 hiddennn ">
				 <form action="{{ path('front_newsletter_homepage') }}" method="GET" name="formnews" id="formnews" class="newsletter hidd-tel hidd-tablette">
				  <div class="col-sm-4 titre-newsletter" style="padding-right:0;">
				   <img style="height: 23px; display:none;" src="{{ asset('front/images/newsletter_img.png') }}" alt="Agence de voyages Marrakech"/>
				  </div>
				  <div class="col-sm-8">
				   <input type="text" placeholder="Votre e-mail ici" name="email_news" />
				   <input type="submit" value="S'inscrire" onclick="alert('Merci de votre inscription...');"/>
				  </div>
				 </form>
				 <div style="clear:both;"></div>
				</div>
			    <div class="col-sm-4 rs" style="text-align: right;">
				 <a href="skype:firstclass.maroc" target="_new" class="sk-f tooltip3">
				  <span style="width: 105px; margin-left:-50px !important;">firstclass.maroc</span>
				 </a>
		         <a href="https://plus.google.com/u/0/114808616544091998386/posts" target="_new" class="go-f tooltip3">
				  <span style="width: 79px; margin-left:-38px !important;">GooglePlus</span>
				 </a>
		         <a href="https://www.facebook.com/First-class-travel-international-1223948980971278/?skip_nax_wizard=true" target="_new" class="fb-f tooltip3">
				  <span style="width: 104px; margin-left:-49px !important;">FirstClassTravel</span>
				 </a>
		         <a href="https://www.youtube.com/channel/UCITHbLpetOfhpDcM_xXz3CQ" target="_new" class="yo-f tooltip3">
				  <span style="width: 63px; margin-left:-29px !important;">Youtube</span>
				 </a>
				 
				 <!--a href="https://www.facebook.com/First-Class-Travel-International-168460120178156/?ref=hl" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/fb-h.png') }}" />
				 </a>
				 <a href="https://plus.google.com/u/0/116905572238101417744/posts" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/go-h.png') }}" />
				 </a>
				 <a href="skype:firstclasstravelinternational" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/sk-h.png') }}" />
				 </a>
				 <a href="https://www.youtube.com/channel/UCDYdM3-AK-siCsAgwmF0Zxg?view_as=subscriber" class="hiddennn" target="_new">
				  <image src="{{ asset('front/images/yo-h.png') }}" />
				 </a-->
				 
		    {% if app.request.attributes.get('_route') != 'front_congres' %}		  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    {% endif %}
				</div>
				</div>
                    {% if app.request.attributes.get('_route') != 'front_congres' %}
				<nav class="nav-main navbar-collapse collapse" role="navigation" >
                    <ul id="menu-primary" class="navbar-nav nav pull-right">
                      <li class="homeee">
					   <a  href="{{ path('front_btob_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_btob_homepage' %}active{% endif %}" ><i class="fa fa-home"></i></a>
					  </li>
	                  <li>
					   <a href="{{ path('front_list_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_list_homepage' or app.request.attributes.get('_route') == 'front_list_detail_homepage' or app.request.attributes.get('_route') == 'front_list_selection_homepage' or app.request.attributes.get('_route') == 'front_list_clientform_homepage' or app.request.attributes.get('_route') == 'front_search_homepage' %}active{% endif %}">Hôtels <div class="hidd-tel"></div> au Maroc</a>
				      </li>
					  <li>
					   <a href="{{ path('front_hotel_frame') }}" class="{% if app.request.attributes.get('_route') == 'front_hotel_frame' %}active{% endif %}">Hôtels <div class="hidd-tel"></div> dans le monde</a>
					  </li>
                      <li>
					   <a  href="{{ path('front_transfert_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_transfert_homepage' %}active{% endif %}" >Transfert <div class="hidd-tel"></div> Privés</a>
					  </li>
                      <li>
					   <a  href="{{ path('front_btob_circuit_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_btob_circuit_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_cuircuit' or app.request.attributes.get('_route') == 'front_resa_reservation_cuircuit' or app.request.attributes.get('_route') == 'front_pers_reservation_cuircuit' or app.request.attributes.get('_route') == 'front_inscrip_reservation_cuircuit' %}active{% endif %}" >Circuits <div class="hidd-tel"></div> & Excursions</a>
					  </li>
                      <li>
					   <a  href="{{ path('front_sejour_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_sejour_homepage' or app.request.attributes.get('_route') == 'front_sejour_detail_homepage' or  app.request.attributes.get('_route') == 'front_sejour_reservation_homepage' or  app.request.attributes.get('_route') == 'front_pers_reservation_sejour' or  app.request.attributes.get('_route') == 'front_inscrip_reservation_sejour' %}active{% endif %}" >Voyages <div class="hidd-tel"></div> organisés</a>
					  </li>
                      <li>
					   <a  href="{{ path('front_evenement_homepage') }}" class="{% if app.request.attributes.get('_route') == 'front_evenement_homepage' or app.request.attributes.get('_route') == 'front_evenement_detail_homepage' or  app.request.attributes.get('_route') == 'front_pers_reservation_evenement' or  app.request.attributes.get('_route') == 'front_evenement_reservation_homepage' or  app.request.attributes.get('_route') == 'front_inscrip_reservation_evenement' %}active{% endif %}" >Weekend<div class="hidd-tel"></div> & Bon Plan</a>
					  </li>
                      <li class="congres">
					   <a  href="{{ path('front_resa_reservation_siminaire') }}" class="{% if app.request.attributes.get('_route') == 'front_resa_reservation_siminaire' %}active{% endif %}" >Congrès <div class="hidd-tel"></div> & séminaires</a>
					  </li>
                    </ul>                
				</nav>
				{% endif %}
			  </div>
                                
            </div>
	
    </div>
 </header>

{% block body %}{% endblock %}
{% if app.request.attributes.get('_route') != 'front_congres' %}
<footer id="page-footer" class="footer text-center content-info" role="contentinfo">
	<div class="container">
	 <div class="col-sm-12">
	   <div class="col-sm-3 resp hidd-tel">
	   <div id="titre-bleu">
	    Newsletter
	   </div>
	   <div class="text-footer">
	    Recevez nos meilleurs offres et promotions:
	   </div>
	   <div>
	    <form action="{{ path('front_newsletter_homepage') }}" method="GET" name="formnews" id="formnews">
          <input type="text" name="email_news" id="email_news" placeholder="Votre adresse mail" class="input_news"/>
          <input type="submit" class='loopp' style="padding-top: 2px !important;" value="OK" onclick="alert('Merci de votre inscription...');" />
         </form>
	     <div id="text-footer" style="line-height:22px; clear:both;">
		   <b>E-mail:</b>
           infos.firstclass@gmail.com
		 </div>
	   </div>
	   </div>
	  <div class="col-sm-9 carte">
	  <div class="col-sm-3 resp hidd-tel hidd-tablette">
	   <div id="titre-bleu" style="padding-top: 12px;"></div>
	   <div id="text-footer">
	    <div id="lien-ft">
	     <a href="{{ path('front_list_homepage') }}">
	      <i class="fa fa-caret-right"></i> Hôtels au Maroc
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_hotel_frame') }}">
	      <i class="fa fa-caret-right"></i> Hôtels dans le Monde
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_transfert_homepage') }}">
	      <i class="fa fa-caret-right"></i> Transfert Privés
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_btob_circuit_homepage') }}">
	      <i class="fa fa-caret-right"></i> Circuits & Excursions
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_sejour_homepage') }}">
	      <i class="fa fa-caret-right"></i> Voyages organisés
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_evenement_homepage') }}">
	      <i class="fa fa-caret-right"></i> Weekend & Bon Plan
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_resa_reservation_siminaire') }}">
	      <i class="fa fa-caret-right"></i> Congrés & Séminaires
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_contacts_homepage') }}">
	      <i class="fa fa-caret-right"></i> Contact
	     </a>
	    </div>
	   </div>
	  </div>
	   
	  <div class="col-sm-4 hidd-tel hidd-tablette"> 
	   <div id="titre-bleu" align="center">
	    Paiement sécurisé
	   </div>
	   <div align="center">
	    <img src="{{ asset('front/images/cartes-bancaire.png') }}" alt="Agence de voyages Marrakech" />
	   </div>
	   <div align="center">
	    <img src="{{ asset('front/images/payzone.png') }}" alt="Agence de voyages Marrakech" />
	   </div>
	   <a href="https://play.google.com/store/apps/details?id=ma.webcarre.firstclasstravels" target="_new">
	   <div class="playstore"></div>
	   </a>
	  </div>
	   
	  <div class="col-sm-5">
	   <div id="titre-bleu">
	    Contact
	   </div>
	   <div id="text-footer" style="line-height:26px;">
		 Angle Bd. Mohamed V et Av. Hassen I Bloc B - Imm. SIBAM2 40020 - Marrakech<br>
         Tél: +212 5 24 43 03 31/29<br>
         <!--GSM: +212 6 61 24 38 80<br>-->
         Fax: +212 5 24 43 02 84<br>
		 <div class="rs-f hidd-tel">
		  <a href="skype:firstclass.maroc" target="_new" class="sk-f tooltip3"><span style="width: 105px; margin-left:-50px !important;">firstclass.maroc</span></a>
		  <a href="https://plus.google.com/u/0/114808616544091998386/posts" target="_new" class="go-f tooltip3"><span style="width: 79px; margin-left:-38px !important;">GooglePlus</span></a>
		  <a href="https://www.facebook.com/First-class-travel-international-1223948980971278/?skip_nax_wizard=true" target="_new" class="fb-f tooltip3"><span style="width: 104px; margin-left:-49px !important;">FirstClassTravel</span></a>
		  <a href="https://www.youtube.com/channel/UCITHbLpetOfhpDcM_xXz3CQ" target="_new" class="yo-f tooltip3"><span style="width: 63px; margin-left:-29px !important;">Youtube</span></a>
		 </div>
	   </div>
	  </div>
	  </div>
	   <br>
	  </div>
	</div>
	
</footer>
{% endif %}
<div class="footer2">
 <div class="container">
  <div class="col-sm-12">
   <div class="col-sm-2">
    © 2016 | First Class Travel
   </div>
   <div class="col-sm-7 hidd-tel" style="padding:0px;" align="right">
    <ul class="menu-footer">
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
	   Accueil
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'agence-voyages-marrakech','id':7}) }}">
	   Qui sommes nous?
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'prix-hotels-marrakech','id':8}) }}">
	   Conditions générales d'achat
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_resa_detail_activite_homepage',{'detail': 'site-agence-voyages-marrakech','id':9}) }}">
	   Plan de site
	  </a>
	 </li>
	 <li>
	  <a href="{{ path('front_contacts_homepage') }}">
	   Nous contacter
	  </a>
	 </li>
	</ul>
   </div>
   <div class="col-sm-3" align="right">
    Powered By <img src="{{asset('front/images/WebCarre.png')}}" style="height:20px; width:auto;" alt="Agence de voyages Marrakech" /> <a href="http://www.webcarre.ma/" target="_new" style="color:#fff;">webcarre.ma</a>
   </div>
  </div>
 </div>
</div>
<div class="footer3">
 <div class="container">
	      <div class="col-sm-12 omra" align="center">
		    <div id="owl-demo5" class="owl-carousel">
			   <div class="item"><img src="{{ asset('front/images/ref1.png') }}" class="lazyOwl" style="width:100px;" align="center" alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/Logo_Villa3Oliviers_Fn.2.png') }}" class="lazyOwl" style="width:200px;" align="center" alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/marrakech-conseil-regional-de-tourisme.jpg') }}" class="lazyOwl" style="width:132px;" align="center" alt="Agence de voyages Marrakech"/></div>
			   <div class="item"><img src="{{ asset('front/images/640px-Costa_Croisieres_LOGO.png') }}" class="lazyOwl" style="width:89px;" align="center" alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref4.png') }}" class="lazyOwl" style="width:97px;" align="center" alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/Clubmed_logo.png') }}" class="lazyOwl" style="width:132px;" align="center"alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/brand-logo-logo-amadeus.png') }}" class="lazyOwl" style="width:132px;" align="center" alt="Agence de voyages Marrakech" /></div>
			   <div class="item"><img src="{{ asset('front/images/ref5.png') }}" class="lazyOwl" style="width:91px;" align="center" alt="Agence de voyages Marrakech"/></div>
			   <div class="item"><img src="{{ asset('front/images/ref2.png') }}" class="lazyOwl" style="width:64px;" align="center" alt="Agence de voyages Marrakech"/></div>
			   <div class="item"><img src="{{ asset('front/images/ref3.png') }}" class="lazyOwl" style="width:59px;" align="center" alt="Agence de voyages Marrakech"/></div>
			   <div class="item"><img src="{{ asset('front/images/ref6.png') }}" class="lazyOwl" style="width:60px;" align="center"alt="Agence de voyages Marrakech" /></div>
            </div>		     
		  </div>
 </div>
</div>

<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
   <script>
    //var hauttt = jQuery.noConflict();	
	(function() {

   			$('<i id="back-to-top"></i>').appendTo($('body'));

			$(window).scroll(function() {

				if($(this).scrollTop() != 0) {
					$('#back-to-top').fadeIn();	
				} else {
					$('#back-to-top').fadeOut();
				}

			});
			
			$('#back-to-top').click(function() {
				$('body,html').animate({scrollTop:0},600);
			});	

	})();
   </script>
<style>
.tooltip3{
  position: relative; 
}
.tooltip3 span
{
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
  margin-left: -127px !important;
  padding: 0px 7px 2px;
  border: none;
  background-color: #000;                     
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  color:#fff;   
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  line-height:20px;
  font-family: 'muli';
}



.tooltip3:hover span
{
  visibility: visible;
}

.tooltip3 span:before,
.tooltip3 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -5px;
  margin-left: -8px;  
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;        
  border-bottom: 0;  
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.playstore{
background:url('{{asset("front/images/1-play.png")}}') no-repeat center;
width:120px;
height:50px;
margin:auto;
}
.playstore:hover{
background:url('{{asset("front/images/2-play.png")}}') no-repeat center;
width:120px;
height:50px;
margin:auto;
}


</style>
{% block javascripts %}{% endblock %}

</body>
</html>

