<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head>

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {% block stylesheets %}{% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,400italic,300' rel='stylesheet' type='text/css'>
		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.0b1.js') }}"></script>
		    <!-- jQuery, load page-->
        <link href="{{ asset('front/css/introLoader.css') }}" rel="stylesheet">
		<script src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ asset('front/js/spin.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.introLoader.js') }}"></script>
		<script>
		    var vv = jQuery.noConflict();
			
			
			vv(document).on('ready', function() {
				vv("#element").introLoader();
			});
			
		</script>
    <script src="{{ asset('front/owl-carousel/owl.carousel.js') }}"></script>

    <script>
	var s = jQuery.noConflict();
    s(document).ready(function() {

      s("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : true
      });

    });
    s(document).ready(function() {

      s("#owl-demo2").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : true
      });

    });
    s(document).ready(function() {

      s("#owl-demo3").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : true
      });

    });
    s(document).ready(function() {

      s("#owl-demo4").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true
      });

    });
    s(document).ready(function() {

      s("#owl-demo5").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true
      });

    });
    </script>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('front/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/theme.css') }}" />
		<link rel="stylesheet" href="{{ asset('front/css/jquery-ui.css') }}">
        <link href="{{ asset('back/css/typeahead.css') }}" rel="stylesheet" />
        <link href="{{ asset('back/js/lib/select2/select2.css') }}" rel="stylesheet" />
		<link href="{{ asset('front/css/2.css') }}" rel="stylesheet" />
		
		
		<link href="{{ asset('front/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
		<link href="{{ asset('front/owl-carousel/owl.theme.css') }}" rel="stylesheet">
		<link href="{{ asset('front/assets/js/google-code-prettify/prettify.css') }}" rel="stylesheet">


        <link rel='stylesheet' id='shoestrap_css-css'  href='{{ asset("front/anim/ss-style.css?ver=1425461427") }}' type='text/css' media='all' />
        <link rel='stylesheet' id='my_child_theme_stylesheet-css'  href='{{ asset("front/anim/styles.css") }}' type='text/css' media='all' />

		<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('front/js/ListeEtoile.js') }}"></script>
        <script type='text/javascript' src='{{ asset("front/anim/animation.js") }}'></script>
        <link rel='stylesheet' id='animate-css'  href='{{ asset("front/anim/animate.css") }}' type='text/css' media='all' />
        <link rel='stylesheet' id='animate-css'  href='{{ asset("front/anim/animate.min.css") }}' type='text/css' media='all' />
        <script type='text/javascript' src='{{ asset("front/anim/scripts.js") }}'></script>
        <link rel='stylesheet' id='animate-css'  href='{{ asset("front/css/set2.css") }}' type='text/css' media='all' />



        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/ie-emulation-modes-warning.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ asset('front/js/docs.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}" type="text/javascript"></script>

        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-migrate-1.1.1.min.js') }}"></script>
        <script src='{{ asset("front/js/modernizr.js") }}'></script>
        <script src="{{ asset('front/js/main.js') }}"></script>
  
		<script type="text/javascript" src="{{ asset('front/highslide/highslide-with-html.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('front/highslide/highslide.css') }}" />

        <script type="text/javascript">
          hs.graphicsDir = '{{ asset("front/highslide/graphics/") }}';
          hs.outlineType = 'rounded-white';
          hs.wrapperClassName = 'draggable-header';
		</script>


        <!-- header -->
        <link href="{{ asset('front/css/skitter.styles.css') }}" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery.skitter.js') }}"></script>

<script>
  $(function() {
      $(document).ready(function() {
      // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() },
      $("#form1").validationEngine()
  });
    $( ".datepicker" ).datepicker( {dateFormat: "dd/mm/yy"});
  });
  </script>
  

    </head>
    <body role="document" onLoad="loadville(3)">
	{% if app.request.attributes.get('_route') != 'front_list_homepage' %}

	<div id="element" style="width:100%; background:#eeeeee url( {{ asset('front/images/Loading_MenaTours.png') }} ) no-repeat; background-size:100%; " class="introLoader"></div>

    {% endif %}
	<!-- HEADER  -->
    <!-- Fixed navbar -->
	
	    <header id="banner-header" class="banner navbar navbar-default topnavbar navbar-fixed-top style6" role="banner">
          <div class="nav-haut">
		   <div  id="devis">
		    <div class="container theme-showcase" role="main">
			<div class="fluid">
			 <div class="col-sm-8">			  
			 </div>
			 <div class="col-sm-4" align="right">
		      <div class="lien-haut"><!--onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: '510', height: '340' } )"-->
			   <a href="{{ path('front_contacts_homepage') }}"  >
			    Contact
			   </a>
			  </div>
			   <div class="lien-haut">
	     <a href="{{ path('front_resa_detail_activite_homepage',{'id':8}) }}">
			    Condition de Vente
			   </a>
	   </div> 
		      <div class="lien-haut">
			   <a href="{{ path('front_resa_detail_activite_homepage',{'id':7}) }}">
			    Qui-sommes-nous?
			   </a>
			  </div>
			 </div>
			 </div>
		    </div>
		   </div>
		  </div>
		  <div class="container theme-showcase" role="main">
            <div class="fluid">
			  <div class="col-sm-3">
                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                    
					<a class="navbar-brand logo" href="{{ path('front_btob_homepage') }}">
					  <img id="site-logo" src="{{ asset('front/images/logo.png') }}" alt="Mena Tours">
					</a>                
				</div>
			  </div>
			  <div class="col-sm-9 menisss">
                
				<nav class="nav-main navbar-collapse collapse" role="navigation" >
                    <ul id="menu-primary" class="navbar-nav nav pull-right">
					  <li class="border-hotel dropdown {% if app.request.attributes.get('_route') == 'front_list_homepage' or app.request.attributes.get('_route') == 'front_list_detail_homepage' or app.request.attributes.get('_route') == 'front_list_selection_homepage' or app.request.attributes.get('_route') == 'front_list_clientform_homepage' %}active{% endif %}">
					   <a  href="#" >Hôtels <img id="site-logo" src="{{ asset('front/images/fleche-haut.png') }}" alt="Clic Travel"></a>
					   <ul role="menu" class="dropdown-menu" style="left:0;">
	                     <li>
						  <a style="padding-left:0 !important; padding-top:8px !important;" href="{{ path('front_list_homepage') }}">Hôtels en Tunisie</a>
						 </li>
	                     <li>
						  <a style="padding-left:0 !important; padding-top:8px !important;" href="{{ path('front_hotel_frame') }}">Hôtels dans le monde</a>
						 </li>
	                     <li>
						  <a style="padding-left:0 !important; padding-top:8px !important;" href="{{ path('front_list_promo_homepage') }}">Promos</a>
						 </li>
                        </ul>
					  </li>
                      <li class="border-circuit {% if app.request.attributes.get('_route') == 'front_btob_circuit_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_cuircuit' or app.request.attributes.get('_route') == 'front_resa_reservation_cuircuit' %}active{% endif %}">
					   <a  href="{{ path('front_btob_circuit_homepage') }}" >Circuit & Excursion</a>
					  </li>
                      <li class="border-outgoing {% if app.request.attributes.get('_route') == 'front_sejour_homepage' or app.request.attributes.get('_route') == 'front_sejour_detail_homepage' or  app.request.attributes.get('_route') == 'front_sejour_reservation_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_sejour_homepage') }}" >Outgoing</a>
					  </li>
                      <li class="border-croisiere {% if app.request.attributes.get('_route') == 'front_croisiere_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_croisiere_homepage' or  app.request.attributes.get('_route') == 'front_resa_croisiere_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_croisiere_homepage') }}" >Croisière</a>
					  </li>
                      <li class="border-billeterie {% if app.request.attributes.get('_route') == 'front_vole_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_vole_homepage') }}" >Billetterie</a>
					  </li>
                      <li class="border-omra {% if app.request.attributes.get('_route') == 'front_btob_omra_homepage' or app.request.attributes.get('_route') == 'front_resa_detail_omra_homepage' or  app.request.attributes.get('_route') == 'front_resa_omra_homepage' %}active{% endif %}">
					   <a  href="{{ path('front_btob_omra_homepage') }}" >Omra</a>
					  </li>
                    </ul>                
				</nav>
			  </div>
                                
            </div>
	
    </div>
 </header>

{% block body %}{% endblock %}

<footer id="page-footer" class="footer text-center content-info" role="contentinfo">
	<div class="container">
	 <div class="col-sm-12">
	  <div class="col-sm-3">
	   <div id="titre-news">
	    Nous Contacter
	   </div>
	   <br>
	   <div id="text-footer">
         <img src="{{ asset('front/images/adr.png') }}" />21 Avenue USA - 1er étage immeuble les Jasmins  Belvédère - 1002 Tunis - Tunisie<br>
		 <img src="{{ asset('front/images/ligne-contact.png') }}" /><br>
         <img src="{{ asset('front/images/tel.png') }}" />(+216) 71 844 335 / (+216) 31 332 332<br>
		 <img src="{{ asset('front/images/ligne-contact.png') }}" /><br>
         <img src="{{ asset('front/images/mob.png') }}" />(+216) 53 605 073 / (+216) 58 558 502<br>
		 <img src="{{ asset('front/images/ligne-contact.png') }}" /><br>
         <img src="{{ asset('front/images/fax.png') }}" />(+ 216) 71 844 335<br>
		 <img src="{{ asset('front/images/ligne-contact.png') }}" /><br>
         <img src="{{ asset('front/images/mail.png') }}" />contact@menatours.com	 
	   </div>
	  </div>
	  <div class="col-sm-5 resp">
	  <div class="col-sm-6">
	   <div id="titre-news">
	    Hôtels régions
	   </div>
	   <br>
	   <div id="text-footer">
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Tunisie
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Djerba
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Hammamet
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Tozeur
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Tabarka
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Sousse
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Tunis
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Hôtels Monastir
	     </a>
	    </div>
	   </div>
	  </div>
	  <div class="col-sm-6">
	   <div id="text-footer">
	   <div id="titre-news">
	    Voyages organisés
	   </div>
	   <br>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Dubai
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Italie
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Maldives
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Maltes
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Maroc
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Paris
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Russie
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="#">
	      Voyage Turquie
	     </a>
	    </div>
	   </div>
	  </div>
	  </div>
	  <div class="col-sm-4 resp">
	   <img src="{{ asset('front/images/logo-f.png') }}" style="margin-bottom:3px;" />
	    <div id="lien-ft">
	     <a href="{{ path('front_list_homepage') }}">
	      Hôtels
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_btob_circuit_homepage') }}">
	      Circuit & excursion
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_sejour_homepage') }}">
	      Outgoing
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_croisiere_homepage') }}">
	      Croisière
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_vole_homepage') }}">
	      Billetterie
	     </a>
	    </div>
	    <div id="lien-ft">
	     <a href="{{ path('front_btob_omra_homepage') }}">
	      Omra
	     </a>
	    </div>
		
	   <div id="titre-bleu">
	    Rejoignez-nous
	   </div>
	   <div id="social-footrt">
	     <a href="https://www.facebook.com/MENAToursTunisie" target="_new">
		  <img src="{{ asset('front/images/fb-f.png') }}" alt="Mena Tours">
		  Facebook
		 </a>
		 
		<br>
		
	     <a href="" target="_new">
		  <img src="{{ asset('front/images/tw-f.png') }}" alt="Mena Tours">
		  Twitter
		 </a>
		 
		<br>
		
	     <a href="" target="_new">
		  <img src="{{ asset('front/images/sk-f.png') }}" alt="Mena Tours">
		  Skype
		 </a>
		 
	   </div>
	   
	   </div>
	   <br>
	  </div>
	  <div class="col-sm-12">
	   <div class="col-sm-4">
	   <div id="titre-bleu" class=" resp">
	     Paiement Sécurisé
	   </div>
	   <img src="{{ asset('front/images/paiement.png') }}" class=" resp" />
	   <div id="cop">
	   Copyright ©menatours.com.2015.Tous droits réservés
	   </div>
	   
	   </div>
	   <div class="col-sm-4">
	  <div class="col-sm-2">
	  </div>
	  <div class="col-sm-10">
	   <div id="titre-bleu" class=" resp">
	     Nos partenaires
	   </div>
	   <img src="{{ asset('front/images/part3.png') }}" class=" resp" />
	   <img src="{{ asset('front/images/part2.png') }}" class=" resp" />
	   <img src="{{ asset('front/images/part1.png') }}" class=" resp" />
	   <div id="cop" align="right">
	   Powered by <a target="_new" style="color:#505050;" href="http://tuninfoforyou.com/"><img style="width: 4%;" src="{{ asset('front/images/unnamed.png') }}" alt="Mena Tours">Tuninfoforyou.com</a>
	   </div>
	  </div>
	   </div>
	   <div class="col-sm-4 resp">
	   <div id="titre-bleu">
	    Newsletter
	   </div>
	   <div>
	    <form action="{{ path('front_newsletter_homepage') }}" method="GET" name="formnews" id="formnews">
          <input type="text" name="email_news" id="email_news" placeholder="Votre adresse mail" class="input_news"/>
          <input type="submit" class='loopp' value="OK" />
         </form>
	   </div>
	   </div>
	  </div>
	</div>
	
</footer>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<a href="#0" class="cd-top">Top</a>

{% block javascripts %}{% endblock %}

</body>
</html>

