<!DOCTYPE HTML>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} :: WEBCARRE B2B V4 </title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}">

    <!-- common stylesheets-->
    <!-- bootstrap framework css -->
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap-responsive.min.css') }}">
    <!-- iconSweet2 icon pack (16x16) -->
    <link rel="stylesheet" href="{{ asset('back/img/icsw2_16/icsw2_16.css') }}">
    <!-- splashy icon pack -->
    <link rel="stylesheet" href="{{ asset('back/img/splashy/splashy.css') }}">
    <!-- flag icons -->
    <link rel="stylesheet" href="{{ asset('back/img/flags/flags.css') }}">
    <!-- power tooltips -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/powertip/jquery.powertip.css') }}">
    <!-- google web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

    <!-- aditional stylesheets -->
    <!-- colorbox -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}">
    <!--fullcalendar -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/fullcalendar/fullcalendar_beoro.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}">


    <!-- main stylesheet -->
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{asset('back/css/ie8.css')}}"><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="{{asset('back/css/ie9.css')}}"><![endif]-->

    <!--[if lt IE 9]>
    <script src="{{asset('back/js/ie/html5shiv.min.js')}}"></script>
    <script src="{{asset('back/js/ie/respond.min.js')}}"></script>
    <script src="{{asset('back/js/lib/flot-charts/excanvas.min.js')}}"></script>
    <![endif]-->
	

<!-- Common JS -->
<!-- jQuery framework -->
<script src="{{ asset('back/js/jquery.min.js') }}"></script>	    
<script type="text/javascript" src="{{ asset('front/js/ListeEtoile.js') }}"></script>

<!-- bootstrap Framework plugins -->
<script src="{{ asset('back/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- top menu -->
<script src="{{ asset('back/js/jquery.fademenu.js') }}"></script>
<!-- top mobile menu -->
<script src="{{ asset('back/js/selectnav.min.js') }}"></script>
<!-- actual width/height of hidden DOM elements -->
<script src="{{ asset('back/js/jquery.actual.min.js') }}"></script>
<!-- jquery easing animations -->
<script src="{{ asset('back/js/jquery.easing.1.3.min.js') }}"></script>
<!-- power tooltips -->
<script src="{{ asset('back/js/lib/powertip/jquery.powertip-1.1.0.min.js') }}"></script>
<!-- date library -->
<script src="{{ asset('back/js/moment.min.js') }}"></script>

<!-- bootbox -->
<script src="{{ asset('back/js/lib/bootbox/bootbox.min.js') }}"></script>

<!-- Dashboard JS -->
<!-- jQuery UI -->
<script src="{{ asset('back/js/lib/jquery-ui/jquery-ui-1.9.2.custom.min.js') }}"></script>
<!-- touch event support for jQuery UI -->
<script src="{{ asset('back/js/lib/jquery-ui/jquery.ui.touch-punch.min.js') }}"></script>
<!-- common functions -->
<script src="{{ asset('back/js/beoro_common.js') }}"></script>
<script src="{{ asset('back/js/jquery.fancybox.js') }}"></script>

<style>
 .formSep {
    padding: 10px 20px !important;
    clear: both;
}
</style>

    {% block stylesheets %}{% endblock %}
</head>
<body class="bg_f">
<!-- main wrapper (without footer) -->
<div class="main-wrapper">
    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div id="fade-menu" class="pull-left">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {{ knp_menu_render('BtobDashBundle:Builder:mainMenu') }}
                    {% endif %}
                    {% if app.security.token.roles[0].role=='AGENCEID' or app.security.token.roles[0].role=='SALES' %}
                        {{ knp_menu_render('BtobDashBundle:Builder:agenceMenu') }}
                    {% endif %}
                    {% if app.security.token.roles[0].role=='CONTRACTINGID' %}
                        {{ knp_menu_render('BtobDashBundle:Builder:contractingMenu') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="main-logo"><a href="{{ path('btob_dash_homepage') }}"><img
                                    src="{{ asset('back/img/beoro_logo.png') }}"
                                    alt="TunInfoForYou B2B V4"></a></div>
                </div>
                <div class="span5">
                    <nav class="nav-icons">
                        <ul>
                            <li><a href="{{ path('btob_dash_homepage') }}" class="ptip_s" title="Tableau de board"><i
                                            class="icsw16-home"></i></a></li>
                            <li><a href="{{ path('btob_reservationback_homepage') }}" class="ptip_s"
                                   title="Notification"><i class="icsw16-alarm-bell-2"></i>
                                    {% set i=0 %}
                                    {% for item in app.user.notification %}
                                        {% set i=item.notif %}
                                    {% endfor %}
                                    {% if i!=0 %}
                                        <span class="badge badge-important">{{ i }}</span>
                                    {% endif %}
                                </a></li>
                            <!--<li><a href="javascript:void(0)" class="ptip_s" title="Mailbox"><i
                                            class="icsw16-mail"></i><span class="badge badge-info">6</span></a></li>
                            <li><a href="javascript:void(0)" class="ptip_s" title="Comments"><i
                                            class="icsw16-speech-bubbles"></i><span
                                            class="badge badge-important">14</span></a></li>
                            <li class="active"><span class="ptip_s" title="Statistics (active)"><i
                                            class="icsw16-graph"></i></span></li>
                            <li><a href="javascript:void(0)" class="ptip_s" title="Settings"><i class="icsw16-cog"></i></a>
                        </ul>-->
                    </nav>
                </div>
                <div class="span4">
                    <div class="user-box">
                        <div class="user-box-inner">
                            {% if  app.user.logo !='' %}
                                <img src="{{ asset(app.user.logo) }}" alt="" class="user-avatar img-avatar">
                            {% else %}
                                <img src="{{ asset('back/img/avatars/avatar.png') }}" alt=""
                                     class="user-avatar img-avatar">
                            {% endif %}
                            <div class="user-info">
                                <strong>{{ app.user.name }}</strong>
                                <ul class="unstyled">
                                    <li><a href="{{ path('view_users2', {'id': app.user.id}) }}">Configuration</a></li>
                                    <li>&middot;</li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}
    <div class="footer_space"></div>
</div>

<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="span5">
                <div>&copy; <a href="http://www.webcarre.fr"
                               target="_blank">WEBCARRE {{ 'now'|date('Y') }}</a></div>
            </div>
            <div class="span7">
                <ul class="unstyled">
                    <!--<li><a href="#">First link</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Second link</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>



{% block javascripts %}{% endblock %}
<script>
    $(function () {


        $('.iframe-btn').fancybox({
            'width': '880px',
            'height': '570px',
            'type': 'iframe',
            'autoScale': false
        });

    });
</script>
</body>
</html>
