{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
             <li><a href="">{{hotel.name}}</a></li>
            <li><span>Gestion des Périodes </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_hotelprice_manager', {'id': id,'hotelid': hotel.id,'marcheid':marcheid}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_hotelprice_manager',{'hotelid': hotel.id,'marcheid':marcheid})}}"  {{ form_enctype(form) }}>
                {% endif %}  
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Different field types</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="formSep">                                   
                                    {{ form_row(form.dated, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.nbnuit, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.nbperso, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.delaiannul, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.retro, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.price, { 'attr': {'class': 'span10'}}) }}
                                </div>
                             
                              
                                <div class="formSep">
                                    {{ form_row(form.pricew, { 'attr': {'class': 'span10'}}) }}
                                </div>
                               
                               
                                <div class="formSep">
                                    {{ form_row(form.supsingle, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.perssupsingle, { 'attr': {'class': 'span10 iphonecheck'}}) }}
                                </div>
				<div class="formSep">
                                    {{ form_row(form.margess, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.persss, { 'attr': {'class': 'span10 iphonecheck'}}) }}
                                </div>				  
                                <div class="formSep">
                                    <button type="submit" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span9">
                    <div class="span12">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Arrangement</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5">

                                        <tbody>
                                            <tr>

                                                <th>Arrangement</th>
                                                <th>Valeur</th>
                                                <th>Pourcentage</th>
                                                <th>Marge</th>
                                                <th>Pourcentage</th>
                                                <th>Activé ?</th>
                                                <th>Min Stay</th>

                                            </tr>
                                            {%for arr in price.pricearr%}
                                                <tr>

                                                    <th>{{arr.hotelarrangement.arrangement.name}}</th>
                                                    <td><input type="text" required="required" name="arrangement[{{arr.hotelarrangement.id}}]" class="span12" value="{{arr.price}}"></td>
                                                    <td><input type="checkbox" name="persarr[{{arr.hotelarrangement.id}}]"{% if arr.pers == 1 %} checked="checked"{% endif %} class="span12 iphonecheck"  value="persarr[{{arr.hotelarrangement.id}}]"></td>
                                                    
                                                    
                                                    <td><input type="text" required="required" name="margearrangement[{{arr.hotelarrangement.id}}]" class="span12" value="{{arr.marge}}"></td>
                                                    <td><input type="checkbox" name="margepersarr[{{arr.hotelarrangement.id}}]"{% if arr.persm == 1 %} checked="checked"{% endif %} class="span12 iphonecheck"  value="margepersarr[{{arr.hotelarrangement.id}}]"></td>
                                                    
                                                    <td><input type="checkbox" name="actarr[{{ arr.hotelarrangement.id }}]" {% if arr.etat == 1 %} checked="checked"{% endif %} class="span12 iphonecheck" value="actarr[{{ arr.hotelarrangement.id }}]"></td>
                                                    <td><input type="text" required="required" name="minstay[{{arr.hotelarrangement.id}}]" class="span12 " value="{{arr.minstay}}"></td>

                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>




                                </div>
                            </div>
                        </div>
                                          </div>
                                         <div class="span12"></div>
<div class="span12">
                        <div class="span12">

                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Suuplément</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5">

                                        <tbody>
                                            <tr>
                                                <th>Supplément</th>
                                                <th>Valeur</th>
                                                <th>Pourcentage</th>
                                                 <th>Marge</th>
                                                 <th>Pourcentage</th>
                                            </tr>
                                            {%for arr in price.pricesupplement%}
                                                <tr>

                                                    <th>{{arr.hotelsupplement.supplement.name}}</th>
                                                    <td><input type="text" required="required" name="supplement[{{arr.hotelsupplement.id}}]" class="span12" value="{{arr.price}}"></td>
                                                    <td><input type="checkbox" name="supplementpers[{{arr.hotelsupplement.id}}]"{%if arr.pers==1%} checked="checked"{%endif%}  class="span12 iphonecheck" value="supplementpers[{{arr.hotelsupplement.id}}]"></td>
                                                     <td><input type="text" required="required" name="margesupplement[{{arr.hotelsupplement.id}}]" class="span12" value="{{arr.marge}}"></td>
                                                    <td><input type="checkbox" name="margesupplementpers[{{arr.hotelsupplement.id}}]"{%if arr.persm==1%} checked="checked"{%endif%}  class="span12 iphonecheck" value="margesupplementpers[{{arr.hotelsupplement.id}}]"></td>

                                                </tr>{%endfor%}
                                            </tbody>
                                        </table>




                                    </div>
                                </div>
                            </div>                       
                        </div>

                    <div class="span12"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Contingents de chambres </h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="40%">Chambre</th>
                                            <th>Disponibilité</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in price.priceroom  %}
                                            <tr>
                                                <td>{{ item.room.name }}</td>
                                                <td><input type="number" required="required" value="{{ item.qte }}" name="room[{{ item.room.id }}]"> </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="span12"></div>
                        <div class="">
                            <div class="span12">
                                <div class="w-box">
                                    <div class="w-box-header">
                                        <h4>Réduction</h4>
                                    </div>
                                    <div class="w-box-content">
                                        <table border="0" cellpadding="5" width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Réduction 3<sup>ième</sup> lit</th>
                                                    <th colspan="2">Réduction 4<sup>ième</sup> lit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>
                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ form_row(form.red3lit, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.pers3lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                    <td>{{ form_row(form.red4lit, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.pers4lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="span12"></div>
                        {% if hotel.contrat==2 %}
                            <div class="">
                                <div class="span12">
                                    <div class="w-box">
                                        <div class="w-box-header">
                                            <h4>Réduction des Enfants</h4>
                                        </div>
                                        <div class="w-box-content">
                                            <table border="0" cellpadding="5" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Réduction des Enfants</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td></td>

                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>

                                                </tr>
                                                <tr>
                                                    <td>Réduction 1 ère Enfant avec 2 adultes dans la même chambre </td>
                                                    <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction  2 ème Enfant avec 2 adultes dans la même chambre</td>
                                                    <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction 1 ère Enfant avec 1 adulte dans la même chambre</td>
                                                    <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction 2 ème Enfant avec 1 adulte dans la même chambre</td>
                                                    <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction Enfant dans une chambre séparée</td>
                                                    <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% else %}


                            <div class="" style="display: none">
                                <div class="span12">
                                    <div class="w-box">
                                        <div class="w-box-header">
                                            <h4>Réduction des Enfants</h4>
                                        </div>
                                        <div class="w-box-content">
                                            <table border="0" cellpadding="5" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Réduction des Enfants</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td></td>

                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>

                                                </tr>
                                                <tr>
                                                    <td>Réduction 1 ère Enfant avec 2 adultes dans la même chambre </td>
                                                    <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction  2 ème Enfant avec 2 adultes dans la même chambre</td>
                                                    <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction 1 ère Enfant avec 1 adulte dans la même chambre</td>
                                                    <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction 2 ème Enfant avec 1 adulte dans la même chambre</td>
                                                    <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Réduction Enfant dans une chambre séparée</td>
                                                    <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                    <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endif %}
                        <div class="span12"></div>

                        <div class="">

                                                {%if hotel.contrat==1%}
                                                    <div class="span12">
                                                        <div class="w-box">
                                                            <div class="w-box-header">
                                                                <h4>Réduction des enfant</h4>
                                                            </div>
                                                            <div class="w-box-content">
                                                                <table border="0" cellpadding="5" width="100%">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Réduction/Age</th>
                                                                        {%for item in allhotelchild %}
                                                                            <th colspan="2">{{item.child.name}}</th>
                                                                        {%endfor%}
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        {%for item in allhotelchild %}
                                                                            <td>Valeur</td>
                                                                            <td>Pourcentage</td>
                                                                        {%endfor%}
                                                                    </tr>
                                                    <tr>
                                                        <td>Réduction 1ère Enfant avec un adulte dans la même chambre </td>
                                                        {%for item in allhotelchild %}
                                                            {%for arr in price.pricechild%}

                                                                {%if arr.type==1 and item.id==arr.hotelchild.id %}
                                                                    <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[1][val][{{item.id}}]"></td>
                                                                    <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[1][pers][{{item.id}}]"></td>
																{% endif %}
															{% endfor %}
														{% endfor %}
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>Réduction 2ème Enfant avec un adulte dans la même chambre </td>
                                                        {%for item in allhotelchild %}
                                                            {%for arr in price.pricechild%}

                                                                {%if arr.type==4 and item.id==arr.hotelchild.id %}
                                                                    <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[4][val][{{item.id}}]"></td>
                                                                    <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[4][pers][{{item.id}}]"></td>
																{% endif %}
															{% endfor %}
														{% endfor %}
                                                    </tr>
                                                    
                                                    
                                                    <tr>
                                                        <td>Réduction un Enfant avec 2 adultes dans la même chambre </td>
                                                        {%for item in allhotelchild %}
                                                            {%for arr in price.pricechild%}

                                                                {%if arr.type==2 and item.id==arr.hotelchild.id %}
                                                                    <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[2][val][{{item.id}}]"></td>
                                                                    <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[2][pers][{{item.id}}]"></td>
                                                            {%endif%}{%endfor%}{%endfor%}
                                                    </tr>
                                                    
                                                     <tr>
                                                        <td>Réduction deux Enfant avec 2 adultes dans la même chambre </td>
                                                        {%for item in allhotelchild %}
                                                            {%for arr in price.pricechild%}

                                                                {%if arr.type==5 and item.id==arr.hotelchild.id %}
                                                                    <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[5][val][{{item.id}}]"></td>
                                                                    <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[5][pers][{{item.id}}]"></td>
                                                            {%endif%}{%endfor%}{%endfor%}
                                                    </tr>
                                                    <tr>
                                                        <td>Réduction Enfant dans une chambre séparée </td>
                                                        {%for item in allhotelchild %}
                                                            {%for arr in price.pricechild%}
                                                                {%if arr.type==3 and item.id==arr.hotelchild.id %}
                                                                    <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[3][val][{{item.id}}]"></td>
                                                                    <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[3][pers][{{item.id}}]"></td>
                                                            {%endif%}{%endfor%}{%endfor%}
                                                    </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                                                    {% else %}
                                                        <div class="span12" style="display: none">
                                                            <div class="w-box">
                                                                <div class="w-box-header">
                                                                    <h4>Réduction des enfant</h4>
                                                                </div>
                                                                <div class="w-box-content">
                                                                    <table border="0" cellpadding="5" width="100%">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Réduction/Age</th>
                                                                            {%for item in allhotelchild %}
                                                                                <th colspan="2">{{item.child.name}}</th>
                                                                            {%endfor%}
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td></td>
                                                                            {%for item in allhotelchild %}
                                                                                <td>Valeur</td>
                                                                                <td>Pourcentage</td>
                                                                            {%endfor%}
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Réduction 1 ère Enfant avec un adulte dans la même chambre </td>
                                                                            {%for item in allhotelchild %}
                                                                                {%for arr in price.pricechild%}

                                                                                    {%if arr.type==1 and item.id==arr.hotelchild.id %}
                                                                                        <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[1][val][{{item.id}}]"></td>
                                                                                        <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[1][pers][{{item.id}}]"></td>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% endfor %}
                                                                        </tr>
                                                                        
                                                                         <tr>
                                                                            <td>Réduction 2 ème Enfant avec un adulte dans la même chambre </td>
                                                                            {%for item in allhotelchild %}
                                                                                {%for arr in price.pricechild%}

                                                                                    {%if arr.type==4 and item.id==arr.hotelchild.id %}
                                                                                        <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[4][val][{{item.id}}]"></td>
                                                                                        <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[4][pers][{{item.id}}]"></td>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% endfor %}
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Réduction un Enfant avec 2 adultes dans la même chambre </td>
                                                                            {%for item in allhotelchild %}
                                                                                {%for arr in price.pricechild%}

                                                                                    {%if arr.type==2 and item.id==arr.hotelchild.id %}
                                                                                        <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[2][val][{{item.id}}]"></td>
                                                                                        <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[2][pers][{{item.id}}]"></td>
                                                                                    {%endif%}{%endfor%}{%endfor%}
                                                                        </tr>
                                                                        
                                                                        <tr>
                                                                            <td>Réduction deux Enfant avec 2 adultes dans la même chambre </td>
                                                                            {%for item in allhotelchild %}
                                                                                {%for arr in price.pricechild%}

                                                                                    {%if arr.type==5 and item.id==arr.hotelchild.id %}
                                                                                        <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[5][val][{{item.id}}]"></td>
                                                                                        <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[5][pers][{{item.id}}]"></td>
                                                                                    {%endif%}{%endfor%}{%endfor%}
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Réduction Enfant dans une chambre séparée </td>
                                                                            {%for item in allhotelchild %}
                                                                                {%for arr in price.pricechild%}
                                                                                    {%if arr.type==3 and item.id==arr.hotelchild.id %}
                                                                                        <td><input type="text" required="required" value="{{arr.price}}" class="span12" name="redenf[3][val][{{item.id}}]"></td>
                                                                                        <td><input type="checkbox" class="span12 iphonecheck"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[3][pers][{{item.id}}]"></td>
                                                                                    {%endif%}{%endfor%}{%endfor%}
                                                                        </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                {%endif%}

                        </div>
                    <div class="span12"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction et Majoration</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Majoration <sup>Minstay</sup> </th>
                                            <th colspan="2">Réduction <sup>Minstay </sup></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_row(form.majminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.persmajminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            <td>{{ form_row(form.redminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.persredminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    </div>

                    </div>
                    {{ form_rest(form) }}
                </form>
        </div>


        {% endblock %}
            {% block javascripts %} 
                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script> 
                <!-- masked inputs -->
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
                <script>
                    $(document).ready(function () {
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        $("#btob_hotelbundle_hotelprice_dates").blur(function () {
                            //alert("Handler for .keyup() called.");
                            if ($("#btob_hotelbundle_hotelprice_dated").val() != '' && $("#btob_hotelbundle_hotelprice_dates").val() != '') {

                                $.ajax({
                                    type: "POST",
                                    url: "{{path('add_hotelpricetestdate_manager')}}",
                                    data: "id={{hotel.id}}&dated=" + $("#btob_hotelbundle_hotelprice_dated").val() + "&dates=" + $("#btob_hotelbundle_hotelprice_dates").val()+"&priceid={{id}}"+'&marcheid='+{{ marcheid }},
                                    success: function (msg) {
                                        if (msg == "true") {
                                            $('#btsubmit').removeAttr("disabled");
                                        } else {
                                            bootbox.alert("Période non disponible!");
                                            $('#btsubmit').attr("disabled", "disabled")
                                        }
                                    }
                                });

                            }
                        });
                    });


                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

            {% endblock %}