{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Hôtel</a></li>
            <li><a href="">{{hotel.name}}</a></li>
            <li><span>Gestion des Périodes</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {% if (id is defined) %}
        <form id="validate_field_types" method="POST"
              action="{{ path('update_hotelprice_manager', {'id': id,'hotelid': hotel.id,'marcheid':marcheid}) }}"  {{ form_enctype(form) }}>
            {% else %}
            <form id="validate_field_types" method="POST"
                  action="{{ path('add_hotelprice_manager',{'hotelid': hotel.id,'marcheid':marcheid}) }}"  {{ form_enctype(form) }}>
                {% endif %}
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Information</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    {{ form_row(form.dated, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.nbnuit, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.nbperso, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.delaiannul, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.retro, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.price, { 'attr': {'class': 'span10'}}) }}
                                </div>
                              
                               
                                <div class="formSep">
                                    {{ form_row(form.pricew, { 'attr': {'class': 'span10'}}) }}
                                </div>
                             
                             
                                <div class="formSep">
                                    {{ form_row(form.supsingle, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.perssupsingle, { 'attr': {'class': 'span10 iphonecheck'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.margess, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.persss, { 'attr': {'class': 'span10 iphonecheck'}}) }}
                                </div>
                                <div class="formSep">
                                    <button type="submit" disabled="disabled" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span9">
                    
                        <div class="span10">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Arrangement</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5">

                                        <tbody>
                                        <tr>

                                            <th>Arrangement</th>
                                            <th>Valeur</th>
                                            <th>Pourcentage</th>
                                            <th>Marge</th>
                                            <th>Pourcentage</th>
                                            <th>Activé ?</th>
                                            <th>Min Stay</th>

                                        </tr>
                                        {% if not (hotel.hotelprice is empty)  %}
                                                {% for arr in allarrangement %}
                                                    <tr>

                                                        <th>{{ arr.name }}</th>
                                                        <td><input type="text" required="required" name="arrangement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"   name="persarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="persarr[{{ arr.id }}]"></td>
                                                        
                                                         <td><input type="text"  required="required" name="margearrangement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"  name="margepersarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="margepersarr[{{ arr.id }}]"></td>
                                                        
                                                        <td><input type="checkbox"  name="actarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="actarr[{{ arr.id }}]"></td>
                                                        <td><input type="text" required="required" name="minstay[{{ arr.id }}]" class="span12 "
                                                                   value="1"></td>

                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                        {% set notDuplicatedHotelArr = [] %}
                                        {% set notDuplicatedid = [] %}
                                        {% for arr in hotel.hotelarrangement %}

                                            
                                            {% if arr.arrangement.id not in notDuplicatedid %}
                                                {% set notDuplicatedid = notDuplicatedid|merge([arr.arrangement.id]) %}
                                                {% set notDuplicatedHotelArr = notDuplicatedHotelArr|merge([arr]) %}
                                            {% endif %}

                                        {% endfor %}
                                        {% for arr in notDuplicatedHotelArr %}

                                                    <tr>

                                                        <th>{{ arr.arrangement.name }}</th>
                                                        <td><input type="text" required="required" name="arrangement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"   name="persarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="persarr[{{ arr.id }}]"></td>
                                                        
                                                        <td><input type="text" required="required" name="margearrangement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"  name="margepersarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="margepersarr[{{ arr.id }}]"></td>
                                                        
                                                        <td><input type="checkbox"  name="actarr[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="actarr[{{ arr.id }}]"></td>
                                                        <td><input type="text" name="minstay[{{ arr.id }}]" class="span12 "
                                                                   value="1"></td>

                                                    </tr>
                                                {% endfor %}
                                            {% endif %}





                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
<div class="span9">
       </div>
                                 <div class="span9">

                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Suuplément</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5">

                                        <tbody>
                                            <tr>
                                                <th>Supplément</th>
                                                <th>Valeur</th>
                                                <th>Pourcentage</th>
                                                 <th>Marge</th>
                                                 <th>Pourcentage</th>
                                            </tr>
                                            {% if not (hotel.hotelprice is empty)  %}
                                                {% for arr in allsupplement %}
                                                    
                                                    <tr>

                                                        <th>{{ arr.name }}</th>
                                                        <td><input type="text" required="required" name="supplement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"  name="supplementpers[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="supplementpers[{{ arr.id }}]"></td>
                                                        
                                                         <td><input type="text" required="required" name="margesupplement[{{ arr.id }}]" class="span12"
                                                                   value="0"></td>
                                                        <td><input type="checkbox"  name="margesupplementpers[{{ arr.id }}]"
                                                                   class="span12 iphonecheck" value="margesupplementpers[{{ arr.id }}]"></td>

                                                    </tr>
                                                
                                                {% endfor %}
                                            {% else %}

                                                {% for arr in hotel.hotelsupplement %}
                                                    <tr>

                                                    <th>{{ arr.supplement.name }}</th>
                                                    <td><input type="text" name="supplement[{{ arr.id }}]" class="span12"
                                                               value="0"></td>
                                                    <td><input type="checkbox"  name="supplementpers[{{ arr.id }}]"
                                                               class="span12 iphonecheck" value="supplementpers[{{ arr.id }}]"></td>
                                                    
                                                       <td><input type="text" required="required" name="margesupplement[{{ arr.id }}]" class="span12"
                                                               value="0"></td>
                                                    <td><input type="checkbox"  name="margesupplementpers[{{ arr.id }}]"
                                                               class="span12 iphonecheck" value="margesupplementpers[{{ arr.id }}]"></td>

                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                                
                                            
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                   
                    <div class="span9"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Contingents de chambres </h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th width="40%">Chambre</th>
                                            <th>Disponibilité</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                           
                                                {% for item in hotel.hotelroom  %}
                                                
                                                            <tr>
                                                                <td>{{ item.room.name }}</td>
                                                                <td><input type="number" value="0" required="required" name="room[{{ item.room.id }}]"> </td>
                                                            </tr>
                                                        
                                                {% endfor %}
                                            

                                            
                                        </tbody>
                                     </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="span9"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Réduction 3<sup>ième</sup> lit</th>
                                            <th colspan="2">Réduction 4<sup>ième</sup> lit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_row(form.red3lit, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.pers3lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            <td>{{ form_row(form.red4lit, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.pers4lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="span9"></div>
                        {% if hotel.contrat==2 %}
                        <div class="">
                            <div class="span12">
                                <div class="w-box">
                                    <div class="w-box-header">
                                        <h4>Réduction des Enfants</h4>
                                    </div>
                                    <div class="w-box-content">
                                        <table border="0" cellpadding="5" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Réduction des Enfants</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>

                                                <td>Valeur</td>
                                                <td>Pourcentage</td>

                                            </tr>
                                            <tr>
                                                <td>Réduction 1 ère Enfant avec 2 adultes dans la même chambre </td>
                                                <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            </tr>

                                            <tr>
                                                <td>Réduction  2 ème Enfant avec 2 adultes dans la même chambre</td>
                                                <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            </tr>

                                            <tr>
                                                <td>Réduction 1 ère Enfant avec 1 adulte dans la même chambre</td>
                                                <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            </tr>

                                            <tr>
                                                <td>Réduction 2 ème Enfant avec 1 adulte dans la même chambre</td>
                                                <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            </tr>

                                            <tr>
                                                <td>Réduction Enfant dans une chambre séparée</td>
                                                <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>

                        </div>
                         {% else %}


                             <div class="" style="display: none">
                                 <div class="span12">
                                     <div class="w-box">
                                         <div class="w-box-header">
                                             <h4>Réduction des Enfants</h4>
                                         </div>
                                         <div class="w-box-content">
                                             <table border="0" cellpadding="5" width="100%">
                                                 <thead>
                                                 <tr>
                                                     <th>Réduction des Enfants</th>

                                                 </tr>
                                                 </thead>
                                                 <tbody>
                                                 <tr>
                                                     <td></td>

                                                     <td>Valeur</td>
                                                     <td>Pourcentage</td>

                                                 </tr>
                                                 <tr>
                                                     <td>Réduction 1 ère Enfant avec 2 adultes dans la même chambre </td>
                                                     <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                     <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                 </tr>

                                                 <tr>
                                                     <td>Réduction  2 ème Enfant avec 2 adultes dans la même chambre</td>
                                                     <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                     <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                 </tr>

                                                 <tr>
                                                     <td>Réduction 1 ère Enfant avec 1 adulte dans la même chambre</td>
                                                     <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                     <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                 </tr>

                                                 <tr>
                                                     <td>Réduction 2 ème Enfant avec 1 adulte dans la même chambre</td>
                                                     <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                     <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                 </tr>

                                                 <tr>
                                                     <td>Réduction Enfant dans une chambre séparée</td>
                                                     <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                     <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                 </tr>
                                                 </tbody>
                                             </table>


                                         </div>
                                     </div>
                                 </div>

                             </div>

                        {% endif %}


                    <div class="span9"></div>
                    <div class="">

                                    
                                 {% if not (hotel.hotelprice is empty)  %}

                                        {% if hotel.contrat==1 %}
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction des enfant</h4>
                                </div>
                                <div class="w-box-content">
                                            <table border="0" cellpadding="5" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Réduction/Age</th>


                                                {% for item in allchild %}
                                                    <th colspan="2">{{ item.name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                {% for item in allchild %}
                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction 1 ère Enfant avec un adulte dans la même chambre</td>
                                                {% for item in allchild %}

                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[1][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[1][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction 2 è3e Enfant avec un adulte dans la même chambre</td>
                                                {% for item in allchild %}

                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[4][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[4][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction un Enfant avec 2 adultes dans la même chambre</td>
                                                {% for item in allchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[2][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[2][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction deux Enfant avec 2 adultes dans la même chambre</td>
                                                {% for item in allchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[5][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[5][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction Enfant dans une chambre séparée</td>
                                                {% for item in allchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[3][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[3][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            </tbody>
                                            </table>
                                </div>
                            </div>
                        </div>

                                        {% endif %}

                                  {% else %}

                                    

                                        {% if hotel.contrat==1 %}
                                    <div class="span12">
                                        <div class="w-box">
                                            <div class="w-box-header">
                                                <h4>Réduction des enfant</h4>
                                            </div>
                                            <div class="w-box-content">
                                            <table border="0" cellpadding="5" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Réduction/Age</th>


                                                {% for item in hotel.hotelchild %}
                                                    <th colspan="2">{{ item.child.name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                {% for item in hotel.hotelchild %}
                                                    <td>Valeur</td>
                                                    <td>Pourcentage</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction 1 ère Enfant avec un adulte dans la même chambre</td>
                                                {% for item in hotel.hotelchild %}

                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[1][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[1][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            
                                             <tr>
                                                <td>Réduction 2 ème Enfant avec un adulte dans la même chambre</td>
                                                {% for item in hotel.hotelchild %}

                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[4][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[4][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction un Enfant avec 2 adultes dans la même chambre</td>
                                                {% for item in hotel.hotelchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[2][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[2][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            
                                            <tr>
                                                <td>Réduction deux Enfant avec 2 adultes dans la même chambre</td>
                                                {% for item in hotel.hotelchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[5][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[5][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td>Réduction Enfant dans une chambre séparée</td>
                                                {% for item in hotel.hotelchild %}
                                                    <td><input type="text" required="required" class="span12"
                                                               name="redenf[3][val][{{ item.id }}]" value="0"/></td>
                                                    <td><input type="checkbox" class="span12 iphonecheck"
                                                               name="redenf[3][pers][{{ item.id }}]"></td>
                                                {% endfor %}
                                            </tr>
                                            </tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                        {% endif %}



                                  {% endif %}



                    </div>
                    <div class="span9"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction et Majoration</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th colspan="2"><sup>Majoration</sup> Minstay </th>
                                            <th colspan="2"><sup>Réduction</sup> Minstay</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_row(form.majminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.persmajminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            <td>{{ form_row(form.redminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.persredminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
				   </div>
                </div>
                {{ form_rest(form) }}
            </form>
    </div>


{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
                <!-- masked inputs -->
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
                <script>
                    $(document).ready(function () {
                        $('#btob_hotelbundle_hotelprice_nbnuit').val(1);
                        $('#btob_hotelbundle_hotelprice_delaiannul').val(2);
                        $('#btob_hotelbundle_hotelprice_retro').val(3);
                        {% if id is not defined %}
                        $("#btob_hotelbundle_hotelprice_red3lit").val(0);
                        $("#btob_hotelbundle_hotelprice_red4lit").val(0);
						$("#btob_hotelbundle_hotelprice_majminstay").val(0);
                        $("#btob_hotelbundle_hotelprice_redminstay").val(0);

                        $("#btob_hotelbundle_hotelprice_enf12ad").val(0);
                        $("#btob_hotelbundle_hotelprice_enf22ad").val(0);
                        $("#btob_hotelbundle_hotelprice_enf11ad").val(0);
                        $("#btob_hotelbundle_hotelprice_enf21ad").val(0);
                        $("#btob_hotelbundle_hotelprice_minenf2").val(0);


                        {% endif %}
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                        $("#btob_hotelbundle_hotelprice_dates, #btob_hotelbundle_hotelprice_dated").blur(function () {
                            //alert("Handler for .keyup() called.");
                            if ($("#btob_hotelbundle_hotelprice_dated").val() != '' && $("#btob_hotelbundle_hotelprice_dates").val() != '') {
                                $.ajax({
                                    type: "POST",
                                    url: "{{path('add_hotelpricetestdate_manager')}}",
                                    data: "id={{hotel.id}}&dated=" + $("#btob_hotelbundle_hotelprice_dated").val() + "&dates=" + $("#btob_hotelbundle_hotelprice_dates").val()+'&marcheid='+{{ marcheid }},
                                    success: function (msg) {
                                        if (msg == "true") {
                                            $('#btsubmit').removeAttr("disabled");
                                        } else {
                                            bootbox.alert("Période non disponible!");
                                            $('#btsubmit').attr("disabled", "disabled")
                                        }
                                    }
                                });
                            }
                        });

                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        //
                        //
                    });
                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

            {% endblock %}