{% extends "manager.html.twig" %}
{% block title %}Gestion des Questions{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('jeu_show', {'id': entity.id}) }}">Question</a></li>

            <li><span>Gestion des Questions</span></li>
        </ul>
    </div>

    <!-- main content -->
<div class="container">
    <div class="row-fluid">


        <div class="span12">
            <div class="w-box">
                <div class="w-box-header">
                    <h4>Information général</h4>
                </div>



                <form method="post" action="{{ path('choix_news', {'id': entity.id})}}">


                <div class="w-box-content">


                    {% set i = 0 %}
                    <table border="0" id="catg" width="100%" cellpadding='3'>
                        <tbody>

                        <tr id="ligne0">

                            <td>
                                <div class="formSep">
                                    <label class="label-r">Choix :</label>
                                    <input name="choix[]"/>
                                </div>

                            </td>
                            <td>


                            </td>
                            <td>

                                <div class="span4" style="  margin-top: 36px;"><a id="todelete"
                                                                                  href="javascript:deleterow('ligne0')"><i
                                                class="splashy-error_x"></i></a></div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="span12 ">

                        <div class="span9"></div>
                        <div class="span3">
                            <a href='javascript:myFunction()'>+ Ajouter une autre Choix</a>
                        </div>
                    </div>

                </div>



                <div class="span12"></div>
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Validation</h4>
                        </div>
                        <div class="w-box-content">


                            <div class="formSep">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>


                        </div>
                    </div>
                </div>


                </form>



            </div>
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript">
            var i = 0;
            var row = $("#catg tbody").html();
            $(document).ready(function () {
                $("#todelete").remove();

                //alert("Handler for .blur() called.");
            });


            function myFunction() {
                i++;
                var rowint = replaceAll('ligne0', 'ligne' + i, row)
                $('#catg tbody').append(rowint);

            }

            function replaceAll() {
                i++;
                var rowint = replaceAll('ligne0', 'ligne' + i, row)
                $('#catg tbody').append(rowint);

            }
            function deleterow(div) {
                $("#" + div).remove();
            }
            function replaceAll(find, replace, str) {

                return str.replace(new RegExp(find, 'g'), replace);
            }
        </script>
{% endblock %}