{% extends "base.html.twig" %}
{% block title %} :: Transfert de l'aeroport de casablanca :: {% endblock %}
{% block body %}
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <br/>

	     <div class="col-sm-12">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
		 </div>


        {%endfor%}
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a class="active">Formulaire de Transfert</a></li>
        </ul>
	 </div>
	 <div>
        <form name=form1 method="post"  action="{{ path('front_transfert_homepage') }}">
	    <div class="col-sm-12">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-12 color-cadre" style="padding:8px 2px 8px 8px; background:#fff;">
		 <div class="w-box-content cnt_a color-rech">
                            <div class="row-fluid">
							    <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(client.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6">
                                    <div class="formSep div2">
                                        {{ form_row(client.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(client.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(client.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                   
                                    
                                    <div class="formSep div2">
                                        {{ form_row(client.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(client) }}
                            
                            </div>
                        </div>
		</div>
		</div>
		<div class="col-sm-12">
		 <div class="titre-recherche">Réservez votre véhicule en ligne afin d'assurer votre transfert aéroport Maroc: </div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-12 color-cadre" style="padding:8px 0px 8px 3px; background:#fff;">
		 <div class="w-box-content color-rech">
                            	
							    <div class="">
								     <div class="row-fluid">
                        <div class="col-sm-6">
                            <div class="formSep">
                                <label class="required">Organisme :</label>
                                <select name="organisme">
                                    <option value="Particulier">Particulier</option>
                                    <option value="Société">Société</option>
                                    <option value="Etablissement">Etablissement</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </div>
                        </div>
                        {% set i = 0 %}
						<div class="col-sm-12">
                        <table border="0" id="catg" width="100%" cellpadding='3'>
                            <tbody>

                            <tr id="ligne0">

                                <td width="48.5%">
                                    <div class="formSep">
                                        <label class="label-r">Catégorie :</label>
                                        <select name="cat[]">
                                            <option value="Véhicule de tourisme">Véhicule de tourisme</option>
                                            <option value="Véhicule monospace">Véhicule monospace</option>
                                            <option value="Véhicule Luxe et Confort">Véhicule Luxe et Confort</option>
                                            <option value="4*4">4*4</option>
                                            <option value="Grand Bus">Grand Bus</option>
                                            <option value="Mini Bus">Mini Bus</option>
                                            <option value="Autres">Autres</option>
                                        </select>
                                    </div>

                                </td>
                                <td width="49.5%">
                                    <div class="formSep">
                                        <label class="label-r2">Nombres :</label>
                                        <select name="nb[]" style="width:100% !important;">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>

                                </td>
                                <td width="2%" align="center">

                                    <div style="  margin-top: 36px;"><a id="todelete" href="javascript:deleterow('ligne0')"><img style="margin-top: -30px;" src="{{ asset('front/images/deleteico.png') }}" class="small_img1"/></a></div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
						</div>
                        <div class="">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4" style="text-align: right; padding-right: 20px;">
                                <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                            </div>
                        </div>

                        <div class="row-fluid">


                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Ville de départ *:</label>
                                     <input type="text" name="villed" class="span10" required="required">


                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Heure de départ :</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="text" class="input-small" name="tp-defaultd" id="tp-defaultd">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Date de départ *:</label>

                                    <input type="text" name='dated' style="width:99% !important;" id="datepicker_debut" required="required">                                
								</div>
                            </div>
							<div style="clear:both;"></div>
                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Ville d'arrivée *:</label>

                                    <input type="text" name="villea" class="span10" required="required">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Heure d'arrivée:</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="text" class="input-small" name="tp-defaulta" id="tp-defaulta">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="formSep">
                                    <label class="required">Date d'arrivée *:</label>
                                    <input type="text"   name='datea' style="width:99% !important;" id="datepicker_fin" required="required">
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Veuillez préciser le point de départ et d'arrivée: </label>
                                    <input name="pointd"  type="text"/>
                                </div>
                            </div>
                            <div style="padding-right:6px;">
                                <div class="col-sm-10"><span style="color:#333;"><sup>*</sup>Champs obligatoires</span></div>
                                <div class="col-sm-2" align="right"><input type="submit" value="Réserver" class="btn btn-success"/>
                                </div>
                            </div>
                        </div>
                    </div>
               
								</div>
                             
                            </div>
                        </div>
		</div>
		</div>
	 </form>
	  </div>
	  
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>




    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->

    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $("#datepicker_fin").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>






    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
            $('#tp-defaulta').timepicker()
            $('#tp-defaultd').timepicker()
            $("#mask_datea").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#mask_dated").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {

            return str.replace(new RegExp(find, 'g'), replace);
        }
    </script>
    <!-- datepicker -->

{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
    </style>
{% endblock %}