{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('show_users')}}">User</a></li>

            <li><span>Gestion des utilisateurs</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des utilisateurs</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                            <tr role="row">
                                <th>Utilisateur</th>
                                <th>Login</th>
                                <th>Email</th>
                                <th>Rôle</th>
                                <th>Active?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for entry in users%}

                            <tr>
                                <td>
                                    <a href="#">{{entry.name|e}} </a>
                                </td>
                                <td>{{entry.username|e}}</td>
                                <td> {{entry.email}}</td>
                                <td class="red"> {{entry.roles[0]}}</td>
                                <td>
                                    {% if entry.enabled==1 %}<span class="label label-success ptip_ne">Activé</span>{% else %}<span class="label label-danger ptip_ne">Désactivé</span> {% endif %}
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                        {% if entry.roles[0] != 'MONSITEWEB'%}

                                        <a class="green view"  href="{{ path('view_users', {'id': entry.id}) }}" ><i class="splashy-pencil"></i></a>
                                        {% endif %}

                                        {% if entry.roles[0] != 'ROLE_SUPER_ADMIN'%}
                                        <a href="{{ path('user_edit', {'id': entry.id}) }}" ><i class="splashy-zoom"></i></a>
                                        {% endif %}
                                        {% if entry.roles[0] != 'MONSITEWEB' and entry.roles[0] != 'ROLE_SUPER_ADMIN' %}

                                        <a href="javascript:confirmdeletbox('{{ path('delete_users', {'id': entry.id}) }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                        {% endif %}

                                        </a>

                                    </div>
                                </td>
                            </tr>

                                {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
     <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_users')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau utilisateur </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}