{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Hôtel</a></li>

            <li><span>Gestion des hôtels</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
            <form id="validate_field_types" method="POST"
                  action="{{ path('update_hotel_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                {% else %}
                <form id="validate_field_types" method="POST"
                      action="{{ path('add_hotel_manager') }}"  {{ form_enctype(form) }}>
                    {% endif %}
                    <div class="span5">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Information général</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.pays, { 'attr': {'class': 'span10','onchange':'loadville(this.value)'}}) }}

                                </div>
                                <div class="formSep">
                                    <select id="btob_hotelbundle_hotel_ville" class="span10" required="required"
                                            name="ville">
                                        <option value="">Choisissez</option>
                                    </select>

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.star, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.contrat, { 'attr': {'class': 'span10'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.baseroom, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.visite, { 'attr': {'class': 'span10'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.minenfant, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.maxenfant, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.shortdesc, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.longdesc, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>

                        <div class="formSep">
                            {{ form_row(form.seotitle, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(form.seodescreption, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(form.seokeyword, { 'attr': {'class': 'span10'}}) }}

                        </div>
                                {{ form_rest(form) }}

                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>information suplémentaire</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    <label>Chambre</label>
                                    <select class="public-methods" multiple="multiple" name="room[]">
                                        {% for item in room %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Catégorie d'enfants</label>
                                    <select class="public-methods" multiple="multiple" name="child[]">
                                        {% for item in child %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="formSep">
                                    <label>Options de l'hôtel</label>
                                    <select class="public-methods" multiple="multiple" name="option[]">
                                        {% for item in options %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Localisation</label>
                                    <select class="public-methods" multiple="multiple" name="localisation[]">
                                        {% for item in localisation %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Thèmes disponibles</label>
                                    <select class="public-methods" multiple="multiple" name="themes[]">
                                        {% for item in themes %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Arrangement</label>
                                    <select class="public-methods" multiple="multiple" name="arrangement[]">
                                        {% for item in arrangement %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Aménagement</label>
                                    <select class="public-methods" multiple="multiple" name="amg[]">
                                        {% for item in amg %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Suppléments</label>
                                    <select class="public-methods" multiple="multiple" name="supplement[]">
                                        {% for item in supplement %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Jour de weekend </label>
                                    <select name="weekend[]" class="public-methods" multiple="multiple">
                                        <option value="Mon">Lundi</option>
                                        <option value="Tue">Mardi</option>
                                        <option value="Wed">Mercredi</option>
                                        <option value="Thu">Jeudi</option>
                                        <option value="Fri">Vendredi</option>
                                        <option value="Sat">Samedi</option>
                                        <option value="Sun">Dimanche</option>
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Images</h4>
                            </div>
                            <div class="w-box-content" id="boximg">
                                <div class="formSep">
                                    <label>Nombre d'image </label>
                                    <select id="nbimg">
                                        {% for i in 0..10 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {%for item in hotel.hotelimg%}
                                    <div class="formSep">
                                        <div class="input-append bootstrap-timepicker-component">
                                            <input type="text" class="input-small span9 tsawer" value="{{ item.image }}" name="files[]" id="idfgqagmage{{ loop.index }}">
                                        <span class="add-on">
                                            <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{ loop.index }}"><i class="icon-download"> </i></a>
                                        </span>
                                        </div>
                                    </div>

                                {%endfor%}


                            </div>
                        </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Validation</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">

                                </div>


                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>

    <!-- 2col multiselect -->

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>







    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = 0;

        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;

            }
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
            $("#btob_hotelbundle_hotel_minenfant").val(2);
            $("#btob_hotelbundle_hotel_maxenfant").val(12);
        });
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                success: function (msg) {
                    $('#btob_hotelbundle_hotel_ville').html(msg);
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }

        tinymce.init({
            selector: '#btob_hotelbundle_hotel_longdesc',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180
        });



        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}