{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion des hôtels</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des  hôtels</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Hôtel</th>
                                    <th width="20%">Ville</th>
                                    <th width="10%">Etoiles</th>
                                    <th width="5%">Active?</th>
                                    <th width="10%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for entity in entities%}
                                    <tr>
                                        <td>{{entity.name}}</td>
                                        <td>{{entity.ville.name}}</td>
                                        <td>{% for i in 1..entity.star %}
                                            <i class="splashy-star_full"></i>{% endfor %}</td>
                                        <td>{%if entity.act==true%}<span class="label label-success ptip_ne">Activé</span>
                                        {%else%}<span class="label label-danger ptip_ne">Désactivé</span>{%endif%}</td>
                                            <td>
                                                <div class="pull-right">
                                    <div class="toggle-group">
                                        <span class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('update_hotel_manager', {'id': entity.id}) }}" title="Modifier"></i>Modifier</a></li>
                                            {% for item in marcher %}
                                            <li><a href="{{ path('btob_hotelprice_homepage', {'hotelid': entity.id,'marcheid':item.id}) }}" title="Tarifs ">Tarifs de {{ item.name }}</a></li>
                                                {% endfor %}
                                            <li><a href="{{ path('update_hotelroomoption_manager', {'id': entity.id}) }}" title="">Chambres</a></li>
                                            <li><a href="{{ path('update_hotelsuproom_manager', {'id': entity.id}) }}" title="">Supplément par chambre</a></li>
                                            <li><a href="{{ path('btob_promotion_homepage', {'hotelid': entity.id}) }}" title="">Promotion</a></li>
                                            <li><a href="{{ path('btob_responsable_homepage', {'hotelid': entity.id}) }}" title="">Info Responsable</a></li>

                                            <li><a href="{{ path('btob_stopsales_homepage', {'hotelid': entity.id}) }}" title="">Stop Sales</a></li>
                                            
                                            <li><a href="{{ path('btob_events_homepage', {'hotelid': entity.id}) }}" title="">Evenement</a></li>
                                            <li><a title="Supprimer" href="javascript:confirmdeletbox('{{ path('delete_hotel_manager', {'id': entity.id}) }}')" >Supprimer</a></li>
                                        </ul>
                                    </div>
                                </div>









                                            </td>
                                        </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                {% endblock %}
                    {% block javascripts %}
                        <!-- datatables -->
                        <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
                        <!-- datatables column reorder -->
                        <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
                        <!-- datatables column toggle visibility -->
                        <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
                        <!-- datatable table tools -->
                        <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
                        <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
                        <!-- datatables bootstrap integration -->
                        <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

                        <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
                        <script type="text/javascript">
                            jQuery(function ($) {
                                $("#dt_basic_length").prepend('<a href="{{ path('add_hotel_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau hôtel</a>');
                            });</script>
                        {% endblock %}
                        {% block stylesheets %}
                        <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
                        <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

                    {% endblock %}