{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
            <li><a href="">{{hotel.name}}</a></li>

            <li><span>Gestion des Chambres de chaque hôtel</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des  hôtels</h4>
                    </div>
                    <div class="w-box-content">
                        <form action="{{ path('update_hotelroomoption_manager', {'id': hotel.id}) }}" method="POST">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                    <tr>
                                        <th>Chambre</th>
                                        <th width="15%">Capacité</th>
                                        <th width="15%">Adulte</th>
                                        <th width="15%">Enfant</th>
                                        <th width="15%">Bébé</th>
                                        <th width="15%">Par personne?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for entry in hotel.hotelroom%}
                                        <tr>
                                            <td>{{entry.room.name}}</td>
                                            <td>{{entry.room.capacity}}</td>
                                            <td><select style="width:50px" name="ad[{{entry.id}}]">
                                                    {%for i in 0..entry.room.capacity%}
                                                        <option value="{{i}}"{%if i==entry.ad%} selected="selected"{%endif%}>{{i}}</option>
                                                    {%endfor%}
                                                </select></td>
                                            <td><select style="width:50px" name="enf[{{entry.id}}]">
                                                    {%for i in 0..entry.room.capacity%}
                                                        <option value="{{i}}"{%if i==entry.enf%} selected="selected"{%endif%}>{{i}}</option>
                                                    {%endfor%}
                                                </select></td>
                                            <td><select style="width:50px" name="bb[{{entry.id}}]">
                                                    {%for i in 0..entry.room.capacity%}
                                                        <option value="{{i}}"{%if i==entry.bb%} selected="selected"{%endif%}>{{i}}</option>
                                                    {%endfor%}
                                                </select></td>
                                                <td><input type="checkbox" class="span4 iphonecheck"{%if entry.personne==1%} checked="checked"{%endif%} name="personne[{{entry.id}}]" /></td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><button type="submit" class="btn btn-primary">Valider</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <form>

                                </div>
                                </div>



                                </div>
                                </div>
                                </div>

                            {% endblock %}
                            {% block javascripts %} 
                                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
                                <script>
                                    $(document).ready(function () {
                                        if ($('.iphonecheck').length) {
                                            $(".iphonecheck").iButton();
                                        }


                                    });

                                </script>

                            {% endblock %}
                            {% block stylesheets %}
                                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
                            {% endblock %}