{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
            <li><a href="">{{hotel.name}}</a></li>

            <li><span>Gestion des suppléments par chambres</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des  hôtels</h4>
                    </div>
                    <div class="w-box-content">
                        <form action="{{ path('update_hotelsuproom_manager', {'id': hotel.id}) }}" method="POST">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Supplément / Chambre</th>
                                            {%for item in hotel.hotelroom%}
                                            <th>{{item.room.name}}</th>
                                            {%endfor%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set notDuplicatedHotelArr = [] %}
                                        {% set notDuplicatedid = [] %}
                                        {% for entry in hotel.hotelroomsup %}

                                            
                                            {% if entry.supplement.id not in notDuplicatedid %}
                                                {% set notDuplicatedid = notDuplicatedid|merge([entry.supplement.id]) %}
                                                {% set notDuplicatedHotelArr = notDuplicatedHotelArr|merge([entry]) %}
                                            {% endif %}

                                        {% endfor %}
                                    
                                    
                                    
                                    
                                    {%for entry in notDuplicatedHotelArr%}
                                        <tr>
                                            <th>{{entry.supplement.name}}</th>
                                                {%for item in hotel.hotelroom%}

                                                {%set id=0%}{%set act=0%}
                                                {%for one in hotel.hotelroomsup%}
                                                    {%if one.room.id==item.room.id and one.supplement.id==entry.supplement.id%}
                                                        {%set id=one.id%}{%set act=one.act%}
                                                    {%endif%}
                                                {%endfor%}
                                                <td><input type="checkbox" class="span4 iphonecheck"{%if act==1%} checked="checked"{%endif%} name="rr[{{id}}]" /></td>
                                                {%endfor%}

                                        </tr>
                                    {%endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        {%for item in hotel.hotelroom%}
                                            <td></td>
                                        {%endfor%}
                                        <td><button type="submit" class="btn btn-primary">Valider</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <form>

                                </div>
                                </div>



                                </div>
                                </div>
                                </div>

                            {% endblock %}
                            {% block javascripts %} 
                                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
                                <script>
                                    $(document).ready(function () {
                                        if ($('.iphonecheck').length) {
                                            $(".iphonecheck").iButton();
                                        }


                                    });

                                </script>

                            {% endblock %}
                            {% block stylesheets %}
                                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
                            {% endblock %}