{% extends "manager.html.twig" %}
{% block title %}Gestion des voitures{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('classe')}}">Classe Voiture</a></li>

            <li><span>Gestion des classes du voitures</span></li>
        </ul>
    </div>

    <!-- main content -->
    {% if is_granted("ROLE_SUPER_ADMIN") %}

        <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                        <form id="validate_field_types" method="POST" action="{{ path('update_classe_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_classe_manager')}}"  {{ form_enctype(form) }}>
                                {% endif %}



                                <div class="formSep">
                                    {{ form_row(form.nom, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {%endif%}

{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}