﻿
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>.: Mena Tours :.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ asset('maintenance/css/style.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrap">
			<div class="content">
				<div class="logo">
					<a href=""><h1>Mena Tours</h1></a>
				</div>
				<p>Site en cours de maintenance &#33;</p>
				<div class="form">
					
				</div>
				<div class="footer">
				<div class="social-icons">
					   <a href="#"><span><img src={{ asset('maintenance/img/f.png') }}></span></a>
				       <a href="#"> <span><img src={{ asset('maintenance/img/r.png') }}></span></a>
				       <a href="#">  <span><img src={{ asset('maintenance/img/t1.png') }}></span></a>
					<div class="clear"> </div>
				</div>
				<p class="copy">&#169; 2015 Designed by<a href="http://tuninfoforyou.com/" target="_blank">&nbsp;TUNINFOFORYOU</a> </p>
				</div>
			</div>
		</div>
	</body>
</html>

                  