{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('front/css/theme.css') }}" />
<style>
 body{padding-top:0px;}
</style>
{% endblock %}
{% block body %}
<form>
<table>
 <tr>
  <td>
   <div id="titre-connect">
     Mot de passe perdu ?
   </div>
  </td>
 </tr>
 <tr>
  <td>
   <input type="text" name="log" placeholder="e-mail/ID" class="input-connect" />
  </td>
 </tr>
 <tr>
  <td>
   <input type="submit" value="VALIDER" class="submit-connect" />
  </td>
 </tr>
 <tr>
  <td>
   <a href="" class="lien-connect">
    Inscription
   </a>
  </td>
 </tr>
</table>
</form>
{% endblock %}