{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">ADRESSES</h1>
        <ul class="step" id="order_step">
            <li class="step_done"> <a href="#"> 1. Résumé </a> </li>
            <li class="step_done"> <a href="#"> 2. Identifiez-vous </a> </li>
            <li class="step_current"> <span>3. Adresse</span> </li>
            <li class="step_todo"> <span>4. Frais de port</span> </li>
            <li id="step_end" class="step_todo"> <span>5. Paiement</span> </li>
        </ul>
        <form action="{{path('main_page_frais')}}" method="post">
            <div class="addresses clearfix" style="width: 87%;margin: 0 auto;">
                <p class="address_delivery select">

                    {%if adress|length>0%}
                        <label for="id_address_delivery">Choisissez une adresse de livraison :</label>
                        <select name="id_address_delivery" id="id_address_delivery" class="address_select" >
                            {%for adr in adress%}
                                <option value="{{adr.id}}">{{adr.ref}}</option>
                            {%endfor%}
                        </select>
                    {%endif%}
                </p>
                <p class="checkbox addressesAreEquals">
                    <input type="checkbox" name="same" id="addressesAreEquals" value="1" checked="checked">
                    <label for="addressesAreEquals">Utiliser la même adresse pour la facturation</label>
                </p>

                <div class="clearfix">
                    {%if adress|length>0%}
                        <ul class="address item" id="address_delivery" style="height: 189px;">
                            <li class="address_title">Votre adresse de livraison</li>
                            <li class="address_firstname lastname">{{initadr.name}}</li>
                            <li class="address_address1">{{client.adresse}}</li>

                            <li class="address_postcode gouvernorat city localite">{{initadr.cp}} {{initadr.ville}}</li>
                            <li class="address_Country:name">{{client.pays}}</li>
                            <!--<li class="address_update"><a href="#" title="Mettre à jour">» Mettre à jour</a></li>-->
                        </ul>
                    {%endif%}
                    <ul class="address alternate_item " id="address_invoice" style="height: 189px;">
                        <li class="address_title">Votre adresse de facturation</li>
                        <li class="address_firstname lastname">{{client.pname}} {{client.name}}</li>
                        <li class="address_address1">{{client.adresse}}</li>                        
                        <li class="address_postcode gouvernorat city localite">{{client.cp}} {{client.ville}}</li>
                        <li class="address_Country:name">{{client.pays}}</li>
                        <!--<li class="address_update"><a href="#" title="Mettre à jour">» Mettre à jour</a></li>-->
                    </ul>
                </div>
                <p class="address_add submit"> <a href="#" title="Ajouter" class="button_large_csh" id="button_large_csh">Ajoutez une nouvelle adresse</a> </p>
                <div id="ordermsg" class="clearfix">
                    <p class="txt">Si vous voulez nous laisser un message à propos de votre commande, merci de bien vouloir le renseigner dans le champ ci-contre</p>
                    <p class="textarea">
                        <textarea cols="60" rows="3" name="message"></textarea>
                    </p>
                </div>
            </div>
            <p class="cart_navigation submit">          
                <a href="{{path('main_page_caddy')}}" title="Précédent" class="button_large_orange">« Précédent</a>
                <input type="submit" style="float:right;" name="processAddress" value="Suivant »" class="button_large_orange">
            </p>
        </form>
    </section>



{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootbox.js')}}"></script>
    <script type="text/javascript">
        $("#id_address_delivery").change(function () {
            var id;
            $("#id_address_delivery option:selected").each(function () {
                id = $(this).val();
            });
            $.ajax({
                type: "POST",
                url: "{{path('main_page_list_adresse')}}",
                data: "id=" + id ,
                success: function (msg) {
                    $("#address_delivery").html(msg)
                   
                }
            });
        })


        $("#button_large_csh").click(function () {
            bootbox.dialog({
                title: "Ajouter une autre adresse.",
                message: '<table class="table" width="100%" border="0" cellspacing="5" cellpadding="5">'
                        + '<tr>'
                        + '<th scope="row">'
                        + 'Titre de l\'adresse'
                        + '</th>'
                        + '<td>'
                        + '<input id="titrex" name="titrex" type="text" required="required" placeholder="Titre de l\'adresse" class="form-control " />'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<th scope="row">'
                        + 'Votre Nom'
                        + '</th>'
                        + '<td>'
                        + '<input id="namex" name="namex" type="text" required="required" placeholder="Votre Nom" class="form-control " />'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<th scope="row">'
                        + ' Adresse'
                        + '</th>'
                        + '<td>'
                        + '<textarea name="adressex" class="form-control " id="adressex" required="required" placeholder="Votre Adresse"></textarea>'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<th scope="row">'
                        + 'Code Postale'
                        + '</th>'
                        + '<td>'
                        + ' <input id="cpx" name="cpx" type="text" required="required" placeholder="Votre code postale" class="form-control " />'
                        + ' </td>'
                        + '</tr>'
                        + '<tr>'
                        + '<th scope="row">'
                        + 'Ville'
                        + ' </th>'
                        + '<td>'
                        + '<input id="villex" name="villex" type="text" required="required" placeholder="Votre ville" class="form-control " />'
                        + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<th scope="row">'
                        + 'Pays'
                        + ' </th>'
                        + '<td>'
                        + '<input id="paysx" name="paysx" type="text" required="required" placeholder="Votre Pays" class="form-control " />'
                        + '</td>'
                        + '</tr>'
                        + '</table>',
                buttons: {
                    success: {
                        label: "Ajouter",
                        className: "btn-success",
                        callback: function () {
                            var titrex = $('#titrex').val();
                            var namex = $('#namex').val();
                            var adressex = $('#adressex').val();
                            var cpx = $('#cpx').val();
                            var paysx = $('#paysx').val();
                            var villex = $('#villex').val();
                            $.ajax({
                                type: "POST",
                                url: "{{path('main_page_add_adresse')}}",
                                data: "titrex=" + titrex + "&namex=" + namex + "&adressex=" + adressex + "&cpx=" + cpx + "&paysx=" + paysx + "&villex=" + villex,
                                success: function (msg) {
                                    $("#address_delivery").html(msg)
                                    $(location).attr('href', "{{path('main_page_adresse')}}");
                                }
                            });

                        }
                    }
                }
            });
        })
    </script>
{% endblock %}