{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <form method="POST" action='{{path('main_page_validation')}}'>
   <section class="page_interne">
      <h1 id="cart_title">FRAIS DE PORT</h1>
      <ul class="step" id="order_step">
        <li class="step_done"> <a href="#"> 1. Résumé </a> </li>
        <li class="step_done"> <a href="#"> 2. Identifiez-vous </a> </li>
        <li class="step_done"> <a href="#"> 3. Adresse </a> </li>
        <li class="step_current"> <span>4. Frais de port</span> </li>
        <li id="step_end" class="step_todo"> <span>5. Paiement</span> </li>
      </ul>
      <div class="order_carrier_content" style="width: 97%;margin: 0 auto;">
        <h3 class="carrier_title">Choisissez votre mode de livraison</h3>
        <div id="HOOK_BEFORECARRIER"> </div>
        <div class="delivery_options_address">
          <h3> Choisissez une option de livraison pour l'adresse : <span>{{adresse.ref}}</span> </h3>
          <div class="delivery_options">
            <div class="delivery_option item">
              <input class="delivery_option_radio" type="radio" name="delivery_option"  id="" value="1" checked="checked">
              <label for="delivery_option_16429_0">
              <table class="resume">
                <tbody>
                  <tr>
                    <td class="delivery_option_logo"><img src="{{asset('images/64.jpg')}}" alt="Envoi par Rapid-Poste (Partout en Tunisie)"> </td>
                    <td><div class="delivery_option_title">Livraison à Domicile</div>
                      <div class="delivery_option_delay">Délai de livraison : 10 jours ouvrables</div>
                      <div class="delivery_option_fast delivery_option_icon">Le meilleur prix</div></td>
                    <td><div class="delivery_option_price"> 6.000 DT TTC </div></td>
                  </tr>
                </tbody>
              </table>
              <table class="delivery_option_carrier selected not-displayable">
                <tbody>
                  <tr>
                    <td class="first_item" colspan="2"><input type="hidden" value="66" name="id_carrier">
                      Délai de livraison : 10 jours ouvrables<br>
                     </td>
                  </tr>
                </tbody>
              </table>
              </label>
            </div>
            
          </div>
          <div class="hook_extracarrier" id="HOOK_EXTRACARRIER_16429"></div>
        </div>

        {%if point>=5%}
        <h3 class="gift_title">Points de fidélité</h3>
        <p class="checkbox">
             <label for="gift">Je souhaiteUtiliser vos points de fidélité.</label>
             <br>Choississez 
            <select name="fidd">
                <option value="0">0</option>
                <option value="5">5pt(10DT)</option>
                {%if point>=10%}<option value="15">10pt(15DT)</option>{%endif%}
                {%if point>=15%}<option value="20">15pt(20DT)</option>{%endif%}
                {%if point>=20%}<option value="25">20pt(25DT)</option>{%endif%}
            </select>
         
          <br>
        {%endif%}
        <p id="gift_div" class="textarea">
          
          <textarea rows="5" cols="35" id="gift_message" name="gift_message"></textarea>
        </p>
      </div>
      <p class="cart_navigation submit"> <a href="{{path('main_page_adresse')}}" title="Précédent" class="button_large_orange">« Précédent</a>
        <input type="submit" name="processCarrier" value="Suivant »" class="button_large_orange" style="float:right;">
      </p>
    </section>
</form>

{% endblock %}
{% block javascripts %}

{% endblock %}