<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;">
    <tbody>
        <tr>
            <td align="left"><span ><a title="dmode.tn" href="http://www.dmode.tn/" target="_blank">
                        <img style="border: none;"  alt="dmode.tn" src="http://www.dmode.tn/images/logo.png"></a>
                </span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="left">Bonjour <strong style="color: #db3484;">{{client.name}} {{client.pname}}</strong>,</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: #d1e419; color: #fff; font-size: 12px; font-weight: bold; padding: 0.5em 1em;" align="left">Merci d'avoir créé un compte sur dmode.tn. Voici un rappel de vos codes d'accès.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="left">Adresse e-mail : <strong><span style="color: #db3484;"><span class="Object" >{{client.email}}</span></span></strong> <br>Mot de passe : <strong>{{client.password}}</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="left">Vous pouvez dès à présent passer une commande sur notre site  <span class="Object"><a href="http://www.dmode.tn/" target="_blank">dmode.tn</a></span>.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="font-size: 10px; border-top: 1px solid #d1e419;" align="center"><span class="Object" ><a style="color: #db3484; font-weight: bold; text-decoration: none;" href="http://www.dmode.tn/" target="_blank">dmode.tn</a></span> </td>
        </tr>
    </tbody>
</table>