<a href="http://www.tunitalyhome.com"><img style="border: none;"  alt="dmode.tn" src="http://www.tunitalyhome.com"></a>

<h1>Confirmation de la commande</h1>
<p>
    Bonjour {{client.civ}} {{client.pname}} {{client.name}}</p>
<p>
    Merci d"avoir passé une commande sur Dmode.tn...<br><br>
    Si vous souhaitez suivre votre commande ou vous avez une question n'hezitez pas  d'appeller le service client du lundi au vendredi, de 9h à 18h  sur : 71 770 852 / 29 665 605 ou de nous contacter sur : contact@dmode.tn
    On vous rappelle que le délai de livraison pour :<br>
    - Grand tunis : Maximum 48 heures<br>
    - Hors du grand tunis : Maximum 6 jours


</p>
<h3>Votre commande est ci-dessous </h3><br>
Votre commande n°{{commande.id|getcoderef}} (datant du {{commande.dcr|date('d/m/Y h:i:s')}})
<br /><br /><br />
<table width="30%" style="margin-bottom: 20px;" border="0" cellspacing="3" align="right" cellpadding="3"  bgcolor="#ea692f">
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419">Client</th>
        <td bgcolor="#ffffff">{{client.civ}} {{client.pname}} {{client.name}}</td>
    </tr>
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419">Email</th>
        <td bgcolor="#ffffff">{{client.email}}</td>
    </tr>
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419" colspan="2">Adresse de facturation</th>
    </tr>
    <tr bgcolor="#D1E419">
        <td bgcolor="#ffffff" colspan="2">{{client.adresse}}, {{client.cp}} {{client.ville}}, {{client.pays}}.</td>
    </tr>
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419" colspan="2">Adresse de livraison</th>
    </tr>
    <tr bgcolor="#D1E419">
        <td bgcolor="#ffffff" colspan="2">{{commande.adrliv.adresse}}, {{commande.adrliv.cp}} {{commande.adrliv.ville}}, {{commande.adrliv.pays}}.</td>
    </tr>
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419">Date de la commande</th>
        <td bgcolor="#ffffff">{{commande.dcr|date('d/m/Y')}}</td>
    </tr>

    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419" colspan="2">Mode de paiement</th>
    </tr>
    <tr bgcolor="#D1E419">
        <td bgcolor="#ffffff" colspan="2">Paiement à la livraison(Esp&egrave;ce) .</td>
    </tr>
    <tr bgcolor="#D1E419">
        <th bgcolor="#D1E419" colspan="2">Mode de Livraison</th>
    </tr>
    <tr bgcolor="#D1E419">
        <td bgcolor="#ffffff" colspan="2">Frais de livraison Dmode .</td>
    </tr>

</table>
<br /><br /><br />
<table style="margin-top: 20px;" width="100%" border="0" cellspacing="3" cellpadding="3"  bgcolor="#ea692f">
    <thead>
        <tr bgcolor="#D1E419" >

            <th class="cart_description item">Description</th>
            <th class="cart_ref item">Réf.</th>
            <th class="cart_unit item">Prix unitaire</th>
            <th class="cart_quantity item">Qté</th>
            <th class="cart_total item">Total</th>

        </tr>
    </thead>

    <tbody>
        {%set total=0%}
        {%for key,prod in caddy%}
            <tr  bgcolor="#ffffff" id="product_14521_0_0_0" class="cart_item first_item address_0 odd">

                <td align="center" class="cart_description"><p class="s_title_block"> <span class="price" id="product_price_14521_0_0">{{prod['name']}}</span>
                        {%if prod['loptname'] is defined %}
                            <br>
                            {{prod['optionname']}} : {{prod['loptname']}}
                        {%endif%}</p></td>
                <td align="center" class="cart_ref"> <span class="price" id="product_price_14521_0_0">{{prod['ref'] }}</span></td>
                <td align="center" class="cart_unit">
                    {% if prod['pricepromo']>0%}{%set pu=prod['pricepromo']%}
                        <span class="price" id="product_price_14521_0_0"> 

                            <span style="text-decoration:line-through;">{{prod['price'] }} DT</span>
                            <br>
                            {{prod['pricepromo'] }}DT </span>
                        {%else%}{%set pu=prod['price']%}
                        <span class="price" id="product_price_14521_0_0"> {{prod['price'] }}DT </span>
                    {%endif%}
                </td>
                <td align="center" class="cart_unit">                            
                    <span class="price" id="product_price_14521_0_0">{{prod['qte'] }}</span>
                </td>
                <td align="center" class="cart_total"><span class="price" id="total_product_price_14521_0_0"> {%set totu=prod['qte']*pu%}{{totu}} DT </span> </td>

            </tr>
            {%set total=total+totu%}
        {%endfor%}
    </tbody>
    <tfoot>
        <tr  bgcolor="#ffffff" class="cart_total_price">
            <td align="right" colspan="4">Total produits TTC :</td>
            <td align="center" colspan="1" class="price" id="total_product">{{commande.total}} DT</td>

        </tr>
        {%if pt>0%}
            <tr  bgcolor="#ffffff" class="cart_total_delivery" >
                <td align="right" colspan="4">Réduction Point de fidélité:</td>

                <td align="center" colspan="1" class="price" id="total_shipping"> 	-{{pt}} D</td>

            </tr>
        {%endif%}
        <tr  bgcolor="#ffffff" class="cart_total_delivery" >
            <td align="right" colspan="4">Transport:</td>

            <td align="center" colspan="1" class="price" id="total_shipping"> 	7.000 DT</td>

        </tr>

        {%if commande.cadeau>0%}
            <tr  bgcolor="#ffffff" class="cart_total_delivery" >
                <td align="right" colspan="4">Papier cadeaux:</td>

                <td align="center" colspan="1" class="price" id="total_shipping"> 	1.000 DT</td>

            </tr>{%endif%}

            <tr bgcolor="#ffffff" class="cart_total_price">
                <td align="center" colspan="3" id="cart_voucher" class="cart_voucher">
                </td>
                <td align="center" colspan="1" class="price total_price_container" id="total_price_container"><p>Total :</p>

                <td align="center">{{commande.total2}} DT</td>
            </tr>
        </tfoot>
    </table>
