{% extends "base.html.twig" %}
{% block title %}tunitalyhome.com : Mes commandes{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">Mes Commandes</h1>

        <div class="paiement_block">
            <div id="order-detail-content" class="table_block">
                <div id="order-detail-content" class="table_block" style="margin: 20px auto;width: 98%;">
                <table id="cart_summary" class="std">
                    <thead>
                        <tr>
                            <th class="cart_product first_item">Référence</th>
                            <th class="cart_product item">Id-Aramex</th>
                            <th width="10%"  class="item">Date</th>
                            <th class="cart_ref item">Prix</th>
                            <th class="cart_total item">Etat</th>
                            <th class="cart_delete last_item">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        {%for entry in commande%}
                        <tr>
                            <td>{{entry.id|getcoderef}}</td>
                            <td>{{entry.idaramex}}</td>
                            <td>{{entry.dcr|date('d-m-Y')}}</td>
                            <td>{{entry.Total2}} DT</td>
                            <td>{%for stat in entry.status%}
                                                {{stat.dcr|date('d/m/Y h:i:s')}} : {{stat.status}}<br>
                                            {%endfor%} </td>
                            <td class="cart_delete" ><a href="{{path('main_mescommande_detail_client',{'id': entry.id})}}"  class="cart_quantity_delete"> Détail</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
<br /><br /><br /><br /><br /><br />
            </div>


    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}