{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">CHOISISSEZ VOTRE MODE PAIEMENT</h1>
        <ul class="step" id="order_step">
            <li class="step_done"> <a href="#"> 1. Résumé </a> </li>
            <li class="step_done"> <a href="#"> 2. Identifiez-vous </a> </li>
            <li class="step_done"> <a href="#"> 3. Adresse </a> </li>
            <li class="step_done"> <a href="#"> 4. Frais de port </a> </li>
            <li id="step_end" class="step_current_end"> <span>5. Paiement</span> </li>
        </ul>
        <div class="paiement_block">
            <div id="order-detail-content" class="table_block">
                <div class="success" id="create_">Votre commande sera payé lors de la livraison</div>
                </div>
               
            </div>
            

        </section>

        {% endblock %}
            {% block javascripts %}

            {% endblock %}