
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">
        var strchambre = "";
        function submitnewform() {
            $("#page").val(1);
            $("#formsearch").submit();
        }
        function changepage(page) {
            $("#page").val(page);
            $("#formsearch").submit();
        }
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                async: false,
                success: function (msg) {

                    $('#ville').append(msg);
                    //$("#s2_single2").prop('disabled', false);
                    /*$("#s2_single2").select2({
                     placeholder: "Choisissez",
                     allowClear: true
                     });*/
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }
        function addRowRoom() {
            $("#chammbbrr tbody").append(strchambre);
            $('.def_spinner').spinner();
        }
        $(document).ready(function () {

            strchambre = $("#chammbbrr tbody").html();


            //* range slider
            $(".ui_slider2").slider({
                range: true,
                min: 0,
                max: 3000,
                values: [{{price_min}}, {{price_max}}],
                slide: function (event, ui) {
                    $(".ui_slider2_val").text(ui.values[0] + " TND - " + ui.values[1] + " TND");
                    $("#ui_slider_min_val").val(ui.values[0]);
                    $("#ui_slider_max_val").val(ui.values[1]);
                }
            });
            $(".ui_slider2_val").text($(".ui_slider2").slider("values", 0) + " TND - " + $(".ui_slider2").slider("values", 1) + " TND");
            $("#ui_slider_min_val").val($(".ui_slider2").slider("values", 0));
            $("#ui_slider_max_val").val($(".ui_slider2").slider("values", 1));

        });
        $(document).ready(function () {
            //loadville(3);
            var strass = {{star}};
            $(".rating-input i").remove();
            //htm = 'Nombres d\'étoiles : ';
            htm = '';
            for (i = 1; i <= strass; i++) {
                htm += '<i class="splashy-star_full" data-value="' + i + '"></i>';
            }
            for (i = 1; i <= (5 - strass); i++) {
                j = parseInt(strass) + i;
                htm += '<i class="splashy-star_empty" data-value="' + j + '"></i>';
            }

            $(".rating-input").prepend(htm);
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            {%if paysid > 0 %}
            loadville({{paysid}});
            {%endif%}
            {%if ville > 0 %}
            $("#ville").val({{ville}});
            {%endif%}
        });
        var cities = [{%for item in filterhotel%}"{{item.name|e}}", {%endfor%}];
        $(document).ready(function () {
            $("#s2_single, #s2_single").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#ville").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            // input type number
            $('.def_spinner').spinner();
            $('#my-input').betterAutocomplete('init', cities, {}, {});
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');

        });
        function unlinkrow(i) {
            $("#row" + i).remove();
        }
    </script>

{% endblock %}

{% block stylesheets %}
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <!-- UI Spinners -->
    <!-- enchanced select box, tag handler -->

{% endblock %}