{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        {% if msg|length>0%}
            {%if tst==true%}{%set class='success'%}{%else%}{%set class='error'%}{%endif%}
        <div class="{{class}} " style="width: 94%;margin: 20px auto;">
            
            <ol>
                {{msg|raw}}
            </ol>
            
        </div>{%endif%}
        

        <form action="#" method="post" id="new_account_form" class="std clearfix " style="width:97%;margin:10px auto;">
            <fieldset  class="account_creation dni">
                <h3>Information Général</h3>
                <div id="opc_account_form" >
                    <!-- Account -->
                    <p class="required text">
                        <label for="guest_email">Adresse e-mail <sup>*</sup></label>
                        <input type="text" class="text" id="guest_email" readonly="readonly" name="guest_email" value="{{client.email}}">
                    </p>
                    <p class="radio required">
                        <span>Civilité</span>
                        <input type="radio" name="id_gender"  disabled="disabled"  id="id_gender1" value="M."{%if client.civ=='M.'%} checked="checked"{%endif%}>
                        <label for="id_gender1" class="top">M.</label>
                        <input type="radio"  disabled="disabled"  name="id_gender" id="id_gender2" value="Mme"{%if client.civ=='Mme'%} checked="checked"{%endif%}>
                        <label for="id_gender2" class="top">Mme</label>
                        <input type="radio"  disabled="disabled"  name="id_gender" id="id_gender3" value="Mlle"{%if client.civ=='Mlle'%} checked="checked"{%endif%}>
                        <label for="id_gender3" class="top">Mlle</label>
                    </p>
                    <p class="required text">
                        <label for="firstname">Prénom <sup>*</sup></label>
                        <input readonly="readonly" type="text" class="text" id="firstname" name="firstname"  value="{{client.name}}">
                    </p>
                    <p class="required text">
                        <label for="lastname">Nom <sup>*</sup></label>
                        <input readonly="readonly" type="text" class="text" id="lastname" name="lastname" value="{{client.pname}}">
                    </p>
                    <p class="select">
                        <span>Date de naissance</span>
                        <select  disabled="disabled"  id="days" name="days" class="chzn-done" >
                            <option value="">-</option>
                            <option value="01"{%if jj=='01'%} selected="selected"{%endif%}>1&nbsp;&nbsp;</option>
                            <option value="02"{%if jj=='02'%} selected="selected"{%endif%}>2&nbsp;&nbsp;</option>
                            <option value="03"{%if jj=='03'%} selected="selected"{%endif%}>3&nbsp;&nbsp;</option>
                            <option value="04"{%if jj=='04'%} selected="selected"{%endif%}>4&nbsp;&nbsp;</option>
                            <option value="05"{%if jj=='05'%} selected="selected"{%endif%}>5&nbsp;&nbsp;</option>
                            <option value="06"{%if jj=='06'%} selected="selected"{%endif%}>6&nbsp;&nbsp;</option>
                            <option value="07"{%if jj=='07'%} selected="selected"{%endif%}>7&nbsp;&nbsp;</option>
                            <option value="08"{%if jj=='08'%} selected="selected"{%endif%}>8&nbsp;&nbsp;</option>
                            <option value="09"{%if jj=='09'%} selected="selected"{%endif%}>9&nbsp;&nbsp;</option>
                            <option value="10"{%if jj=='10'%} selected="selected"{%endif%}>10&nbsp;&nbsp;</option>
                            <option value="11"{%if jj=='11'%} selected="selected"{%endif%}>11&nbsp;&nbsp;</option>
                            <option value="12"{%if jj=='12'%} selected="selected"{%endif%}>12&nbsp;&nbsp;</option>
                            <option value="13"{%if jj=='13'%} selected="selected"{%endif%}>13&nbsp;&nbsp;</option>
                            <option value="14"{%if jj=='14'%} selected="selected"{%endif%}>14&nbsp;&nbsp;</option>
                            <option value="15"{%if jj=='15'%} selected="selected"{%endif%}>15&nbsp;&nbsp;</option>
                            <option value="16"{%if jj=='16'%} selected="selected"{%endif%}>16&nbsp;&nbsp;</option>
                            <option value="17"{%if jj=='17'%} selected="selected"{%endif%}>17&nbsp;&nbsp;</option>
                            <option value="18"{%if jj=='18'%} selected="selected"{%endif%}>18&nbsp;&nbsp;</option>
                            <option value="19"{%if jj=='19'%} selected="selected"{%endif%}>19&nbsp;&nbsp;</option>
                            <option value="20"{%if jj=='20'%} selected="selected"{%endif%}>20&nbsp;&nbsp;</option>
                            <option value="21"{%if jj=='21'%} selected="selected"{%endif%}>21&nbsp;&nbsp;</option>
                            <option value="22"{%if jj=='22'%} selected="selected"{%endif%}>22&nbsp;&nbsp;</option>
                            <option value="23"{%if jj=='23'%} selected="selected"{%endif%}>23&nbsp;&nbsp;</option>
                            <option value="24"{%if jj=='24'%} selected="selected"{%endif%}>24&nbsp;&nbsp;</option>
                            <option value="25"{%if jj=='25'%} selected="selected"{%endif%}>25&nbsp;&nbsp;</option>
                            <option value="26"{%if jj=='26'%} selected="selected"{%endif%}>26&nbsp;&nbsp;</option>
                            <option value="27"{%if jj=='27'%} selected="selected"{%endif%}>27&nbsp;&nbsp;</option>
                            <option value="28"{%if jj=='28'%} selected="selected"{%endif%}>28&nbsp;&nbsp;</option>
                            <option value="29"{%if jj=='29'%} selected="selected"{%endif%}>29&nbsp;&nbsp;</option>
                            <option value="30"{%if jj=='30'%} selected="selected"{%endif%}>30&nbsp;&nbsp;</option>
                            <option value="31"{%if jj=='31'%} selected="selected"{%endif%}>31&nbsp;&nbsp;</option>
                        </select>

                        <select disabled="disabled" id="months" name="months" class="chzn-done">
                            <option value="">-</option>
                            <option value="1"{%if mm=='1'%} selected="selected"{%endif%}>Janvier&nbsp;</option>
                            <option value="2"{%if mm=='2'%} selected="selected"{%endif%}>Février&nbsp;</option>
                            <option value="3"{%if mm=='3'%} selected="selected"{%endif%}>Mars&nbsp;</option>
                            <option value="4"{%if mm=='4'%} selected="selected"{%endif%}>Avril&nbsp;</option>
                            <option value="5"{%if mm=='5'%} selected="selected"{%endif%}>Mai&nbsp;</option>
                            <option value="6"{%if mm=='6'%} selected="selected"{%endif%}>Juin&nbsp;</option>
                            <option value="7"{%if mm=='7'%} selected="selected"{%endif%}>Juillet&nbsp;</option>
                            <option value="8"{%if mm=='8'%} selected="selected"{%endif%}>Août&nbsp;</option>
                            <option value="9"{%if mm=='9'%} selected="selected"{%endif%}>Septembre&nbsp;</option>
                            <option value="10"{%if mm=='10'%} selected="selected"{%endif%}>Octobre&nbsp;</option>
                            <option value="11"{%if mm=='11'%} selected="selected"{%endif%}>Novembre&nbsp;</option>
                            <option value="12"{%if mm=='12'%} selected="selected"{%endif%}>Décembre&nbsp;</option>
                        </select>
                        <select disabled="disabled" id="years" name="years" class="chzn-done">
                            
                            <option value="">-</option>
                            {% for i in y..x %}
                            <option value="{{i}}"{%if yy==i%} selected="selected"{%endif%}>{{i}}&nbsp;&nbsp;</option>
                            {%endfor%}
                            
                        </select>
                    </p>
                    <h3>Adresse de livraison</h3>
                    <p class="text">
                        <label for="company">Société</label>
                        <input readonly="readonly" type="text" class="text" id="company" name="company" value="{{client.company}}">
                    </p>

                    <p class="required text">
                        <label for="address1">Adresse <sup>*</sup></label>
                        <input readonly="readonly" type="text" class="text" name="address1" id="address1" value="{{client.adresse}}">
                    </p>
                    <p class="required postcode text">
                        <label for="postcode">Code postal <sup>*</sup></label>
                        <input readonly="readonly" type="text" class="text" name="postcode" id="postcode" value="{{client.cp}}" >
                    </p>
                    <p class="required text">
                        <label for="city">Ville <sup>*</sup></label>
                        <input readonly="readonly" type="text" class="text" name="city" id="city" value="{{client.ville}}">
                    </p>

                    <p class="required text">
                        <label for="id_country">Pays <sup>*</sup></label>
                        <input readonly="readonly" name="id_country" id="id_country" class="chzn-done" value="{{client.pays}}" >

                    </p>
                    <p class="required text">
                        <label for="phone">Téléphone <sup>*</sup></label>
                        <input type="text" readonly="readonly" class="text" name="phone" id="phone" value="{{client.tel}}">
                    </p> 
                    <!-- END Account -->
                </div>
            </fieldset>
            <!--<fieldset class="account_creation dni" >
                <h3>Information de compte</h3>
                <p class="required text">
                    <label for="dni">Mot de passe</label>
                    <input type="password" class="text" name="password" id="password" value="">
                   
                </p>
                <p class="required text">
                    <label for="dni">Retapper votre mot de passe</label>
                    <input type="password" class="text" name="repassword" id="repassword" value="">
                    
                </p>
            </fieldset>-->
            <div class="error_customerprivacy" style="color:red;"></div>
          
        
           <!-- <p class="cart_navigation required submit">
                <span><sup>*</sup>Champs obligatoires</span>            
                <input type="submit" class="exclusive" name="submitGuestAccount" id="submitGuestAccount" value="Continuer">
            </p>-->
        </form>




    </section>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function loadinscription(){
            // ajout de champs email 
            $("#guest_email").val($("#email_create").val())
            $("#new_account_form").removeClass('hidden');
            return false;
        }
        
    </script>
{% endblock %}