{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/productsCarousel.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link type="text/css" href="{{ asset('css/jquery.bxslider.css') }}" media="all" rel="stylesheet"/>
    <link href="{{ asset('js/page/global5b73c.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('js/page/productb73c.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('js/page/jquery.fancyboxb73c.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('js/page/jquery.jqzoomb73c.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('js/page/productscategoryb73c.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">CHOISISSEZ VOTRE MODE PAIEMENT</h1>
        <ul class="step" id="order_step">
            <li class="step_done"><a href="#"> 1. Résumé </a></li>
            <li class="step_done"><a href="#"> 2. Identifiez-vous </a></li>
            <li class="step_done"><a href="#"> 3. Adresse </a></li>
            <li class="step_done"><a href="#"> 4. Frais de port </a></li>
            <li id="step_end" class="step_current_end"><span>5. Paiement</span></li>
        </ul>
        <div class="paiement_block">
            <div id="order-detail-content" class="table_block">
                <table id="cart_summary" class="std">
                    <thead>
                    <tr>
                        <th class="cart_product first_item">Produit</th>
                        <th class="cart_description item">Description</th>
                        <th class="cart_ref item">Réf.</th>
                        <th class="cart_unit item">Prix unitaire</th>
                        <th class="cart_quantity item">Qté</th>
                        <th class="cart_total item">Total</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% set total=0 %}
                    {% for key,prod in caddy %}
                        <tr id="product_14521_0_0_0" class="cart_item first_item address_0 odd">
                            <td class="cart_product">
                                {% if prod['img'] is defined %}{% if prod['img'] !='' %}

                                    <img src="{{ asset(prod['img']|apply_filter('panier')) }}" width="75" height="83"
                                         alt="{{ prod['name'] }}">
                                {% endif %}{% endif %}
                            </td>
                            <td class="cart_description"><p class="s_title_block"><span class="price"
                                                                                        id="product_price_14521_0_0">{{ prod['name'] }}</span>

                                    <br>
                                    {% for ooop in prod['combid'] %}
                                        {% if ooop>0 %}
                                            {{ prod[ooop]['optionname'] }} : {{ prod[ooop]['loptname'] }}<br>
                                        {% endif %}<br>
                                    {% endfor %}</p></td>
                            <td class="cart_ref"><span class="price"
                                                       id="product_price_14521_0_0">{{ prod['ref'] }}</span></td>
                            <td class="cart_unit">
                                {% if prod['pricepromo']>0 %}{% set pu=prod['pricepromo'] %}
                                    <span class="price" id="product_price_14521_0_0">

                                            <span style="text-decoration:line-through;">{{ prod['price'] }} DT</span>
                                            <br>
                                        {{ prod['pricepromo'] }}DT </span>
                                {% else %}{% set pu=prod['price'] %}
                                    <span class="price" id="product_price_14521_0_0"> {{ prod['price'] }}DT </span>
                                {% endif %}
                            </td>
                            <td class="cart_unit">
                                <span class="price" id="product_price_14521_0_0">{{ prod['qte'] }}</span>
                            </td>
                            <td class="cart_total"><span class="price"
                                                         id="total_product_price_14521_0_0"> {% set totu=prod['qte']*pu %}{{ totu }}
                                    DT </span></td>

                        </tr>
                        {% set total=total+totu %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="cart_total_price">
                        <td colspan="4">Total produits TTC :</td>
                        <td colspan="1" class="price" id="total_product">{{ commande.total }} DT</td>
                        <td></td>
                    </tr>

                    <tr class="cart_total_delivery">
                        <td colspan="4">Transport:</td>

                        <td colspan="1" class="price"
                            id="total_shipping">    {% if commande.total<130 %}5.000{% else %}0{% endif %} DT
                        </td>
                        <td></td>
                    </tr>
                    {% if pt>0 %}
                        <tr class="cart_total_delivery">
                            <td colspan="4">Réduction Point de fidélité:</td>

                            <td colspan="1" class="price" id="total_shipping"> -{{ pt }} DT</td>
                            <td></td>
                        </tr>
                    {% endif %}
                    {% if commande.cadeau>0 %}
                        <tr class="cart_total_delivery">
                            <td colspan="4">Papier cadeaux:</td>

                            <td colspan="1" class="price" id="total_shipping"> 1.000 DT</td>
                            <td></td>
                        </tr>{% endif %}
                    <tr class="cart_total_voucher hidden">
                        <td colspan="5"> Total bons d'achats TTC:</td>
                        <td colspan="1" class="price-discount price" id="total_discount"> 0.000 DT</td>
                        <td></td>
                    </tr>
                    <tr class="cart_total_price">
                        <td colspan="3" id="cart_voucher" class="cart_voucher">
                        </td>
                        <td colspan="2" class="price total_price_container" id="total_price_container"><p>Total :</p>
                            <span id="total_price">{{ commande.total2 }} DT</span></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <p class="cart_navigation"><a href="{{ path('main_page_frais') }}" title="Précédent"
                                          class="button_large_csh">« Précédent</a></p>
        </div>
        <div style="clear: both"></div>
        <div id="HOOK_TOP_PAYMENT"></div>
        <div id="HOOK_PAYMENT">
            <!--<form id="sps_form" name="form" method="post" action="https://www.smt-sps.com.tn/clicktopay/">

                <p class="payment_module"><span
                            style="clear: both; display: block; padding-top: 10px; margin-bottom: 10px;" class="clear">Paiement par carte bancaire (CIB/Visa/Mastercard)</span> <span
                            style="margin-left: 20px; float: left; clear: left; height: 60px; margin-left: 22%;">
                            <img alt="" src="{{ asset('images/cib.png') }}"> <img alt="" src="images/visa.png">
                            <img alt="" src="{{ asset('images/mastercard.png') }}"> </span> <span
                            style="display: block; clear: both; margin-top: 20px; padding: 20px 0px;">
                                  <form>
                                      <input name="Reference" type="hidden" value="{{ commande.id }}"/>
                                      <input name="Montant" type="hidden"
                                             value="{{ commande.total2|getnumberformat }}"/>
                                      <input name="Devise" type="hidden" value="TND">
                                      <input name="affilie" type="hidden" value="0191389014">
                                      <input type="submit" class="button_large_csh"
                                             style="line-height: 31px; border: 0;margin: 0 auto; height: 45px; padding-top: 0;"
                                             value="Payer par carte bancaire">
                                  </form>
                               
                --></p>


                <style type="text/css">
                    .payment_module .button_large_csh {
                        width: 207px;
                        padding-top: 11px;
                        color: white !important;
                    }
                </style>
                            <form action="{{ path('main_recap_client') }}" method="post">
                                <p class="payment_module"> Vous ne disposez pas de carte bancaire ou postale ? Payez
                                    votre commande en espèces au moment de la livraison !<br>
                                    <span style="margin-left: 20px; float: left; clear: left;margin-left: 34%;"> <img
                                                alt="" src="{{ asset('images/livraison.png') }}"> </span> <span
                                            style="display: block; clear: both; margin-top: 10px; padding: 10px 0px;">
                       <input style="line-height: 31px; border: 0;margin: 0 auto; height: 45px; padding-top: 0; pointer:hand;"
                              type="submit" value="Payer Comptant à la livraison" class="button_large_csh"/>
                        <a href=""></a> </span></p><input type="hidden" name="id" value="{{ commande.id }}"/></form>
        </div>


    </section>

{% endblock %}
            {% block javascripts %}

            {% endblock %}