{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span>Détail de l'hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="wizard-basic" class="swMain">
                    <ul>
                        <li>
                            <a href="#sw-basic-step-1" id="stepone">
                                <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Selectionnez l'hôtel</small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-2" id="steptwo">
                                <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                            </a>
                        </li><li>
                            <a href="#sw-basic-step-3" id="stepthree">
                                <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Chambres<small>Selectionnez les chambres</small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-4" id="stepfour">
                                <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Coordonnées<small>Remplir les coordonnées </small>
                                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="#sw-basic-step-5" id="stepfive">
                                <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 5 : Validation<small>Validation de la réservation </small>
                                                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <div class="row-fluid "> <form method="post" action="{{ path('btob_marque_recap_homepage') }}">
                <div class="span12">

                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <table>
							   <tr>
							    <td><h4>{{ hotel.name }}</h4></td>
							    <td width="5"></td>
								{% for i in 1..hotel.star %}
    <td>
        <span class="etoileindex"></span>
    </td>
{% endfor %}
							   </tr>
							  </table>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span10"></div>
                                    <div class="span2">
                                        <a href="{{ path('btob_list_selection_homepage', {'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-success inv_new">Réserver</a>
                                    </div>
                                </div>
                                <div class="span12"></div>
                                <div class="span12">
                                    <div id="large_grid" class="wmk_grid">
                                        <ul>
                                            {% for item in hotel.hotelimg %}
    <li id="5100767f8e415" class="" data-folder="folder_1">
                                            <span class="img_holder">
                                               <a href="../../../../..{{ asset(item.file) }}" rel="group6" class="img_action_zoom group6"> <img
                                                           src="../../../../..{{ asset(item.file) }}" rel="group6"  alt=""/></a>

                                            </span>

        <p class="img_actions">
            <a class="img_action_zoom" href="{{ asset(item.file) }}"><i
                        class="icon-search"></i></a>
        </p>
    </li>
{% endfor %}
                                        </ul>
                                    </div>

                                </div>
                                <div class="span12"></div>
                                <div class="span12" style="margin-left:0; color:#555;">
                                    <p class="heading_a">Description</p>
                                    {{ hotel.longdesc|raw }}
                                </div>

                                <div class="span12"></div>
                                <div class="span12" style="margin-left: 0">
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle acc-in" data-toggle="collapse"
                                                   data-parent="#accordion2" href="#collapseOne2">
                                                    + Plus d'informations
                                                </a>
                                            </div>
                                            <div id="collapseOne2" class="accordion-body in collapse">
                                                <div class="accordion-inner">
                                                    <div class="span3">
                                                        <p class="heading_a">Type de chambre</p>
                                                        <ul>
                                                            {% for item in hotel.hotelroom %}
    <li>{{ item.room.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="span3">
                                                        <p class="heading_a">Arrangement(s):</p>
                                                        <ul>
                                                            {% for item in hotel.hotelarrangement %}
    <li>{{ item.arrangement.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="span3">
                                                        <p class="heading_a">Thèmes :</p>
                                                        <ul>
                                                            {% for item in hotel.hotelthemes %}
    <li>{{ item.themes.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="span3">
                                                        <p class="heading_a">Localisation :</p>
                                                        <ul>
                                                            {% for item in hotel.hotellocalisation %}
    <li>{{ item.localisation.name }}</li>
{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="span12">
                                    <div class="span10"></div>
                                    <div class="span2">
                                        <a href="{{ path('btob_list_selection_homepage', {'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-success inv_new">Réserver</a>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </form>
                </div>


    </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- colorbox -->
    <script src="{{ asset('back/js/lib/colorbox/jquery.colorbox.min.js') }}"></script>
    <!-- responsive image grid -->
    <script src="{{ asset('back/js/lib/wookmark/jquery.imagesloaded.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/wookmark/jquery.wookmark.min.js') }}"></script>

    <script src="{{ asset('back/js/pages/beoro_gallery.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
        });</script>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}