{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}

{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a><i class="icon-home"></i></a></li>
            <li><a>Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">

        <form method="post" action="{{ path('btob_list_recap_homepage') }}">
            <input type="hidden" name="hotelid" value="{{ hotelid }}"/>
            <input type="hidden" name="dated" value="{{ dated|date('Y-m-d') }}"/>
            <input type="hidden" name="datef" value="{{ datef|date('Y-m-d') }}"/>

            <div class="row-fluid">

            </div>


            <div class="row-fluid">
                <div class="span12">
                    {% set entry = price %}
                     {% set v=0 %}
                    {% set hotel=entry['hotel'] %}
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <table>
                                <tr>
                                    <td><h4>{{ hotel.name }}</h4></td>
                                    <td width="5"></td>
                                    {% for i in 1..hotel.star %}
                                        <td>
                                            <span class="etoileindex"></span>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="../../../../..{{ asset(entry['image']) }}"/>

                                    </div>
                                    <div class="span4">

                                        <div class="span12">
                                            <h4 class="titrehhh">{{ hotel.name }}</h4>
                                        </div>
                                        <div class="span12">
                                            <strong>{{ hotel.ville.name }}, {{ hotel.pays.name }}</strong><br>


                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>
									<div class="span4">	
                                        <div class="span12">
                                            <h4 class="titrehhh">Selection autre période</h4>
                                        </div>								 
										<div class="span12">
										<table>
										 <tr>
										  <td>
										   <strong>De : </strong>
										  </td>
										  <td>
										   <input type="text" name='dated' value="{{ dated|date('Y-m-d') }}"
                                                       id="datepicker_debut" style="height: 15px; width:100px; font-size:12px;" />
										  </td>
										 </tr>
										 <tr>
										  <td>
										   <strong>&Agrave; : </strong>
										  </td>
										  <td>
										   <input type="text" value="{{ datef|date('Y-m-d') }}" name='datef'
                                                       id="datepicker_fin" style="height: 15px; width:100px; font-size:12px;" />
										  </td>
										 </tr>
										</table>
										</div>
									</div>
                                    <div class="span12" align="right" style="padding-right: 27px;">
                                        <div class="sepH_b">
                                            <button id="activatebt" style="display:none"
                                                    class="btn btn-small btn-primary inv_new">Tarif & Dispo
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span12"></div>

                                <div class="span12" style="margin-left: 0;">


                                    {% set foo=[''] %}


                                    {% set idtable=1 %}

                                    {% set k=1 %}
                                    {% for itemxy in entry["allprice"] %}

                                    <table class="table  table-bordered table-condensed " id="tabroom{{ idtable }}">


                                        {% set k=1 %}
                                    {% for item in itemxy %}
                                        {% if k==1 %}
                                        <thead>
                                        <tr bgcolor="#f6f6f6" id="room">
                                            <th class="span3">{{ item['roomname'] }}</th>




                                            {% set foo = foo|merge([item['roomname']]) %}





                                            <th class="span2">{% for x in 1..item['nbpersonne'] %}
                                                    <img src="{{ asset('front/images/icone_bn_1.jpg') }}"/>
                                                {% endfor %}</th>
                                            <th colspan="3" class="span7">
                                                <select name="selector" id="selector" style="width: 50px"
                                                        onchange="Addrowtotable('tabroom{{ idtable }}',this.value,{{ item['nbpersonne'] }})">
                                                    {% for x in 0..20 %}
                                                        <option{% if itemxy|length==x %} selected="selected"{% endif %}
                                                        value="{{ x }}">{{ x }}</option>{% endfor %}
                                                </select>&nbsp;&nbsp;&nbsp;
                                                &Agrave; partir de
                                                {% if margepers==1 %}
                                                    {% set prix = entry['price'] + (entry['price'] * margeval / 100) %}
                                                {% else %}
                                                    {% set prix = entry['price'] +  margeval %}
                                                {% endif %}
                                                {{ prix|changedevisefront }}
                                                {% if itemxy[0]['typepersonne']==true %}par personne{% else %}par chambre{% endif %}
                                                en {{ entry['name'] }}</th>


                                        </tr>
                                        </thead>
                                        <tbody id="tb{{ item['nbpersonne'] }}">{% endif %}

                                        <tr>

                                            <td colspan="2" rowspan="2">Chambre {{ k }} :

                                            </td>


                                            <td class="span3">Adultes :

                                                <select
                                                        class="selectmenuforchanging"
                                                        name="adulte[{{ item['id'] }}][{{ k }}][]"
                                                        id="adulte[{{ item['id'] }}][{{ k }}][]"
                                                        onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})"
                                                        style="width: 50px">

                                                    {% for xy in 0..item['nbad'] %}

                                                        <option {% if xy==item['ad'] %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>

                                                    {% endfor %}


                                                </select>


                                            </td>
                                            <td class="span3">Enfants : <select
                                                        class="selectmenuforchanging2"
                                                        name="enfant[{{ item['id'] }}][{{ k }}][]"
                                                        id="enfant[{{ item['id'] }}][{{ k }}][]"
                                                        onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})"
                                                        style="width: 50px">
                                                    {% for xy in 0..item['nbenf'] %}
                                                        <option{% if item['enf']==xy %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>
                                                    {% endfor %}
                                                </select>


                                                {% if item['enf']>0 %}
                                                    <div class="span12">
                                                        {% for it in 1..item['enf'] %}
                                                            <label> Age Enfant {{ it }}
                                                                <select
                                                                        class="selectmenuforchanging3"
                                                                        style=" width: 50px;"
                                                                        name="children[{{ item['id'] }}][{{ k }}][]"
                                                                        id="children[{{ item['id'] }}][{{ k }}][]">
                                                                    <option {% if child[v]==0 %} selected="selected"{% endif %}  value="0">0</option>
                                                                    <option {% if child[v]==1 %} selected="selected"{% endif %} value="1">1</option>
                                                                    <option {% if child[v]==2 %} selected="selected"{% endif %}  value="2">2</option>
                                                                    <option {% if child[v]==3 %} selected="selected"{% endif %} value="3">3</option>
                                                                    <option {% if child[v]==4 %} selected="selected"{% endif %} value="4">4</option>
                                                                    <option {% if child[v]==5 %} selected="selected"{% endif %} value="5">5</option>
                                                                    <option {% if child[v]==6 %} selected="selected"{% endif %} value="6">6</option>
                                                                    <option {% if child[v]==7 %} selected="selected"{% endif %} value="7">7</option>
                                                                    <option {% if child[v]==8 %} selected="selected"{% endif %} value="8">8</option>
                                                                    <option {% if child[v]==9 %} selected="selected"{% endif %} value="9">9</option>
                                                                    <option {% if child[v]==10 %} selected="selected"{% endif %} value="10">10</option>
                                                                    <option {% if child[v]==11 %} selected="selected"{% endif %} value="11">11</option>
                                                                    <option {% if child[v]==12 %} selected="selected"{% endif %} value="12">12</option>
                                                                </select> an(s)
                                                            </label>
                                                                {%set v=v+1%}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="span6">avec :

                                                <select
                                                        class="selectmenuforchanging4"
                                                        name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                        id="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                        style="width: 300px;">
                                                    {% set w=0 %}
                                                    {% for xarritem in entry.pricearr %}
                                                        <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>
                                                            {{ xarritem["name"] }}{% if w!=0 %} (+
                                                                {% if margepers==1 %}
                                                                    {%if(xarritem["prstt"])%}
                                                                       {% set prixarr = (entry['price']*xarritem["price"]/100) + (xarritem["price"]  * margeval / 100) %}
                                                                    {%else%}
                                                                       {% set prixarr = xarritem["price"] + (xarritem["price"]  * margeval / 100) %}
                                                                    {%endif%}    
                                                                {% else %}
                                                                    {%if(xarritem["prstt"])%}
                                                                      {% set prixarr = (entry['price']*xarritem["price"]/100) +  margeval %}
                                                                    {%else%}
                                                                      {% set prixarr = xarritem["price"] +  margeval %}
                                                                    {%endif%}
                                                                   {% endif %}
                                                                {{ prixarr|changedevisefront }}
                                                                ){% endif %}
                                                        </option>

                                                        {% set w=w+1 %}   {% endfor %}
                                                </select></td>

                                        </tr>
                                        <tr>

                                            <td colspan="3">
                                                {% if item['supplement'] is defined %}
                                                    {% if item['supplement']|length>0 %}
                                                        <div class="span6"><h5>Suppl&eacute;ment(s) :</h5>
                                                        {% for itemsup in item["supplement"] %}
                                                            {% if itemsup[0] is defined %}
                                                                {% if  itemsup[0].act==1 %}
                                                                    <label class="radiosupp"> <input
                                                                                class="radiosuppforchanging"
                                                                                value="{{ itemsup[1][1] }}"
                                                                                type="checkbox"
                                                                                name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                        (
                                                                        {% if itemsup[1][0]>0 %}
                                                                            {% if margepers==1 %}
                                                                                {% set prixsupp = itemsup[1][0] + (itemsup[1][0] * margeval / 100) %}
                                                                            {% else %}
                                                                                {% set prixsupp = itemsup[1][0] +  margeval %}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% set prixsupp=itemsup[1][0] %}
                                                                        {% endif %}
                                                                        {{ prixsupp|changedevisefront }}
                                                                        )<br></label>
                                                                {% endif %}
                                                            {% endif %}





                                                        {% endfor %}
                                                        </div>{% endif %}
                                                {% endif %}
                                                {% if item['events']|length>0 %}
                                                    <div class="span6">
                                                        <h5>&Eacute;venements :</h5>
                                                        {% for itemev in item['events'] %}
                                                            <label class="radioevent">
                                                                <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                        class="radioeventforchanging"
                                                                        type="checkbox"
                                                                        name="event[{{ item['id'] }}][{{ k }}][]"
                                                                        value="{{ itemev.id }}"/>
                                                                &nbsp;&nbsp;{{ itemev.name }}
                                                                (Adulte
                                                                {% if itemev.pricead>0 %}
                                                                    {% if margepers==1 %}
                                                                        {% set prixev = itemev.pricead + (itemev.pricead * margeval / 100) %}
                                                                    {% else %}
                                                                        {% set prixev = itemev.pricead +  margeval %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% set prixev=itemev.pricead %}
                                                                {% endif %}

                                                                {{ prixev|changedevisefront }}  /
                                                                Enfant
                                                                {% if itemev.pricech >0 %}
                                                                    {% if margepers==1 %}
                                                                        {% set prixev = itemev.pricech  + (itemev.pricech * margeval / 100) %}
                                                                    {% else %}
                                                                        {% set prixev = itemev.pricech  +  margeval %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% set prixev=itemev.pricech %}
                                                                {% endif %}
                                                                {{ prixev|changedevisefront }}  )
                                                            </label>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% set k= k+1 %}

                                        {% endfor %}



                                        </tbody>

                                        </table>{% set idtable= idtable +1 %}

                                    {% endfor %}













                                </div>
                                <div class="span12"></div>

    <div class="span12" style="margin-left: 0;">
								  <section class="ac-container">
								   <div>
								    <input id="ac-1" name="accordion-1" class="accchek" type="checkbox" />
									<label for="ac-1" class="accolabel">Afficher les autres chambres</label>
									<article class="ac-medium">
									  <div class="span12" style="margin-left: 0;">
                                                        {% set idtable=1 %}


                                                        {% set showit=false %}



                                                        {% if entry['allotherprice'] is defined %}
                                                            {% for itemxy in entry["allotherprice"] %}


                                                                {% set tagvalide=true %}
                                                                {% set tagduplicated=true %}





                                                                {% set k=1 %}



                                                            <table class="table  table-bordered table-condensed "
                                                                   id="roomother{{ idtable }}">

                                                                <thead>


                                                                {% for item in itemxy %}

                                                                {% if foo|length==3 %}
                                                                    {% for i in 1..2 %}
                                                                        {% if (item['roomname'] == foo[1]) or (item['roomname'] == foo[2]) %}
                                                                            {% set tagvalide =false %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}

                                                                {% if foo|length==4 %}
                                                                    {% for i in 1..3 %}
                                                                        {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) %}
                                                                            {% set tagvalide=false %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}

                                                                {% if foo|length==5 %}
                                                                    {% for i in 1..4 %}
                                                                        {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) or (item['roomname']==foo[4]) %}
                                                                            {% set tagvalide=false %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}



                                                                {% if tagvalide==true and tagduplicated==true %}

                                                                {% if k==1 %}

                                                                <tr bgcolor="#f6f6f6" class="{{ item['roomname'] }}"
                                                                    id="room">
                                                                    <th class="span3">{{ item['roomname'] }} </th>


                                                                    <th class="span2">


                                                                        {% for x in 1..item['nbpersonne'] %}
                                                                           <img src="{{ asset('front/images/icone_bn_1.jpg') }}"/>
                                                                        {% endfor %}</th>
                                                                    <th colspan="3" class="span7">

                                                                        <select name="selectors"
                                                                                id="{{ item['roomname']|replace({' ': '_'}) }}"
                                                                                style="width: 50px"
                                                                                onchange="Addrowtotabledeux('roomother{{ idtable }}',this.value,{{ item['nbpersonne'] }})">
                                                                            {% for x in 0..20 %}
                                                                                <option {% if x==0 %} selected="selected"{% endif %}
                                                                                value="{{ x }}">{{ x }}</option>{% endfor %}
                                                                        </select>&nbsp;&nbsp;&nbsp;
                                                                        &Agrave; partir de

                                                                        {% if margepers==1 %}
                                                                            {% set prix = entry['price'] + (entry['price'] * margeval / 100) %}
                                                                        {% else %}
                                                                            {% set prix = entry['price'] +  margeval %}
                                                                        {% endif %}
                                                                        {{ prix|changedevisefront }} par
                                                                        personne ou par
                                                                        chambre en <strong>{{ entry['name'] }}</strong>
                                                                    </th>


                                                                </tr>
                                                                </thead>
                                                                <tbody id="tb{{ item['nbpersonne'] }}">
                                                                {% endif %}

                                                                <tr class="dontshow">
                                                                    <td colspan="2" rowspan="2">Chambre {{ k }} :
                                                                    </td>
                                                                    <td id="{{ item['roomname'] }}" class="span3">
                                                                        Adultes :


                                                                        {% if item['roomname']=="Chambre single" %}
                                                                            {% set limitselect=1 %}

                                                                        {% elseif item['roomname']=="Chambre double" %}
                                                                            {% set limitselect=2 %}
                                                                        {% elseif item['roomname']=="Chambre triple" %}
                                                                            {% set limitselect=3 %}
                                                                        {% else %}
                                                                            {% set limitselect=4 %}
                                                                        {% endif %}


                                                                        <select
                                                                                class="selectmenuforchanging0"
                                                                                name="adulte[{{ item['id'] }}][{{ k }}][]"
                                                                                id="adulte[{{ item['id'] }}][{{ k }}][]"
                                                                                onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})"

                                                                                style="width: 50px">


                                                                            {% for xy in 0..item['nbad'] %}
                                                                                <option
                                                                                        {% if xy==item['nbad'] %} selected="selected"{% endif %}
                                                                                        value="{{ xy }}">{{ xy }}
                                                                                </option>
                                                                            {% endfor %}

                                                                        </select>


                                                                    </td>
                                                                    <td class="span3">Enfants : <select


                                                                                class="selectmenuforchanging02"
                                                                                name="enfant[{{ item['id'] }}][{{ k }}][]"

                                                                                onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})"
                                                                                id="enfant{{ item['id'] }}{{ k }}"
                                                                                style="width: 50px">
                                                                            {% for xy in 0..item['nbenf'] %}
                                                                                <option
                                                                                       
                                                                                        value="{{ xy }}">{{ xy }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>

                                                                    </td>
                                                                    <td class="span6">avec :
                                                                        <select

                                                                                class="selectmenuforchanging04"
                                                                                name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                                                id="arrangement[{{ item['id'] }}][{{ k }}][]"

                                                                                style="width: 300px;">
                                                                            {% set w=0 %}
                                                                            {% for xarritem in entry.pricearr %}
                                                                                <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>
                                                            {{ xarritem["name"] }}{% if w!=0 %} (+
                                                                {% if margepers==1 %}
                                                                    {%if(xarritem["prstt"])%}
                                                                       {% set prixarr = (entry['price']*xarritem["price"]/100) + (xarritem["price"]  * margeval / 100) %}
                                                                    {%else%}
                                                                       {% set prixarr = xarritem["price"] + (xarritem["price"]  * margeval / 100) %}
                                                                    {%endif%}    
                                                                {% else %}
                                                                    {%if(xarritem["prstt"])%}
                                                                      {% set prixarr = (entry['price']*xarritem["price"]/100) +  margeval %}
                                                                    {%else%}
                                                                      {% set prixarr = xarritem["price"] +  margeval %}
                                                                    {%endif%}
                                                                   {% endif %}
                                                                {{ prixarr|changedevisefront }}
                                                                ){% endif %}
                                                        </option>
                                                                                {% set w=w+1 %}   {% endfor %}
                                                                        </select></td>

                                                                </tr>
                                                                <tr class="dontshow">
                                                                    <td colspan="3">
                                                                        {% if item['supplement'] is defined %}
                                                                            {% if item['supplement']|length>0 %}
                                                                                <div class="span6"><h5>Suppl&eacute;ment(s)
                                                                                :</h5>
                                                                                {% for itemsup in item["supplement"] %}

                                                                                    {% if itemsup[0] is defined %}
                                                                                        {% if  itemsup[0].act==1 %}

                                                                                            <label class="radiosupp">
                                                                                                <input class="supp{{ item['id'] }}{{ k }} radiosuppforchanging0"
                                                                                                       value="{{ itemsup[1][1] }}"
                                                                                                       type="checkbox"
                                                                                                       name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                                                ( + ~

                                                                                                {% if itemsup[1][0]>0 %}
                                                                                                    {% if margepers==1 %}
                                                                                                        {% set prixsupp = itemsup[1][0] + (itemsup[1][0] * margeval / 100) %}
                                                                                                    {% else %}
                                                                                                        {% set prixsupp = itemsup[1][0] +  margeval %}
                                                                                                    {% endif %}
                                                                                                {% else %}
                                                                                                    {% set prixsupp=itemsup[1][0] %}
                                                                                                {% endif %}
                                                                                                {{ prixsupp|changedevisefront }}
                                                                                                )<br></label>

                                                                                        {% endif %}

                                                                                    {% endif %}



                                                                                {% endfor %}

                                                                                </div>{% endif %}
                                                                        {% endif %}
                                                                        {% if item['events']|length>0 %}
                                                                            <div class="span6">
                                                                                <h5>&Eacute;venements :</h5>
                                                                                {% for itemev in item['events'] %}
                                                                                    <label class="radioevent">
                                                                                        <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                                                type="checkbox"
                                                                                                class="event{{ item['id'] }}{{ k }} radioeventforchanging0"
                                                                                                name="event[{{ item['id'] }}][{{ item['nbpersonne'] }}][]"
                                                                                                value="{{ itemev.id }}"/>
                                                                                        &nbsp;&nbsp;{{ itemev.name }}
                                                                                        (Adulte
                                                                                        {% if itemev.pricead>0 %}
                                                                                            {% if margepers==1 %}
                                                                                                {% set prixev = itemev.pricead + (itemev.pricead * margeval / 100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricead +  margeval %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% set prixev=itemev.pricead %}
                                                                                        {% endif %}

                                                                                        {{ prixev|changedevisefront }}
                                                                                        /
                                                                                        Enfant
                                                                                        {% if itemev.pricech >0 %}
                                                                                            {% if margepers==1 %}
                                                                                                {% set prixev = itemev.pricech  + (itemev.pricech * margeval / 100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricech  +  margeval %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% set prixev=itemev.pricech %}
                                                                                        {% endif %}
                                                                                        {{ prixev|changedevisefront }}
                                                                                        )
                                                                                        TND )
                                                                                    </label>
                                                                                {% endfor %}
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>

                                                                </tr>
                                                                {% set k= k+1 %}



                                                                {% set tagduplicated=false %}

                                                                {% endif %}
                                                                {% endfor %}
                                                                </tbody>

                                                                </table>{% set idtable= idtable +1 %}











                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>

									</article>
								   </div>
								  </section>
                                </div>
                             </div>

                        </div>
                    </div>


                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class', 'selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class', 'selected');
        });
    </script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({dateFormat: 'yy-mm-dd', beforeShowDay: NotBeforeToday});


        function NotBeforeToday(date) {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'yy-mm-dd'
                    });
            function plage(input) {
                return {
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });
    </script>

    //script to not duplicate the room types in the second table

    <script>
        $('#selector').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_single').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_triple').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_double').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $('#Chambre_quadruple').on('change', function() {
            if(this.value == 0)
                $('#activatebt').css({'display':'none'});
            else
                $('#activatebt').css({'display':'block'});


        });
        $(document).ready(function() {


            var notSelectedRoom = ['Chambre single','Chambre double','Chambre triple','Chambre quadruple'];


            for(fo in foo){
                $('#room').attr('class', fo).hide();
            };
        });



    </script>



{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
{% endblock %}