{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
   

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}