{% extends "base.html.twig" %}
{% block title %}TeamBuilding{% endblock %}

{% block body %}

    <div class="container">
	 <div class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                <li><a class="active">Liste teambuilding</a></li>
            
            </ul>
	 </div>
		{% set i=0 %}
        {% for entry in entities %}
		  <div class="col-sm-4">
		   <div id="product" class="anim-prod">
                <a href="{{ path('front_resa_detail_team',{'id':entry.id}) }}">
                    <div id="prix-product">
                        {% if  entry.apartir == 1 %}
                            A partir de<br>  {{ entry.prix }} DT
                        {% else %}
                            {{ entry.prix }} DT
                        {% endif %}
                    </div>
					
                    {% if entry.imgteam|length>0 %}
                        <img src="../{{ entry.imgteam[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('team') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50" width="100%">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.libelle }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.nbrjr }} jours/ {{ entry.nbrjr-1 }} Nuits
                    </div>
                    <div id="transform-product">
                        <div id="reserver">
                            Réserver
                        </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
		{% endfor %}
	</div>
  

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
