{% extends "manager.html.twig" %}
{% block title %}Gestion des omra{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>

            <li><a href="{{ path('voiture')}}">omra</a></li>

            <li><span>Gestion des omra</span></li>
        </ul>
    </div>

    <!-- main content -->
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des omra</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Prix</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for entity in entities%}
                                <tr>
                                    <td>{{ entity.libelle }}</td>
                                    <td>{{ entity.prix }}</td>
                                    <td>
                                        <a href="{{ path('update_omra_manager', { 'id': entity.id }) }}"><i class="splashy-pencil"></i></a>
                                        <a href="javascript:confirmdeletbox('{{ path('omra_delete', {'id': entity.id}) }}')" ><i class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
    {%endif%}

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_omra_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle voiture</a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}