{% extends "manager.html.twig" %}
{% block title %}Gestion des amenagément{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion des aménagement</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_amenagement_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                                <form id="validate_field_types" method="POST" action="{{ path('add_amenagement_manager')}}"  {{ form_enctype(form) }}>
                                {% endif %}   
                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    <label>Image</label>
                                        <div class="input-append bootstrap-timepicker-component">
                                            {%if (id is defined)%}
                                            <input type="text" class="input-small span9" value='{{file}}' name='files' id="btob_hotelbundle_amg_file">
                                            {% else %}
                                                <input type="text" class="input-small span9" value='' name='files' id="btob_hotelbundle_amg_file">
                                            {% endif %}
                                            <span class="add-on">
                                                <a class='iframe-btn' href='/tinymce/plugins/filemanager/dialog.php?type=2&field_id=btob_hotelbundle_amg_file'> <i class="icon-download"></i></a>
                                            </span>
                                        </div>
                                    
                                    
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>
                                
                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
    <script type="text/javascript" src="{{asset('/tinymce/tinymce.min.js')}}"></script>
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}