{% extends "manager.html.twig" %}
{% block title %}Gestion des Transfert {% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span>Formulaire Transfert</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>


        {%endfor%}
        <form method="post" action="{{ path('btob_transfert_homepage') }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(client.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(client.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(client.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(client) }}
                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Réservez votre véhicule en ligne afin d'assurer votre transfert aéroport tunisie: </h4>
                </div>
                <div class="w-box-content cnt_a">
                    <div class="row-fluid">
                        <div class="span6" style="  margin-left: 30px;">
                            <div class="formSep">
                                <label class="required">Organisme :</label>
                                <select name="organisme">
                                    <option value="Particulier">Particulier</option>
                                    <option value="Société">Société</option>
                                    <option value="Etablissement">Etablissement</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </div>
                        </div>
                        {% set i = 0 %}
                        <table border="0" id="catg" width="100%" cellpadding='3'>
                            <tbody>

                            <tr id="ligne0">

                                <td>
                                    <div class="formSep">
                                        <label class="label-r">Catégories :</label>
                                        <select name="cat[]">
                                            <option value="Véhicule de tourisme">Véhicule de tourisme</option>
                                            <option value="Véhicule monospace">Véhicule monospace</option>
                                            <option value="Véhicule Luxe et Confort">Véhicule Luxe et Confort</option>
                                            <option value="4*4">4*4</option>
                                            <option value="Grand Bus">Grand Bus</option>
                                            <option value="Mini Bus">Mini Bus</option>
                                            <option value="Autres">Autres</option>
                                        </select>
                                    </div>

                                </td>
                                <td>
                                    <div class="formSep">
                                        <label class="label-r2">Nombres :</label>
                                        <select name="nb[]">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>

                                </td>
                                <td>

                                    <div class="span4" style="  margin-top: 36px;"><a id="todelete" href="javascript:deleterow('ligne0')"><i class="splashy-error_x"></i></a></div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="span12">
                            <div class="span9"></div>
                            <div class="span3">
                                <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                            </div>
                        </div>

                        <div class="span12">


                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Ville de départ :</label>
                                     <input type="text" name="villed" class="span10" required="required">


                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Heure de départ :</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="text" class="input-small" name="tp-defaultd" id="tp-defaultd">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>

                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date de départ :</label>

                                    <input type="text" name="dated" id="mask_dated" class="span10" maxlength="20" required="required">
                                </div>
                            </div>
                            <div class="span4" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Ville d'arrivée :</label>

                                    <input type="text" name="villea" class="span10" required="required">

                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Heure d'arrivée:</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="text" class="input-small" name="tp-defaulta" id="tp-defaulta">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>


                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date d'arrivée :</label>
                                    <input type="text" name="datea" id="mask_datea" class="span10" maxlength="20" required="required">
                                </div>
                            </div>
                            <div class="span12" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Veuillez préciser le point de départ et d'arrivée: </label>
                                    <input name="pointd"  type="text"/>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
            $('#tp-defaulta').timepicker()
            $('#tp-defaultd').timepicker()
            $("#mask_datea").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#mask_dated").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {

            return str.replace(new RegExp(find, 'g'), replace);
        }
    </script>

    <!-- datepicker -->
    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">


    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">


{% endblock %}