{% extends "base.html.twig" %}
{% block title %}test{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_btob_circuit_homepage') }}">Circuits et excursion</a></li>
            <li><a class="active">Détails</a></li>
        </ul>
	 
	 <div class="titre-recherche">
       Circuit et Randonnees : {{ entry.libelle }}
     </div>
      <form action="{{ path('front_pers_reservation_cuircuit',{'id':entry.id}) }}" method="POST" name="formsearch" id="formsearch">
        
	   <div class="col-sm-12" style="background: #fff; padding:0px;">
        <div class="col-sm-4">
		 <div class="formSep">
		  <label class="label-r">Dates disponibles :</label>
		  <select class="select-form" name="circuitprice">
		   {% for item in circuitprices %}
		    <option value="{{ item.id }}" >{{ item.dated|date('d-m-Y') }} à {{ item.dates|date('d-m-Y') }}</option>
		   {% endfor %}
		  </select>
		 </div>
		</div>
		</div>
		<div style="clear:both;"></div>
        <div class="col-sm-12" style="background: #fff;">
		  		  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="formSep">
                                                <label class="label-r">Adulte : *</label>
                                                <select id="lignead0"
                                                       name="nbad[]"
                                                       class="span8">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>     
                                            </div>
                                        </td>
                                        <td>
                                            <div class="formSep">
                                                <label class="label-r">Enfant : *</label>
                                                <select id="ligneenf0"
                                                       name="nbenf[]"
                                                       class="span8">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>

                                        </td>
                                        <td>
                                            <div class="formSep">
                                                <label class="label-r">Bébé: *</label>
                                                <select id="ligneb0"
                                                       name="nbbebe[]"
                                                       class="span8">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>

                                         <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
   
                                           <script type="text/javascript">
           $(function () {
    var $adults = $('select[id=lignead0]');
    var $enfants = $('select[id=ligneenf0]');
    var $bebes = $('select[id=ligneb0]');
    
    
    var $enfantList = $enfants.find('option').clone();
    
    var $bebeList = $bebes.find('option').clone();
    
     var $adultList = $bebes.find('option').clone();

    var adultandenfant = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }
    
    var adultandbebe = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }
    
 
    
    

    $adults.change(function () {
        var $selectedadult = $(this).find('option:selected').text();
        $enfants.html($enfantList.filter(function () {
             return $.inArray($(this).text(), adultandenfant[$selectedadult]) >= 0;
        }));
        
  $bebes.html($bebeList.filter(function () {
             return $.inArray($(this).text(), adultandbebe[$selectedadult]) >= 0;
        }));      
        
        
    });

    
     $enfants.change(function () {
         
         
       
         
   var e = document.getElementById("lignead0");
var selectad = e.options[e.selectedIndex].value; 
         if(selectad==0)
         {
         var enfantandbebe = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }    
             
         }else if(selectad==1){
         var enfantandbebe = {
        0: ["0", "1", "2" , "3" ],
        1: ["0", "1", "2" ],
        2: ["0", "1"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         else if(selectad==2){
         var enfantandbebe = {
        0: ["0", "1", "2" ],
        1: ["0", "1"],
        2: ["0"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         
         else if(selectad==3){
         var enfantandbebe = {
        0: ["0", "1" ],
        1: ["0"],
        2: ["0"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         
         else{
             
             var enfantandbebe = {
        0: ["0", "1", "2"  ],
        1: ["0", "1" ],
        2: ["0"],
        3: ["0"],
        4: ["0"]
    }
         
         
         }
         
         
        var $selectedenfant = $(this).find('option:selected').text();
        $bebes.html($bebeList.filter(function () {
             return $.inArray($(this).text(), enfantandbebe[$selectedenfant]) >= 0;
        }));
   
        
    });
    
    
    
});    

                                    </script>   
                                            
                                            
                                            
                                            
                                        </td>
                                        <td>

                                            <div class="span4" style="  margin-top: 36px;"><a id="todelete" href="javascript:deleterow('ligne0')"><img style="margin-top: -30px;" src="{{ asset('front/images/deleteico.png') }}" class="small_img1"/></a></div>
                                        </td>
                                    </tr>
                                    
                                       
                                    </tbody>
                                </table>
							    
				                <div class="col-sm-12" align="right">
                                    <div class="span3">
                                        <a href='javascript:myFunction()'>+ Ajouter un autre passager</a>
                                    </div>
                                </div>
								
								<div style="clear:both; height:15px;"></div>
                                <div class="col-sm-12">
								 <div class="col-sm-10">
								  <span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span>
								 </div>
                                    <div class="col-sm-2" align="right" style="padding:0;">
									 <input type="submit" value="Valider" class="btn btn-success"/>
                                    </div>
                                </div>	
								<div style="clear:both; height:15px;"></div>
			
			
			
		</div>

        </form>
	 </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    
       
    
    
    
    <script type="text/javascript">
	
	
		
		var i=0;
        var row = $("#catg tbody").html();
        
        
       


        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
           
           
           
           
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)
         
            $('#catg tbody').append(rowint);
            
            
            
            
            

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
            
            
            
        }








    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
		input[type="checkbox"]{width:15px !important;float:left !important; margin-top:-3px; margin-right:7px;}
		.label222{ }
    </style>
{% endblock %}

