{% extends "base.html.twig" %}
{% block body %}

    <div class="container">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_btob_circuit_homepage') }}">Circuits et excursion</a></li>
            <li><a href="{{ path('front_resa_detail_cuircuit',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>
        </ul>
	 </div>
	</div>
	<div class="container">
	  <form method="post" action="{{ path('front_resa_reservation_cuircuit',{'id':entry.id}) }}">
	    

              
              
              <div class="col-sm-12">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-12" style="background: #fff; padding:8px;">
		 <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[custom[phone]] span10'}}) }}
                                    </div>

                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
		</div>
		</div>
		<div class="col-sm-12">
		 <div class="titre-recherche">
          {{ entry.libelle }}
         </div>
		</div>
         
                     
                           <div class="col-sm-12">
		 <div class="titre-recherche">
          Informations  <a id="surdemande"></a>
         </div>
                  
                  <table>
                      <thead>
                                        <tr>
                                            <th>Chambre</th>
                                            <th>Type</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Age</th>
                                            <th>Supp</th>
                                            <th>Reduction</th>
                                            
                                        </tr>
                                        
                    {%for key,entry in ArrBase%}
                        
                       
                        {%if(entry['adult'] is defined )%}
                        {%if(entry['adult'] is not null)%}
                        {%for adult in entry['adult'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Adult</td>
                                            <td>{{ adult['namead'] }}</td>
                                            <td>{{ adult['prenomad'] }}</td>
                                            <td>{{ adult['agead'] }}</td>
                                           {%for suppad in adult['suppad']%}
                                                <td>{{ suppad }}</td>
                                            {%endfor%}
                                            
                                            {%for reducad in adult['reducad']%}
                                                <td>{{ reducad }}</td>
                                            {%endfor%}
                                            
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        
                        {%endif%}
                        {%endif%} 
                        
                        {%if(entry['enf'] is defined)%}
                        {%if(entry['enf'] is not null)%}
                        {%for enf in entry['enf'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Enfant</td>
                                            <td>{{ enf['nameenf'] }}</td>
                                            <td>{{ enf['prenomenf'] }}</td>
                                            <td>{{ enf['ageenf'] }}</td>
                                           {%for suppenf in enf['suppenf']%}
                                                <td>{{ suppenf }}</td>
                                            {%endfor%}
                                            {%for reducenf in enf['reducenf']%}
                                                <td>{{ reducenf }}</td>
                                            {%endfor%}
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                         {%endif%}
                        
                         
                         {%if(entry['bebe'] is defined)%}
                        {%if(entry['bebe'] is not null)%}
                        {%for bebe in entry['bebe'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Bébé</td>
                                            <td>{{ bebe['nameb'] }}</td>
                                            <td>{{ bebe['prenomb'] }}</td>
                                            <td>{{ bebe['ageb'] }}</td>
                                            
                                            {%for suppb in bebe['suppb']%}
                                                <td>{{ suppb }}</td>
                                            {%endfor%}
                                            
                                            {%for reducb in bebe['reducb']%}
                                                <td>{{ reducb }}</td>
                                            {%endfor%}
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                        {%endif%}
                        <tbody>
                            <tr>
                                <td>
                                    Prix
                                </td>    
                                <td>
                                {{entry['price']}}    
                                </td>  
                                
                                 {%if(convert)%}
                                                      <td>{{entry['price']*convert.currency}} {{convert.symb}}</td>
                                                                {%endif%}
                                                                {%if(convertd)%}
                                                      <td>{{entry['price']*convertd.currency}} {{convertd.symb}}</td>
                                                                {%endif%}
                            </tr>  
                            
                        </tbody>
                       
                    {%endfor%}    
                      
                    <tbody>
                        <tr>
                            <td>
                                Total:
                                
                            </td>
                            
                            <td> {{total}}</td>
                            
                              {%if(convert)%}
                                                      <td>{{total*convert.currency}} {{convert.symb}}</td>
                                                                {%endif%}
                                                                {%if(convertd)%}
                                                      <td>{{total*convertd.currency}} {{convertd.symb}}</td>
                                                                {%endif%}
                        </tr>
                    </tbody>  
                  </table>
                  
                  
                  
                  
                  
                  
		</div> 
              
              
              
                        <div >
                            
                        NB: pour le payement en ligne Il faut Payer avance:    {{total*entry.prixavance/100}}
                        
                        
                        {%if(convert)%}
                                                     {{(total*entry.prixavance/100)*convert.currency}} {{convert.symb}}
                                                                {%endif%}
                                                                {%if(convertd)%}
                                                     {{(total*entry.prixavance/100)*convertd.currency}} {{convertd.symb}}
                                                                {%endif%}
                       </div>    
              
              
              
              
              
       
              
               <div class="span12">
                                        <div class="span10"></div>
                                        <div class="span2"><input type="submit" value="Valider"
                                                                  class="btn btn-primary marge"/>
                                        </div>
                                    </div>
		
	 </form>
	</div>
	<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
