{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
           
            <li><a class="active"> {{ entry.title }}</a></li>
        </ul>
	  </div>
    </div>
    <!-- main content -->
    <div class="container">
	  <div class="col-sm-12">
	    <div class="titre-recherche">
          {{ entry.title }} 
        </div>
		 {% if entry.region != 'Qui sommes nous?' and entry.region != 'Plan du site'  and entry.region != "Termes de l'usage" and entry.region != 'Conditions générales d\'achat' and entry.region != 'Sécurité et confidentialité' and entry.region != 'Support / FAQ'%}
		<div class="col-sm-12" align="right" style="background: #fff; padding:8px;">
	     <a href="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}" class="btn btn-success">Réserver</a>
	    </div>
		<div class="col-sm-12" style="background: #fff; padding:8px;">
		 <div class="row-fluid" style="  text-align: center;">
                    <div class="span6 marginleft" style="  float: none;  margin: auto;  display: inline-block;">
                        {% if entry.imgact|length>0 %}
                            <ul class="bxslider">
                                {% for item in entry.imgact %}
                                    <li><a href="{{ asset(item.image) }}" class="imgbxslider"><img src="{{ asset(item.image) }}"/></a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

          </div>
		</div>
		<div class="col-sm-12" align="right" style="background: #fff; padding:8px;">
	     <a href="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}" class="btn btn-success">Réserver</a>
	    </div>
		{% endif %}
		<div class="col-sm-12" style="background: #fff; padding:30px 0px;">
		    {% if entry.region != 'Qui sommes nous?' and entry.region != 'Plan du site'  and entry.region != "Termes de l'usage" and entry.region != 'Conditions générales d\'achat' and entry.region != 'Sécurité et confidentialité' and entry.region != 'Support / FAQ'%}
			  {{ entry.libelle }}<br/>
			  {{ entry.region }}<br/>
			{% endif %}
			{{ entry.description|raw }}
		</div>
		 {% if entry.region != 'Qui sommes nous?' and entry.region != 'Plan du site'  and entry.region != "Termes de l'usage" and entry.region != 'Conditions générales d\'achat' and entry.region != 'Sécurité et confidentialité' and entry.region != 'Support / FAQ'%}
		<div class="col-sm-12" align="right" style="background: #fff; padding:8px;">
	     <a href="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}" class="btn btn-success">Réserver</a>
	    </div>
		{% endif %}
      </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

{% endblock %}