{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block menu %}
    <div id="menu">
        <div class="container">
            <ul>
                <li class="bg_hotel"><a href="{{ path('front_list_homepage') }}">Hotel en Tunisie</a></li>
                <li class="bg_monde"><a href="#">Hotel dans le monde</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuit & excursion</a></li>
                <li class="bg_voy"><a href="{{ path('front_sejour_homepage') }}">Outgoing</a></li>
                <li class="bg_croisiere"><a href="{{ path('front_croisiere_homepage') }}">Croisière</a></li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Billeterie</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
                <li><a class="bg_promo" href="{{ path('front_promo_homepage') }}" >Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
        

            <li><span> {{ type.type }}</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('front_resa_detail_activite_homepage',{'id':entry.id}) }}">
                                    {% if entry.imgact|length>0 %}
                                        <img src="{{ entry.imgact[0].image|apply_filter('circuit') }}">
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                    {% endif %}
                                </a>
                                <p class="heading_a">

                                        {{ entry.prix }}

                                </p>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('front_resa_detail_activite_homepage',{'id':entry.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}