{% extends "base.html.twig" %}
{% block title %}Gestion des Séjours{% endblock %}
{% block menu %}
    <div id="menu">
        <div class="container">
            <ul>
                <li class=" bg_hotel"><a href="{{ path('front_list_homepage') }}">Hotel en Tunisie</a></li>
                <li class="active_voy bg_voy"><a href="{{ path('front_sejour_homepage') }}">Voyage organisé</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_details') }}">Omra</a></li>
                <li class="bg_spa"><a href="{{ path('front_bienetre_homepage') }}">Spa</a></li>
                <li class="bg_monde"><a href="#">Hotel dans le monde</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuit & excursion</a></li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Vol</a></li>
                <li class="bg_promo"><a href="{{ path('front_promo_homepage') }}" style="  width: 114px;" >Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_sejour_sejour_homepage') }}">Séjours</a></li>

            <li><span> Séjours</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">

        {% for entry in entities %}

            <div class="span3">
                <div class="w-box w-box-green" id="style">
                    <div class="w-box-header">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{path('front_resa_detail_activite_homepage',{'id':entry.id })}}">
                                    {% if entry.imgact|length>0 %}
                                        <img src="{{ entry.imgact[0].image }}" style="  width: 190px;  height: 130px;" >
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif' }}">
                                    {% endif %}
                                </a>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('front_resa_detail_activite_homepage',{'id':entry.id }) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}