{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block menu %}
<div id="menu">
        <div class="container">
            <ul>
                <li class="bg_hotel"><a href="{{ path('front_list_homepage') }}">Hotel en Tunisie</a></li>
                <li class="bg_voy"><a href="{{ path('front_sejour_homepage') }}">Voyage organisé</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_details') }}">Omra</a></li>
                <li class="bg_spa"><a href="{{ path('front_bienetre_homepage') }}">Spa</a></li>
                <li class="bg_monde"><a href="#">Hotel dans le monde</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuit & excursion</a></li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Vol</a></li>
                <li class="bg_promo" style="  width: 114px;" ><a href="{{ path('front_promo_homepage') }}">Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>

         

            <li><span> {{ entry.title }}</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('notiactiv') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{% endfor %}
        <form method="post" action="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								
                            </div>



                        </div>

                    </div>



                </div>

            </div>








            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>{{ entry.title }} : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    <div class="row-fluid">
                    <div class="span12" style="margin-left: 50px;">


                    </div>
                        <div class="span12">
                          <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date de départ <span style="color:#ff0000;">*</span> :</label>
                                    <input type="text" name='dated' id="datepicker_debut">
                                </div>
                            </div>



                        </div>


                                <div class="span12">
                                <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'adulte(s) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="nbrad" required="required">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>

                                        </select>
                                    </div>
                                </div>
                                    <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'Enfant(s)  (De 2 à 11 Ans) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="nbrenf" required="required">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>


                                        </select>
                                    </div>
                                </div>
                                    <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">  Bébé(s) (Jusqu'à 2 Ans) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="bebe" required="required">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>


                                        </select>
                                    </div>
                                </div>
                                <div class="span12">
                                    <div class="formSep">
                                        <label class="label-r2">Vos Remarques / Recommandations : </label>

                                        <textarea  name="remarque" cols="30"></textarea>

                                </div></div>





            <div class="span12">
                                <div class="span10"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">
	   <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />

    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />

{% endblock %}