{% extends "manager.html.twig" %}
{% block title %}Gestion des villes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion des villes</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des villes</h4>
                    </div>
                    <div class="w-box-content">
                        <form action="{{ path('btob_marghotel_homepage', {'hotelid': hotelid}) }}" method="POST">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                <tr>
                                    <th>Agence</th>
                                    <th width="20%">Valeur</th>
                                    <th width="20%">Pourcentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for entry in users%}
                                    {%if 'AGENCEID' in entry.roles %}
                                        {%set val=0%}{%set pers=0%}
                                        {%for item in marge%}
                                            {%if item.user.id==entry.id%}
                                                {%set val=item.marge%}{%set pers=item.prst%}
                                            {%endif%}
                                        {%endfor%}
                                        <tr>
                                            <td>{{entry.name}}</td>
                                            <td><input type="text" name="val[{{entry.id}}]" class="span10" value="{{val}}" /></td>
                                            <td><input type="checkbox" name="prst[{{entry.id}}]"{%if pers==1%} checked="checked"{%endif%} class="span10 iphonecheck" /></td>
                                        </tr>
                                    {%endif%}
                                {%endfor%}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-primary">Valider</button></td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->

    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}