{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="">Circuit</a></li>

            <li><span>Gestion des Périodes</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {% if (id is defined) %}
        <form id="validate_field_types" method="POST"
              action="{{ path('update_cuircuitprice_manager', {'id': id,'cuircuitid': cuircuit.id}) }}"  {{ form_enctype(form) }}>
            {% else %}
            <form id="validate_field_types" method="POST"
                  action="{{ path('add_cuircuitprice_manager',{'cuircuitid': cuircuit.id}) }}"  {{ form_enctype(form) }}>
                {% endif %}
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Information</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    {{ form_row(form.dated, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.nbnuit, { 'attr': {'class': 'span10'}}) }}

                                </div>
                             
                              
                                <div class="formSep">
                                    {{ form_row(form.pricead, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.priceenf, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.priceb, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.supsingle, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.perssupsingle, { 'attr': {'class': 'span10 iphonecheck'}}) }}
                                </div>
                                <div class="formSep">
                                    <button type="submit"  id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span9">
               
               
            
                    <div class="span9"></div>
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction</h4>
                                </div>
                                <div class="w-box-content">
                                    <table border="0" cellpadding="5" width="100%">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Réduction 3<sup>ième</sup> lit</th>
                                            <th colspan="2">Réduction 4<sup>ième</sup> lit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                            <td>Valeur</td>
                                            <td>Pourcentage</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_row(form.red3lit, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.pers3lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                            <td>{{ form_row(form.red4lit, { 'attr': {'class': 'span10'}}) }}</td>
                                            <td>{{ form_row(form.pers4lit, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    


           
           
				   </div>
                </div>
                {{ form_rest(form) }}
            </form>
    </div>


{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
                <!-- masked inputs -->
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
                <script>
                    $(document).ready(function () {
                        $('#btob_cuircuitbundle_cuircuitprice_nbnuit').val(1);
                        {% if id is not defined %}
                        $("#btob_cuircuitbundle_cuircuitprice_red3lit").val(0);
                        $("#btob_cuircuitbundle_cuircuitprice_red4lit").val(0);



                        {% endif %}
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                       

                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        //
                        //
                    });
                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

            {% endblock %}