#Login .element_label
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#Login .error_strings
{
    font-family:Verdana;
    font-size:10px;
    color:#0000ff;
    border-style:solid;
    border-width:0px;
    border-color:#000000;
}
#Login .sfm_float_error_box
{
    position:absolute;
    z-index:999;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#0000ff;
    background-color:#ffffff;
    border-style:solid;
    border-width:1px;
    border-color:#0000ff;
}
#Login .sfm_float_box_td
{
    padding:3px;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#0000ff;
    background-color:#ffffff;
}
#Login .sfm_close_box
{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#ffffff;
    background-color:#0000ff;
    border-width:0px;
    text-align:center;
}
#Login .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
    border-style:solid;
    border-width:0px;
    border-color:#0000ff;
}
#Login .sfm_cr_box a
{
    color:#888888;
}
#Login .sfm_textbox
{
    padding:2px;
}
#Login .sfm_textarea
{
    padding:2px;
}
#Login .sfm_form_label
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#Login .sfm_image_in_form
{
    border:0;
}
#Login .sfm_captcha
{
    border:0;
}
#Login .sfm_datepicker_icon
{
    border:0;
}

#Login #label_container
{
    position:absolute;
    left:18px;
    top:13px;
    width:57px;
    height:20px;
    z-index:1;
}
#Login #label
{
    position:absolute;
    left:4px;
    top:0px;
    text-align:right;
}
#Login #Email_container
{
    position:absolute;
    left:22px;
    top:32px;
    z-index:2;
}
#Login #Email
{
    float:left;
    width:214px;
    z-index:2;
}
#Login #label1_container
{
    position:absolute;
    left:24px;
    top:77px;
    width:60px;
    height:20px;
    z-index:3;
}
#Login #label1
{
    position:absolute;
    left:-2px;
    top:0px;
    text-align:right;
}
#Login #Password_container
{
    position:absolute;
    left:22px;
    top:94px;
    z-index:4;
}
#Login #Password
{
    float:left;
    width:214px;
    z-index:4;
}
#Login #CheckBoxSingle_container
{
    position:absolute;
    left:41px;
    top:132px;
    width:131px;
    height:14px;
    z-index:6;
}
#Login #Image_container
{
    position:absolute;
    left:17px;
    top:131px;
    width:20px;
    height:20px;
    z-index:7;
}
#Login #Submit_container
{
    position:absolute;
    left:22px;
    top:176px;
    width:71px;
    height:32px;
    z-index:5;
}
#Login #Login_Submit_img
{
    width:71px;
    height:32px;
    border:none;
}
