{% extends "base.html.twig" %}
{% block title %}Evénements & soirées{% endblock %}


{% block body %}


  <div class="container">
	 <div class="col-sm-12 navig">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>        
                <li><a href="{{ path('front_croisiere_homepage') }}" class="active">Liste événements & soirées</a></li>        
            </ul>
	 </div>
		{% set i=0 %}
        {% for entry in entities %}
		  <div class="col-sm-4">
		   <div id="product" class="anim-prod">
                <a href="{{ path('front_resa_detail_croisiere_homepage',{'id':entry.id}) }}">
                    <div id="prix-product">
                        A partir de<br>  {{ entry.prix }} DT
                    </div>
                    {% if entry.imgcr|length>0 %}
                        <img src="../{{ entry.imgcr[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50">
                            <tr>
                                <td height="67" valign="middle">
                                    <b>{{ entry.titre }}</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.nbrjr }} Jours / {{ entry.nbrjr-1 }} Nuits
                    </div>
                    <div id="transform-product">
                        <div id="reserver">
                            Réserver
                        </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
		{% endfor %}
	</div>
<div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>

{% endblock %}




{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}