{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('noticreserv') %}
    <br/>
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>
{% endfor %}
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_croisiere_homepage') }}">Evénements & soirées</a></li>
            <li><a href="{{ path('front_resa_detail_croisiere_homepage',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>
        </ul>
	 </div>
	</div>
	<div class="container">
	  <form method="post" action="{{ path('front_resa_croisiere_homepage',{'id':entry.id}) }}">
	    <div class="col-sm-12">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-12" style="background: #fff; padding:8px;">
		 <div class="w-box-content cnt_a">
                            <div class="row-fluid">
							 Veuillez compléter le formulaire suivant pour recevoir un devis personnalisé<br/>

                            (Note: Toutes les informations personnelles resteront strictement confidentielles et ne seront en aucun cas communiquées à un tiers)

                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[custom[phone]] span10'}}) }}
                                    </div>

                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
		</div>
		</div>
		<div class="col-sm-12">
		 <div class="titre-recherche">
          Evénements & soirées selectionnee : {{ entry.titre }}
         </div>
		</div>
		<div class="col-sm-12">
		<div class="col-sm-12" style="background: #fff; padding:8px;">
		 <div class="row-fluid">
                        <div class="span12">
                            <div class="span0"></div>
							<div class="col-sm-6">
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Adultes (+ de 12 ans) * :</label>
                                     <input type="text" pattern="[0-9]+" required="required" class="span8"  name="adulte"/>


                                </div>
                            </div>
							</div>

                            <div class="col-sm-6">
							<div class="span4">
                                <div class="formSep">
                                    <label class="required">Enfants (+ de 12 ans):</label>
                                    <input type="text" pattern="[0-9]+"  class="span8" name="enfant"/>
                                </div>
                            </div>
							</div>

                        </div>
						<div class="col-sm-6">
                          <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date de départ * :</label>
                                     <input type="text" required="required" id="datepicker_debut"
                                           name="dated"/>
                                </div>
                            </div>
						</div>
						<div class="col-sm-12">
						<br>
						 <div class="col-sm-6" style="color:#0e3083;">
                            <b>Vous avez besoin d'un vol international?</b>
						 </div>
						</div>
                    <div class="span12">
					         <div class="col-sm-6">
                                <div class="span6">
                                    <div class="formSep">
                                        <label class="label-r2"> Ville de départ :</label>

                                       <select name="depart" class="text-input input_max">
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>
                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>
                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>
                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>
                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option value="TUNIS" selected="selected">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>
                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>
                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
                                 </div>
								</div>
								<div class="col-sm-6">
                                  <div class="span6">
                                    <div class="formSep">
                                        <label class="label-r2">Classe de voyage  :</label>
                                       <select name="voyage" class="text-input input_max">
                                            <option value="Economy">Economy</option>
                                            <option value="Business">Business</option>
                                            <option value="First">First</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                   </div>
                                 </div>
								</div>

                    </div>

                           <div class="col-sm-6">
                            <div class="span12" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Demandes Particulières / Remarques </label>
                                    <textarea name="body" type="text" class="span8" id="body"></textarea>
                                </div>
                            </div>
						   </div>
						<div class="col-sm-12">
						<br>
                           <div class="col-sm-6" style="color:#0e3083;">
                            <b>Et Finalement ...</b>
						   </div>
						</div>

						<div class="col-sm-12">
                        <div class="col-sm-6">
                            <b>Comment Nous avez-vous trouvé?</b>
                            <input type="text"  class="span8" name="Comment"/>
						</div>
						</div>
						
                        <div class="col-sm-12">	
                        <br>						
                        <div class="col-sm-6">
                         <br>	
                             <b>Oui, c'est un voyage de noce / anniversaire de mariage</b>
                             <input type="checkbox" name="vmariage" class="'span4 iphonecheck"  />
						</div>
						 
                        <div class="col-sm-6"> 
                             <b>Date de mariage :</b>
                        </div>  
                        <div class="col-sm-6"> 
                             <input type="text" id="datepicker_naissance2" name="mariage"/>
                        </div>   
						</div>
						
                        <div class="col-sm-12" align="right"><br>
                         <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-success marge2"/>
                                </div>
                            </div>
						 </div>
                    </div>
                </div>
		</div>
		</div>
	 </form>
	</div>
<br>

{% endblock %}
{% block javascripts %}
    
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    
	    <script type="text/javascript">
        $(function() {
            var temp="1";
            $("#myselect2").val(temp);
        });
    </script>


    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
	
	$("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
	$("#datepicker_naissance2").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
	$("#datepicker_fin").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
