{% extends "base.html.twig" %}
{% block title %}Spa{% endblock %}


{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a class="active">Bien être</a></li>

        </ul>
	  </div>
		
		{% set i=0 %}
         {% for entry in entities %}
		  <div class="col-sm-4">
		   <div id="product" class="anim-prod">
                <a href="{{ path('front_bienetre_detail_homepage',{'id':entry.id}) }}">
                    <div id="prix-product">
                        {% if  entry.prixpr != null %}
                                        <span style=" text-decoration: line-through;">{{ entry.prixint|number_format(3, '.', ',') }}TND </span> / {{ entry.prixpr|number_format(3, '.', ',')  }}TND
                                    {% else %}
                                        {{ entry.prixint|number_format(3, '.', ',')  }}TND
                                    {% endif %}
                    </div>
                    {% if entry.imgbien|length>0 %}
                                        <img src="../../{{ entry.imgbien[0].image }}"  >
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                    {% endif %}
                    <div style="position:relative;">
					<div id="titre-product">
                        <table height="50">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.titre }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.type }} 
                    </div>
                    <div id="transform-product">
                        <div id="reserver">
                            Réserver
                        </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
		{% endfor %}
	</div>
    <!-- main content -->
    
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
