{% extends "manager.html.twig" %}
{% block title %}Gestion des Soldes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Hôtel</a></li>

            <li><span>Gestion des soldes</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
             <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">

    <form id="validate_field_types" method="POST" action="{{ path('add_solde_manager') }}"  {{ form_enctype(form) }}>

                                <div class="formSep">
                                    {{ form_row(form.solde, { 'attr': {'class': 'span8'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.agence, { 'attr': {'class': 'span8'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.observation, { 'attr': {'class': 'span8'}}) }}
                                </div>

                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}