{% extends "manager.html.twig" %}
{% block title %}Gestion des Soldes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('show_users')}}">Utilisateurs</a></li>

            <li><span>Gestion des soldes</span></li>
            <li><span>{{nameagence.name|e}} </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des allimentation des soldes</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                            <tr role="row">
                                <th>Agent</th>
                                <th>Agence</th>
                                <th>Solde</th>
                                <th>Observation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set total=0 %}
                            {% for entry in entities%}

                                <tr>
                                    <td>
                                        <a href="#">{{entry.adminadd.name|e}} </a>
                                    </td>
                                    <td> {{entry.solde|changedevise}} </td>{% set total = total + entry.solde %}
                                    <td> {{entry.observation}}</td>


                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="anlt_box">
                        <p class="anlt_heading">
                            Solde de l'agence
                        </p>
                        <p class="anlt_content">{{ total|changedevise }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        {% if app.security.token.roles[0].role!='AGENCEID'%}
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_solde_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau montant </a>');
        });</script>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}