{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
<div class="container">
    <ul id="breadcrumbs">
        <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
        <li><a href="{{ path('btob_hotel_homepage')}}">Réservation</a></li>

        <li><span>Solde Agences</span></li>
    </ul>
</div>

<!-- main content -->
<div class="container">
    <div class="row-fluid">
        <div class="span1to">
            <div class="w-box w-box-blue">
                <h4>Sélectionnez Une agence</h4>
                <div class="agence">

                    <select id="agence" name="agence" onChange="getAgence(this)">
                        <option value="-1">[Sélection]</option>
                        {% for entity in entities %}

                            <option value="{{ path('user_solde_agence', {'userid': entity.id}) }}" {% if  app.request.get('userid')  == entity.id %} selected{% endif %} name="{{ entity.username }}">{{ entity.username }}</option>
                        {% endfor %}


                    </select>

                </div>
            </div>
        </div>

        {% endblock %}
        {% block javascripts %}

            <script type="text/javascript">
                function getAgence(theForm)
                {
                    var url = $('#agence').val();
                    var hn = window.location.hostname;
                    window.location.href = url;
                }
            </script>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

        {% endblock %}

