{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bannaire</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Act</th>
                <td>{{ entity.act }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ entity.lien }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bannaire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bannaire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
