{% extends "manager.html.twig" %}
{% block title %}Gestion des devises{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Configuration</a></li>

            <li><span>Gestion des devises</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-orange">
                    <div class="w-box-header">
                        <h4>Liste des devises</h4>
                    </div>
                    <div class="w-box-content">
                        <form action="{{path('btob_dashdevise_convert')}}" method="POST">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Devise</th>
                                    <th width="20%">Valeur</th>
                                </tr>
                            </thead>
                            <tbody>

                                {%for entity in entities%}
                                    {%if entity.def==true%}
                                        <tr>
                                            <td><strong>{{entity.devise}}</strong> ({{entity.symb}})</td>
                                            <td><input type="text" class="span4" readonly="readonly" value="{{entity.currency}}"></td>

                                        </tr>
                                    {%endif%}
                                {%endfor%}

                                {%for entity in entities%}
                                    {%if entity.def!=true%}
                                        <tr>
                                            <td><strong>{{entity.devise}}</strong> ({{entity.symb}})</td>
                                            <td>
                                                <input type="text" class="span4" id="tab{{entity.id}}" name="tab[{{entity.id}}]" value="{{entity.currency}}">
                                                <a href="javascript:loaddevise('tab{{entity.id}}','{{sym}}','{{entity.symb}}','{{entity.chiffre}}')"><i class="splashy-refresh"></i></a>
                                            </td>

                                        </tr>
                                    {%endif%}
                                {%endfor%}

                                <tr>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-primary">Valider</button></td>

                                </tr>
                            </tbody>
                        </table></form>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <script>
        function loaddevise(a, b, c, d) {
            //$(".loderdevise"+d).show();
            $.ajax({
                type: "POST",
                url: "{{path('btob_dashdevise_convertx')}}",                
                async: false,
                data: "def=" + b + "&to=" + c+"&chiffre="+d,
                success: function (msg) {
                    $("#" + a).val(msg)
                }
            });

            //$(".loderdevise"+d).hide();
        }

    </script>

{% endblock %}
{% block stylesheets %}

{% endblock %}