{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des Voitures {% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="#">Voiture </a></li>

            <li><span>Gestion des Réservation des Voitures </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des promotions</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de réservation</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Voiture</th>

                                <th>Client</th>
                                <th>Etat</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}

                                <tr>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                    </td>


                                    <td>{{ entity.dated|date('d/m/Y') }}  </td>
                                    <td>{{ entity.datef|date('d/m/Y') }} </td>
                                    <td>{{ entity.voiture.titre }}</td>

                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{%if entity.act=="0"%}<span class="label label-success ptip_ne">En attente</span>
                                        {%elseif entity.act=="1"%}<span class="label label-danger ptip_ne">Validé</span>
                                        {%else%}<span class="label label-danger ptip_ne">Annulé</span>   {%endif%}     </td>
                                    <td>
                                        <a href="{{ path('reservationvoiture_edit', { 'id': entity.id }) }}"><i class="splashy-pencil"></i></a>

                                        <a href="javascript:confirmdeletbox('{{ path('voiture_reservation_delete', {'id': entity.id})  }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}