{% extends "manager.html.twig" %}
{% block title %}Gestion des Séjours{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_sejour_sejour_homepage') }}">Séjours</a></li>

            <li><span> Séjours</span></li>
        </ul>
    </div>
 {% for flashMessage in app.session.flashbag.get('notisejourb') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
       Votre message a bien été envoyé. Merci.
    </div>


{% endfor %}	
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.sejour.titre }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('btob_sejour_sejour_detail_homepage',{'id':entry.sejour.id}) }}">
                                    {% if entry.sejour.imgesej|length>0 %}
                                        <img src="{{ entry.sejour.imgesej[0].image }}">
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                    {% endif %}
                                </a>
                                <p class="heading_a">
                                        A partir de :  
                                        
                                         {% if  user.prstsejour == 1 %}
                                              {% set total = entry.sejour.prix +(entry.sejour.prix * user.margesejour/100) %}
                                               {{total}}MAD
                                               {%else%}
                                                   {% set total = entry.sejour.prix + user.margesejour%}
                                               {{total}}MAD
                                               {% endif %}
                                   
                                </p>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('btob_sejour_sejour_detail_homepage',{'id':entry.sejour.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
    </div>
<div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}