{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation Croissières{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>

            <li><span>Détails de la réservation Croissières</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.agent.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date de départ
                                                :</strong> {{ entry.dated|date('d/m/Y') }}</label></div>

                                    <div class="formSep"><label> <strong> Croissière
                                                :</strong> {{ entry.croissiere.titre }}</label></div>
                                    <div class="formSep"><label> <strong> Adulte
                                                :</strong> {{ entry.nbradultes }}</label></div>
                                    <div class="formSep"><label> <strong> Enfant
                                                :</strong> {{ entry.nbrenf }}</label></div>
                                    <div class="formSep"><label> <strong> Souhaitez-vous être contacté(e) par
                                                :</strong> {{ entry.contacte }}</label></div>
                                    <div class="formSep"><label> <strong> Ville de départ
                                                :</strong> {{ entry.villed }}</label></div>

                                    <div class="formSep"><label> <strong> Classe de voyage
                                                :</strong> {{ entry.classev }}</label></div>

                                    <div class="formSep"><label> <strong> Demandes Particulières / Remarques
                                                :</strong> {{ entry.demande }}</label></div>

                                    <div class="formSep"><label> <strong> Comment Nous avez-vous trouvé?
                                                :</strong> {{ entry.comment }}</label></div>

                                    <div class="formSep"><label> <strong> Oui, c'est un voyage de noce / anniversaire de
                                                mariage
                                                :</strong> {% if entry.voyage == 1 %}Oui {% else %} NON {% endif %}</label></div>

                                    <div class="formSep"><label> <strong> Date de mariage :
                                                :</strong> {{ entry.datem|date('d/m/Y ') }}</label></div>


                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y ') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}