{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservationvoiture list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dcr</th>
                <th>Dated</th>
                <th>Datef</th>
                <th>Act</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservationvoiture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dcr %}{{ entity.dcr|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dated %}{{ entity.dated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datef %}{{ entity.datef|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.act }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservationvoiture_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservationvoiture_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservationvoiture_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
