{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservationvoiture</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dcr</th>
                <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dated</th>
                <td>{{ entity.dated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datef</th>
                <td>{{ entity.datef|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Act</th>
                <td>{{ entity.act }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservationvoiture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservationvoiture_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
