{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des omra {% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="#">omra </a></li>

            <li><span>Gestion des Réservation des omra </span></li>
        </ul>
    </div>

    <!-- main content -->
	
	    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Réf °
                                                :</strong> Réf</label></div>
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entity.client.name }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Omra
                                                :</strong> {{ entity.omra.libelle }}</label></div>
                                    <div class="formSep"><label> <strong> Adulte
                                                :</strong> {{ entity.adulte }}</label></div>
                                    <div class="formSep"><label> <strong> Enfant
                                                :</strong> {{ entity.enfant }}</label></div>
                                    <div class="formSep"><label> <strong> BéBé
                                                :</strong> {{ entity.bebe }}</label></div>
                                    <div class="formSep"><label> <strong> Commentaire
                                                :</strong> {{ entity.comment }}</label></div>


                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entity.dcr|date('d/m/Y h:i') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entity.client.civ }} {{ entity.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entity.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entity.client.email }}">{{ entity.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entity.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entity.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entity.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entity.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entity.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>
   
{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}