body {
  background: #ffffff; }

.bannerTop {
  display: none; }

#bannerCookies {
  display: none; }

#login {
  display: none; }

.container {
  background: #ffffff;
  padding: 0; }

.logo {
  display: none; }

#main-nav-box {
  display: none; }

#menuNavigatorBox {
  display: none; }

#fullcontainerBox {
  background: #ffffff; }

.column_menu {
  display: none; }

.row2_index {
  display: none; }

#footerBox {
  display: none; }

.columngroup_3cols, .column3_3cols {
  margin-bottom: 0px; }

.banner {
  display: none; }

.bannerSky {
  display: none; }

.bannerTag {
  display: none; }

.bannerTicker {
  display: none; }

.message_3cols {
  display: none; }

.message_index {
  display: none; }

#bannerColRight-si {
  display: none; }

#bannerColRight {
  display: none; }

#bannerBottomRight {
  display: none; }

.gallery {
  display: none; }

.copri {
  display: none; }

form label {
  margin: 10px; }

table {
  width: 100%;
  padding: 3px;
  text-align: left; }

td {
  text-align: left; }

.table_dati {
  border: 1px solid #3f8fdf;
  width: 100%;
  padding: 3px; }
  .table_dati th {
    border-bottom: 1px solid #3f8fdf;
    text-align: left; }
  .table_dati td {
    text-align: left; }

.commonTable table {
  border: 1px solid #3f8fdf; }
.commonTable td {
  text-align: left; }
.commonTable th {
  border-bottom: 1px solid #3f8fdf;
  border-top: 1px solid #3f8fdf; }

#listavoci2-si li a {
  border: 1px solid #c0c0c0; }

#jwplayer-homepage {
  display: none; }

/*# sourceMappingURL=lse.print.css.map */
