{% extends "manager.html.twig" %}
{% block title %}Gestion des Hotels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_margagence_homepage')}}">Agence</a></li>

            <li><span>{{ nameagence.name }}</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Hotels</h4>
                    </div>


                    <div>

                        <form action="{{ path('on_changes', {'userid': userid}) }}" method="POST">
<table id="tabreset"><tr>
        <td><input  type="text" name="val[{{zz.id}}]" class="span10" value="" /></td>
     <td><input type="checkbox" name="prst[{{zz.id}}]"  class="span10 iphonecheck" /></td>
        <td>  <button type="submit" class="btn btn-primary">Réinitialiser</button></td>
    </tr>

</table>




                        </form>
                    </div>


                    <div class="w-box-content">

                        <form action="{{ path('on_change', {'userid': userid}) }}" method="POST">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                <tr>
                                    <th>Hotel</th>
                                    <th width="20%">Valeur</th>
                                    <th width="20%">Pourcentage</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for entry in hotels%}

                                    {%set val=0%}{%set pers=0%}
                                    {%for item in marge%}


                                        {%if item.hotel.id==entry.id%}

                                            {%set val=item.marge%}{%set pers=item.prst%}
                                        {%endif%}
                                    {%endfor%}
                                    <tr>
                                        <td>{{entry.name}}</td>
                                        <td><input type="text" name="val[{{entry.id}}]" class="span10" value="{{val}}" /></td>
                                        <td><input type="checkbox" name="prst[{{entry.id}}]"{%if pers==1%} checked="checked"{%endif%} class="span10 iphonecheck" /></td>
                                        <td>
                                            <div class="toggle-group">
                                                <span class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></span>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('btob_hotelmargeperiode_homepage', {'hotelid': entry.id,'userid': userid}) }}" title="Modifier"></i>Marge Par Saison</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <input type="hidden" name="hotel[{{entry.id}}]" class="span10" value="{{entry.id}}" />


                                    </tr>





                                {%endfor%}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-primary">Valider</button></td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        jQuery(function ($) {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });</script>
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>


    <script type="text/javascript">
        jQuery(function ($) {
           // $("#dt_basic_length").prepend('<a href="" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau hôtel</a>');
        });</script>
{% endblock %}
                        {% block stylesheets %}
                            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
                            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
                            <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

                        {% endblock %}