{% extends "base.html.twig" %}
{% block title %}Circuits & excursions{% endblock %}

{% block body %}

    <div class="container">
	 <div class="col-sm-12 navig">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                <li><a class="active">Circuits & Excursions</a></li>
            
            </ul>
	 </div>
		{% set i=0 %}
        {% for entry in entities %}
		  <div class="col-sm-4">
		   <div id="product" class="anim-prod">
                <a href="{{ path('front_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
                    <div id="prix-product">
                         A partir de<br>
                            <span class=" tooltip2 bleu-tooltip"> 
							 <div style="color:#fff;">{{ entry.cuircuit.prix }} MAD</div>
							 <span class="span-sejour">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{entry.cuircuit.prix*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{entry.cuircuit.prix*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
							</span>
                        
                    </div>
					
                    {% if entry.cuircuit.imgcuir|length>0 %}
                        <img src="../{{ entry.cuircuit.imgcuir[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50" width="100%">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.cuircuit.libelle }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div id="transform-product">
                        <div id="reserver2">
                            Réserver
                        </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
		{% endfor %}
  <div style="clear:both;"></div>
 <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
	</div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
