{% extends "base.html.twig" %}
{% block body %}

    <div class="container">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_btob_circuit_homepage') }}">Circuits & Excursions</a></li>
            <li><a href="{{ path('front_resa_detail_cuircuit',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>
        </ul>
	 </div>
	</div>
	<div class="container">
	 <div class="col-sm-12">
	  <form method="post" action="{{ path('front_resa_reservation_cuircuit',{'id':entry.id}) }}">    
        
		 <div class="titre-recherche">
          {{ entry.libelle }}
         </div>
		<div class="col-sm-12" style="background: #fff;">
           <h3>Recapitulation</h3> 

           <table class="table  table-bordered table-condensed " style="margin-bottom:0px;">
		   <thead>
		   <tr bgcolor="#f6f6f6" id="room">
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Chambre</th>
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Type</th>
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Nom & prénom</th>
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Age</th>
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Suppliments</th>
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Réductions</th>
		   </tr>
		   </thead>
		   <tbody>
		   	
		   {% set nb=0 %}
		   {%for key,entry in ArrBase%}
		    
			{%if(entry['adult'] is defined )%}
			 {%if(entry['adult'] is not null)%}
			  {%for adult in entry['adult'] %}
			   <tr>
			    <td>Chambre {{key+1}}</td>
			    <td>Adulte</td>
			    <td>{{ adult['namead'] }} {{ adult['prenomad'] }}</td>
			    <td>{{ adult['agead'] }}</td>
			    <td>
				 {%for suppad in adult['suppad']%}
			      {{ suppad }}
			    {%endfor%}
				</td>
			    <td>
				 {%for reducad in adult['reducad']%}
			      {{ reducad }}
			     {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
		    
			{%if(entry['enf'] is defined )%}
			 {%if(entry['enf'] is not null)%}
			  {%for enf in entry['enf'] %}
			   <tr>
			    <td>Chambre {{key+1}}</td>
			    <td>Enfant</td>
			    <td>{{ enf['nameenf'] }} {{ enf['prenomenf'] }}</td>
			    <td>{{ enf['ageenf'] }}</td>
			    <td>
				 {%for suppenf in enf['suppenf']%}
			      {{ suppenf }}
			    {%endfor%}
				</td>
			    <td>
				 {%for reducenf in enf['reducenf']%}
			      {{ reducenf }}
			     {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
		    
			{%if(entry['bebe'] is defined )%}
			 {%if(entry['bebe'] is not null)%}
			  {%for bebe in entry['bebe'] %}
			   <tr>
			    <td>Chambre {{key+1}}</td>
			    <td>Enfant</td>
			    <td>{{ bebe['nameb'] }} {{ bebe['prenomb'] }}</td>
			    <td>{{ bebe['ageb'] }}</td>
			    <td>
				 {%for suppb in bebe['suppb']%}
			      {{ suppb }}
			    {%endfor%}
				</td>
			    <td>
				 {%for reducb in bebe['reducb']%}
			      {{ reducb }}
			     {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
		
		   {%endfor%}
		   </tbody> 
		  </table>
		   	
		   {% set nb=0 %}
		   {%for key,entry in ArrBase%}
		
			<div style="clear:both;"></div>
			 <div class="col-sm-9"></div>
			 <div class="col-sm-3 colorback3">
			   Prix
			   <span class=" tooltip2 bleu-tooltip">
			    <b style="color:#fff !important;">{{entry['price']|number_format(2, '.', ',')}} MAD</b>  
				<span class="span-select2">
				 <table width="100%">
				  {%if(convert)%}
				   <tr>
				    <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					<td align="right">{{entry['price']*convert.currency}}</td>
					<td> &nbsp {{convert.symb}}</td>
				   </tr>
				  {%endif%}
				  {%if(convertd)%}
				   <tr>
				    <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					<td align="right">{{entry['price']*convertd.currency}}</td>
					<td> &nbsp {{convertd.symb}}</td>
				   </tr>
				  {%endif%}
				 </table>
				</span>
			   </span>		  
			 </div>
			 
		   {% endfor %}
			
			
			 <div class="col-sm-9"></div>
			 <div class="col-sm-3 colorback4">
			   Total
			   <span class=" tooltip2 bleu-tooltip">
			    <b style="color:#fff;">{{total|number_format(2, '.', ',')}} MAD</b>  
				<span class="span-select2">
				 <table width="100%">
				  {%if(convert)%}
				   <tr>
				    <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					<td align="right">{{total*convert.currency}}</td>
					<td> &nbsp {{convert.symb}}</td>
				   </tr>
				  {%endif%}
				  {%if(convertd)%}
				   <tr>
				    <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					<td align="right">{{total*convertd.currency}}</td>
					<td> &nbsp {{convertd.symb}}</td>
				   </tr>
				  {%endif%}
				 </table>
				</span>
			   </span>		  
			 </div> 
			 <div>
			  <span style="color:#cc0000; font-family:openB;">NB:</span> Pour le payement en ligne il faut payer à l'avance:  
               <span class=" tooltip2 bleu-tooltip">
					 {{total*entry.prixavance/100}}  MAD
					 <span class="span-select3">
					  <table width="100%">
					   {%if(convert)%}
					    <tr>
					     <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					     <td align="right">{{(total*entry.prixavance/100)*convert.currency}}</td>
					     <td> &nbsp {{convert.symb}}</td>
					    </tr>
					   {%endif%}
					   {%if(convertd)%}
					    <tr>
					     <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					     <td align="right">{{(total*entry.prixavance/100)*convertd.currency}}</td>
					     <td> &nbsp {{convertd.symb}}</td>
					    </tr>
					   {%endif%}
					   </table>
					  </span>
					 </span>	
			 </div>    
                  
              <br>    
		</div> 
              
              
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		<div>
		<div class="col-sm-12" style="background: #fff; padding:8px 3px;">
		 <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6 col-sm-6" style="padding:0px;">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6" style="padding:0px;">
                                    <div class="formSep div2">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[custom[phone]] span10'}}) }}
                                    </div>

                                    <div class="formSep div2">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep div2">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

		<div class="col-sm-12" align="right"> 
		 <input type="submit" value="Réserver" class="btn btn-success marge"/>
		</div>
		</div>
		</div>
   
		
	  </form>
	 </div>
	</div>
	<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
