{% extends "base.html.twig" %}
{% block title %}:: Organisation congrès  ::{% endblock %}
{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        <img src="{{ asset('front/images/arlar2.png') }}" width="100%" />
	  </div>
	  <div style="clear:both; height:5px;"></div>
    </div>
    <div class="container">
	 <div class="col-sm-12">
	 
           {% for flashMessage in app.session.flashbag.get('notifrontcongres') %}
        <br/>
		<div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
		</div>
	   {% endfor %}
        <form method="post" action="{{ path('front_congres') }}">
		 <div class="titre-recherche">
          Informations sur le client <span style="color:#f38f1b;">/</span> CUSTOMER INFORMATION <span style="color:#f38f1b;">/</span> Информация о заказчике <a id="surdemande"></a>
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
            <div class="row-fluid">
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">Civilité <span style="color:#f38f1b;">/</span> Civility <span style="color:#f38f1b;">/</span> вежливость   *</label>
				  <select id="civ" name="civ" required="required" class="span10">
                    <option value="" selected="selected">Choisissez <span style="color:#f38f1b;">/</span> Choose <span style="color:#f38f1b;">/</span> выбирать </option>
					<option value="Mr.">M / Mr</option>
					<option value="Mme">Mme / Mrs</option>
					<option value="Mlle">Mlle / Miss</option>
				  </select>
                 </div>
				 <div class="formSep">
				  <label for="organisme" class="required">Organisme <span style="color:#f38f1b;">/</span> Organization <span style="color:#f38f1b;">/</span> тело</label>
				  <input type="text" id="organisme" name="organisme" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="prenom" class="required">Prénom <span style="color:#f38f1b;">/</span> Name <span style="color:#f38f1b;">/</span> имя *</label>
				  <input type="text" id="prenom" name="prenom" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="nom" class="required">Nom <span style="color:#f38f1b;">/</span> Surname <span style="color:#f38f1b;">/</span> Фамилия *</label>
				  <input type="text" id="nom" name="nom" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="adresse">Adresse <span style="color:#f38f1b;">/</span> Address <span style="color:#f38f1b;">/</span> адрес</label>
				  <textarea id="adresse" name="adresse" class="span10"></textarea>
				 </div>
				 <div class="formSep">
				  <label for="cp" class="required">Code postal <span style="color:#f38f1b;">/</span> Post code <span style="color:#f38f1b;">/</span> почтовый индекс</label>
				  <input type="text" id="cp" name="cp" class="span10">
                 </div>
				</div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep"> 
				  <label for="pays" class="required">Pays <span style="color:#f38f1b;">/</span> Country <span style="color:#f38f1b;">/</span> страна *</label>
				  <input type="text" id="pays" name="pays" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="ville" class="required">Ville <span style="color:#f38f1b;">/</span> City <span style="color:#f38f1b;">/</span> город *</label>
				  <input type="text" id="ville" name="ville" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="tel" class="required">Tél <span style="color:#f38f1b;">/</span> phone <span style="color:#f38f1b;">/</span> телефон *</label>
				  <input type="text" id="tel" name="tel" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="email">E-mail <span style="color:#f38f1b;">/</span> Электронный адрес *</label>
				  <input type="text" id="email" name="email" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="fax" class="required">Fax <span style="color:#f38f1b;">/</span> факс</label>
				  <input type="text" id="fax" name="fax" class="span10">
                 </div>
				</div>

			</div>
		 </div>
		 
		 <div class="titre-recherche">
          Je souhaite recevoir des informations sur <span style="color:#f38f1b;">/</span> I want to receive information on <span style="color:#f38f1b;">/</span> Я хочу получать информацию о :
         </div>
		  
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
		  <br>
		  <div class="row-fluid">
		   <div class="span6 col-sm-6" style="padding:0px;">
		    <b style="color:#00abee;">Arrivée <span style="color:#f38f1b;">/</span> Provenance <span style="color:#f38f1b;">/</span> прибытие</b>
			<div class="formSep">
			 <label for="datepicker_debut">Date <span style="color:#f38f1b;">/</span> дата *</label>
			 <input type="text" name="dated" id="datepicker_debut" required="required" >
			</div>
			<div class="formSep">
			 <label for="vold">N° de vol <span style="color:#f38f1b;">/</span> N° of flight <span style="color:#f38f1b;">/</span> Номер рейса</label>
			 <input type="text" name="vold" id="vold" />
			</div>
		   </div>
		   <div class="span6 col-sm-6" style="padding:0px;">
		    <b style="color:#00abee;">Départ <span style="color:#f38f1b;">/</span> Destination <span style="color:#f38f1b;">/</span> выезд</b>
			<div class="formSep">
			 <label for="datepicker_fin">Date <span style="color:#f38f1b;">/</span> дата *</label>
			 <input type="text" name="datef" id="datepicker_fin" required="required" >
			</div>
			<div class="formSep">
			 <label for="volf">N° de vol <span style="color:#f38f1b;">/</span> N° of flight <span style="color:#f38f1b;">/</span> Номер рейса</label>
			 <input type="text" name="volf" id="volf" >
			</div> 
		   </div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">1er choix d'hôtel <span style="color:#f38f1b;">/</span> 1st choice of hotel <span style="color:#f38f1b;">/</span> 1ый выбор отеля *</label>
				  <select id="civ" name="hotel1" required="required" class="span10">
                    <option value="" selected="selected">Choisissez </option>
					<option value="Golden Tulip Farah Marrakech 3*">Golden Tulip Farah Marrakech 3*</option>
					<option value="Es Saadi Hotel 4*">Es Saadi Hotel 4*</option>
					<option value="Radisson Blu 5*">Radisson Blu 5*</option>
					<option value="Le méridien 5*">Le méridien 5*</option>
					<option value="Es Saadi Palace 5*+">Es Saadi Palace 5*+</option>
				  </select>
                 </div>
				</div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">2ème choix d'hôtel <span style="color:#f38f1b;">/</span> 2nd choice of hotel <span style="color:#f38f1b;">/</span> 2ый выбор отеля *</label>
				  <select id="civ" name="hotel2" required="required" class="span10">
                    <option value="" selected="selected">Choisissez </option>
					<option value="Golden Tulip Farah Marrakech 3*">Golden Tulip Farah Marrakech 3*</option>
					<option value="Es Saadi Hotel 4*">Es Saadi Hotel 4*</option>
					<option value="Radisson Blu 5*">Radisson Blu 5*</option>
					<option value="Le méridien 5*">Le méridien 5*</option>
					<option value="Es Saadi Palace 5*+">Es Saadi Palace 5*+</option>
				  </select>
                 </div>
				</div>
			    <div class="span6 col-sm-12" style="padding:0px; margin-top:15px;">
				<div class="col-sm-2" style="padding:0px;"><strong>Type de chambres <br> Room types <br> типы номеров:</strong></div>
					   <div class="col-sm-5" style="padding:0px;">
						<strong>Simple <span style="color:#f38f1b;">/</span> Single <span style="color:#f38f1b;">/</span> простой:</strong>
						<select class="span10" id="nbre_single" onchange="single()" name="nbrsingle">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<div id="nom-single">
						</div>
					   </div>
					   <div class="col-sm-5" style="padding:0px;">
						<strong>Double <span style="color:#f38f1b;">/</span> двойной:</strong>
						<select class="span10" id="nbre_doublee" onchange="doubl()" name="nbredoublee">
							<option value="0">0</option> 
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<div id="nom-doublee">
						</div>
					   </div>
				</div>
				<div style="clear:both; height:20px;"></div>
              <div class="span6 col-sm-12" style="padding:0px;">
                  <div class="col-sm-2" style="padding:0px;"><strong>Transfert <span style="color:#f38f1b">/</span> Transfer <span style="color:#f38f1b">/</span> перевод:</strong></div>
                  <div class="col-sm-8" style="padding:0px;">
                      <input type="radio" name="transfert" value="1" />
                      <label>Aéroport <span style="color:#f38f1b">/</span> Airport <span style="color:#f38f1b">/</span> аэропорт (Marrakech) -> Hôtel <span style="color:#f38f1b">/</span> Hotel <span style="color:#f38f1b">/</span> отель</label>
                  </div> 
                  <div class="col-sm-2" style="padding:0px;"></div>
                  <div class="col-sm-8" style="padding:0px;">  
                      <input type="radio" name="transfert" value="2" />
                      <label>Aéroport <span style="color:#f38f1b">/</span> Airport <span style="color:#f38f1b">/</span> аэропорт (Casablanca) -> Hôtel <span style="color:#f38f1b">/</span> Hotel <span style="color:#f38f1b">/</span> отель</label>
                  </div> 
              </div>
		  </div>
		 </div>
		 
		 <div class="titre-recherche">
          Informations supplémentaires <span style="color:#f38f1b;">/</span> Additional Information <span style="color:#f38f1b;">/</span> дополнительная информация
         </div> 
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 6px;">
            <div class="row-fluid">
             <div class="" align="center">
				<textarea id="Message" required="required" style="height:99px;" name="message" type="text" class="span12"></textarea>
			 </div>
		   <div style="clear:both;"></div><br>
		   <div class="col-sm-9"><span style="color:#333;"><sup>*</sup>Champs obligatoires <span style="color:#f38f1b;">/</span> Required fields <span style="color:#f38f1b;">/</span> поля обязательные для заполнения</span></div>
		   <div class="col-sm-2" align="right" style="">
		    <input type="submit" value="Réserver / Book / книга" class="btn btn-success">
		   </div>
			</div>
		 </div>
		 
		</form>
	 </div>
	</div>
    
	 

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>




    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->

    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>

<script type="text/javascript">

		
		 function single(){
			var nbre=$("#nbre_single").val();
			//alert(nbre);
			nbre++;
			var pas; 
			var cont= "";
			for (pas = 1; pas < nbre; pas++) {
				cont += "<br><label>Chambre/Room/номер"+pas+"</label><br><input type='text' class='span10' placeholder='Nom/Surname/Фамилия' name='single[]' />";
			}
			document.getElementById('nom-single').innerHTML = cont;
		 }
		 
		 function doubl(){
			var nbree=$("#nbre_doublee").val();
			nbree++;
			//alert(nbree);
			var pass; 
			var contt= "";
			for (pass = 1; pass < nbree; pass++) {
				contt += "<br><label>Chambre/Room/номер"+pass+"</label><br><input type='text' class='span12' placeholder='Nom/Surname/Фамилия' name='double[]' /><br><input type='text' class='span12' placeholder='Nom/Surname/Фамилия' name='double[]' />";
			}
			document.getElementById('nom-doublee').innerHTML = contt;
			
		 }
		
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $("#datepicker_fin").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });

        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
		function change1(){
          document.getElementById('hidd-autre').style.cssText = 'display:none !important';
        }
		function change2(){
          document.getElementById('hidd-autre').style.cssText = 'display:block !important';
        }
    </script>


	
	 <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1'); 
         } 
         function myFunction3() {
		  $('#paiement').val('2'); 
         }
		 
        </script>


{% endblock %}
{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
	 #hidd-autre{ display:none; }
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 294.25px;
                    HEIGHT: 90px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 301.75px;
                    height: 100px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 100px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:100px;
                }
				#slider2_container div{
				 transform: scale(1) !important;
				}
	</style>
{% endblock %}