{% extends "base.html.twig" %}
{% block title %}:: Organisation congrès Médical ::{% endblock %}
{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        <img src="{{ asset('front/images/arlar.png') }}" width="100%" />
	  </div>
	  <div style="clear:both; height:5px;"></div>
           {% for flashMessage in app.session.flashbag.get('notimedical') %}
        <br/>
		<div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
		</div>
	   {% endfor %}
    </div>
    <div class="container">
	 <div class="col-sm-12">
        <form method="post" action="{{ path('front_resa_reservation_medical') }}">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
            <div class="row-fluid">
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">Civilité/Civility  *</label>
				  <select id="civ" name="civ" required="required" class="span10">
                    <option value="" selected="selected">Choisissez </option>
					<option value="Mr.">M/Mr</option>
					<option value="Mme">Mme/Mrs</option>
					<option value="Mlle">Mlle /Miss</option>
				  </select>
                 </div>
				 <div class="formSep">
				  <label for="organisme" class="required">Organisme</label>
				  <input type="text" id="organisme" name="organisme" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="prenom" class="required">Prénom/ First name *</label>
				  <input type="text" id="prenom" name="prenom" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="nom" class="required">Nom/Last name  *</label>
				  <input type="text" id="nom" name="nom" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="adresse">Adresse/Adress</label>
				  <textarea id="adresse" name="adresse" class="span10"></textarea>
				 </div>
				 <div class="formSep">
				  <label for="cp" class="required">Code postal/Post code</label>
				  <input type="text" id="cp" name="cp" class="span10">
                 </div>
				</div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep"> 
				  <label for="pays" class="required">Pays/Country *</label>
				  <input type="text" id="pays" name="pays" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="ville" class="required">Ville/City *</label>
				  <input type="text" id="ville" name="ville" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="tel" class="required">Tél/phone *</label>
				  <input type="text" id="tel" name="tel" required="required" class="span10">
                 </div>
				 <div class="formSep">
				  <label for="email">E-mail *</label>
				  <input type="text" id="email" name="email" required="required" class="span10">
				 </div>
				 <div class="formSep">
				  <label for="fax" class="required">Fax</label>
				  <input type="text" id="fax" name="fax" class="span10">
                 </div>
				</div>

			</div>
		 </div>
		 
		 <div class="titre-recherche">
          Je souhaite recevoir des informations sur :
         </div>
		 
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
		  <br>
		  <div class="row-fluid">
		   <div class="span6 col-sm-6" style="padding:0px;">
		    <b style="color:#00abee;">Arrivée/provenance</b>
			<div class="formSep">
			 <label for="datepicker_debut">Date *</label>
			 <input type="text" name="dated" id="datepicker_debut" required="required" >
			</div>
			<div class="formSep">
			 <label for="heured">Heure/Time *</label>
			 <input type="text" name="heured" id="heured" required="required" >
			</div>
			<div class="formSep">
			 <label for="vold">N° de vol/N° of flight</label>
			 <input type="text" name="vold" id="vold" />
			</div>
		   </div>
		   <div class="span6 col-sm-6" style="padding:0px;">
		    <b style="color:#00abee;">Départ/destination</b>
			<div class="formSep">
			 <label for="datepicker_fin">Date *</label>
			 <input type="text" name="datef" id="datepicker_fin" required="required" >
			</div>
			<div class="formSep">
			 <label for="heuref">Heure/Time *</label>
			 <input type="text" name="heuref" id="heuref" required="required" >
			</div>
			<div class="formSep">
			 <label for="volf">N° de vol/N° of flight</label>
			 <input type="text" name="volf" id="volf" >
			</div>
		   </div>
		   <div class="span12 col-sm-12">
		    Pour les arrivées à Casablanca qui souhaitent un transfert – merci nous contacter /* For Casablanca arrivals who and wants a transfer – please contact us.
		   </div>
		   <div class="span12 col-sm-12" style="padding:0px;">
		     <br>
		     <div class="span12 col-sm-4" style="padding:0px;">
              <input type="radio" onclick="change1();" checked id="professeur" name="type" value="professeur" /> <label for="professeur">Professeur</label>
			 </div>
		     <div class="span12 col-sm-4">
              <input type="radio" onclick="change1();" id="docteur" name="type" value="docteur" /> <label for="docteur">Docteur</label>
			 </div>
		     <div class="span12 col-sm-4">
              <input type="radio" onclick="change1();" id="resident" name="type" value="resident" /> <label for="resident">Résident</label>
			 </div>
		     <div class="span12 col-sm-4" style="padding:0px;">
              <input type="radio" onclick="change1();" id="pharmaceutique" name="type" value="pharmaceutique" /> <label for="pharmaceutique">Industrie Pharmaceutique </label>
			 </div>
		     <div class="span12 col-sm-2">
              <input type="radio" onclick="change2();" id="autre" name="type"  value="autres" /> <label for="autre">Autre/Other</label>
			 </div>
		     <div class="span12 col-sm-3" style="padding:0px;">
              <input type="text" id="hidd-autre" name="autre" />
			 </div>
			 <div style="ckear:both;"></div>
			 
		   </div>
		   <div class="col-sm-12" style="padding:0px;"><br>
		   <div class="col-sm-4" style="padding:0px;"><strong>Les accompagnant(s) adulte(s)<br>The accompanying (s) Adult (s) </strong></div>
					  <div class="col-sm-8">
					   <table border="0" id="catg" width="100%" cellpadding="0" style="width: 98% !important;">
					    <tbody>
					     <tr id="ligne0">
					      <td width="49%">
					       <div class="formSep">
					        <label class="label-r">Nom/Name *:</label>
					        <input type="text" name="nom_accompagnant[]" class="span9" required="required">
					       </div>
					      </td>
					      <td width="49%">
					       <div class="formSep">
					        <label class="label-r">Prénom/Surname *:</label>
					        <input type="text" name="prenom_accompagnant[]" class="span9" required="required">
					       </div>
					      </td>
					      <td width="2%">
					       <div style="  margin-top: 23px;">
						    <a id="todelete" href="javascript:deleterow('ligne0')">
						     <img src="{{ asset('front/images/deleteico.png') }}" style="width:30px;" class="small_img1">
						    </a>
						   </div>
					      </td>
					     </tr>
					    </tbody>
					   </table>
					    <div class="col-sm-7"></div>
					    <div class="col-sm-5" align="right">
					     <a href="javascript:myFunction()">+ Ajouter un autre accompagnant</a>
					    </div>
					   </div>
					 
		   </div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">1er choix d'hôtel/1st choice of hotel *</label>
				  <select id="civ" name="hotel1" required="required" class="span10">
                    <option value="" selected="selected">Choisissez </option>
					<option value="Atlas Medina et SPA (5min *)">Atlas Medina et SPA (5min *)</option>
					<option value="Savoy Grand hotel (15min *)">Savoy Grand hotel (15min *)</option>
					<option value="Le Méridien Nfis  (15min *)">Le Méridien Nfis  (15min *)</option>
					<option value="Atlas Asni (5 min*)">Atlas Asni (5 min*)</option>
					<option value="Ryad Mogador Ménara (3 min *)">Ryad Mogador Ménara (3 min *)</option>
					<option value="Kenzi Farah (15min *)">Kenzi Farah (15min *)</option>
					<option value="Les Idrissides  (5min *)">Les Idrissides  (5min *)</option>
					<option value="Golden Tulip Farah  (15min *)">Golden Tulip Farah  (15min *)</option>
				  </select>
                 </div>
				</div>
			    <div class="span6 col-sm-6" style="padding:0px;">
				 <div class="formSep">
				  <label for="civ" class="required">2ème choix d'hôtel/2nd choice of hotel *</label>
				  <select id="civ" name="hotel2" required="required" class="span10">
                    <option value="" selected="selected">Choisissez </option>
					<option value="Atlas Medina et SPA (5min *)">Atlas Medina et SPA (5min *)</option>
					<option value="Savoy Grand hotel (15min *)">Savoy Grand hotel (15min *)</option>
					<option value="Le Méridien Nfis  (15min *)">Le Méridien Nfis  (15min *)</option>
					<option value="Atlas Asni (5 min*)">Atlas Asni (5 min*)</option>
					<option value="Ryad Mogador Ménara (3 min *)">Ryad Mogador Ménara (3 min *)</option>
					<option value="Kenzi Farah (15min *)">Kenzi Farah (15min *)</option>
					<option value="Les Idrissides  (5min *)">Les Idrissides  (5min *)</option>
					<option value="Golden Tulip Farah  (15min *)">Golden Tulip Farah  (15min *)</option>
				  </select>
                 </div>
				</div>
			    <div class="span6 col-sm-12" style="padding:0px;">
				<div class="col-sm-2" style="padding:0px;"><strong>Type de chambres:</strong></div>
				       <div class="col-sm-2" style="padding:0px;"><strong>Simple/ Single:</strong></div>
					   <div class="col-sm-1">
					    Nombre
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbchsingle" class="span9" required="required">
					   </div>
					   <div class="col-sm-1" style="margin-left:0;">
					    nights
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbnuitesingle" class="span9" required="required">
					   </div>
					   <div class="col-sm-12">&nbsp </div>
					   <div class="col-sm-2">&nbsp </div>
				       <div class="col-sm-2" style="padding:0px;"><strong>Double:</strong></div>
					   <div class="col-sm-1" style="margin-left:0;">
					    Nombre
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbchdouble" class="span9" required="required">
					   </div>
					   <div class="col-sm-1" style="margin-left:0;">
					    nights 
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbnuitedouble" class="span9" required="required">
					   </div>
					   <div class="col-sm-12">&nbsp </div>
					   <div class="col-sm-2">&nbsp </div>
				       <div class="col-sm-2" style="padding:0px;"><strong>Lits séparés/Twin:</strong></div>
					   <div class="col-sm-1" style="margin-left:0;">
					    Nombre
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbchtriple" class="span9" required="required">
					   </div>
					   <div class="col-sm-1" style="margin-left:0;">
					    nights 
					   </div>
					   <div class="col-sm-3">
					    <input type="text" name="nbnuitetwin" class="span9" required="required">
					   </div>
				</div>
				<div style="clear:both; height:10px;"></div>
				<div class="span6 col-sm-12" style="padding:0px;">
			   	   <div class="col-sm-2" style="padding:0px;"><strong>Transfert/Transfer:</strong></div>
				       <div class="col-sm-8" style="padding:0px;"><input type="checkbox" name="transfert" value="1" /> <label>Aéroport/Airport -> Hôtel/Hotel / Hôtel/Hotel -> Aéroport/Airport</label></div>
				</div>
		  </div>
		 </div>
		 
		 <div class="titre-recherche">
          Type payement :
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
            <div class="row-fluid">
             <div class="span12" style="margin-top:10px;" align="center"><br>
			 <div id="slider2_container" style="position: relative;box-sizing: inherit !important; top: 0px; left: 0px; width: 904px; height:370px; background: #fff; overflow: hidden; ">
                <div u="slides"  style="cursor: default; position: absolute; left: 0px; top: 98px; width: 899px; height: 200px; border: 2px solid #087df2; -webkit-filter: blur(0px); background-color: #f5f5f5; overflow: hidden;">
              							 
									 <div>
								      <div style="margin: 10px; overflow: hidden; color: #000;">
									  <br>
                                       <p><b>IBAN/R.I.B :</b> 007 450 00 0098200000160129</p>
									   <p>Banque ATTIJARI WAFA BANK </p>
									   <p><b>Adresse : </b>Boulevard Mohamed VI / 40000 Marrakech </p>
                                       <p><b>Code Swift :</b> BCM AMAMC </p>
									   La réservation est valable uniquement si le transfert est effectué.
								      </div>
								      <div u="thumb">
								       <label id="paiement1" style="font-size:13px;  height: 100px;">
								        <input type="radio" checked name="paiement" id="paiement1" onclick="myFunction1()"  value="3" style="width:10px" />
								        Virement bancaire<br>
										 <img src="{{asset('front/images/h_logo_attijariwafa_bank.jpg')}}" />
								       </label>
								      </div>
								     </div>
									 
									 
									 
				</div>
				<div u="thumbnavigator" class="jssort12" style="left:0px; top: 0px;">
				 <div u="slides" style="cursor: default; top: 0px; left: 0px; border-left: 1px solid #087df2;">
				  <div u="prototype" class="p">
				   <div class=w><div u="thumbnailtemplate" class="c"></div></div>
				  </div>
				 </div>
				</div>
			 </div>
			 </div>
		   <div style="clear:both;"></div><br>
		   <div class="col-sm-10"><span style="color:#333;"><sup>*</sup>Champs obligatoires</span></div>
		   <div class="col-sm-2" align="right" style="padding-right:30px;">
		    <input type="submit" value="Réserver" class="btn btn-success">
		   </div>
			</div>
		 </div>
		 
		</form>
	 </div>
	</div>
    
	 

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>




    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->

    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>

<script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $("#datepicker_fin").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });

        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
		function change1(){
          document.getElementById('hidd-autre').style.cssText = 'display:none !important';
        }
		function change2(){
          document.getElementById('hidd-autre').style.cssText = 'display:block !important';
        }
    </script>


	
	 <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
	 #hidd-autre{ display:none; }
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 294.25px;
                    HEIGHT: 90px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 301.75px;
                    height: 100px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 100px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:100px;
                }
				#slider2_container div{
				 transform: scale(1) !important;
				}
	</style>
{% endblock %}