{% extends "base.html.twig" %}
{% block title %}:: Organisation congrés Marrakech ::{% endblock %}
{% block body %}
    <div class="container">
	  <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_resa_reservation_siminaire') }}">Séminaires</a></li>
            <li><a class="active">Réservation séminaires</a></li>
        </ul>
       {% for flashMessage in app.session.flashbag.get('notiSiminaire') %}
        <br/>
		<div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
		</div>
	   {% endfor %}
	  </div>
    </div>
    <!-- main content -->
    <div class="container">
	 <div class="col-sm-12">
        <form method="post" action="{{ path('front_resa_reservation_siminaire') }}">
		 <div class="titre-recherche">
          Informations sur le client <a id="surdemande"></a>
         </div>
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 25px;">
            <div class="row-fluid">
                                <div class="span6 col-sm-6" style="padding:0px;">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6" style="padding:0px;">
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>

                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}
			</div>
		 </div>
		 
		 <div class="titre-recherche">
          Je souhaite recevoir des informations sur :
         </div>
		 
		 
		 
		 <div class="col-sm-12" style="background: #fff; padding:8px 0px 8px 10px;">
		 <br>
		 <div class="row-fluid">
					 <div class="col-sm-4"><strong>Date de séjour *:</strong></div>
					 <div class="col-sm-4"><input type="text" name="dated" id="datepicker_debut" required="required" ></div>
					 <div class="col-sm-4"><input type="text" name="dater" id="datepicker_fin" required="required" ></div>
					
					
					<div class="col-sm-12">&nbsp </div>
					 <div class="col-sm-4"><strong>Nombre de participants *:</strong></div>
					 <div class="col-sm-4"><input type="text" name="nbparticipant" required="required"></div>
					 
					 <div class="col-sm-12" style="border-top:1px dotted #ccc; margin-top:25px; margin-left:0; clear:both;"></div>
					<div class="col-sm-12">&nbsp </div>
					
				    <div class="col-sm-12" style="margin-left: 0px;"><strong style="color:#00abee;">La location de salle </strong></div>
					  <div class="col-sm-4"><strong>La salle plénière</strong></div>
					  <div class="col-sm-8">
					   <table border="0" id="catg" width="100%" cellpadding="0" style="width: 98% !important;">
					    <tbody>
					     <tr id="ligne0">
					      <td width="49%">
					       <div class="formSep">
					        <label class="label-r">Capacité souhaitée *:</label>
					        <input type="text" name="capacite[]" class="span9" required="required">
					       </div>
					      </td>
					      <td width="49%">
					       <div class="formSep" style="padding-top:0px;">
					        <label class="label-r">Type de salle (auditorium..) *:</label>
					        
                                                
                                                <select name="type[]" class="col-sm-9" required="required">
						 <option value="Les salles de réunion">Les salles de réunion</option>
						 <option value="Les palais des congrés et les grands hôtels">Les palais des congrés et les grands hôtels</option>
						 <option value="Les monuments de style classique ou les châteaux">Les monuments de style classique ou les châteaux</option>
						 <option value="Les péniches">Les péniches</option>
						 <option value="Les musées, cinémas, théâtres, restaurants...">Les musées, cinémas, théâtres, restaurants...</option>
						 <option value="Les halls d'exposition">Les halls d'exposition</option>
						</select>
					       </div>
					      </td>
					      <td width="2%">
					       <div style="  margin-top: 23px;">
						    <a id="todelete" href="javascript:deleterow('ligne0')">
						     <img src="{{ asset('front/images/deleteico.png') }}" style="width:30px;" class="small_img1">
						    </a>
						   </div>
					      </td>
					     </tr>
					    </tbody>
					   </table>
					    <div class="col-sm-8"></div>
					    <div class="col-sm-4" align="right">
					     <a href="javascript:myFunction()">+ Ajouter une autre salle</a>
					    </div>
					   </div>
					 
					 
					  <div class="col-sm-4"><strong>Nombre de salles souhaité *:</strong></div>
					  <div class="col-sm-4">
					    <select name="nbsalle">
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
						 <option value="4">4</option>
						 <option value="5">5</option>
						 <option value="6">6</option>
						 <option value="7">7</option>
						 <option value="8">8</option>
						 <option value="9">9</option>
						 <option value="10">10</option>
						</select>
					  </div>
					 
					 <div class="col-sm-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					<div class="col-sm-12">&nbsp </div>
					 
					 <div class="col-sm-12" style="margin-left:0;"><strong style="color:#00abee;">La centrale de réservation hôtelière </strong></div>
					  <div class="col-sm-4"><strong>Type de chambres:</strong></div>
					   <div class="col-sm-4">
					    Nombre de chambres single souhaitées *:
					   </div>
					   <div class="col-sm-4">
					    <input type="text" name="nbchsingle" class="span9" required="required">
					   </div>
					   <div class="col-sm-12">&nbsp </div>
					   <div class="col-sm-4">&nbsp </div>
					   <div class="col-sm-4" style="margin-left:0;">
					    Nombre de chambres double souhaitées *:
					   </div>
					   <div class="col-sm-4">
					    <input type="text" name="nbchdouble" class="span9" required="required">
					   </div>
					   <div class="col-sm-12">&nbsp </div>
					   <div class="col-sm-4">&nbsp </div>
					   <div class="col-sm-4" style="margin-left:0;">
					    Nombre de chambres triple souhaitées *:
					   </div>
					   <div class="col-sm-4">
					    <input type="text" name="nbchtriple" class="span9" required="required">
					   </div>
					   <div class="col-sm-12">&nbsp </div>
					   <div class="col-sm-4">&nbsp </div>
					   <div class="col-sm-4" style="margin-left:0;">
					    Nombre de chambres quadruple souhaitées *:
					   </div>
					   <div class="col-sm-4">
					    <input type="text" name="nbchquadtriple" class="span9" required="required">
					   </div>				  	  
					 
					  <div class="col-sm-4"><strong>Arrangement souhaité *:</strong></div>
					  <div class="col-sm-4">
					    <select name="arrangement">
						 <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
						 <option value="Demi Penion">Demi Penion</option>
						 <option value="Pension Complète">Pension Complète</option>
						 <option value="All Inclusive">All Inclusive</option>
						 <option value="Ultra All">Ultra All</option>
						</select>
					  </div>
					<div class="col-sm-12">&nbsp </div>
                                         
                                         
					  <div class="col-sm-4"><strong>Lieu ou hôtel souhaités *:</strong></div>
					  <div class="col-sm-4">
					   
                                               <input type="text" name="lieu" class="col-sm-12" required="required">
					  </div>
					<div class="col-sm-12">&nbsp </div>
                                         
					  <div class="col-sm-4"><strong>Catégorie souhaitée *:</strong></div>
					  <div class="col-sm-4">
					    <select name="categorie">
						 <option value="3*">3*</option>
						 <option value="4*">4*</option>
						 <option value="5*">5*</option>
						</select>
					  </div>
					 
					 <div class="col-sm-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					<div class="col-sm-12">&nbsp </div>
					 
					 <div class="col-sm-12" style="margin-left:0;"><strong style="color:#00abee;">L'organisation de visites, soirées ou activités incentive </strong></div>
					  <div class="col-sm-4">
					   <input type="checkbox" style="width:15px; margin-top: 10px;" class="col-sm-4 iphonecheck" name="gala">
					   <label style="float:left; margin-right:7px; margin-top:5px;">Soirée de gala</label>
					  </div>
					  <div class="col-sm-4"> 
					   <input type="checkbox" style="width:15px; margin-top: 10px;" class="col-sm-4 iphonecheck" name="incentive">
					   <label style="float:left; margin-right:7px; margin-top:5px;">Activités incentive</label>
					  </div>
					 
					 <div class="col-sm-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					<div class="col-sm-12">&nbsp </div>
					 
					 <div class="col-sm-12" style="margin-left:0;"><strong style="color:#00abee;">Remarques </strong></div>
					  <div class="col-sm-12"><strong>Pour toute autre demande merci de la préciser ici:</strong></div>
					  <div class="col-sm-12">
					   <textarea name="remarque" style="height:129px; width:98.5% !important;"></textarea>
					  </div>
					 <div style="clear:both;"></div><br>
					  <div class="col-sm-10"><span style="color:#333;"><sup>*</sup>Champs obligatoires</span></div>
                      <div class="col-sm-2" align="right" style="padding-right:30px;">
					   <input type="submit" value="Réserver" class="btn btn-success">
                      </div>
                
                    </div>
		 
        </div>
		</div>
		</div>
        </form>
	  </div>	
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>




    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->

    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>

<script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $("#datepicker_fin").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });

        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
    </script>




{% endblock %}
{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

{% endblock %}