{% extends "base.html.twig" %}
{% block title %}Gestion des Séjours{% endblock %}

{% block body %}
    <div class="container">
	 <div class="col-sm-12 navig">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_sejour_homepage') }}">Séjours</a></li>
            <li><a class="active"> Liste séjours</a></li>
        </ul>
    
	
	 {% for flashMessage in app.session.flashbag.get('notisejourf') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
       Votre réservation a bien été prise en compte. Notre conseiller vous contactera dans le plus bref délais.
    </div>


{% endfor %}
      </div>
        {% set i=0 %}

        {% for entry in entities %}
            <div class="col-sm-4">
		     <div id="product" class="anim-prod">
                <a href="{{ path('front_sejour_detail_homepage',{'id':entry.sejour.id}) }}">
                    <div id="prix-product">
                       
                            A partir de<br>  
							<span class=" tooltip2 bleu-tooltip"> 
							 <div style="color:#fff;">{{ entry.sejour.prix }} MAD</div>
							 <span class="span-sejour">
																   <table width="100%">
						                                            {%if(convert)%}
						                                              <tr>
						                                               <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
						                                               <td align="right">{{entry.sejour.prix*convert.currency}}</td>
																	   <td> &nbsp {{convert.symb}}</td>
																	  </tr>
																	 {%endif%}
																	 {%if(convertd)%}
																	  <tr>
																	   <td><img src="{{ asset('front/images/US.gif') }}" /></td>
						                                               <td align="right">{{entry.sejour.prix*convertd.currency}}</td>
																	   <td> &nbsp {{convertd.symb}}</td>
																	  </tr>
																	 {%endif%}
																	</table>
																   </span>
							</span>
                            
                      
                    </div>
                    {% if entry.sejour.imgesej|length>0 %}
                        <img src="../{{ entry.sejour.imgesej[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.sejour.titre }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.sejour.dureesj }} jours/ {{ entry.sejour.dureesj-1 }} Nuits
                    </div>
                    <div id="transform-product">
                      <div id="reserver">
                        Réserver
                      </div>
                    </div>
					</div>
                </a>
            </div>
		  </div>
        {% endfor %}
		
  <div style="clear:both;"></div>
 <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
    </div>
{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}