{% extends "base.html.twig" %}
{% block body %}
   
    <div class="container">
	  <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_sejour_homepage') }}">Séjours</a></li>
            <li><a class="active"> Détails séjour</a></li>
        </ul>
	  </div>
	 <div class="col-sm-12">
	  <div class="titre-recherche">
       Sejours : {{ entry.titre }}
      </div>
	 </div>
    </div>

    <!-- main content -->
    <div class="container">
	  <div class="col-sm-12">

        <form method="post" action="{{ path('front_inscrip_reservation_sejour',{'id':entry.id}) }}">
         <div class="col-sm-12" style="background:#fff;">
		  <br>
		  <table class="table  table-bordered table-condensed ">
		   <thead>
		   <tr bgcolor="#f6f6f6" id="room">
 		    <th class="col-sm-2" bgcolor="#e2f1ff" style="background:#e2f1ff;">Chambres</th>
 		    <th class="col-sm-10" bgcolor="#e2f1ff" style="background:#e2f1ff;">Passagers</th>
		   </tr>
		   <tbody>
		    {% for i in 0..nbchambre-1 %}
		     <tr>
			  <td>
			   chambre {{i+1}}
			  </td>
			  <td>
			    <!-- debut adulte -->
			    {%if(nbad[i]>0)%} 
				 {% for j in 0..nbad[i]-1 %}
				  <table border="0" id="catg" width="100%" cellpadding='3'>
				   <tbody>
				    <tr id="ligne0">
					 <td valign="top">
					  <div style="padding-top:10px; color:#2487e3;"><b>Adultes:</b></div>
					 </td>
					 <td valign="top">
					  <div class="formSep">
					   <label class="label-r">Nom *:</label>
					   <input required="required" type="text" name="namead[{{i}}][{{j}}]" class="span8"/>
					  </div>
					 </td>
					 <td valign="top">
					  <div class="formSep">
					   <label class="label-r">Prenom *:</label>
					   <input required="required" type="text" name="prenomad[{{i}}][{{j}}]" class="span8"/>
					  </div>
					 </td>
					 <td valign="top">
					  <div class="formSep">
					   <label class="label-r2">Date de naissance *:</label>
					   <input required="required" min="08/10/2015" type="date" id="daten{{i}}{{j}}" name="agead[{{i}}][{{j}}]" class="span8"/>
					  </div>
					 </td>
					</tr>
				   </tbody>
				  </table>
				  {% if sejoursupp|length>0 %}
				  <div class="span12">
				   <h5>Supplements :</h5>
				   {% for supp in sejoursupp %}
				    <label class="radiosupp">
				     <input style="margin-top: 5px;" class="radioeventforchanging" type="checkbox" name="suppad[{{i}}][{{j}}][]" value="{{ supp.id }}"/>
                     &nbsp;&nbsp;{{ supp.name }}
					 (
					 <span class=" tooltip2 bleu-tooltip">
					 {{ supp.price }}  MAD
					 <span class="span-select2">
					  <table width="100%">
					   {%if(convert)%}
					    <tr>
					     <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					     <td align="right">{{supp.price*convert.currency}}</td>
					     <td> &nbsp {{convert.symb}}</td>
					    </tr>
					   {%endif%}
					   {%if(convertd)%}
					    <tr>
					     <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					     <td align="right">{{supp.price*convertd.currency}}</td>
					     <td> &nbsp {{convertd.symb}}</td>
					    </tr>
					   {%endif%}
					   </table>
					  </span>
					 </span>
				     )
				    </label>
				   {% endfor %}
				  </div>
				  {% endif %}
				  <br>	
				 {%endfor%}
				{%endif%}		
			   <!-- fin adulte -->		  
				
			   <!-- debut enfant -->	
			   {%if(nbenf[i]>0)%}
			    {% for k in 0..nbenf[i]-1 %}
				 <table border="0" id="catg" width="100%" cellpadding='3'>
				  <tbody>
				   <tr id="ligne0">
					 <td valign="top">
					  <div style="padding-top:10px; color:#2487e3;"><b>Enfants:</b></div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r">Nom *:</label>
					   <input required="required" type="text" name="nameenf[{{i}}][{{k}}]" class="span8"/>
					  </div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r">Prenom *:</label>
					   <input required="required" type="text" name="prenomenf[{{i}}][{{k}}]" class="span8"/>
					  </div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r2">Date de naissance *:</label>
					   <input required="required" min="08/10/2015" type="date" id="datenn{{i}}{{k}}" name="ageenf[{{i}}][{{k}}]" class="span8"/>
					  </div>
					 </td>
					</tr>
				   </tbody>
				  </table>
				  {% if sejoursupp|length>0 %}
				   <div class="span12">
				    <h5>Supplements :</h5>
					{% for supp in sejoursupp %}
					 <label class="radiosupp">
					  <input style="margin-top: 5px;" class="radioeventforchanging" type="checkbox" name="suppenf[{{i}}][{{k}}][]" value="{{ supp.id }}"/>
                      &nbsp;&nbsp;{{ supp.name }}(
					  <span class=" tooltip2 bleu-tooltip">
					 {{ supp.price }}  MAD
					 <span class="span-select2">
					  <table width="100%">
					   {%if(convert)%}
					    <tr>
					     <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					     <td align="right">{{supp.price*convert.currency}}</td>
					     <td> &nbsp {{convert.symb}}</td>
					    </tr>
					   {%endif%}
					   {%if(convertd)%}
					    <tr>
					     <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					     <td align="right">{{supp.price*convertd.currency}}</td>
					     <td> &nbsp {{convertd.symb}}</td>
					    </tr>
					   {%endif%}
					   </table>
					  </span>
					 </span>
					  )
				 	 </label>
					{% endfor %}
				   </div>
				  {% endif %}
				  <br>
				{%endfor%}
			   {%endif%}
			   <!-- fin enfant -->	
			   
			   
			   <!-- debut bebe -->	
			   {%if(nbbebe[i]>0)%}
			    {% for f in 0..nbbebe[i]-1 %}
				 <table border="0" id="catg" width="100%" cellpadding='3'>
				  <tbody>
				   <tr id="ligne0">
					 <td valign="top">
					  <div style="padding-top:10px; color:#2487e3;"><b>Bébés:&nbsp&nbsp&nbsp </b></div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r">Nom *:</label>
					   <input required="required" type="text" name="nameb[{{i}}][{{f}}]" class="span8"/> 
					  </div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r">Prenom *:</label>
					   <input required="required" type="text" name="prenomb[{{i}}][{{f}}]" class="span8"/>
					  </div>
					 </td>
					 <td>
					  <div class="formSep">
					   <label class="label-r2">Date de naissance *:</label>
					   <input required="required" min="08/10/2015" type="date" id="datennn{{i}}{{f}}"  name="ageb[{{i}}][{{f}}]" class="span8"/>
					  </div>
					 </td>
					</tr>
				   </tbody>
				  </table>
				  {% if sejoursupp|length>0 %}
				   <div class="span6">
				    <h5>Supplements :</h5>
					{% for supp in sejoursupp %}
					 <label class="radiosupp">
					 <input style="margin-top: 5px;" class="radioeventforchanging" type="checkbox" name="suppb[{{i}}][{{f}}][]" value="{{ supp.id }}"/>
                     &nbsp;&nbsp;{{ supp.name }}(
					  <span class=" tooltip2 bleu-tooltip">
					 {{ supp.price }}  MAD
					 <span class="span-select2">
					  <table width="100%">
					   {%if(convert)%}
					    <tr>
					     <td><img src="{{ asset('front/images/EU.gif') }}" /></td>
					     <td align="right">{{supp.price*convert.currency}}</td>
					     <td> &nbsp {{convert.symb}}</td>
					    </tr>
					   {%endif%}
					   {%if(convertd)%}
					    <tr>
					     <td><img src="{{ asset('front/images/US.gif') }}" /></td>
					     <td align="right">{{supp.price*convertd.currency}}</td>
					     <td> &nbsp {{convertd.symb}}</td>
					    </tr>
					   {%endif%}
					   </table>
					  </span>
					 </span>
					 )
					</label>
				   {% endfor %}
				   </div>
				  {% endif %}
				  <br>
				 {%endfor%}
				{%endif%}		   
			   <!-- fin bebe -->	
			   
			   
			   
			  </td>
			 </tr>
		    {% endfor %}
		   </tbody>
		  </table>
		  <div align="right"><input type="submit" value="Réserver" class="btn btn-success"/></div>
	      <div style="clear:both; height:15px;"></div>
		 </div>
        </form>
    </div>
   </div>
{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">



                                                                                                $(document).ready(function () {
                                                                                                    var date = new Date();

                                                                                                    var day = date.getDate();
                                                                                                    var month = date.getMonth() + 1;
                                                                                                    var year = date.getFullYear();

                                                                                                    if (month < 10)
                                                                                                        month = "0" + month;
                                                                                                    if (day < 10)
                                                                                                        day = "0" + day;

                                                                                                    var today = day + "/" + month + "/" + year;
                                                                                                    $("#theDate").attr("value", today);
                                                                                                    $("#theDate2").attr("value", today);
                                                                                                    $("#daten").attr("value", today);
                                                                                                });



                                                                        
                                                                                                $('#theDate').datepicker('option', 'minDate', 3);
                                                                                                $('#theDate2').datepicker('option', 'minDate', 3);

                                                                                                $("#datepicker_debut").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});



                                                                                                function NotBeforeToday(date)
                                                                                                {
                                                                                                    var now = new Date();//this gets the current date and time
                                                                                                    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() > now.getFullYear())
                                                                                                        return [true];
                                                                                                    return [false];
                                                                                                }

                                                                                                var i = 0;
                                                                                                var row = $("#catg tbody").html();
                                                                                                $(document).ready(function () {
                                                                                                    $("#todelete").remove();
                                                                                                });


                                                                                                function myFunction() {
                                                                                                    i++;
                                                                                                    var rowint = replaceAll('ligne0', 'ligne' + i, row)
                                                                                                    var rowint = replaceAll('daten0', 'daten' + i, rowint)
                                                                                                    $('#catg tbody').append(rowint);

                                                                                                }
                                                                                                function deleterow(div) {
                                                                                                    $("#" + div).remove();
                                                                                                }
                                                                                                function replaceAll(find, replace, str) {
                                                                                                    return str.replace(new RegExp(find, 'g'), replace);
                                                                                                }

    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});
        $(function ()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });

            $("#datepicker_naissance").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
        input[type="checkbox"]{width:15px !important;float:left !important; margin-top:-3px; margin-right:7px;}
        .label222{ }
    </style>
{% endblock %}

