body {
  padding-top: 129px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.social ul{
  list-style: none;
  float: right !important;
  margin-top: 10px;
}
.social ul li{
  float: left;
  padding-right: 15px;
}
.telh{
  font-family: 'joyes';
  margin-left: 8px;
  margin-right: 0;
  font-size: 17px;
}
.rose{ color: #e6295e; }
.bleu{ color: #008bd5; }
.blanc{ color: #fff; }
.border{
  border: 6px solid #fff;
}
#reservation{
  padding: 3px;
}

.no-marge{
  padding-left: 0 !important;
}
.cadre-index{
  background: url("../images/bg-blanc.png") repeat;
  padding: 5px;
  display: block;
}
.espace{
  clear: both;
  height: 10px;
}
@media (min-width: 1200px) {
.titre-sejour{
  font-size: 17px !important;
  margin-bottom:4px;
}
}
.titre-sejour{
  font-size: 15px;
  margin-bottom:4px;
}
.contenue-sejour{
  color: #6d6f71;
  font-family: 'unisans';
  padding-top: 16px;
  font-weight:800;
}
.ville-sejour{
  font-family: 'miryadReg';
  font-size: 13px;
  line-height:20px;
}
.ville-sejour2{
  font-family: 'miryadReg';
  font-size: 13px;
  line-height:20px;
}
.prix{
  color: #fff;
  float: right;
  font-family: 'miryadReg';
  font-size: 22px;
  position:absolute;
  right:5px;
  bottom:5px;
  background:#ef901f;
  padding:5px;
  z-index:1;
}
.prix2{
  color: #ef901f;
  float: right;
  font-family: 'miryadReg';
  font-size: 22px;
  position:absolute;
  right:5px;
  bottom:5px;
  background:#fff;
  padding:5px;
  z-index:1;
}
.titre-haut{
  color: #fff;
  float: right;
  font-family: 'miryadReg';
  font-size: 21px;
  position:absolute;
  left:5px;
  bottom:5px;
  background:url(../images/back-blanc.png);
  padding:5px;
  font-weight:normal;
  min-width:199px;
  text-align:center;
  z-index:1;
}
.lpd{
  font-size: 15px;
  text-align:center
}
.img-sejour{
  width: 146px;
  height:89px;
}
#cadre-circuit{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px !important;
}
#cadre-circuit2{

}
#prix-circuit{
  position:absolute;
  bottom:9px;
  background: url("../images/bg-blanc.png") repeat;
  min-width:94%;
  padding:5px;
  color: #6d6f71;
  font-family: 'helve';
  font-size: 14px;
  float:left;
}
#nbre-jours{
  font-family: 'helveReg';
  font-size: 11px;
}
#prixcir{
  float:right;
  padding: 5px;
  background:#0790d2;
  color:#fff;
  font-family: 'helve';
  font-size: 12px;
  margin-right:5px;
}
.img{
width:100%;
}
.img2{
width:100%;
min-height: 218px;
}
.img3{
width:100%;
min-height: 202px;
}
.puce{
position:absolute !important;
  bottom: 13px;
  right: 7px;
}
.puce2 {
position:absolute !important;
bottom: 18px;
right: 18px;
}
.puce2 a img{
min-height:17px !important;
min-width:17px !important;
z-index:100;
}
.devis a{
margin-right:8px;
}
#text-footer{
font-size:12px;
line-height:1.5;
font-family: 'helveReg';
}
#titre-news{
font-size:17px;
color:#505050;
height: 54px;
padding-top: 34px;
font-family: 'unisans';
font-weight:bold;
}
#titre-bleu{
font-size:15px;
color:#0f3381;
padding-top:20px;
padding-bottom:10px;
font-family: 'unisans';
font-weight:bold;
}
#titre-contact{
font-size:1.6667em;
color:#094c9f;
height:32px;
padding-top:10px;
}
#titre-suivez{
font-size:1.6667em;
color:#094c9f;
height:32px;
padding-top:10px;
}
#table-footer{
line-height:27px;
}
#table-footer tr td img{
padding:0;
}
#social-footrt img{
padding:0 !important;
}
#email_news{
width:172px !important;
height:26px !important;
float:left;
background:#eeeeee !important;
color:#505050 !important;
border:none  !important;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-right:5px;
}
#cop{
font-size:11px;
padding-bottom:15px;
padding-top:15px;
color:#505050;
font-family:Arial;
}
.size-footer{
font-size:11px;
}

#titre-form{
font-family:'latooo';
color:#fff;
font-size:12px;
letter-spacing: 1px;
}
.titre-index{
  font-family:'helveReg';
  text-transform: uppercase;
  font-size: 20.73px;
}
.titre-index2{
  font-family:'helveReg';
  font-size: 12.43px;
  letter-spacing:1.2px;
}
.select-form{
width:95% !important;
background:#e8e8e8 !important;
color:#b1b3b6;
font-family:'latooo';
font-size:12px;
padding-top:2px;
height:28px;
}
.input-form{
width:95% !important;
color:#b1b3b6 !important;
height: 28px !important;
font-size: 12px !important;
font-family: 'latooo' !important;
padding-top: 2px !important;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9d9d9+0,ffffff+100 */
background: #e8e8e8 !important; /* Old browsers */

}
.styled-select select{
   -webkit-appearance: none;
   background:#e8e8e8 url(../images/fleche.png) no-repeat right !important;
}
.styled-input input{
   -webkit-appearance: none;
   background:#e8e8e8 url(../images/double-fleche.png) no-repeat right !important;
}
.dateff{
background-image:url(../images/cal.png) !important;
background-repeat:no-repeat !important;
background-position:right !important;
}
.btn_submit_reser{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bababa+0,fefefe+76 */
background: #bababa !important; /* Old browsers */
background: -moz-linear-gradient(top,  #bababa 0%, #fefefe 76%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(76%,#fefefe)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bababa 0%,#fefefe 76%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bababa 0%,#fefefe 76%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bababa 0%,#fefefe 76%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #bababa 0%,#fefefe 76%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#fefefe',GradientType=0 ) !important; /* IE6-9 */
width:95%;
border:none !important;
color:#505050 !important;
font-family: Arial !important;
font-size:12px !important;
font-weight: bold !important;
-webkit-border-radius: 3px !important;
-moz-border-radius: 3px !important;
border-radius: 3px !important;
}
.cadre-hotel{
background:#fff;
padding-bottom:15px;
margin-top:-10px;
z-index:-1;
}
.img{
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.lien-index{
display: block;
width:100%;
background:#cccccc;
padding:8px;
text-align:center;
color:#fff;
}
.lien-index2 a{
display: block;
background:#087df2;
padding:8px;
text-align:center;
color:#fff;
font-size:12px;
font-family:'helveReg';
text-transform : uppercase;
}.lien-index2 a:hover{display: block;background:#087df2;padding:8px;text-align:center;color:#fcdb9c;font-size:12px;font-family:'helveReg';text-transform : uppercase;}
.lien-index:hover{
background:#ff9000;
color:#fff;
}
.back-hotel{
background:url(../images/back-hotel.png) no-repeat center;
height:142px;
}
.back-outgoing{
background:url(../images/back-outgoing.png) no-repeat center;
height:142px;
}
.back-header{
background:url(../images/back-header.png);
height:61px;
color:#fff;
font-size:16px;
font-family:'helveReg';
text-transform : uppercase;
padding-top:2px;
font-weight:normal;
}
.back-header .size{
font-size:25px;
font-family:'unisans';
}
.titre-h{
font-size:18px;
font-family:'unisans';
}
#social-footrt{
font-size:12px;
}
#lien-ft a{
color:#505050;
font-size:12px;
display:block;
margin-bottom:5px;
font-family:'helveReg';
}
header{padding:0 0 0 0 !important;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: url(../images/double-fleche.png); 
   -moz-appearance:    url(../images/double-fleche.png);
   appearance:         url(../images/double-fleche.png);
}
	.listeEtoile ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.listeEtoile ul li {
			display:inline-block;
			width: 16px;
			text-align: left;
			list-style-type: none;
		}
		.listeEtoile ul li img {
			border: 0;
			margin: 0;
			padding: 0;
		}
		#tableau-sondage{
			font-family:verdana;
			font-size:12px;
		}
		#tableau-sondage th{
			font-size:13px;
			border:solid 1px black;
			padding:8px;
			cursor:default;
		}
		#tableau-sondage td{
			border:solid 1px black;
			padding:12px 3px;
			text-align:center;
		}
.navig{
margin-left:8px;
}
#titre-connect{
font-family:verdana;
font-size:12px;
color:#b9b8b8;
border-bottom:1px solid #b2b2b2;
background: url(../images/connect_header.jpg) no-repeat;
padding-left:20px;
padding-bottom:9px;
margin-bottom:8px;
}
.input-connect{
width:205px;
border:1px solid #f0efef;
background:#f6f6f6;
height:25px;
padding-left:2px;
color:#939292;
}
.submit-connect{
background:#0f3381;
color:#fff;
padding:5px;
text-align:center;
border:none;
width:100px;
}
.lien-connect{
color:#939292;
font-family:verdana;
font-size:10px;
}.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(245, 117, 13, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;	-webkit-border-radius: 3px;    -moz-border-radius: 3px;    border-radius: 3px;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 30px;
        width: 30px;
        right: 30px;
        bottom: 30px;
    }
}
@media only screen and (min-width: 1200px) {
	.marge{margin-right:4.1%;}
	.marge2{margin-right:4%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 1199px) {
	.marge{margin-right:4.5%;}
	.marge2{margin-right:4%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 991px) {
	.marge{margin-right:5.2%;}
	.marge2{margin-right:4.8%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 767px) {
	.marge{margin-right:7.9%;}
	.marge2{margin-right:7.5%;}
	.marge3{margin-right:5.2%;}
}
@media (max-width: 767px) {
.resp{display:none;}
}
.back{background:#fff !important;}
.select2-container .select2-choice{background:#fff !important;}