{% extends "manager.html.twig" %}
{% block title %}Gestion des Promotion{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
            <li><a href="">{{hotel.name}}</a></li>

            <li><span>Gestion des Promotion</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_promotion_manager', {'id': id,'hotelid': hotelid}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                                <form id="validate_field_types" method="POST" action="{{ path('add_promotion_manager',{'hotelid': hotelid})}}"  {{ form_enctype(form) }}>
                                {% endif %}   
                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dated, { 'attr': {'class': 'span4 datepicker', 'data-date-format':'dd/mm/yyyy'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span4 datepicker', 'data-date-format':'dd/mm/yyyy'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.shortdesc, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.val, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.pers, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>
                                
                                <div class="formSep">
                                    <button type="submit" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <!-- masked inputs -->
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
             $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_promotion_dates").blur(function () {
                //alert("Handler for .keyup() called.");
                if ($("#btob_hotelbundle_promotion_dates").val() != '' && $("#btob_hotelbundle_promotion_dated").val() != '') {

                    dates=$("#btob_hotelbundle_promotion_dates").val();
                    dated=$("#btob_hotelbundle_promotion_dated").val();
                    tabs=dates.split('/');
                    tabd=dated.split('/');
                    dates=tabs[2]+''+tabs[1]+''+tabs[0];
                    dated=tabd[2]+''+tabd[1]+''+tabd[0];
                    if(dated > dates){
                        bootbox.alert("Période Invalide!");
                        $('#btsubmit').attr("disabled", "disabled")
                    }else{
                        $('#btsubmit').removeAttr("disabled");
                    }
                }
            });

        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}