{% extends "manager.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row-fluid">
    </div>
    {% if app.security.token.roles[0].role=='AGENCEID' or app.security.token.roles[0].role=='SALES' %}
    <div class="row-fluid">
        <div class="span10"></div>
        <div class="span2"><div class="span12">
						{% if app.security.token.roles[0].role=='AGENCEID' %}

                <div class="anlt_box">
                    <p class="anlt_heading">Solde de l'agence{% if app.user.sold>=0 %}<span class="up"><i class="splashy-arrow_large_up"></i></span>{% else %}<span class="down"><i class="splashy-arrow_large_down"></i></span>{% endif %}</p>

                    <p class="anlt_content">{{ app.user.sold|changedevise }}</p>

                </div>
									{% endif %}

            </div></div>
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span7">
            <div class="w-box">
                <div class="w-box-header">
                    <h4>Réservation</h4>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="chart_bar" class="chart_b"></div>
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last 24h</p>

                                        <p class="anlt_content">{{ totalday|changedevise }} </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last 7 days</p>

                                        <p class="anlt_content">{{ totalweek|changedevise }} </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last Month</p>

                                        <p class="anlt_content">{{ totalmonth|changedevise }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="span5">
            <div class="w-box">
                <div class="w-box-header">
                    <h4>Hôtel par région</h4>
                </div>
                <div class="w-box-content cnt_b">
                    <div id="chart_pie" class="chart_a"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">

    </div>
    {% endblock %}
    {% block javascripts %}
        <!-- flot charts -->
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.tooltip.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.threshold.js') }}"></script>
        <script type="text/javascript">
            var lien = '{{ path('btob_reservation_dash_homepage') }}';
            var lienhotel = '{{ path('update_hotel_dash_manager') }}';
        </script>
        <script src="{{ asset('back/js/pages/beoro_charts.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}

{% endblock %}