{% extends '::login.html.twig' %}
{% block body %}
    <form id="login-validate" action="{{ path('fos_user_security_check') }}" method="post">
        {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
    <div class="alert alert-error">{{ error.message|trans({'Bad credentials': 'Login ou mot de passe incorrect'}) }}</div>
    {% endif %}
                    <label for="login_name">Login</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    <label for="login_password">Password</label>
                    <input type="password" id="password" name="_password" value="" />
                    <!--label for="login_remember" class="checkbox"><input type="checkbox" id="login_remember" name="login_remember" /> Remember me</label-->
                    <div class="submit_sect">
                        <button type="submit" class="btn btn-beoro-3">Login</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </div>
                </form>
   
    
{% endblock %}