{% extends "manager.html.twig" %}
{% block title %}Gestion des themes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('type') }}">Type</a></li>

            <li><span>Gestion des Types</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}

                        <div class="formSep">
                            {{ form_row(edit_form.type, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                        </div>

                        <div class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                        {{ form_rest(edit_form) }}

                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

{% endblock %}