{% extends "manager.html.twig" %}
{% block title %}Détails de la Transfert{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('type') }}">Type</a></li>

            <li><span>Détails de Type</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de Type <b>{{ entity.type }}</b></h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">

                                <div class="span12"></div>

                                <div class="span11">
                                    {% if entity.type != "Pages dynamiques" %}
                                        <p class="heading_a">Activité <a
                                                    href="{{ path('activite_new', {'id': entity.id}) }}"
                                                    style=" margin-left: 82%;" class="btn btn-mini btn-inverse">Ajouter
                                                un nouveau Activité</a></p>
                                    {% endif %}
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Libelle</th>

                                            <th>activite</th>
                                            <th width="10%">&nbsp;</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activite in entity.activite %}

                                            <tr>
                                                <td>{{ activite.title }}</td>
                                                <td>{{ activite.libelle }}</td>
                                                <td>
                                                    {% if activite.act==true %}
                                                        <span class="label label-success ptip_ne">Activé</span>
                                                    {% else %}
                                                        <span class="label label-danger ptip_ne">Désactivé</span>{% endif %}
                                                </td>
                                                <td>

                                                    <div class="pull-right">
                                                        <div class="toggle-group">
                                                            <span class="dropdown-toggle" data-toggle="dropdown">Actions <span
                                                                        class="caret"></span></span>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="{{ path('activite_edit', {'id': activite.id}) }}"
                                                                       title="Modifier"></i>Modifier</a></li>
                                                                {% if entity.type != "Pages dynamiques" %}

                                                                    <li>
                                                                        <a href="javascript:confirmdeletbox('{{ path('activite_delete', {'id': activite.id}) }}')"
                                                                           title="delete"></i>Delete</a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>


                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        $("#addcomment").click(function (e) {
            e.preventDefault();

        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}