body {
  padding-top: 177px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.social ul{
  list-style: none;
  float: right !important;
  margin-top: 10px;
}
.social ul li{
  float: left;
  padding-right: 15px;
}
.telh{
  font-family: 'joyes';
  margin-left: 8px;
  margin-right: 0;
  font-size: 17px;
}
.rose{ color: #e6295e; }
.bleu{ color: #008bd5; }
.blanc{ color: #fff; }
.border{
  border: 6px solid #fff;
}
#reservation{
  padding: 3px;
}

.no-marge{
  padding-left: 0 !important;
}
.cadre-index{
  background: url("../images/bg-blanc.png") repeat;
  padding: 5px;
  display: block;
}
.espace{
  clear: both;
  height: 10px;
}
@media (min-width: 1200px) {
.titre-sejour{
  font-size: 17px !important;
  margin-bottom:4px;
}
}
.titre-sejour{
  margin-bottom:10px;
  margin-top:10px;
  float:left;
  margin-right:8px;
}
.contenue-sejour{
  color: #4d4d4f;
  font-family: 'open';
  padding-top: 16px;
  font-weight:800;
}
.ville-sejour{
  font-size: 14px;
  line-height:20px;
  margin-bottom:3px;
}
.ville-sejour i{
color:#0f70b7;
font-size: 16px;
}
.ville-sejour2{
  font-size: 14px;
  line-height:20px;
  margin-bottom:3px;
  float:left;
}
.date-sejour{
font-size:12px;
float:left;
padding-top: 8px;
}
.orange{
color:#f08e2e;
}
.prix{
  color: #fff;
  font-size: 15px;
  background:#2487e3;
  font-family:openB;
  float:right;
  padding:5px 8px;
}
.prix2{
  color: #fff;
  font-size: 15px;
  background:#f08e2e;
  font-family:openB;
  float:right;
  padding:5px 8px;
}
.titre-haut{
  color: #fff;
  float: right;
  font-family: 'miryadReg';
  font-size: 21px;
  position:absolute;
  left:5px;
  bottom:5px;
  background:url(../images/back-blanc.png);
  padding:5px;
  font-weight:normal;
  min-width:199px;
  text-align:center;
  z-index:1;
}
.lpd{
  font-size: 15px;
  text-align:center
}
.img-sejour{
  width: 146px;
  height:89px;
}
#cadre-circuit{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px !important;
}
#cadre-circuit2{

}
#prix-circuit{
  position:absolute;
  bottom:9px;
  background: url("../images/bg-blanc.png") repeat;
  min-width:94%;
  padding:5px;
  color: #6d6f71;
  font-family: 'helve';
  font-size: 14px;
  float:left;
}
#nbre-jours{
  font-family: 'helveReg';
  font-size: 11px;
}
#prixcir{
  float:right;
  padding: 5px;
  background:#0790d2;
  color:#fff;
  font-family: 'helve';
  font-size: 12px;
  margin-right:5px;
}
.img{
width:100%;
}
.img2{
width:100%;
min-height: 218px;
}
.img3{
width:100%;
min-height: 202px;
}
.puce{
position:absolute !important;
  bottom: 13px;
  right: 7px;
}
.puce2 {
position:absolute !important;
bottom: 18px;
right: 18px;
}
.puce2 a img{
min-height:17px !important;
min-width:17px !important;
z-index:100;
}
.devis a{
margin-right:8px;
}
#text-footer{
font-size:13px;
font-family: 'muli';
}
#titre-news{
font-size:17px;
color:#505050;
height: 54px;
padding-top: 34px;
font-family: 'unisans';
font-weight:bold;
}
#titre-bleu{
font-size:16px;
color:#fff;
padding-top:20px;
padding-bottom:10px;
font-family: 'MuliB';
font-weight:bold;
}
.text-footer{
font-family: 'Muli';
font-size:13px;
}
#titre-contact{
font-size:1.6667em;
color:#094c9f;
height:32px;
padding-top:10px;
}
#titre-suivez{
font-size:1.6667em;
color:#094c9f;
height:32px;
padding-top:10px;
}
#table-footer{
line-height:27px;
}
#table-footer tr td img{
padding:0;
}
#social-footrt img{
padding:0 !important;
}
#email_news{
width:172px !important;
height:24px !important;
background:#fff url(../images/mail2.png) no-repeat right !important;
color:#7f7f7f !important;float:left;
border:none  !important;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-right:5px;
font-family:open;
margin-top:10px;
margin-bottom:5px;
}
#cop{
font-size:11px;
padding-bottom:15px;
padding-top:15px;
color:#505050;
font-family:Arial;
}
.size-footer{
font-size:11px;
}

#titre-form{
font-family:'Muli';
color:#4d4d4f;
font-size:12px;
text-transform : uppercase;
letter-spacing: 1px;
}
.titre-index{
  font-family:'helveReg';
  text-transform: uppercase;
  font-size: 20.73px;
}
.titre-index2{
  font-family:'helveReg';
  font-size: 12.43px;
  letter-spacing:1.2px;
}
.select-form{
width:95% !important;
background:#e8e8e8 !important;
color:#b1b3b6;
font-family:'latooo';
font-size:13px;
padding-top:2px;
height:28px;
}
.input-form{
border:transparent !important;
-webkit-border-radius: 10px !important;
-moz-border-radius: 10px !important;
border-radius: 10px !important;
height: 26px !important;
color:#4d4d4f !important;
font-family:Muli !important;
font-size:11px !important;
background:#f3f4f4 !important;

}

.styled-input input{
   -webkit-appearance: none;
   /*background:#e8e8e8 url(../images/double-fleche.png) no-repeat right !important;*/
}
.dateff{
background-image:url(../images/cal.png) !important;
background-repeat:no-repeat !important;
background-position:right !important;
}
.btn_submit_reser{
background: #f38f1b url('../images/reche.png') no-repeat right !important; 
-webkit-border-radius: 10px !important;
-moz-border-radius: 10px !important;
border-radius: 10px !important;
width:95%;
border:none !important;
color:#fff !important;
font-family: MuliB !important;
font-size:12px !important;
font-weight: bold !important;
height:26px;
padding-left: 0px !important;
padding-right: 22px !important;
padding-top: 3px !important;
}
.cadre-hotel{
background:#fff;
z-index:-1;
}
.cadre-voyage{
padding:15px 25px;
}
.img-voyage{
width:10%;
float:left;
}
.float-voyage{
width:90%;
float:left;
}
.titre-haut-voyage{
font-family:open;
font-size:20px;
color:#4d4d4f;
border-bottom:1px solid #4d4d4f;
padding-bottom:10px;
margin-bottom:10px;
}
.voyage-etranger{
background:#fff;
}
.titre-voyage{
float:left;
}
.nuite-voyage{
float:right;
font-size:18px;
}
.titre-voyageb{
float:left;
font-family:open;
font-size:20px;
color:#2487e3;
text-transform : uppercase;
margin-right:20px;
}
.prix-voyageb{
float:left;
font-family:open;
font-size:18px;
color:#4d4d4f;
padding-top:2px;
}
.lien-voyageb{
float:right;
padding-top:5px;
}
.lien-voyageb a{
background:#2487e3;
font-family:open;
font-size:13px;
color:#fff;
padding:3px 6px 5px;
}
.lien-voyageb a:hover{
background:#f49527;
}
.lien-index{
display: block;
width:100%;
background:#cccccc;
padding:8px;
text-align:center;
color:#fff;
}
.lien-index2 a{
display: block;
background:#087df2;
padding:8px;
text-align:center;
color:#fff;
font-size:12px;
font-family:'helveReg';
text-transform : uppercase;
}
.lien-index2 a:hover{display: block;background:#087df2;padding:8px;text-align:center;color:#fcdb9c;font-size:12px;font-family:'helveReg';text-transform : uppercase;}
.lien-index:hover{
background:#ff9000;
color:#fff;
}
.back-hotel{
background:url(../images/back-hotel.png) no-repeat center;
height:142px;
}
.back-outgoing{
background:url(../images/back-outgoing.png) no-repeat center;
height:142px;
}
.back-header{
background:url(../images/back-header.png);
height:61px;
color:#fff;
font-size:16px;
font-family:'helveReg';
text-transform : uppercase;
padding-top:2px;
font-weight:normal;
}
.back-header .size{
font-size:25px;
font-family:'unisans';
}
.titre-h{
font-size:18px;
font-family:'unisans';
}
#social-footrt{
font-size:12px;
}
#lien-ft a{
color:#fff;
font-size:14px;
display:block;
margin-bottom:5px;
font-family:'MuliSB';
}
header{padding:0 0 0 0 !important;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: url(../images/double-fleche.png); 
   -moz-appearance:    url(../images/double-fleche.png);
   appearance:         url(../images/double-fleche.png);
}
	.listeEtoile ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.listeEtoile ul li {
			display:inline-block;
			width: 16px;
			text-align: left;
			list-style-type: none;
		}
		.listeEtoile ul li img {
			border: 0;
			margin: 0;
			padding: 0;
		}
		#tableau-sondage{
			font-family:verdana;
			font-size:12px;
		}
		#tableau-sondage th{
			font-size:13px;
			border:solid 1px black;
			padding:8px;
			cursor:default;
		}
		#tableau-sondage td{
			border:solid 1px black;
			padding:12px 3px;
			text-align:center;
		}
.navig{
margin-left:8px;
}
#titre-connect{
font-family:verdana;
font-size:12px;
color:#b9b8b8;
border-bottom:1px solid #b2b2b2;
background: url(../images/connect_header.jpg) no-repeat;
padding-left:20px;
padding-bottom:9px;
margin-bottom:8px;
}
.input-connect{
width:205px;
border:1px solid #f0efef;
background:#f6f6f6;
height:25px;
padding-left:2px;
color:#939292;
}
.submit-connect{
background:#0f3381;
color:#fff;
padding:5px;
text-align:center;
border:none;
width:100px;
}
.lien-connect{
color:#939292;
font-family:verdana;
font-size:10px;
}.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.8) url(../images/fleche-haut2.png) no-repeat center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;	
	-webkit-border-radius: 30px;    
	-moz-border-radius: 30px;    
	border-radius: 30px;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
}
.no-touch .cd-top:hover {
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 80px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 30px;
        width: 30px;
        right: 30px;
        bottom: 100px;
    }
}
@media only screen and (min-width: 1200px) {
	.marge{margin-right:4.1%;}
	.marge2{margin-right:4%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 1199px) {
	.marge{margin-right:4.5%;}
	.marge2{margin-right:4%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 991px) {
	.marge{margin-right:5.2%;}
	.marge2{margin-right:4.8%;}
	.marge3{margin-right:2.5%;}
}
@media only screen and (max-width: 767px) {
	.marge{margin-right:7.9%;}
	.marge2{margin-right:7.5%;}
	.marge3{margin-right:5.2%;}
}
@media (max-width: 767px) {
.resp{display:none;}
}
.back{background:#fff !important;}
.select2-container .select2-choice{background:#fff !important;}
.back-maison{
background:url(../images/back-maison.jpg)fixed;
background-size: 100%;
}
.back-maison2{
background:url(../images/back-maison2.png);
padding:50px;
}
.footer2{
background:#f47606;
padding:10px;
font-family:Muli;
font-size:12px;
color:#fff;
}
.menu-footer{
}
.menu-footer li{
list-style-position:outside;
float:left;
margin-left: 25px;
padding-left: 0px;
}
.menu-footer a{
color:#fff;
}
.menu-footer a:hover{
text-decoration:underline !important;
}
.rs-f a{
margin-right:3px;
margin-bottom:5px;
}
.carte{
background:url(../images/carte-ft.png) no-repeat center;
}
.footer3{
background:#fff;
padding:15px 0 0 ;
}