{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Hôtel</a></li>

            <li><span>Gestion des utilisateurs </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
            <form id="validate_field_types" method="POST"
                  action="{{ path('view_users', {'id': id}) }}"  {{ form_enctype(form) }}>
                {% else %}
                <form id="validate_field_types" method="POST"
                      action="{{ path('fos_user_registration_register') }}"  {{ form_enctype(form) }}>
                    {% endif %}
                    <div class="span4">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Different field types</h4>
                            </div>
                            <div class="w-box-content">
                                {% if (roles=="ROLE_SUPER_ADMIN")  %}

                                    <div class="formSep" >
                                        <input style="visibility:hidden" type="text" id="fos_user_registration_form_name" name="fos_user_registration_form[name]"  class="span10">
                                    </div>
                                {% else %}
                                    <div class="formSep" >
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'} }) }}
                                    </div>
                                {% endif %}
                                <div class="formSep">
                                    {{ form_row(form.email, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.username, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.plainPassword, { 'attr': {'class': 'span10'} }) }}


                                </div><div class="formSep">

                                    {{ form_row(form.roles, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                {% if user is defined %}
                                    {% if 'MONSITEWEB' not in user.roles %}

                                        <div class="formSep">
                                            {{ form_row(form.enabled, { 'attr': {'class': 'span3 iphonecheck'} }) }}
                                        </div>
                                    {% endif %}
                                    
                                  {% if (roles!="ROLE_SUPER_ADMIN")  %}
                                <div class="formSep" style="display: none">
                                    {{ form_row(form.devise, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                <div class="formSep" style="display: none">
                                    {{ form_row(form.marcher, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.responsable, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.adresse, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.cp, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.tel, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.fax, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.matriculefiscal, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.observation, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.marge, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.sold, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.prst, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.illimite, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margeomra, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actomra, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margecircuit, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actcircuit, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margesejour, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actsejour, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                
                                
                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margeevenement, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actevenement, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margevole, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actvole, { 'attr': {'class': 'span10'} }) }}
                                </div>


                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margecroissiere, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actcroissiere, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.margevoiture, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actvoiture, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.acttransfert, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actbienetre, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actseminaire, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actgrandjeu, { 'attr': {'class': 'span10'} }) }}
                                </div>

                                <div class="formSep" style="display: none">
                                    {{ form_row(form.actactivite, { 'attr': {'class': 'span10'} }) }}
                                </div>
                                {% endif %}  
                                {% else %}
                                    <div class="formSep">
                                        {{ form_row(form.enabled, { 'attr': {'class': 'span3 iphonecheck'} }) }}
                                    </div>
                                {% endif %}

                                

                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

{% endblock %}