{% extends "base.html.twig" %}
{% block title %}Gestion d'Omra{% endblock %}

{% block body %}



    <div class="container">	  
	 <div class="col-sm-12 navig">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                <li><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
                <li><a class="active">Liste omra</a></li>

            </ul>	
	 </div>
        {% set i=0 %}
        {% for entry in entities %}
		  <div class="col-sm-4">
            <div id="product" class="anim-prod">
                <a href="{{ path('front_resa_detail_omra_homepage',{'id':entry.id}) }}">

                    {% if entry.imgomra|length>0 %}
                        <img src="../{{ entry.imgomra[0].image }}" class="grow" />
                    {% else %}
                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                    {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50" width="100%">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.libelle }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ entry.prix }} DT
                    </div>
                    <div id="transform-product">
                        <div id="reserver">
                            Réserver
                        </div>
                    </div>
					</div>
					
                </a>
            </div>
		  </div>
        {% endfor %}

    </div>
<div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}


