{% extends "base.html.twig" %}

{% block body %}


    <div class="container" xmlns="http://www.w3.org/1999/html">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
            <li><a href="{{ path('front_resa_detail_omra_homepage',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>
        </ul>
	 </div>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('front_resa_omra_homepage',{'id':entry.id}) }}">
	      <div class="col-sm-12">
		   <div class="titre-recherche">
            Informations sur le client <a id="surdemande"></a>
           </div>
		  </div>
		  <div class="col-sm-12">
		    <div class="col-sm-12" style="background: #fff; padding:8px;">
			 <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6 col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>

                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>


                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
		    </div>
		  </div>
		<div class="col-sm-12">
		 <div class="titre-recherche">
          {{ entry.libelle }}
         </div>
		</div>
		<div class="col-sm-12">
		 <div class="col-sm-12" style="background: #fff; padding:8px;">
		   <div class="w-box-content cnt_a">
                            <div class="row-fluid" style="display:none" >
                                <div class="span12">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Date de départ :</label>
                                            <input type="text" required="required" class="span8 datepicker" value="{{ "now"|date("m/m/Y") }}" 
                                                   name="dated"/>
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Adulte(s)* :</label>
                                            <input required="required" type="text" pattern="[0-9]+" required="required" class="span8"
                                                   name="adulte"/>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Enfant(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="enfant"/>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Bébé(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="bebe"/>
                                        </div>
                                    </div>
                                  </div>

								  <div class="col-sm-6">
                                    <div class="span12" style="margin-left:0">
                                        <div class="formSep">
                                            <label class="required">Commentaire </label>
                                            <textarea name="body" type="text" class="span11" id="body"></textarea>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-12" align="right">
                                    <div class="span12">
                                        <div class="span10"></div>
                                        <div class="span2"><input type="submit" value="Valider"
                                                                  class="btn btn-primary marge"/>
                                        </div>
                                    </div>
								  </div>
                                </div>
                            </div>
                        </div>
		 </div>
		</div>

            <div class="row-fluid">
                <div class="span12">


                    <div class="w-box w-box-orange">
                        

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}



