{% extends "manager.html.twig" %}
{% block title %}Gestion des Circuit{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Circuit</a></li>

            <li><span>Gestion des Cuircuit</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">

            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}






            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Information général</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="formSep">
                            <label>Active</label>
                            {{ form_row(edit_form.active,{'attr':{'class':'span4 iphonecheck'}} ) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.libelle, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.ville, { 'attr': {'class': 'span10'}}) }}

                        </div>

                            
                         <div class="formSep">
                            {{ form_row(edit_form.ageenfmin,{'attr':{'class':'span4  '}} ) }}
                        </div>
                        
                        <div class="formSep">
                            {{ form_row(edit_form.ageenfmax,{'attr':{'class':'span4  '}} ) }}
                        </div>
                        
                        <div class="formSep">
                            {{ form_row(edit_form.agebmin,{'attr':{'class':'span4  '}} ) }}
                        </div>
                        
                        <div class="formSep">
                            {{ form_row(edit_form.agebmax,{'attr':{'class':'span4  '}} ) }}
                        </div>   
                        <div class="formSep">
                            {{ form_row(edit_form.type, { 'attr': {'class': 'span10'}}) }}

                        </div>

                        <div class="formSep">
                            <label>Prix</label>
                            {{ form_row(edit_form.apartir,{'attr':{'class':'span4 iphonecheck'}} ) }}  A partir de
                            {{ form_row(edit_form.prix, { 'attr': {'class': 'span4'}}) }}

                        </div>
                            
                          <div class="formSep">
                            {{ form_row(edit_form.prixavance, { 'attr': {'class': 'span4'}}) }}

                        </div>   
                        <div class="formSep">
                            <label>Promo Index </label>
                            inclure dans la liste
                            promos {{ form_row(edit_form.pindex,{'attr':{'class':'span4 iphonecheck'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.arrangement, { 'attr': {'class': 'span10'}}) }}

                        </div>
                       
                        <div class="formSep">
                            {{ form_row(edit_form.description, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.seotitle, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.seodescreption, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(edit_form.seokeyword, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        {{ form_rest(edit_form) }}

                    </div>
                </div>
            </div>


            <div class="span5">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Images</h4>
                    </div>
                    <div class="w-box-content" id="boximg">
                        <div class="formSep">
                            <label>Nombre d'image </label>
                            <select id="nbimg">
                                {% for i in 0..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {% for item in entity.imgcuir %}
                            <div class="formSep">
                                <div class="input-append bootstrap-timepicker-component">
                                    <input type="text" class="input-small span9 tsawer" value="{{ item.image }}"
                                           name="files[]" id="idfgqagmage{{ loop.index }}">
                        <span class="add-on">
                            <a class="iframe-btn"
                               href="/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{ loop.index }}">
                                <i class="icon-download"> </i></a>
                        </span>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="span12"></div>
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Validation</h4>
                    </div>
                    <div class="w-box-content">


                        <div class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>


                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = 0;
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;
            }
        });
        tinymce.init({
            selector: '#btob_cuircuitbundle_cuircuit_description',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180
        });
        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}