{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_vole_homepage') }}">Vol</a></li>

            <li><span>Formulaire Vol</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
    {% for flashMessage in app.session.flashbag.get('noticvol') %}
        <br/>

        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
{% endfor %}
        <form method="post" action="{{ path('btob_vole_homepage') }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                   
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Réservation de vols: </h4>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12" style="margin-left: 15px;">
                                    <label>Type de vol :</label>

                                    <label class="radio">
                                        <input type="radio" name="type" id="optionsRadios1"
                                               value="Aller-Retour" checked="">
                                        Aller-Retour
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="type" id="optionsRadios2"
                                               value="Aller-Simple">
                                        Aller-Simple
                                    </label> <label class="radio">
                                        <input type="radio" name="type" id="optionsRadios2" value="Multidestination
">
                                        Multidestination

                                    </label>
                                </div>
                                <div class="span12" style="margin-left: 15px;">
                                    <label>Destination :</label>

                                    <div class="span4" >
                                        <label>Départ:</label>
                                        <select class="_select" name="depart" id="msdrpdd20">
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>

                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>

                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option selected="selected" value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
                                    <div class="span4" style="">
                                        <label>Arrivée:</label>
                                        <select class="_select" name="arrive" id="msdrpdd20">
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>

                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>

                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option selected="selected" value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="span12">
                                    <div class="span4">
                                        <label>Date de départ * :</label>
                                        <input name="dated" required="required" type="text" class="span8 datepicker"
                                               id="datevole"/>
                                    </div>
                                    <div class="span4">
                                        <label>Date de retour * :</label>
                                        <input name="dater" required="required" type="text" class="span8 datepicker"
                                               id="datevole"/>
                                    </div>

                                </div>
                                <div class="span12">
                                    <label>Passagers : </label>
                                </div>
                                <div class="span12">
                                    <div class="span4">
                                        <label>Jeunes (19 - 23.99 Ans) :</label>
                                        <select class="span3" id="select2" name="adult_jeune">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="span4">
                                        <label>Etudiants (19 - 30.99 Ans) :</label>
                                        <select class="span3" id="select2" name="adult_etud">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="span4">
                                        <label>Adultes :</label>
                                        <select class="span3" id="select2" name="adult">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span12">
                                    <div class="span3">
                                        <label>Enfants (2 - 11.99 Ans):</label>
                                        <select  class="span3" id="select2" name="enfant">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <label>Bébé (0 - 1.99 Ans):</label>
                                        <select class="span3"  id="select2" name="bebe">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="span12">
                                    <div class="span10"></div>
                                    <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}