{% extends "manager.html.twig" %}
    {% block title %}Gestion de Grand Jeu{% endblock %}
    {% block body %}
        <div class="container">
            <ul id="breadcrumbs">
                <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
                <li><a href="{{ path('jeu') }}">Le Grand Jeu</a></li>

                <li><span>Gestion de  Grand Jeu</span></li>
            </ul>
        </div>

        <!-- main content -->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-blue">
                        <div class="w-box-header">
                            <h4>Liste des Questionse</h4>
                        </div>
                        <div class="w-box-content">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                <tr>
                                    <th width="20%">Date de création</th>
                                    <th width="10%">Question</th>


                                    <th width="10%">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>

                                        <td>{% if entity.dcr %}{{ entity.dcr|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ entity.question }}</td>

                                        <td>
                                            <div class="pull-right">
                                                <div class="toggle-group">
                                                    <span class="dropdown-toggle" data-toggle="dropdown">Actions <span
                                                                class="caret"></span></span>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('jeu_show', {'id': entity.id}) }}"
                                                               title="Modifier"></i>Show</a></li>
                                                        <li><a href="{{ path('jeu_edit', {'id': entity.id}) }}"
                                                               title="Modifier"></i>Modifier</a></li>

                                                        <!--   <li><a href="javascript:confirmdeletbox('{{ path('jeu_delete', {'id': entity.id}) }}')" title="delete"></i>Delete</a></li>
                                                   -->
                                                    </ul>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        <!-- datatables -->
        <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.min.js') }}"></script>
        <!-- datatables column reorder -->
        <script src="{{ asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js') }}"></script>
        <!-- datatables column toggle visibility -->
        <script src="{{ asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js') }}"></script>
        <!-- datatable table tools -->
        <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
        <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js') }}"></script>
        <!-- datatables bootstrap integration -->
        <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js') }}"></script>

        <script src="{{ asset('back/js/pages/beoro_datatables.js') }}"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                //  $("#dt_basic_length").prepend('<a href="{{ path('bienetre_new')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau Bien être</a>');
            });</script>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/css/datatables_beoro.css') }}">
        <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css') }}">

    {% endblock %}
