{% extends "manager.html.twig" %}
{% block title %}Détails de la Question{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('jeu') }}">Question</a></li>

            <li><span>Détails de Question</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de question <b>{{ entity.question }}</b> </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">

                                <div class="span12" style="margin-left: 40px;">Description : {{ entity.description|raw }}</div>

                                <div class="span11">
                                    <p class="heading_a">Activité <a href="{{ path('choix_news', {'id': entity.id})}}" style=" margin-left: 82%;" class="btn btn-mini btn-inverse">Ajouter un nouveau Choix</a> </p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Choix</th>

                                            <th width="10%">&nbsp;</th>

                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for activite in entity.choix %}

                                            <tr>
                                                <td>{{ activite.choix }}</td>

                                                <td>
                                                    <div class="pull-right">
                                                        <div class="toggle-group">
                                                            <span class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></span>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ path('choix_edit', {'id': activite.id})}}" title="Modifier"></i>Modifier</a></li>

                                                                <li><a href="javascript:confirmdeletbox('{{ path('choix_delete', {'id': activite.id})}}')" title="delete"></i>Delete</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>






                                                </td>

                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        $("#addcomment").click(function (e) {
            e.preventDefault();

        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}
