{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="#">Utilisateurs</a></li>

            <li><span>Gestion des utilisateurs</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}

            <div class="span6">
                <div class="w-box">
                    <br/> <br/>
                    <br/>

                    <div class="w-box-header">
                        <h4>Information généralllll</h4>
                    </div>
                    <div class="w-box-content">

                        <div class="formSep">
                            <div class="formSep">{{ form_row(edit_form.name, { 'attr': {'class': 'span10'} }) }}</div>


                            <div class="formSep">{{ form_row(edit_form.devise, { 'attr': {'class': 'span10'} }) }}</div>

                            <div class="formSep">{{ form_row(edit_form.marcher, { 'attr': {'class': 'span10'} }) }}</div>
                            

                            <div class="formSep">{{ form_row(edit_form.responsable, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.adresse, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.cp, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.tel, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.fax, { 'attr': {'class': 'span10'} }) }}</div>

                            <div class="formSep">{{ form_row(edit_form.matriculefiscal, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.observation, { 'attr': {'class': 'span10'} }) }}</div>


                            <div class="formSep">{{ form_row(edit_form.sold, { 'attr': {'class': 'span10'} }) }}</div>
                            <div class="formSep">{{ form_row(edit_form.illimite, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>

                            <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prst, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.marge, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                </tr>
                            </table>


                            <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actcircuit, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div  class="formSep" >{{ form_row(edit_form.margecircuit, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstcircuit, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                </tr>
                            </table>

                            <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep" >{{ form_row(edit_form.actsejour, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margesejour, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstsejour, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                </tr>
                            </table>
                        <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep" >{{ form_row(edit_form.actevenement, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margeevenement, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstevenement, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                </tr>
                            </table>
                           

                            <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actomra, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                     <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margeomra, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstomra, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                   
                                </tr>
                            </table>
                                    
                                    
                           

                            <table width="100%" style="display: none" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actparc, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                     <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margeparc, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstparc, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                  
                                </tr>
                            </table>
                               <table width="100%" style="display: none" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actbienetre, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                     <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margebienetre, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstbienetre, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                  
                                </tr>
                            </table>       
                        
                            <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actcroissiere, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.margecroissiere, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstcroissiere, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                </tr>
                            </table>

                            <table width="100%" style="display: none" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep" >{{ form_row(edit_form.actvoiture, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep" >{{ form_row(edit_form.margevoiture, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.prstvoiture, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>
                                </tr>
                            </table>
                                    
                              <table width="100%" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actvole, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                    <td width="50%">
                                        <div class="formSep" style="visibility:hidden">{{ form_row(edit_form.margevole, { 'attr': {'class': 'span10'} }) }}</div>
                                    </td>
                                </tr>
                            </table> 
                                        <table width="100%" style="display: none" class="formSep">
                                <tr>
                                    <td width="50%">
                                        <div class="formSep">{{ form_row(edit_form.actgrandjeu, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    </td>

                                        <div class="formSep" style="display: none" >{{ form_row(edit_form.actactivite, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                </tr>
                            </table>

                        </div>

                                        <div class="formSep" style="display: none">{{ form_row(edit_form.actseminaire, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                 
                                        <div class="formSep" style="display: none">{{ form_row(edit_form.acttransfert, { 'attr': {'class': 'span10 iphonecheck'} }) }}</div>
                                    
                        {{ form_rest(edit_form) }}

                    </div>
                </div>
            </div>


            <div class="span6"></div>
            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Validation</h4>
                    </div>
                    <div class="w-box-content">


                        <div class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>


                    </div>
                    <br/>
                    <br/>

                </div>
            </div>
            </form>

        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });</script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}