{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datenaiss</th>
                <th>Dcr</th>
                <th>Responsable</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Sold</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Matriculefiscal</th>
                <th>Observation</th>
                <th>Logo</th>
                <th>Illimite</th>
                <th>Marque</th>
                <th>Prstmarque</th>
                <th>Marge</th>
                <th>Prst</th>
                <th>Margeomra</th>
                <th>Actomra</th>
                <th>Margecircuit</th>
                <th>Actcircuit</th>
                <th>Margesejour</th>
                <th>Actevenement</th>
                <th>Margeevenement</th>
                <th>Actsejour</th>
                <th>Margevole</th>
                <th>Actvole</th>
                <th>Margecroissiere</th>
                <th>Actcroissiere</th>
                <th>Margevoiture</th>
                <th>Actvoiture</th>
                <th>Acttransfert</th>
                <th>Actbienetre</th>
                <th>Actseminaire</th>
                <th>Actgrandjeu</th>
                <th>Actactivite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.datenaiss %}{{ entity.datenaiss|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dcr %}{{ entity.dcr|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.responsable }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.cp }}</td>
                <td>{{ entity.sold }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.matriculefiscal }}</td>
                <td>{{ entity.observation }}</td>
                <td>{{ entity.logo }}</td>
                <td>{{ entity.illimite }}</td>
                <td>{{ entity.marque }}</td>
                <td>{{ entity.prstmarque }}</td>
                <td>{{ entity.marge }}</td>
                <td>{{ entity.prst }}</td>
                <td>{{ entity.margeomra }}</td>
                <td>{{ entity.actomra }}</td>
                <td>{{ entity.margecircuit }}</td>
                <td>{{ entity.actcircuit }}</td>
                <td>{{ entity.margesejour }}</td>
                <td>{{ entity.actsejour }}</td>
                 <td>{{ entity.margeevenement }}</td>
                <td>{{ entity.actevenement }}</td>
                <td>{{ entity.margevole }}</td>
                <td>{{ entity.actvole }}</td>
                <td>{{ entity.margecroissiere }}</td>
                <td>{{ entity.actcroissiere }}</td>
                <td>{{ entity.margevoiture }}</td>
                <td>{{ entity.actvoiture }}</td>
                <td>{{ entity.acttransfert }}</td>
                <td>{{ entity.actbienetre }}</td>
                <td>{{ entity.actseminaire }}</td>
                <td>{{ entity.actgrandjeu }}</td>
                <td>{{ entity.actactivite }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
