{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Croissières</a></li>

            <li><span> Liste des Croissières</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.region }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('btob_croissiere_detail_homepage',{'id':entry.id}) }}">
                                <div id="prix-product">
                        A partir de<br>  {% if  user.prstcroissiere == 1 %}
                                              {% set total = entry.prix +(entry.prix * user.margecroissiere/100) %}
                                               {{total}}TND
                                               {%else%}
                                                   {% set total = entry.prix + user.margecroissiere%}
                                               {{total}}TND
                                               {% endif %}
                    </div>
                                    
                                    {% if entry.imgcr|length>0 %}
                                    <img src="{{ entry.imgcr[0].image|apply_filter('circuit') }}">
                                {% else %}
                                    <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                {% endif %}
                                </a>
                                <p class="heading_a">{{ entry.nbrjr }} Jours / {{ entry.nbrjr-1 }} Nuits</p>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('btob_croissiere_detail_homepage',{'id':entry.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}