{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> Croissières</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('noticereserv') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{%endfor%}
        <form method="post" action="{{ path('btob_croissiere_reservation_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            Veuillez compléter le formulaire suivant pour recevoir un devis personnalisé<br/>

                            (Note: Toutes les informations personnelles resteront strictement confidentielles et ne seront en aucun cas communiquées à un tiers)

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                   
                                   
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>

                               <div class="formSep">
                                        <label class="label-r2">      Souhaitez-vous être contacté(e) par :</label>
                                        <div class="span2"></div>
                                        <select name="contacte">

                                                <option value="">Choississez</option>
                                                <option value="E-mail">E-mail</option>
                                                <option value="Téléphone">Téléphone</option>

                                        </select>
                                    </div>


                        </div>

                    </div>



                </div>

            </div>








            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Infos Croisière : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    Croissière sélectionnée : {{ entry.titre }}
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span0"></div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Adultes (+ de 12 ans) * :</label>
                                     <input type="number" required="required" class="span8"
                                           name="adulte"/>


                                </div>
                            </div>

                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Enfants (+ de 12 ans):</label>
                                    <input type="number"  class="span8"
                                           name="enfant"/>
                                </div>
                            </div>

                        </div>
                          <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date de départ * :</label>
                                     <input  required="required" class="span8 datepicker"
                                           name="dated"/>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="span4">
                            Vous avez besoin d'un vol international?</div>
                            <div class="span8"></div>
                           </div>
                    <div class="span12">
                                <div class="span6">
                                    <div class="formSep">
                                        <label class="label-r2"> Ville de départ :</label>

                                       <select name="depart" class="text-input input_max">
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>
                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>
                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>
                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>
                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option value="TUNIS" selected="selected">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>
                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>
                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
                                 </div>
                                                     <div class="span6">
                                    <div class="formSep">
                                        <label class="label-r2">Classe de voyage  :</label>
                                       <select name="voyage" class="text-input input_max">
                                            <option value="Economy">Economy</option>
                                            <option value="Business">Business</option>
                                            <option value="First">First</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                   </div>
                                 </div>

                    </div>


                            <div class="span12" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Demandes Particulières / Remarques </label>
                                    <textarea name="body" type="text" class="span11" id="body"></textarea>
                                </div>
                            </div>
                            <div class="span12">
                            Et Finalement ...
                        </div>

                        <div class="span12">
                            Comment Nous avez-vous trouvé?
                            <input type="text"  class="span4" name="Comment"/>
                            </div>
                            <div class="span12">
                            <dvi class="span4">
                             Oui, c'est un voyage de noce / anniversaire de mariage
                          <input type="checkbox" name="vmariage" class="'span4 iphonecheck"  />
                            </dvi>
                            <div class="span2"></div>
                            <div class="span4">
                            Date de mariage :
                             <input type="date" class="span8 datepicker"
                                           name="mariage"/>
</div>
                            </div>
                            <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}