{% extends "manager.html.twig" %}
{% block title %}Gestion des Omra{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_omra_homepage') }}">Omra</a></li>

            <li><span> Omra</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('notisejour') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{% endfor %}
        <form method="post" action="{{ path('btob_omra_reservation_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    
                                  
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>



                        </div>

                    </div>



                </div>

            </div>








       	<div class="col-sm-12">
		 <div class="col-sm-12" style="background: #fff; padding:8px;">
		   <div class="w-box-content cnt_a">
                            <div class="row-fluid" style="display:none" >
                                <div class="span12">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Date de départ :</label>
                                            <input type="text" required="required" class="span8 datepicker" value="{{ "now"|date("m/m/Y") }}" 
                                                   name="dated"/>
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Adulte(s)* :</label>
                                            <input required="required" type="text" pattern="[0-9]+" required="required" class="span8"
                                                   name="adulte"/>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Enfant(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="enfant"/>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-6">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Bébé(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="bebe"/>
                                        </div>
                                    </div>
                                  </div>

								  <div class="col-sm-6">
                                    <div class="span12" style="margin-left:0">
                                        <div class="formSep">
                                            <label class="required">Commentaire </label>
                                            <textarea name="body" type="text" class="span11" id="body"></textarea>
                                        </div>
                                    </div>
								  </div>
								  <div class="col-sm-12" align="right">
                                    <div class="span12">
                                        <div class="span10"></div>
                                        <div class="span2"><input type="submit" value="Valider"
                                                                  class="btn btn-primary marge"/>
                                        </div>
                                    </div>
								  </div>
                                </div>
                            </div>
                        </div>
		 </div>
		</div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">

{% endblock %}