{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_reservationback_homepage') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Réf °
                                                :</strong> {{ entry.ref|RefResa(entry.id) }}</label></div>
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.user.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Hôtel :</strong> {{ entry.hotel.name }}
                                        </label></div>
									<div class="formSep"><label> <strong> Nombre des étoiles :</strong> {{ entry.hotel.star }}
                                        </label></div>	
                                    <div class="formSep"><label> <strong> ville :</strong> {{ entry.hotel.ville.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date d'arrivée
                                                :</strong> {{ entry.dated|date('d/m/Y') }}</label></div>
                                    <div class="formSep"><label> <strong> Date de sortie
                                                :</strong> {{ entry.datef|date('d/m/Y') }}</label></div>
                                    <div class="formSep"><label> <strong> Prix de vente
                                                :</strong> {{ entry.total|changedevise }}
                                        </label></div>
                                    
                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y h:i') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>
                                <div class="span12"></div>

                                <div class="span11">
                                    <p class="heading_a">Détail des chambres</p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Chambres</th>
                                            <th>Adulte(s)</th>
                                            <th>Enfant(s)</th>
                                            <th>Arrangement</th>
                                            <th>Suppléments</th>
                                            <th>Evenement</th>
                                            <th>Prix</th>
                                        </tr>
                                        </thead>
                                 
                                        {% for item in entry.reservationdetail %}
                                        <tbody>
                                        <tr>
                                            <td>{{ item.roomname }}</td>
                                            <td>{{ item.ad }}</td>
                                            <td>{{ item.enf }}</td>
                                            <td>{{ item.arrangement }}</td>
                                            <td>{{ item.supp|raw }}</td>
                                            <td>{{ item.event|raw }}</td>
                                            <td>{{ item.price|changedevise }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="span12"></div>
                                <div class="span11">
                                    <p class="heading_a">Rooming List</p>
                                    {% for key,itemx in namead %}
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Chambres {{ loop.index }}</th>
                                                <th>Noms des occupants</th>
                                                <th>&Acirc;ge</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                               
                                            {% for kag, item in itemx %}
                                               
                                                <tr>
                                                    <td>Adulte</td>
                                                    <td>{{ item }} </td>
                                                    <td>
                                                    {% if agead[key][kag] is empty %}
                                                        {%else%}
                                                            &nbsp;
                                                        {{agead[key][kag]}} 
                                                    {% endif %}  
                                                    
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% if nameenf[key] is defined %}
                                                {% set x=0 %}
                                                {% for item in nameenf[key] %}
                                                    <tr>
                                                        <td>Enfant</td>
                                                        <td>{{ item }} </td>
                                                        <td>{% if ageenfant[key] is defined %}{{ ageenfant[key][x] }} ans{% endif %}</td>
                                                    </tr>
                                                    {% set x=x+1 %}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>

                                        </table>
                                    {% endfor %}
                                </div>
                                {% if entry.etat!=0 %}
                                <div class="span12"></div>
                                {% set tst=0 %}
                                {% if entry.etat!=3 %}
                                    <div class="span11">
                                        {% set classs='' %}
                                        {% set msg='' %}
                                        {% if entry.user.sold >= entry.total or entry.user.illimite==1 %}
                                            {% set classs='alert-success' %}
                                            {% if entry.user.illimite==0 %}
                                                {% set msg='Le solde de l\'agence est suffisant' %}
                                            {% else %}
                                                {% set msg='Le solde de l\'agence est illimité' %}
                                            {% endif %}
                                        {% else %}
                                            {% set tst=1 %}
                                            {% set classs='alert-error' %}
                                            {% set msg='Le solde de l\'agence est insuffisant' %}
                                        {% endif %}
                                        <div class="alert {{ classs }}">

                                            <strong>Alerte !</strong> <br>
                                            {{ msg }}
                                        </div>

                                    </div>
                                {% endif %}

                                <div class="span11">
                                    <p class="heading_a">Action</p>
                                    {% if entry.etat==5 %}
                                        <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':1}) }}"
                                           class="btn btn-info">Confirmer</a>
                                    {% endif %}
                                    {% if app.security.token.roles[0].role!='AGENCEID' %}

                                        {% if entry.etat==1 %}
                                            <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':2}) }}"
                                               class="btn btn-primary">Traité</a>
                                        {% endif %}
                                        <a{% if tst==1 or entry.etat==3 %} style="display:none;" onclick="return false"{% endif %}
                                                href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':3}) }}"
                                                class="btn btn-success">Payée</a>
                                    {% else %}
                                        {% if entry.etat==2 %}
                                            <a
                                                    href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':3}) }}"
                                                    class="btn btn-success">Payée</a>
                                        {% endif %}
                                    {% endif %}



                                    {% if entry.etat!=3 %}
                                        <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':0}) }}"
                                           class="btn btn-inverse">Annulée</a>
                                    {% endif %}
                                    {% if entry.etat==3 %}
                                        {# <div class="formSep">
                                            
                                            {{ form_row(form.longdesc, { 'attr': {'class': 'span10'}}) }}

                                        </div> #}
                                        <a target="_blank"
                                           href="{{ path('btob_reservationback_voucher_homepage',{'id':entry.id}) }}"
                                           class="btn btn-warning"><i class="splashy-printer"></i>&nbsp;Imprimer le
                                            voucher
                                        </a>
                                    {% endif %}
                                    {% if entry.ref=="" and app.security.token.roles[0].role!='ROLE_SUPER_ADMIN' %}
                                        <a id="bb-prompt"
                                           href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':0}) }}"
                                           class="btn btn-beoro-5">Changer la Référence</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Commentaire</h4>

                        <div class="pull-right">
                            <div class="toggle-group">
                                <span data-toggle="dropdown" class="dropdown-toggle">Actions <span class="caret"></span></span>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="addcomment">Ajouter un commentaire</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-box-content">
                        <table class="table table-striped table-list">
                            <tbody>
                            {% if entry.resacomment|length>0 %}
                                {% for item in  entry.resacomment %}
                                    <tr>
                                        <td class="list-image"><a href="javascript:void(0)"
                                                                  title="Comment by Summer Throssell" class="ptip_ne"><i
                                                        class="splashy-comments"></i></a></td>
                                        <td>
                                            <a href="javascript:void(0)" class="list-text">{{ item.action }}</a>
                                            <span class="minor">{{ item.user.name }} : {{ item.dcr|date('d/m/Y') }}
                                                @ {{ item.dcr|date('h:i') }} # {{ item.ip }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="list-image"><a href="javascript:void(0)"
                                                              title="Comment by Summer Throssell" class="ptip_ne"><i
                                                    class="splashy-comments"></i></a></td>
                                    <td>
                                        Aucun commentaire
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>


    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entry.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "{{ entry.ref|RefResa(entry.id) }}");
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcomment_homepage') }}",
                        data: "id={{ entry.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}