{% extends "manager.html.twig" %}
{% block title %}Gestion des Reservations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage') }}">Hôtel</a></li>

            <li><span>Gestion des promotions</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_reservationback_homepage') }}">
                                <table class="dataTables_full table">

                                    <tbody>
                                    <tr>
                                        <td>Hôtel</td>
                                        <td><input name="hotelname" value="{{ hotelname }}" class="span10"
                                                   placeholder="Nom d'hotel..."/>
                                        </td>
                                        <td>Date de résa. de</td>
                                        <td><input name="dcrfrom" value="{{ dcrfrom }}" class="span10 datepicker"/></td>
                                        <td>Date de résa. à</td>
                                        <td><input name="dcrto" value="{{ dcrto }}" class="span10 datepicker"/></td>
                                        <td>Etat</td>
                                        <td><select name="etat" class="span10">
                                                <option  value="1000" {% if etat==1000 %} selected="selected"{% endif %}>Tous</option>
                                                <option value="1" {% if etat==1 %} selected="selected"{% endif %}>Réservé</option>
                                                <option value="3" {% if etat==3 %} selected="selected"{% endif %}>Payé</option>
                                                <option value="0" {% if etat==0 %} selected="selected"{% endif %}>Annulé</option>
                                                <option value="5" {% if etat==5 %} selected="selected"{% endif %}>Sur Demande</option>
                                            </select></td>
                                    </tr>

                                    <tr>


                                        <td>Client</td>
                                        <td><input name="client" value="{{ client }}" class="span10"
                                                   placeholder="cin/passport - nom - email"/></td>
                                        <!--<td>N°res</td>
                                        <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->
                                        <td>Date d'entrée</td>
                                        <td><input name="datedfrom" value="{{ datedfrom }}" class="span10 datepicker"/>
                                        </td>
                                        <td>Date de sortie</td>
                                        <td><input name="datefto" value="{{ datefto }}" class="span10 datepicker"/></td>
                                        <td>{% if app.security.token.roles[0].role!='AGENCEID' %}Agence{% endif %}</td>
                                        <td>{% if app.security.token.roles[0].role!='AGENCEID' %}
                                                <select name="agence" class="span10">
                                                <option selected="selected" value="">Tous</option>
                                                {% for item in users %}
                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>{% endif %}</td>
                                    </tr>
                                    <tr>


                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="submit" name="submit" class="btn btn-primary"
                                                   value="Rechercher"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-orange hideable">
                    <div class="w-box-header">
                        <h4>Légende</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <table class="dataTables_full table">
                                    <tr>
                                        <td style="background: #DFF0D8;text-align: center; width:20%">Réservé</td>
                                        <td style="background: #D9EDF7;text-align: center; width:20%">Traité</td>
                                        <td style="background: #FCF8E3;text-align: center; width:20%">Payé</td>
                                        <td style="background: #F2DEDE;text-align: center; width:20%">Annulé</td>
                                        <td style="text-align: center; width:20%">Sur demande</td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des promotions</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>N° RES.</th>
                                <th>Date de réservation</th>
                                <th>Date d'arrivé</th>
                                <th>Date de sortie</th>
                                <th>Hôtel</th>
                                <th>Nuité</th>
                                <th>Client</th>
                                <th>Prix</th>
                                <th>Agence</th>
                                <th>Etat</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                {% if entity.etat==1 %}
                                    {% set class="class=success" %}
                                {% elseif entity.etat==2 %}
                                    {% set class="class=info" %}
                                {% elseif entity.etat==3 %}
                                    {% set class="class=warning" %}
                                {% elseif entity.etat==0 %}
                                    {% set class="class=error" %}
                                {% elseif entity.etat==5 %}
                                    {% set class="style='background: #FFFFFF;'" %}
                                {% endif %}
                                <tr {{ class }}>
                                    <td>
                                        <a href="{{ path('btob_reservationback_detail_homepage', {'id': entity.id}) }}">{{ entity.ref|RefResa(entity.id) }}</a>
                                    </td>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                        <br/>{{ entity.dcr|date('h:i') }}</td>
                                    <td>{{ entity.dated|date('d/m/Y') }}</td>
                                    <td>{{ entity.datef|date('d/m/Y') }}</td>
                                    <td>{{ entity.hotel.name }}</td>
                                    <td>{{ entity.nbnuit }}</td>
                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{{ entity.total|changedevise }} </td>
                                    <td>{{ entity.user.name }} </td>
                                    <td>{% if entity.etat==1 %}
                                            Réservé
                                        {% elseif entity.etat==2 %}
                                            Traité
                                        {% elseif entity.etat==3 %}
                                            Payé
                                        {% elseif entity.etat==0 %}
                                            Annulé
                                        {% elseif entity.etat==5 %}
                                            Sur demande
                                        {% endif %}</td>
                                    <td>
                                        <a href="javascript:confirmdeletbox('{{ path('btob_reservationback_delete_homepage', {'id': entity.id}) }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}