<html>
<body style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#666666;">


<div style="color:#FFF; background-color:#241710; font-size:20px; padding-left:40px; border:1px solid #CCCCCC">
    Réservation Traité {{ reservation.hotel.name }}
</div>
<div style="color:#0066CC; font-size:18px; padding-left:100px; padding-top:10px; margin-top:10px; border:1px solid #CCCCCC">
    <font color="#241710"><b>clientsd sd sd sdf </b></font>, Votre R&eacute;servation a &eacute;t&eacute; Trait&eacute;.<br><br>
    <font color="#000" size="-1"><b>R&eacute;servation N°</b> : {{ reservation.ref|RefResa(reservation.id) }} <br/>
        <b>Date de R&eacute;servation</b> : {{ reservation.dcr|date('d/m/Y') }} &nbsp;&nbsp; <br/><br/>
        <b>De</b> : {{ reservation.dated|date('d/m/Y') }} <br/>
        <b>&Agrave;</b> : {{ reservation.datef|date('d/m/Y') }} <br/>
        <br/>
    </font>
    <br/>
    Commande :<br/>
    <br/>

    <div>

        <table width="900" border="0" style="color:#999999; font-size:14px; border:dotted 1px #666666">
            <tr style="color:#FFFFFF; background-color:#0099FF">
                <td width="179" style="border:1px  solid #666666"><strong>Hotel</strong></td>
                <td width="130" style="border:1px  solid #666666"><strong>Nuit&eacute;es</strong></td>
                <td width="165" style="border:1px  solid #666666"><strong>Nombre de personne(s)</strong></td>
                <td width="166" style="border:1px  solid #666666"><strong>Chambre(s)</strong></td>
            </tr>
            <tr>
                <td style="border:1px  solid #666666; color:#333333">{{ reservation.hotel.name }}</td>
                <td style="border:1px  solid #666666 ; color:#333333">{{ reservation.nbnuit }}</td>
                <td style="border:1px  solid #666666; color:#333333">{% set total=0 %}
                {% for item in reservation.reservationdetail %}
                    {% set total= total + item.ad + item.enf %}
                    {% endfor %}
                    {{ total }}
                </td>
                <td style="border:1px  solid #666666; color:#333333">{{ reservation.reservationdetail|length }}</td>
            </tr>
        </table>
        <br/>
    </div>


</div>
</body>
</html>