<style>
    th{
        color: #ffffff;
        background: #828282;
    }
    img{

    }
    #logoleft {
    
    left: 50px;
    }
    #logoright {
        
        right: 50px;
    }
    #footerpdf {
    
    }

</style>



<table>
    <tr>
        <td width="30%">
            {# {{ reservation.user.email }}/back/img/beoro_logo.png #}
            <img  src="http://www.firstclasstravel.ma/front/images/logo.png"/>
        </td>
        <td width="40%"></td>
        <td width="30%">
            <img  src="http://www.firstclasstravel.ma/front/images/logo.png"/>
        </td>
    </tr>

</table>
<hr>
<br /><br /><br />
<h1 align="center">Bon voucher N°{{ reservation.ref|RefResa(reservation.id) }} </h1>
<br/><br/>
<table border="1" width="100%" cellpadding="5">
 <tr>
  <td width="30%">
   <h4>Adresse: <span style="font-weight: normal">Angle Bd. Mohamed ٧ et Av. Hassen 1er N° 7 Bloc B - Imm. SIBAM2 4000 Marrakech Maroc</span></h4>
   <h4>Tel: <span style="font-weight: normal">(+212) 05 24 43 03 31/29</span></h4>
   <h4>Fax: <span style="font-weight: normal">(+212) 05 24 43 02 84</span></h4>
   <h4>Email: <span style="font-weight: normal">{{user.email}}</span></h4>
   <h4>Site Web: <span style="font-weight: normal">www.first.com</span></h4>
  </td>
  <td width="70%">

   <h3>{{ reservation.hotel.name }} <span style="font-weight: normal;">{{ reservation.hotel.star }} étoiles,   {{ reservation.hotel.ville.name }}, {{ reservation.hotel.pays.name }} </span> </h3>      
   <h4>Nombre de chambres: <span style="font-weight: normal">{{reservation.reservationdetail|length}}</span></h4>
   <div>Date de réservation: <strong>{{ reservation.dcr|date('d/m/Y h:i') }}</strong></div>
   <div>Check In : <strong>{{ reservation.dated|date('d/m/Y') }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Check Out : <strong>{{ reservation.datef|date('d/m/Y') }}</strong> </div>
  </td>
 </tr>
</table>
<br /><br />

<table  cellspacing="0" cellpadding="3" border="1" width="100%">
    <thead>
    <tr bgcolor="#828282">
        <th>Chambres</th>
        <th>Adulte(s)</th>
        <th>Enfant(s)</th>
        <th>Arrangement</th>
        <th>Suppléments</th>
        <th>Evenement</th>
    </tr>
    </thead>
    {% for item in reservation.reservationdetail %}
    <tbody>
    <tr>
        <td>{{ item.roomname }}</td>
        <td>{{ item.ad }}</td>
        <td>{{ item.enf }}</td>
        <td>{{ item.arrangement }}</td>
        <td>{{ item.supp|raw }}</td>
        <td>{{ item.event|raw }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p><strong>Liste des personnes / Rooming list : </strong></p>
{% for key,itemx in namead %}
    <table  cellspacing="0" cellpadding="3" border="1" width="100%">
        <thead>
        <tr bgcolor="#828282">
            <th>Chambres {{ loop.index }}</th>
            <th>Noms des occupants</th>
            <th>&Acirc;ge</th>
        </tr>
        </thead>
        <tbody>
        {% for item in itemx %}
            <tr>
                <td>&nbsp;&nbsp;Adulte</td>
                <td>&nbsp;&nbsp;{{ item }} </td>
            </tr>
        {% endfor %}
        {% if nameenf[key] is defined %}
            {% set x=0 %}
            {% for item in nameenf[key] %}
                <tr>
                    <td>&nbsp;&nbsp;Enfant</td>
                    <td>&nbsp;&nbsp;{{ item }} </td>
                    <td>&nbsp;&nbsp;{% if ageenfant[key] is defined %}{{ ageenfant[key][x] }} ans{% endif %}</td>
                </tr>
                {% set x=x+1 %}
            {% endfor %}
        {% endif %}
        </tbody>

    </table>
{% endfor %}

<p>&nbsp;</p>
<div  style="position:absolute; bottom:0;">
    <hr>
    <p>{{pagefooter}}</p>
</div>