<style>
    th{
        color: #ffffff;
        background: #828282;
    }
    img{

    }
    #logoleft {
    
    left: 50px;
    }
    #logoright {
        
        right: 50px;
    }
    #footerpdf {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}
</style>



<table>
    <tr>
        <td width="20%">
            {{ reservation.user.email }}jhgjhjhg
            <img id="logoleft" src='{{ reservation.user.logo }}'/>
        </td>
        <td width="60%"></td>
        <td width="20%">
            <img id="logoright" src='{{ reservation.user.logo }}'/>
        </td>
    </tr>

</table>
<hr>
<br /><br /><br />
<h1 align="center">Bon voucher N°{{ reservation.ref|RefResa(reservation.id) }} </h1>
<br/><br/>
<h2>{{ reservation.hotel.name }} </h2>
<p>{{ reservation.hotel.star }} étoiles,   {{ reservation.hotel.ville.name }}, {{ reservation.hotel.pays.name }} </p>
<p>A partir de : <strong>{{ reservation.dated|date('d/m/Y') }}</strong> <br />
    Jusqu'au  : <strong>{{ reservation.datef|date('d/m/Y') }}</strong> </p>
<p>Date de réservation  : <strong>{{ reservation.dcr|date('d/m/Y h:i') }}</strong></p>
<br />


<table  cellspacing="0" cellpadding="3" border="0" width="100%">
    <thead>
    <tr bgcolor="#828282">
        <th>Chambres</th>
        <th>Adulte(s)</th>
        <th>Enfant(s)</th>
        <th>Arrangement</th>
        <th>Suppléments</th>
        <th>Evenement</th>
    </tr>
    </thead>
    {% for item in reservation.reservationdetail %}
    <tbody>
    <tr>
        <td>{{ item.roomname }}</td>
        <td>{{ item.ad }}</td>
        <td>{{ item.enf }}</td>
        <td>{{ item.arrangement }}</td>
        <td>{{ item.supp|raw }}</td>
        <td>{{ item.event|raw }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>






<br />
<br />
<p><strong>Liste des personnes / Rooming list : </strong></p>
{% for key,itemx in namead %}
    <table  cellspacing="0" cellpadding="3" border="0" width="100%">
        <thead>
        <tr bgcolor="#828282">
            <th>Chambres {{ loop.index }}</th>
            <th>Noms des occupants</th>
            <th>&Acirc;ge</th>
        </tr>
        </thead>
        <tbody>
        {% for item in itemx %}
            <tr>
                <td>&nbsp;&nbsp;Adulte</td>
                <td>&nbsp;&nbsp;{{ item }} </td>
            </tr>
        {% endfor %}
        {% if nameenf[key] is defined %}
            {% set x=0 %}
            {% for item in nameenf[key] %}
                <tr>
                    <td>&nbsp;&nbsp;Enfant</td>
                    <td>&nbsp;&nbsp;{{ item }} </td>
                    <td>&nbsp;&nbsp;{% if ageenfant[key] is defined %}{{ ageenfant[key][x] }} ans{% endif %}</td>
                </tr>
                {% set x=x+1 %}
            {% endfor %}
        {% endif %}
        </tbody>

    </table>
{% endfor %}

<p>&nbsp;</p>
<div id="footerpdf" style="margin-bottom:0px;">
    <hr>
    <p>{{pagefooter}}</p>
</div>
