{% extends "manager.html.twig" %}
    {% block title %}Gestion des Séjours{% endblock %}
    {% block body %}
        <div class="container">
            <ul id="breadcrumbs">
                <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
                <li><a href="{{ path('evenement') }}">evenements</a></li>

                <li><span>Gestion des evenements</span></li>
            </ul>
        </div>

        <!-- main content -->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-blue">
                        <div class="w-box-header">
                            <h4>Liste des evenements</h4>

                        </div>

                        <div class="w-box-content">
                            <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                <tr>
                                    <th width="20%">Etat</th>
                                    <th width="20%"> Nom d'evenement</th>
                                    <th width="10%">Prix</th>

                                    <th width="10%">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{% if entity.act==true %}<span
                                                    class="label label-success ptip_ne">Activé</span>
                                            {% else %}<span
                                                    class="label label-danger ptip_ne">Désactivé</span>{% endif %}</td>

                                        <td>{{ entity.titre }}</td>
                                        <td>{{ entity.prix|changedevise }}</td>

                                        <td>
                                            <div class="pull-right">
                                                <div class="toggle-group">
                                                    <span class="dropdown-toggle" data-toggle="dropdown">Actions <span
                                                                class="caret"></span></span>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('evenement_edit', {'id': entity.id}) }}"
                                                               title="Modifier"></i>Modifier</a></li>

                                                               
                                                             <li><a href="{{ path('btob_evenementprice_homepage', {'evenementid': entity.id}) }}" title="Tarifs ">Periodes</a></li>
                                                         
                                                       <li><a href="{{ path('btob_supplementev_homepage', {'evenementid': entity.id}) }}" title="">Supplement</a></li>
                                                          
                                                        <li>
                                                            <a href="javascript:confirmdeletbox('{{ path('evenement_delete', {'id': entity.id}) }}')"
                                                               title="delete"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        <!-- datatables -->
        <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.min.js') }}"></script>
        <!-- datatables column reorder -->
        <script src="{{ asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js') }}"></script>
        <!-- datatables column toggle visibility -->
        <script src="{{ asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js') }}"></script>
        <!-- datatable table tools -->
        <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
        <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js') }}"></script>
        <!-- datatables bootstrap integration -->
        <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js') }}"></script>

        <script src="{{ asset('back/js/pages/beoro_datatables.js') }}"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                $("#dt_basic_length").prepend('<a href="{{ path('evenement_new')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter un nouveau Evenement</a>');
            });</script>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/css/datatables_beoro.css') }}">
        <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css') }}">

    {% endblock %}
