{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> Circuits et Randonnées</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>Circuit et Randonnées : {{ entry.libelle }}</h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_pers_reservation_cuircuit',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span8">
                        {% if entry.imgcuir|length>0 %}
                            <ul class="bxslider">
                                {% for item in entry.imgcuir %}
                                    <li><img src="{{ asset(item.image) }}"/></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="span4">
                        <img src="{{ asset('images/3.gif') }}">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_pers_reservation_cuircuit',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                                          
                 {% for period in periods %}
           <div class="col-sm-12" style="background: #fff; padding:8px;">
      {{ period.dated|date('d-m-Y') }} => {{ period.dates|date('d-m-Y') }}
	 </div>
         
         
                  
          
         
         
          <div class="col-sm-12" style="background: #fff; padding:8px;">
		<br>
		Min Age Enfant :  {{ entry.ageenfmin }}
		<br>
                
                <br>
		Max Age Enfant: {{ entry.ageenfmax }}
		<br>
                
                <br>
		Min Age Bébé: {{ entry.agebmin }}
		<br>
                
                <br>
		Max Age Bébé: {{ entry.agebmax }}
		<br>
	</div>
         {%endfor%}                         
                <div class="row-fluid">
                    <div class="span12">
                        {{ entry.description|raw }}
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_pers_reservation_cuircuit',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">

{% endblock %}