{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> Circuits et Randonnées</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.cuircuit.libelle }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('btob_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
                                     <div id="prix-product">
                        {% if  entry.cuircuit.apartir == 1 %}
                            A partir de<br>  
                            
                            {% if  user.prstcircuit == 1 %}
                                              {% set total = entry.cuircuit.prix +(entry.cuircuit.prix * user.margecircuit/100) %}
                                               {{total}}MAD
                                               {%else%}
                                                   {% set total = entry.cuircuit.prix + user.margecircuit%}
                                               {{total}}MAD
                                               {% endif %}
                            
                            
                           
                        {% else %}
                            
                            {% if  user.prstcircuit == 1 %}
                                              {% set total = entry.cuircuit.prix +(entry.cuircuit.prix * user.margecircuit/100) %}
                                               {{total}}MAD
                                               {%else%}
                                                   {% set total = entry.cuircuit.prix + user.margecircuit%}
                                               {{total}}MAD
                                               {% endif %}
                            
                        {% endif %}
                    </div>
                                {% if entry.cuircuit.imgcuir|length>0 %}
                                    <img src="{{ entry.cuircuit.imgcuir[0].image }}">
                                {% else %}
                                    <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                {% endif %}
                                </a>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('btob_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}