{% extends "manager.html.twig" %}
{% block title %}Gestion des villes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>

            <li><span>Panier</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des villes</h4>
                    </div>
                    <div class="w-box-content">

                            <div class="alert alert-success">
                                <a data-dismiss="alert" class="close">×</a>
                                <strong>Commande valider!</strong><br>

                            </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}