{% extends "base.html.twig" %}
{% block title %}Gestion des Promotions{% endblock %}

{% block body %}
    <div class="container">
	 <div class="col-sm-12 navig">
        <ul id="breadcrumbs">
            <li><a><i class="icon-home"></i></a></li>
            <li><a >Hôtel</a></li>

            <li><a class="active"> Promotion</a></li>
        </ul>
	 </div>
    </div>
    <!-- main content -->
    <div class="container">
	 <div style="" id="divvide">
        {% set i=0 %}
        {% set dc = "now"|date("Ymd") %}
		
		
		{% for entry in entities %}
		  {% for promo in entry.promotion %}
		   <input type="hidden" name="dated" value="{{ promo.dated|date('Y-m-d') }}"/>
		   <input type="hidden" name="datef" value="{{ promo.dates|date('Y-m-d') }}"/>
           {% set dated = promo.dated|date('Y-m-d') %}
           {% set datef = promo.dates|date('Y-m-d') %}
           {% if promo.dates|date("Ymd") >= dc %}
		   
		    <div class="col-sm-4">
            <div id="product" class="anim-prod">
                <a href="{{ path('front_list_detail_homepage', {'hotelname': entry.nameslug,'hotelid': entry.id,'dated':dated,'datef':datef}) }}">
                    <div id="prix-product">
                            A partir de <br>  
							
							{% if  promo.pers== 0 %}
                                         A partir de :  {{ promo.val|number_format(2, '.', ',') }}
                                     {% else %}
                                         {{ promo.val|number_format(2, '.', ',') }} %
                                     {% endif %} DT
                    </div>
                    {% if entry.hotelimg|length>0 %}
                                 <img src="../{{ asset(entry.hotelimg[0].file) }}">
                             {% else %}
                                 <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                             {% endif %}
					<div style="position:relative;">
                    <div id="titre-product">
                        <table height="50" width="100%">
                            <tr>
                                <td height="67" valign="middle">
                                    {{ entry.name }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="text-product">
                        {{ promo.name }}
                    </div>
                    <div id="transform-product">
                        <div id="reserver">
                            Réserver
                        </div>
                    </div>
					</div>
					
                </a>
            </div>
			</div>
		   {% endif %}
          {% endfor %}
        {% endfor %}
       

	 </div>
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}"/>
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}