{% extends "manager.html.twig" %}
{% block title %}Gestion des clients{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_reservationback_homepage')}}">Etat des Réservations</a></li>
            <li><span>Gestion des clients</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Client</h4>
                    </div>
                    <div class="w-box-content cnt_a user_profile">
                        <div class="row-fluid">

                            <div class="span12">
                                <p class="formSep"><small class="muted">Client:</small> {{ entry.civ }} {{ entry.pname }} {{ entry.name }}</p>
                                <p class="formSep"><small class="muted">Email:</small> {{ entry.email }}</p>
                                <p class="formSep"><small class="muted">Mobile:</small>{{ entry.tel }}</p>
                                <p class="formSep"><small class="muted">C.I.N/Passport</small> {{ entry.cin }}</p>
                                <p class="formSep"><small class="muted">Adresse:</small> {{ entry.adresse }}</p>
                                <p class="formSep"><small class="muted">Code postal:</small> {{ entry.cp }}</p>
                                <p class="formSep"><small class="muted">Ville:</small> {{ entry.ville }}</p>
                                <p class="formSep"><small class="muted">Pays:</small> {{ entry.pays.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_ville_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle ville </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}